.bar-nav-h{
  border-bottom: 3px solid;
  margin-top: 50px;
  padding: 0px;
}

.bar-nav-v{
  border-right: 2px solid;
  padding: 0;
  margin: 0;
}

.content-tab{
  cursor: pointer;
}

.content-tab .active{
  background-color: lightgray;
}

.selected-tab{
  background-color: lightgray;
}

.img-invert{
  filter: invert();
}

.media-img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-left: 20px;

}

.lien-style{
  display: flex;
  align-items: center;
  height: 200px;
}

.text {
  color:black;
  font-size: 1.2em;
  margin-left: 20px;
}

.text-active {
  color:white;
  font-size: 1.2em;
  margin-left: 20px;
}

.roles-menu-h {
  margin-top: 0;
}
.roles-menu-h > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.roles-menu-h > ul > li {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
}
.roles-menu-h > ul > li > a {
  /*border-left: 3px solid transparent;*/
  color: #333;
  display: block;
  text-decoration: none;

}

.lien-style-h{
  /*display: flex;*/
  align-items: center;
  height: 100px;
}

.tab-h{
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.tab-v{
  color: #16152D;
}

.tab-active-v{
  color: white;
}

.title{
  color: #16172C;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  font-style: italic;
}
.container {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.title-search{
  font-size: 20px;
  color: #16152D;
  font-weight: bold;
}


.post-image{
  width: 36px;
  height: 36px;
  /*margin: 5px;*/
}

.div-post-image{
  border-radius: 6px;
  /*margin: 5px;*/
}

.icon-fa {
  font-size: 1.4em;
  margin-left:auto;
  margin-right:20px;
  margin-top: 10px;
}

.post-image-document{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.container {
  width:100%;
  text-align:center;
}

.left {
  float:left;
  width:100px;
}

.center {
  display: inline-block;
  margin:0 auto;
  width:100px;
}

.right {
  float:right;
  width:100px;
}

.myinnercontainer {
  display: inline-block;
  vertical-align:top;
  margin-right:5px;
  font-size: 0.9em;
  float:right;
  width:auto;
  text-align: right;
}

.div-media{

}

.div-media:hover{
  border-bottom:2px solid #16152d;
}

.tab-selected{
  border-bottom:2px solid #16152d;
}

