<div class="skillsmates-container" *ngIf="!isMobile()">
  <!--  Titre  -->
  <div class="row" *ngIf="!loading">
    <div class="col-3"></div>
    <div class="col-9" style="margin: 20px 0 30px 0">
      <a *ngIf="loggedAccount.idServer === id" [routerLink]="[routes.get('profile.my')]">
        <img class="avatar" src="{{loggedAccount | avatarUrl}}" alt="">
        <label class="title vertical-center">{{title}}</label>
      </a>
      <a *ngIf="loggedAccount.idServer !== id" [routerLink]="[routes.get('profile'), account.idServer]">
        <img class="avatar" src="{{account | avatarUrl}}" alt="">
        <label class="title vertical-center">{{title}}</label>
      </a>
    </div>
  </div>
  <div class="row bg-white skillsmates-box-shadow" *ngIf="!loading"
       style="padding-top: 10px; border-radius: 10px; background-color: white;">
    <!--  Barre de navigation verticale-->
    <div class="col-2" style="margin: 0; padding: 0;">
      <div class="roles-menu"
           style="border-right: 2px solid {{selectedNetworkType.color}}; margin: 0; padding: 0; height: 100%;">
        <ul style="padding-top: 20px; padding-bottom: 20px;">
          <li class="edit-account-tab tab-h" (click)="onClickTab(networkType)" *ngFor="let networkType of networkTypes"
              [ngStyle]="{'background-color': currentNetworkType === networkType.type ? networkType.color : '#FFFFFF'}">
          <span class="staff-msg">
            <a class="btn return-button" [ngStyle]="{'color': currentNetworkType === networkType.type ? '#FFFFFF': '#16152D'}">
              <div class="row">
                <div class="col-3">
                  <span class="user-img">
                    <img height="32" src="{{networkType.picture}}" alt=""
                         [ngClass]="{'img-invert': currentNetworkType === networkType.type}">
                  </span>
                </div>
                <div class="col-9 text-left">
                  <h5 class="doctor-name text-left">
                    {{networkType.title}}
                  </h5>
                  <div class="doc-ry"><strong>({{countAccountsByNetworkType(networkType)}})</strong></div>
                </div>
              </div>

            </a>
          </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-10 m-b-10" [ngStyle]="{'background-color': selectedNetworkType.color + '06'}">
      <div class="roles-menu">
        <app-network-content
          [accountsSocialInteractions]="filterAccountsByNetwork()"
          [pages]="pages"
          [count]="count"
          [currentPage]="currentPage"
          [selectedNetworkType]="selectedNetworkType">
        </app-network-content>
      </div>
    </div>
  </div>
</div>

<div class="skillsmates-container-mobile" *ngIf="isMobile()">
  <div class="row bg-white scrolling-wrapper" *ngIf="networkTypes && networkTypes.length > 0" style="margin-left: 5px;">
    <div class="col-3 no-margin-padding card" (click)="onClickTab(networkType)" *ngFor="let networkType of networkTypes">
      <div class="text-center div-media" style="cursor: pointer;" [ngClass]="{'tab-selected': selectedNetworkType.position === networkType.position}">
        <span class="div-post-image" style="display: inline-block;">
          <img [src]="networkType.picture" class="post-image" alt="">
        </span>
        <p class="skillsmates-two-lines" style="font-size: 10px;">
          <strong>{{networkType.title}} ({{countAccountsByNetworkType(networkType)}})</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12" [ngStyle]="{'background-color': selectedNetworkType.color + '06'}">
      <app-network-content
        [accountsSocialInteractions]="filterAccountsByNetwork()"
        [pages]="pages"
        [count]="count"
        [currentPage]="currentPage"
        [selectedNetworkType]="selectedNetworkType">
      </app-network-content>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>

<app-footer></app-footer>
