.avatar {
  background-color: #aaa;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  height: 100px;
  line-height: 38px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100px;
  position: relative;
  white-space: nowrap;
}

.profile-img .avatar {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  width: 80px;
}
.avatar:hover {
  color: #fff;
}
.profile-img-wrap {
  height: 60px;
  /*position: absolute;*/
  width: 60px;
  overflow: hidden;
}

.change-profile-picture{
  cursor: pointer;
  color: #16152d;
  font-size: medium;
  font-weight: bold;
}

.change-profile-picture:hover{
  font-size: large;
}

