<app-alert [alert]="alert"></app-alert>
<app-info-text [text]="infoTextGenerales"></app-info-text>
<app-account-general-infos-card
  *ngIf="!loading && displayCard"
  (editGeneralInfosEvent)="editGeneralInfos($event)"
  [account]="account">
</app-account-general-infos-card>

<div class="row" style="padding: 20px;" *ngIf="!loading && !displayCard">

  <div class="col-12" >
    <div class="form-group">
      <img class="avatar" src="{{account | avatarUrl}}" alt="image profile" style="cursor: pointer;" ngxViewer>
      <button type="button" (click)="open(modalProfileImage)" class="btn btn-primary skillsmates-edit-btn">Changer la photo de profil</button>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Prénom</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""  name="firstname" maxlength="255"
             (keyup)="keyupFirstname()"
             [ngClass]="{ 'is-valid': account.firstname, 'is-invalid': submitted && errors.firstname }"
             placeholder="Prénom" required="required" [(ngModel)]="account.firstname">
      <small class="text-danger float-right" *ngIf="errors.firstname && !account.firstname">{{errors.firstname}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Nom</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""  name="lastname" maxlength="255"
             (keyup)="keyupLastname()"
             [ngClass]="{ 'is-valid': account.lastname, 'is-invalid': submitted && errors.lastname }"
             placeholder="Nom" required="required" [(ngModel)]="account.lastname">
      <small class="text-danger float-right" *ngIf="errors.lastname && !account.lastname">{{errors.lastname}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label for="date" class="skillsmates-label">Date de naissance : </label>
        <input type="text" id="date"
               placeholder="Date de naissance" class="form-control"
               [ngClass]="{ 'is-valid': account.birthdate, 'is-invalid': submitted && errors.birthdate }"
               name="birthdate"  [(ngModel)]="birthdate" required [(bsValue)]="birthdate"
               bsDatepicker (ngModelChange)="selectBirthdate()"  value="{{ birthdate | date:'DD/MM/YYYY' }}"
               [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY/MM/DD' }">
        <small class="text-danger float-right" *ngIf="!errors.valid && errors.birthdate">{{errors.birthdate}}</small>
    </div>
  </div>

  <div class="col-12" *ngIf="genders && genders.length > 0">
    <div class="form-group">
      <label class="skillsmates-label">Sexe</label>
      <select *ngIf="account.gender !== undefined" class="form-control select" name="selectedGender"
              [ngClass]="{ 'is-valid': account.gender, 'is-invalid': submitted && errors.gender }"
              (change)="onChangeGender($event)">
        <option disabled>Sexe</option>
        <option [ngValue]="gender" *ngFor="let gender of genders" [selected]="gender.code===account.gender">{{gender.label}}</option>
      </select>
      <select *ngIf="account.gender === undefined" class="form-control select" name="selectedGender"
              [ngClass]="{ 'is-valid': account.gender, 'is-invalid': submitted && errors.gender }"
              (change)="onChangeGender($event)">
        <option disabled [selected]="true">Sexe</option>
        <option [ngValue]="gender" *ngFor="let gender of genders">{{gender.label}}</option>
      </select>
      <small class="text-danger float-right" *ngIf="errors.gender && !account.gender">{{errors.gender}}</small>
    </div>
  </div>

  <div class="col-12" *ngIf="professionalStatuses && professionalStatuses.length > 0">
    <div class="form-group">
      <label class="skillsmates-label">Statut</label>
      <select *ngIf="account.status !== undefined" class="form-control select" name="selectedStatus"
              [ngClass]="{ 'is-valid': account.status, 'is-invalid': submitted && errors.status }"
              (change)="onChangeStatus($event)">
        <option disabled>Statut</option>
        <option [ngValue]="status" *ngFor="let status of professionalStatuses" [selected]="status.code===account.status">{{status.label}}</option>
      </select>
      <select *ngIf="account.status === undefined" class="form-control select" name="selectedStatus"
              [ngClass]="{ 'is-valid': account.status, 'is-invalid': submitted && errors.status }"
              (change)="onChangeStatus($event)">
        <option disabled [selected]="true">Statut</option>
        <option [ngValue]="status" *ngFor="let status of professionalStatuses">{{status.label}}</option>
      </select>
      <small class="text-danger float-right" *ngIf="errors.status && !account.status">{{errors.status}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Pays de résidence</label>
      <input type="text" class="form-control select" list="datalist1" [(ngModel)]='currentCountry' placeholder="{{loggedAccount.country | countryName}}"
             [ngClass]="{ 'is-valid': account.country, 'is-invalid': submitted && errors.country }"
             (keyup)="onKeyupCountry()" (change)="onSelectCountry(currentCountry)"/>
      <datalist id="datalist1">
        <option *ngFor="let country of restCountries" [value]="country.cca3 | countryName">
          {{ country.cca3 | countryName }}
        </option>
      </datalist>
      <small class="text-danger float-right" *ngIf="errors.country && !account.country">{{errors.country}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Ville de résidence</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""  name="city"
             (keyup)="keyupCity()"
             [ngClass]="{ 'is-valid': account.city, 'is-invalid': submitted && errors.city }"
             placeholder="Ville de résidence" required="required" [(ngModel)]="account.city">
      <small class="text-danger float-right" *ngIf="errors.city && !account.country">{{errors.city}}</small>
    </div>
  </div>

  <div class="col-12 text-center">
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSave()">Enregistrer</button>
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
  </div>
</div>

<ng-template #modalProfileImage let-modal>
  <app-edit-profile-image [account]="account"></app-edit-profile-image>
</ng-template>

<app-loading [loading]="loading"></app-loading>
