<div class="alert alert-info alert-dismissible fade show" role="alert" *ngIf="showAlert">
  <h4 class="alert-heading">Updates!</h4>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onClickDismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>Les nouvelles mises à jour de <b>Skillsmates {{updates[0].version}} </b>.</p>
  <hr>
  <ul *ngFor="let update of updates">
    <li>{{update.description}}</li>
  </ul>
</div>
