<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto;">
    <div  class="col-12 skillsmates-box-top">
      <img height="24" src="{{'around-me' | image}}" alt="around-me"> &nbsp;
      <strong>Autour de vous</strong>
      <span style="float: right; cursor: pointer;">
        <a [routerLink]="[routes.get('network.my')]">
          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">
        </a>
      </span>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" style="padding: 10px; margin: 0;  border-radius: 0 0 10px 10px;">
      <div class="col">
        <img src="{{'gps' | image}}" class="" alt="" >
      </div>
  </div>
</div>
