<div class="row" style="position: absolute; background-color: whitesmoke; margin-top: 100px;">
  <div class="col-12" style="background-color: white;">
    <img width="60%" src="{{'skillschat' | image}}" alt="skillschat">
  </div>
  <div class="col-12 skillschat-block" style="font-size: x-large; background-color: white;">
    Avec skillschat, <br> communiquez et sollicitez <br> l'aide des membres de la <br> communauté
  </div>
  <div class="col-12 skillschat-block" style="font-size: xx-large; padding-left: -20px; padding-bottom: 205px;">
    Collaborez et <br> échangez tout type <br> de contenus
    <div class="row" >
      <div class="col" style="cursor: pointer;" >
      <span *ngFor="let infosMediaType of media" class="div-post-image" style="display: inline-block;">
        <img [src]="infosMediaType"  class="post-image" alt="{{infosMediaType}}">
      </span>
      </div>
    </div>
  </div>
</div>
<div class="interactions">
  <img style="float: right;" width="55%" class="interactions" src="{{'interactions' | image}}"  alt="interactions">
</div>

