.post-image{
  width: 28px;
  height: 28px;
  margin: 5px;
}

.div-post-image{
  border-radius: 6px;
  margin: 5px;
}

.skillschat-block{
  padding: 50px 0 0 100px;
  color: #16152d;
}

.interactions{
  position: relative;
  padding-top: 120px;
}
