<div class="row" style="padding-top: 10px;">
  <div class="col-12">
    <span>A PROPOS</span><br>
    <span>AIDE</span><br>
    <span>POLITIQUE DE CONFIDENTIALITE</span><br>
    <span><a [routerLink]="[routes.get('cgu')]" (click)="onClickCGU()">CONDITIONS D'UTILISATION</a></span><br>
  </div>
  <div class="col-12">
    <a [routerLink]="[routes.get('dashboard')]">
      <img src="{{'symbole-skills-mates' | image}}" height="48" alt="" style="border-radius: 5px;"> <span></span>
    </a>
  </div>
  <div class="col-12">
      © <strong><a href="http://www.yamogroup.fr" target="_blank" class="std">Skills Mates</a></strong>. <strong><span style="color: #000;"> {{year}} <br>
      Version : </span></strong> <strong style="color:#F00;">{{version}}</strong>
  </div>
</div>

