<div class="row">
  <div class="col-12">
    <div class="roles-menu laurier" style="border: #e9e8e7 solid 1px; border-radius: 10px;">
      <ul>
        <li class="">
          <a href="javascript:void(0);">
            <div *ngIf="!degreeObtained.diploma.specified"><strong>Diplôme: </strong><strong style="font-size: 16px">{{degreeObtained.diploma.label}}</strong></div>
            <div *ngIf="degreeObtained.diploma.specified"><strong>Diplôme: </strong><strong style="font-size: 16px">{{degreeObtained.anotherDiploma}}</strong></div>
            <div><strong>Spécialité étudiée: </strong><em>{{degreeObtained.specialty}}</em></div>
          </a>
          <span class="role-action">
            <a *ngIf="loggedAccount.idServer === account.idServer" class="icon-action" style="margin-right: 10px;" (click)="onClickEdit(degreeObtained)">
              <span class="action-circle large">
                <em class="material-icons" style="color: green;">edit</em>
              </span>
            </a>
            <a *ngIf="loggedAccount.idServer === account.idServer" href="#" data-toggle="modal" data-target="#delete_degree_obtained" (click)="onClickDelete(degreeObtained)">
              <span class="action-circle large delete-btn">
                <em class="material-icons" style="color: red;">delete</em>
              </span>
            </a>
          </span>
          <div style="padding-left: 20px;">

            <div class="container" style="padding: 20px;">
              <div class="row">
                <div class="col-1">
                  <img width="48" height="48" src="{{'student' | image}}" class="m-r-5" alt="">
                </div>

                <div class="col-11">
                  <div>
                    <strong>Etablissement:</strong>&nbsp;<span>{{degreeObtained.establishmentName}} </span>
                  </div>
                  <div *ngIf="degreeObtained.teachingArea">
                    <strong>Domaine d'enseignement:</strong>&nbsp;<span>{{degreeObtained.teachingArea.label}} </span>
                  </div>
                  <div style="font-size: 12px;">
                    <strong>Ville:</strong>&nbsp;<span>{{degreeObtained.city}} </span>
                  </div>
                  <div style="font-size: 12px;">
                    <span><strong>De</strong>&nbsp; {{degreeObtained.startDate | date: 'dd/MM/yyyy'}} &nbsp;<strong>à</strong>&nbsp; {{degreeObtained.endDate | date: 'dd/MM/yyyy'}} </span>
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 10px">
                <div class="col-12">
                  <strong>Description:</strong>&nbsp;<span>{{degreeObtained.description}}</span>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="delete_degree_obtained" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="./assets/images/symbole-skills-mates.svg" alt="" width="50" height="46">
        <h3>Voulez-vous supprimer ce diplôme ?</h3>
        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onClickConfirmDelete()">OUI</button>
        </div>
      </div>
    </div>
  </div>
</div>
