/*.laurier{*/
/*  background-image: url("src/assets/images/laurier.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*}*/

@media only screen and (min-width: 800px){
  .laurier{
    background-image: url("src/assets/images/laurier.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
