.need-assistance{
  color: #16152d;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 50px;
  cursor: pointer;
}

.assistance-question-mark-div{
  background-color: #16152d;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}

.assistance-question-mark-div:hover{
  background-color: #2d2d44;
}

.assistance-contact-us-div{
  background-color: white;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #dadada;
  cursor: pointer;
}

.assistance-contact-us-div:hover{
  background-color: #dadada;
}

.assistance-question-mark-img{
  display: block;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.assistance-contact-us-img{
  display: block;
  margin: auto;
  padding: 20px;
  width: 43%;
}

.faq{
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 20px;
}

.contact-us{
  color: #16152d;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 20px;
}

.cgu{
  color: #16152d;
}
