<div class="skillsmates-container" *ngIf="!isMobile()">
  <div class="row">
    <div class="col need-assistance" (click)="onClickAssistance()">
      Besoin d'assistance ?
    </div>
  </div>

  <app-assistance-dashboard
    *ngIf="displayAssistance"
    (selectedBlock)="getSelectedBlock($event)">
  </app-assistance-dashboard>
  <app-assistance-faq
    (selectedBlock)="onClickAssistance()"
    *ngIf="selectedBlock === 'faq'">
  </app-assistance-faq>
  <app-assistance-contact-us *ngIf="selectedBlock === 'contactUs'">
  </app-assistance-contact-us>

  <app-return-button
    *ngIf="selectedBlock !== 'faq' && loggedAccount"
    [account]="loggedAccount"
    [title]="buttonReturnTitle"
    (clickButton)="onclickReturnButton($event)"
    [loading]="loading">
  </app-return-button>

  <app-footer *ngIf="selectedBlock !== 'faq'"></app-footer>
</div>

<div class="skillsmates-container-mobile" *ngIf="isMobile()">
  <div class="row">
    <div class="col need-assistance" (click)="onClickAssistance()">
      Besoin d'assistance ?
    </div>
  </div>

  <app-assistance-dashboard
    *ngIf="displayAssistance"
    (selectedBlock)="getSelectedBlock($event)">
  </app-assistance-dashboard>

  <app-assistance-faq
    (selectedBlock)="onClickAssistance()"
    *ngIf="selectedBlock === 'faq'">
  </app-assistance-faq>

  <app-assistance-contact-us
    *ngIf="selectedBlock === 'contactUs'">
  </app-assistance-contact-us>

  <app-return-button
    *ngIf="loggedAccount"
    [account]="loggedAccount"
    [title]="buttonReturnTitle"
    (clickButton)="onclickReturnButton($event)"
    [loading]="loading">
  </app-return-button>

  <app-footer></app-footer>
</div>
