<app-alert [alert]="alert"></app-alert>

<app-info-text [text]="infoTextBiography"></app-info-text>

<div class="row" *ngIf="!loading && displayBiography">
  <div class="col-12">
    <div class="roles-menu" style="border: #e9e8e7 solid 1px; border-radius: 10px;">
      <ul>
        <li>
          <span class="role-action" *ngIf="loggedAccount.idServer === account.idServer">
            <a class="icon-action" style="margin-right: 5px;" (click)="onClickEdit(account)">
              <span class="action-circle large">
                <img src="{{'edit' | image}}" class="m-r-5 icon-img-mobile" alt="" style="height: 30px; height: 30px;">
              </span>
            </a>
          </span>
          <div style="padding-left: 20px;">
            <div class="container" style="padding: 20px;">
              <div class="row">
                <div class="col-12" [innerHTML]="account.biography"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="!loading && !displayBiography">
  <label class="skillsmates-label">Décrivez-vous</label>
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="biography"
        placeholder="Décrivez-vous" (keyup)="testDescriptionSize()">
      </ngx-editor>
  </div>

  <small class="text-info float-right" *ngIf="biography">{{this.biography.length}} / {{this.maxBiographySize}}</small>

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSave()">Enregistrer</button>
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
  </div>
</div>
<app-loading [loading]="loading"></app-loading>
