.biography-area{
  border: #e9e8e7 solid 2px;
  border-radius: 5px;
}

.biography-button{
  border-radius: 10px;
  color: #16162d;
  background-color: #dadada;
  margin-top: 20px;
  float: left;
}

.icon-img-mobile{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.action-circle{
  border: none;
}
