<div class="col-12 skillsmates-container" *ngIf="!isMobile()">
  <!--  Entete-->
  <div class="row">
    <div class="header">
      <div class="row" style="margin: 0 20px 0 20px; height: 100%">
        <div class="col nopadding">
          <a [routerLink]="[routes.get('dashboard')]" class="logo">
            <img src="{{'symbole-skills-mates' | image}}" height="35" alt="" style="border-radius: 1px;">
            <span id="skillsmates" class="skillsmates-single-line" style="font-weight: bolder; color: #16152D;">Skills Mates</span>
          </a>
        </div>
        <div class="col nopadding" style="height: 100%;display: flex; align-items: center;justify-content: center;">
          <div class="row" *ngIf="!loggedAccount">
            <button class="btn btn-primary sm-border-radius" (click)="onClickLogin()"
                    style="color: white; background-color: #16162D; width: auto; margin: 3px; font-size: 1.2em">
              Connectez-vous
            </button>
            <button class="btn btn-primary sm-border-radius" (click)="onClickRegister()"
                    style="color: white; background-color: #0D8235; width: auto;margin: 3px; font-size: 1.2em">
              Inscrivez-vous
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="viewPostOffline.postSocialInteractions">

    <!--Zone de visualisation du profil du compte-->
    <div class="col-sm-12 col-md-3 skillsmates-box-padding">

      <div style="margin-top: 90px">

        <div class="" style="padding-bottom: 10px;">
          <div class="row" (click)="onClickBack()" *ngIf="isConnectd" style="cursor: pointer; font-weight: bold;">
            <div class="col text-left" >
              <img src="{{ 'arrow-left' | image }}" height="30" alt="arrow left"/> &nbsp;
              <span class="title">Retour</span>
            </div>
          </div>
        </div>

        <app-view-post-account
          [viewPostOffline]="viewPostOffline">
        </app-view-post-account>

<!--        <app-account-profile-->
<!--          [account]="viewPostOffline.account">-->
<!--        </app-account-profile>-->

        <div style="margin-top: 25px" *ngIf="!loggedAccount">
          <label class="text">Rejoignez la communauté Skills Mates et découvrez d'autres contenus enrichissants</label>
          <button class="btn btn-primary sm-border-radius btn-register" (click)="onClickRegister()">Inscrivez-vous
          </button>
        </div>
      </div>
    </div>

    <!--Zone de visualisation du post-->
    <div class="col-sm-12 col-md-6 skillsmates-box-padding">
      <div class="bg-white skillsmates-box-shadow">
        <div style="margin-top: 90px">
          <app-post-header
            *ngIf="viewPostOffline.postSocialInteractions &&
                    viewPostOffline.postSocialInteractions.post &&
                    viewPostOffline.postSocialInteractions.post.account"
            [account]="viewPostOffline.postSocialInteractions.post.account"
            [displayMenu]="false"
            [postSocialInteractions]="viewPostOffline.postSocialInteractions">
          </app-post-header>

          <app-horizontal-line></app-horizontal-line>

          <app-multimedia-display
            style="padding: -20px;"
            *ngIf="viewPostOffline.postSocialInteractions.post &&
                    viewPostOffline.postSocialInteractions.post.multimedia &&
                    viewPostOffline.postSocialInteractions.post.multimedia.length > 0"
            [width]="computeYoutubeVideoWidth()"
            [multimedia]="viewPostOffline.postSocialInteractions.post.multimedia[0]">
          </app-multimedia-display>

          <br>
          <div style="padding: 20px;">
            <app-post-description
              [postSocialInteractions]="viewPostOffline.postSocialInteractions">
            </app-post-description>

            <div class="row">
              <!--<div class="col-4 widget-social" (click)="onClickLike()">-->
              <div class="col-4 widget-social" (click)="onClickLike()">
                <span *ngIf="viewPostOffline.postSocialInteractions">
                  <img width="22" height="22" *ngIf="loggedAccount"
                       src="{{hasLiked(viewPostOffline.postSocialInteractions.socialInteractions) ? './assets/images/liked.svg' : './assets/images/like.svg'}}"
                       class="m-r-5 svg" alt="like">
                   <img width="22" height="22" *ngIf="!loggedAccount"
                        src="./assets/images/like.svg" class="m-r-5 svg" alt="like">
                  {{countLikes(viewPostOffline.postSocialInteractions.socialInteractions)}} likes
                </span>
              </div>

              <div class="col-4 widget-social" (click)="onClickComment()">
                <span *ngIf="viewPostOffline.postSocialInteractions">
                  <img width="22" height="22"
                       src="{{countComments(viewPostOffline.postSocialInteractions.socialInteractions) > 0 ? './assets/images/comment-active.svg' : './assets/images/comment-inactive.svg'}}"
                       class="m-r-5 svg" alt="comment">
                  {{countComments(viewPostOffline.postSocialInteractions.socialInteractions)}} commentaires
                </span>
              </div>
              <!--<div class="col-4 widget-social" (click)="open_modal_publication(modalSharePost)">-->
              <div class="col-4 widget-social" (click)="open_modal_share(modalSharePost)">
                <span *ngIf="!shareLoading">
                  <img width="22" height="22" *ngIf="loggedAccount"
                       src="{{hasShared(viewPostOffline.postSocialInteractions.socialInteractions) ? './assets/images/share-active.svg' : './assets/images/share-inactive.svg'}}"
                       class="m-r-5 svg" alt="share">
                  <img width="22" height="22" *ngIf="!loggedAccount"
                       src="./assets/images/share-active.svg" class="m-r-5 svg" alt="share">
                  {{countShares(viewPostOffline.postSocialInteractions.socialInteractions)}} partages
                </span>
                <app-loading [width]="50" [loading]="shareLoading"></app-loading>
              </div>
            </div>

          </div>

          <div class="row" style="padding: 10px 10px 0 10px;" *ngIf="displayCommentBlock">
            <div class="col">
              <div *ngFor="let m of comments">
                <app-comment
                  (removeCommentEvent)="removeCommentEvent($event)"
                  [comment]="m">
                </app-comment>
              </div>
              <div class="container">
                <div class="row">
                  <div class="form-group col-11" *ngIf="loggedAccount">
                    <textarea autosize [minRows]="1" Style="background: #F0F2F5" class="form-control" autocomplete="off"
                              autofocus="" name="title"
                              (keyup)="keyupComment($event)"
                              [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': typedComment }"
                              placeholder="Ajouter un commentaire ..." required="required" maxlength="255"
                              [(ngModel)]="typedComment">
                    </textarea>
                    <small class="text-danger" *ngIf="errors.body && !typedComment">{{errors.body}}</small>
                  </div>
                  <div class="col-1" *ngIf="loggedAccount">
                    <img *ngIf="!loading" width="28" height="28" src="{{'send-message' | image}}" class="m-r-5"
                         alt="send-message" style="float: right; cursor: pointer; padding-top: 5px;"
                         (click)="onClickPublishComment()">
                    <app-loading [width]="48" [loading]="loading"></app-loading>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Zone de visualisation de quelques posts-->
    <div class="col-sm-12 col-md-3 skillsmates-box-padding">
      <div style="margin-top: 90px">
        <div style="padding-left: 20px;" *ngIf="viewPostOffline.account">
          <label>D'autres publications de <br> <span
            style="font-weight: bold">{{viewPostOffline.account.firstname}} {{viewPostOffline.account.lastname}}</span></label>
        </div>

        <div *ngFor="let postSocialInteractions of viewPostOffline.postsSocialInteractions">
          <div style="padding: 0px 20px 10px 20px;">
            <app-horizontal-line></app-horizontal-line>

            <app-multimedia-display
              *ngIf="postSocialInteractions.post && postSocialInteractions.post.multimedia"
              [width]="computeYoutubeVideoWidth()"
              [height]="computeYoutubeVideoHeight()"
              [isViewPostOffline]="true"
              [multimedia]="postSocialInteractions.post.multimedia[0]">
            </app-multimedia-display>

            <div class="row" *ngIf="postSocialInteractions && !postSocialInteractions.shared">
              <div class="col-4 widget-social">
                      <span *ngIf="postSocialInteractions">
                         <img width="22" height="22" src="{{'like' | image}}" class="m-r-5" alt="like">
                        {{countLikes(postSocialInteractions.socialInteractions)}}
                      </span>
              </div>

              <div class="col-4 widget-social">
                <!--<span *ngIf="countComments(postSocialInteractions.socialInteractions) > 0" (click)="onClickLogin()">-->
                <span *ngIf="postSocialInteractions">
                        <img width="18" height="18" src="{{'comment-active' | image}}" class="m-r-5" alt="comment">
                  {{countComments(postSocialInteractions.socialInteractions)}}
                      </span>
              </div>

              <div class="col-4 widget-social">
                <!-- <span *ngIf="!shareLoading" (click)="onClickLogin()">-->
                <span *ngIf="postSocialInteractions">
                        <img width="18" height="18" src="{{'share-active' | image}}" class="m-r-5" alt="sharing">
                  {{countShares(postSocialInteractions.socialInteractions)}}
                      </span>
                <app-loading [width]="50" [loading]="shareLoading"></app-loading>
              </div>
            </div>
            <div
              *ngIf="postSocialInteractions && postSocialInteractions.post && postSocialInteractions.post.description"
              style="margin-top: 7px">
              <p [innerHTML]="truncateDescription(postSocialInteractions.post.description)"></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-12 skillsmates-container-mobile" *ngIf="isMobile()">
  <!--  Entete-->
  <div class="row">
    <div class="header">
      <div class="row" style="margin: 0 20px 0 20px;">
        <div class="col nopadding">
          <a class="logo">
            <img src="{{ 'arrow-left' | image }}" (click)="onClickBack()" height="30" alt="arrow left" *ngIf="getSearchParam()"/> &nbsp;
            <img src="{{'symbole-skills-mates' | image}}" [routerLink]="[routes.get('dashboard')]" height="35" alt="" style="border-radius: 1px;">
            <span id="skillsmates-mobile" [routerLink]="[routes.get('dashboard')]" class="skillsmates-single-line" style="font-weight: bolder; color: #16152D;">Skills Mates</span>
          </a>
        </div>
        <div class="col nopadding" *ngIf="!getSearchParam()" style="display: flex; align-items: center;justify-content: center;">
          <div class="row" *ngIf="!loggedAccount">
            <button class="btn btn-primary sm-border-radius" (click)="onClickLogin()" style="color: white; background-color: #16162D; width: auto; margin: 3px; font-size: xx-small">
              Connectez-vous
            </button>
            <button class="btn btn-primary sm-border-radius" (click)="onClickRegister()" style="color: white; background-color: #0D8235; width: auto;margin: 3px; font-size: xx-small">
              Inscrivez-vous
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="viewPostOffline.postSocialInteractions">

    <!--Zone de visualisation du post-->
    <div class="col-sm-12 col-md-6 skillsmates-box-padding">
      <div class="bg-white skillsmates-box-shadow">
        <div style="margin-top: 50px">

          <app-post-header
            *ngIf="viewPostOffline.postSocialInteractions &&
                    viewPostOffline.postSocialInteractions.post &&
                    viewPostOffline.postSocialInteractions.post.account"
            [account]="viewPostOffline.postSocialInteractions.post.account"
            [displayMenu]="false"
            [postSocialInteractions]="viewPostOffline.postSocialInteractions">
          </app-post-header>

          <app-horizontal-line></app-horizontal-line>

          <app-multimedia-display
            style="padding: -20px;"
            *ngIf="viewPostOffline.postSocialInteractions.post &&
                    viewPostOffline.postSocialInteractions.post.multimedia &&
                    viewPostOffline.postSocialInteractions.post.multimedia.length > 0"
            [width]="computeYoutubeVideoWidth()"
            [multimedia]="viewPostOffline.postSocialInteractions.post.multimedia[0]">
          </app-multimedia-display>

          <br>
          <div style="padding: 20px;">
            <app-post-description
              [postSocialInteractions]="viewPostOffline.postSocialInteractions">
            </app-post-description>

            <div class="row">
              <!--<div class="col-4 widget-social" (click)="onClickLike()">-->
              <div class="col-4 widget-social">
                <span *ngIf="viewPostOffline.postSocialInteractions">
                  <img width="22" height="22" *ngIf="loggedAccount"
                       src="{{hasLiked(viewPostOffline.postSocialInteractions.socialInteractions) ? './assets/images/liked.svg' : './assets/images/like.svg'}}"
                       class="m-r-5 svg" alt="like">
                   <img width="22" height="22" *ngIf="!loggedAccount"
                        src="./assets/images/like.svg" class="m-r-5 svg" alt="like">
                  {{countLikes(viewPostOffline.postSocialInteractions.socialInteractions)}} likes
                </span>
              </div>

              <div class="col-4 widget-social" (click)="onClickComment()">
                <span *ngIf="viewPostOffline.postSocialInteractions">
                  <img width="22" height="22"
                       src="{{countComments(viewPostOffline.postSocialInteractions.socialInteractions) > 0 ? './assets/images/comment-active.svg' : './assets/images/comment-inactive.svg'}}"
                       class="m-r-5 svg" alt="comment">
                  {{countComments(viewPostOffline.postSocialInteractions.socialInteractions)}} commentaires
                </span>
              </div>
              <!--<div class="col-4 widget-social" (click)="open_modal_publication(modalSharePost)">-->
              <div class="col-4 widget-social">
                <span *ngIf="!shareLoading">
                  <img width="22" height="22" *ngIf="loggedAccount"
                       src="{{hasShared(viewPostOffline.postSocialInteractions.socialInteractions) ? './assets/images/share-active.svg' : './assets/images/share-inactive.svg'}}"
                       class="m-r-5 svg" alt="share">
                  <img width="22" height="22" *ngIf="!loggedAccount"
                       src="./assets/images/share-active.svg" class="m-r-5 svg" alt="share">
                  {{countShares(viewPostOffline.postSocialInteractions.socialInteractions)}} partages
                </span>
                <app-loading [width]="50" [loading]="shareLoading"></app-loading>
              </div>
            </div>

          </div>

          <div class="row" style="padding: 10px 10px 0 10px;" *ngIf="displayCommentBlock">
            <div class="col">
              <div *ngFor="let m of comments">
                <app-comment
                  (removeCommentEvent)="removeCommentEvent($event)"
                  [comment]="m">
                </app-comment>
              </div>
              <div class="container">
                <div class="row">
                  <div class="form-group col-11" *ngIf="loggedAccount">
                    <textarea autosize [minRows]="1" Style="background: #F0F2F5" class="form-control" autocomplete="off"
                              autofocus="" name="title"
                              (keyup)="keyupComment($event)"
                              [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': typedComment }"
                              placeholder="Ajouter un commentaire ..." required="required" maxlength="255"
                              [(ngModel)]="typedComment">
                    </textarea>
                    <small class="text-danger" *ngIf="errors.body && !typedComment">{{errors.body}}</small>
                  </div>
                  <div class="col-1" *ngIf="loggedAccount">
                    <img *ngIf="!loading" width="28" height="28" src="{{'send-message' | image}}" class="m-r-5"
                         alt="send-message" style="float: right; cursor: pointer; padding-top: 5px;"
                         (click)="onClickPublishComment()">
                    <app-loading [width]="48" [loading]="loading"></app-loading>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Zone de visualisation du profil du compte-->
    <div class="col-sm-12 col-md-3">
      <div style="margin-top: 90px">
        <app-view-post-account
          [viewPostOffline]="viewPostOffline">
        </app-view-post-account>
        <div style="margin-top: 25px" *ngIf="!loggedAccount">
          <label class="text">Rejoignez la communauté Skills Mates et découvrez d'autres contenus enrichissants</label>
          <button class="btn btn-primary sm-border-radius btn-register" (click)="onClickRegister()">Inscrivez-vous
          </button>
        </div>
      </div>
    </div>

    <!--Zone de visualisation de quelques posts-->
    <div class="col-sm-12 col-md-3 skillsmates-box-padding">
      <div style="margin-top: 20px">
        <div class="text-center" style="margin: auto; background-color: #16152d; color: white;" *ngIf="viewPostOffline.account">
          <label style="font-size: large;">D'autres publications de <br>
            <span style="font-weight: bold">{{viewPostOffline.account.firstname}} {{viewPostOffline.account.lastname}}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row scrolling-wrapper">
      <div class="col-8 card" style="padding: 0 20px 10px 20px;" *ngFor="let postSocialInteractions of viewPostOffline.postsSocialInteractions">
        <app-horizontal-line></app-horizontal-line>

        <app-multimedia-display
          *ngIf="postSocialInteractions.post && postSocialInteractions.post.multimedia"
          [width]="computeYoutubeVideoWidth()"
          [height]="computeYoutubeVideoHeight()"
          [isViewPostOffline]="true"
          [multimedia]="postSocialInteractions.post.multimedia[0]">
        </app-multimedia-display>

        <div class="row" *ngIf="postSocialInteractions && !postSocialInteractions.shared">
          <div class="col-4 widget-social">
                <span *ngIf="postSocialInteractions">
                   <img width="22" height="22" src="{{'like' | image}}" class="m-r-5" alt="like">
                  {{countLikes(postSocialInteractions.socialInteractions)}}
                </span>
          </div>

          <div class="col-4 widget-social">
                <span *ngIf="postSocialInteractions">
                        <img width="18" height="18" src="{{'comment-active' | image}}" class="m-r-5" alt="comment">
                  {{countComments(postSocialInteractions.socialInteractions)}}
                      </span>
          </div>

          <div class="col-4 widget-social">
                <span *ngIf="postSocialInteractions">
                   <img width="18" height="18" src="{{'share-active' | image}}" class="m-r-5" alt="sharing">
                  {{countShares(postSocialInteractions.socialInteractions)}}
                </span>
            <app-loading [width]="50" [loading]="shareLoading"></app-loading>
          </div>
        </div>
        <div
          *ngIf="postSocialInteractions && postSocialInteractions.post && postSocialInteractions.post.description"
          style="margin-top: 7px">
          <p [innerHTML]="truncateDescription(postSocialInteractions.post.description)"></p>
        </div>

      </div>
    </div>
  </div>

</div>


<ng-template #modalSharePost let-modal>
  <app-modal-share-post
    (newPostEvent)="refresh()"
    [postSocialInteractions]="viewPostOffline.postSocialInteractions">
  </app-modal-share-post>
</ng-template>
