<div class="row" style="margin: 0 100px 0 100px; color: #16152d;" *ngIf="!isMobile()">
  <div class="col-7" style="margin: auto;">
    <span><a href="#" >A PROPOS</a></span> -
    <span><a href="#" >AIDE</a></span> -
    <span><a href="#" >POLITIQUE DE CONFIDENTIALITE</a></span> -
    <span><a [routerLink]="[routes.get('cgu')]" (click)="onClickCGU()" >CONDITIONS D'UTILISATION</a></span> -
    <span><a [routerLink]="routes.get('assistance')" (click)="onClickFAQ()" style="color: #16152d">FAQ</a></span>
  </div>
  <div class="col-5" style="color: #16152d;">
    <a routerLink="/" class="logo">
      <img src="{{'symbole-skills-mates' | image}}" height="35" alt="" style="border-radius: 5px;">
      <span style="font-weight: normal; color: #16152d;">© Skills Mates 2020 </span>
    </a>
  </div>
</div>

<div class="row" style="color: #16152d; padding: 0 10px 36px 10px;" *ngIf="isMobile()">
  <div class="col" style="font-size: x-small;">
    <span><a href="#" >A PROPOS</a></span> -
    <span><a href="#" >AIDE</a></span> -
    <span><a href="#" >POLITIQUE DE CONFIDENTIALITE</a></span> -
    <span><a [routerLink]="[routes.get('cgu')]" (click)="onClickCGU()" >CONDITIONS D'UTILISATION</a></span> -
    <span><a [routerLink]="routes.get('assistance')" (click)="onClickFAQ()" style="color: #16152d">FAQ</a></span>
  </div>
  <div class="col" style="color: #16152d; font-size: x-small;">
    <a routerLink="/" class="logo" style="padding-bottom: 10px;">
      <img src="{{'symbole-skills-mates' | image}}" height="35" alt="" style="border-radius: 5px;">
      <span style="color: #16152d; font-size: x-small;">© Skills Mates 2020 </span>
    </a>
  </div>
</div>
