<div class="row" *ngIf="post && post.type === 'STATUS'">
  <div class="col-12">
    <p [ngClass]="{'skillsmates-overview': toggleDiplayMoreLabel}" *ngIf="post.description" [innerHTML]="post.description"></p>
  </div>
</div>

<div *ngIf="post && post.type !== 'STATUS'">
  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col" *ngIf="post.multimedia && post.multimedia.length > 0 && post.multimedia[0] && post.multimedia[0].url" style="word-wrap: break-word">
      <label class="skillsmates-label">URL: </label>
      <small><a class="url-link" href="{{post.multimedia[0].url}}" target="_blank" >{{post.multimedia[0].url}}</a></small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p *ngIf="post.title"><span class="skillsmates-label">Titre: </span><strong>{{post.title}}</strong></p>
      <p *ngIf="post.discipline"><span class="skillsmates-label">Discipline: </span><strong>{{post.discipline}}</strong></p>
      <label class="skillsmates-label" *ngIf="post.description">Description: </label>
      <p [ngClass]="{'skillsmates-overview': toggleDiplayMoreLabel}" *ngIf="post.description" [innerHTML]="post.description"></p>
      <p (click)="onClickMore()" *ngIf="post && post.description && post.description.length > 250">
        <a style="cursor: pointer; font-weight: bold; font-size: small; color: green;">{{displayMoreLabel}} </a>
        <i class="{{displayMoreIcon}}" aria-hidden="true" style="color: green"></i>
      </p>
    </div>
  </div>
  <div class="row" *ngIf="post.keywords" style="word-wrap: break-word">
    <span class="widget-keyword" *ngFor="let keyword of explodeKeywords(post.keywords)">{{keyword.trim()}}</span>
  </div>
</div>
