.widget-keyword {
  background: #009efb;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  margin: 5px;
}

.widget-keyword-wide {
  background: red;
  padding: 10px;
  margin: 10px;
}

.skillsmates-overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 80px;
}

.url-link{
  color: hotpink;
  text-decoration: underline;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}
