<div>
  <div class="modal-header  align-items-center container" style="background-color:#DBDADC; height: 40px;" tag="h4">

    <h4 class="modal-title" id="modal-basic-title-document" style="color: black">Créer une publication</h4>

    <button type="button" class="close m-0 p-0" aria-label="Close" (click)="onClickDismissModal()">
      <span aria-hidden="true">
        <img width="18" height="18" src="{{'close' | image}}" class="m-r-5" alt="">
      </span>
    </button>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
  <div class="modal-body row">
    <div class="col">
      <app-info-text [text]="infoTextModalAddPost"></app-info-text>
      <form>
        <div class="form-group">
            <textarea type="text" class="form-control" autocomplete="off"  autofocus=""  name="keyword" maxlength="{{maxTextSize}}"
                      [ngClass]="{ 'is-invalid': submitted && errors.description, 'is-valid': post.description }"
                      placeholder="Que voulez-vous dire, {{account.firstname}} ?" required="required" rows="12"
                      [(ngModel)]="post.description" >
            </textarea>
          <small class="text-info float-right" *ngIf="post.description">{{post.description.length}} / {{maxTextSize}}</small>
          <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
        </div>
      </form>
    </div>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #ababab; text-align: center;"></div>
  <div class="" style="margin: 15px;">
<!--    <div class="row" style="margin: 10px;">-->
<!--      <div class="col" *ngFor="let infosMediaType of infosMediaTypes">-->
<!--        <div class="div-post-image" style="background-color: #DBDADC; border-radius: 10px; text-align: center;" [style.background-color]="infosMediaType.color">-->
<!--          <input type="file" style="display: none;" #chooseFile (change)="selectFile($event)" />-->
<!--          <img [src]="infosMediaType.picture" style="filter: invert();" alt="" class="icon-upload" (click)="chooseFile.click()">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row" *ngIf="file">-->
<!--      <div class="col-12 text-center">{{file.name}} &#45;&#45; {{file.size | filesize}}</div>-->
<!--      <div class="col-12 text-center"><small class="text-danger" *ngIf="errors.file">{{errors.file}}</small></div>-->
<!--    </div>-->
    <div class="row">
      <div class="col-12">
        <button *ngIf="!loading" type="button" style="background-color: #DBDADC ; color: black; border-radius: 6px; height: 36px;" class="btn btn-outline-light btn-lg btn-block" (click)="onClickPublishMediaPost()">
          <h4>Publier</h4>
        </button>
      </div>
      <app-progres-bar-horizontal [loading]="loading"></app-progres-bar-horizontal>
    </div>
  </div>
</div>
