<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto;">
    <div class="col-md-12 skillsmates-box-top">
      <strong>Centre d'intérêts</strong>
      <span style="float: right; cursor: pointer;" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer">
        <img height="18" src="{{'minus' | image}}" alt=""> &nbsp;
      </span>
      <span style="float: right; cursor: pointer;" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer">
        <img height="18" src="{{'minus' | image}}" alt=""> &nbsp;
      </span>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" style="margin: 0;  border-radius: 0 0 10px 10px;">
    <div class="col-6" style="padding-top: 10px;" *ngFor="let interest of infosInterestTypes">
      <app-account-interest [infoInterest]="interest"></app-account-interest>
    </div>
  </div>
</div>
