<div class="header header-box-shadow" *ngIf="!isMobile()">
  <div class="row" style="margin: 0 20px 0 20px">
    <div class="col-2 nopadding">
      <a [routerLink]="[routes.get('dashboard')]" class="logo">
        <img src="{{ 'symbole-skills-mates' | image }}" height="40" alt="" style="border-radius: 1px"/>
        <span class="skillsmates-single-line" style="color: #16152d; font-weight: bolder">Skills Mates</span>
      </a>
    </div>
    <div class="col-7 nopadding">
      <div class="row" style="padding-top: 10px">
        <div class="col-4 nopadding dropdown">
          <div class="row" id="searchbar">
            <div class="col d-none d-sm-block">
              <div class="input-group form-group has-search" style="padding-top: 5px">
                <input [(ngModel)]="textToSearch"
                  data-toggle="tooltip" type="text" class="form-control search-input"
                  placeholder="Rechercher profils ou contenus"/>

                <div class="input-group-append" (click)="onClickSearch()">
                  <button class="btn search-icon" type="button">
                    <em class="fa fa-search"></em>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Accueil, Messages, Notif...-->
        <div class="col-8">
          <div class="row">
            <!-- Accueil-->
            <div class="col no-margin-padding topnav-header" id="home" style="height: 60px;"
                 [ngClass]="{ activeheader: getTab() === routes.get('dashboard') }" [routerLink]="[routes.get('dashboard')]"
                 (mouseenter)="onMouseEnter('home')" (mouseleave)="onMouseLeave('home')" (click)="onClick('home')"
              data-toggle="tooltip" data-placement="top" title="Accueil">

              <div class="text-center" style="cursor: pointer;">
                <span class="" style="display: inline-block;">
                  <img src="{{ getHomeIcon() | image }}" class="rounded float-right icon-img" alt=""/>
                </span>
                <p class="skillsmates-single-line" style="font-size: x-small;"><strong>Accueil</strong></p>
              </div>
            </div>

            <!-- Messages-->
            <div class="col no-margin-padding topnav-header" id="message" style="height: 60px;"
                 [ngClass]="{ activeheader: getTab() === routes.get('messages.my')}" [routerLink]="[routes.get('messages.my')]"
                 (mouseenter)="onMouseEnter('message')" (mouseleave)="onMouseLeave('message')" (click)="onClick('message')"
                 data-toggle="tooltip" data-placement="top" title="Messages">

              <div class="text-center" style="cursor: pointer;">
                <span class="" style="display: inline-block;">
                  <img src="{{ getMessageIcon() | image }}" class="rounded float-right icon-img" alt=""/>
                    <span class="badge badge-pill bg-danger float-right badge-border" style="color: white;"
                       *ngIf="notifications.messages && notifications.messages.length > 0">{{ notifications.messages.length }}
                    </span>
                </span>
                <p class="skillsmates-single-line" style="font-size: x-small;"><strong>Messages</strong></p>
              </div>

            </div>

            <!--Notifications-->
            <div class="col no-margin-padding topnav-header" id="bell" data-toggle="tooltip" style="height: 60px;"
                 [ngClass]="{ activeheader: getTab() === routes.get('notifications.my')}" [routerLink]="[routes.get('notifications.my')]"
                 (mouseenter)="onMouseEnter('bell')" (mouseleave)="onMouseLeave('bell')" (click)="onClick('bell')"
                 data-placement="top" title="Notifications">

              <div class="text-center" style="cursor: pointer;">
                <span class="" style="display: inline-block;">
                  <img src="{{ getNotificationIcon() | image }}" class="rounded float-right icon-img" alt=""/>
                    <span class="badge badge-pill bg-danger float-right badge-border" style="color: white;"
                          *ngIf="bellNotifications.length > 0">{{ bellNotifications.length}}
                    </span>
                </span>
                <p class="skillsmates-single-line" style="font-size: x-small;"><strong>Notifications</strong></p>
              </div>
            </div>

            <!-- network -->
            <div class="col no-margin-padding topnav-header" id="network" style="height: 60px;"
                 [ngClass]="{ activeheader: getTab() === routes.get('network.my')}" [routerLink]="[routes.get('network.my')]"
                 (mouseenter)="onMouseEnter('network')" (mouseleave)="onMouseLeave('network')" (click)="onClick('network')"
                 data-toggle="tooltip" data-placement="top" title="Réseau">

              <div class="text-center" style="cursor: pointer;">
                <span class="" style="display: inline-block;">
                  <img src="{{ getNetworkIcon() | image }}" class="rounded float-right icon-img" alt=""/>
                    <span class=" badge badge-pill bg-danger float-right badge-border" style="color: white;"
                          *ngIf="notifications.followers && notifications.followers.length > 0">{{ notifications.followers.length }}
                    </span>
                </span>
                <p class="skillsmates-single-line" style="font-size: x-small;"><strong>Réseau</strong></p>
              </div>

            </div>

            <!-- Plus-->
            <div class="col no-margin-padding topnav-header" id="plus" style="height: 60px;"
                 [ngClass]="{ activeheader: getTab() === routes.get('posts') }"
                 (mouseenter)="onMouseEnter('plus')" (mouseleave)="onMouseLeave('plus')"
                 data-toggle="dropdown" data-placement="top" title="Créer Publication">

              <div class="text-center" style="cursor: pointer;">
                <span class="" style="display: inline-block;">
                  <img src="./assets/images/plus-colored.png" class="rounded float-right icon-img" alt=""/>
                </span>
                <p class="skillsmates-single-line" style="font-size: x-small;"><strong>Créer Publication</strong></p>
              </div>

              <!-- modal création de contenu -->
              <div class="dropdown-menu header-plus-content" style="width: 320px">
                <div class="dropdown-header box_header-message">
                  <h3 class="modal-title" id="modal-basic-title" style="color: black; margin-top: 0px; margin-left: -15px">
                    Créer
                  </h3>
                  <div class="row box_header-plus" (click)="open_modal_publication(modalAddPost)">
                    <div class="block">
                      <img src="{{ 'create-post' | image }}" alt="" class="publication-image-document"/>
                    </div>
                    <div class="block">
                      <div style="color: black; margin-top: 7px">
                        <h5>Publication</h5>
                      </div>
                      <div style="font-size: 9px; margin-bottom: 7px">
                        Clique ici pour rédiger un statut.
                      </div>
                    </div>
                  </div>
                </div>

                <!--barre de séparation-->
                <div class="dropdown-divider divider-plus"></div>

                <div class="dropdown-item" style="border-radius: 10px">
                  <div *ngFor="let m of infosMediaTypes" class="skillsmates-dropdown-menu row"
                       [routerLink]="[routes.get('post.edit.my'), m.position]" (click)="onClickEditPost(m)">
                    <div class="col-2">
                      <span [style.background-color]="m.color" class="div-post-image" style="display: inline-block">
                        <img [src]="m.picture" class="publication-image-document" alt="" style="filter: invert()"/>
                      </span>
                    </div>
                    <div class="col-10">
                      <div style="color: black">
                        <h5>{{ m.title }}</h5>
                      </div>
                      <div style="font-size: 9px">{{ m.description }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Mon compte-->
    <div class="col-3 nopadding">
      <ul class="nav user-menu float-right">
        <li class="nav-item dropdown" [ngClass]="{ topnav: !dropdownProfileMenu && getTab() === routes.get('profile')}">
          <a href="#" class="dropdown-toggle nav-link user-link collapsed" (click)="onClickProfile()" data-toggle="collapse"
            [ngClass]="{ activeheader: !dropdownProfileMenu && getTab() === routes.get('profile')}"
            style="height: 70px" data-toggle="dropdown">
            <span class="user-img" *ngIf="loggedAccount">
              <img class="rounded-circle" src="{{ loggedAccount | avatarUrl }}" style="background-color: whitesmoke" width="24" alt="{{ loggedAccount.lastname }}"/>
              <span class="status online"></span>
            </span>
            <span *ngIf="loggedAccount" style="color: #16152d; font-weight: bolder">{{ name() }}</span>
            <em class="fa fa-chevron-circle-right pull-right" style="padding-top: 55px; margin-left: 30px; color: #16152d;"></em>
          </a>

          <!-- modal action on my compte -->
          <div class="dropdown-menu header-profil-content" style="padding-left: 8px; padding-right: 8px;">
            <a class="dropdown-item skillsmates-dropdown-menu plus-border" (click)="onClickProfileMenu()" [routerLink]="[routes.get('profile.my')]">
              <img src="{{ 'profile' | image }}" class="img-menu-dropdown" alt=""/>
              Mon profil
            </a>
            <a class="dropdown-item skillsmates-dropdown-menu plus-border" (click)="onClickProfileMenu()" [routerLink]="[routes.get('setting.my')]">
              <img src="{{ 'settings' | image }}" class="img-menu-dropdown" alt=""/>
              Paramètres
            </a>
            <a class="dropdown-item skillsmates-dropdown-menu plus-border" (click)="onClickProfileMenu()" [routerLink]="[routes.get('assistance')]">
              <img src="{{ 'assistance' | image }}" class="img-menu-dropdown" alt=""/>
              Assistance
            </a>
            <a class="dropdown-item skillsmates-dropdown-menu plus-border" (click)="onClickProfileMenu()" [routerLink]="[routes.get('logout')]">
              <img src="{{ 'logout' | image }}" class="img-menu-dropdown" alt=""/>
              Déconnexion
            </a>
          </div>
        </li>
      </ul>
      <div class="dropdown mobile-user-menu float-right header-profif-content">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <em class="fa fa-ellipsis-v"></em>
        </a>
        <div class="dropdown-menu dropdown-menu-right header-search-content">
          <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('profile.my')]">
            <img src="{{ 'profile' | image }}" class="img-menu-dropdown" alt=""/>
            Mon profil
          </a>
          <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('setting.my')]">
            <img src="{{ 'settings' | image }}" class="img-menu-dropdown" alt=""/>
            Paramètres
          </a>
          <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('assistance')]">
            <img src="{{ 'assistance' | image }}" class="img-menu-dropdown" alt=""/>
            Assistance
          </a>
          <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('logout')]">
            <img src="{{ 'logout' | image }}" class="img-menu-dropdown" alt=""/>
            Déconnexion
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main" *ngIf="isMobile() && !isSkillschatDesign() && !isNotificationDesign()">
  <!-- image div -->
  <div>
    <!-- home -->
    <div [ngClass]="{ activeheader: getTabV2() === routes.get('dashboard') }">
      <a
        [routerLink]="[routes.get('dashboard')]" (mouseenter)="onMouseEnter('home')"
        (mouseleave)="onMouseLeave('home')" (click)="onClick('home')">
        <img src="{{ getHomeIcon() | image }}" class="rounded icon-img" alt="" style="height: 25px; margin: 0; width: 25px"/>
      </a>
    </div>

    <!-- search -->
    <div [ngClass]="{ activeheader: getTabV2() === routes.get('search_results') }">
      <a
        [routerLink]="[routes.get('search_results')]" (mouseenter)="onMouseEnter('search')"
        (mouseleave)="onMouseLeave('search')" (click)="onClick('search')">
        <img src="{{ getSearchIcon() | image }}" class="rounded icon-img" alt="" style="height: 25px; margin: 0; width: 25px"/>
      </a>
    </div>

    <!-- publier -->
    <div>
      <a [ngClass]="{ activeheader: showModalPost }" (mouseenter)="onMouseEnter('plus')"
        (mouseleave)="onMouseLeave('plus')" (click)="showModalPublish()">
        <img src="./assets/images/plus-colored.png" class="rounded" style="height: 25px; margin: 0; width: 25px" alt="plus"/>
      </a>
    </div>

    <!-- network -->
    <div [ngClass]="{ activeheader: getTabV2() === routes.get('network.my') }">
      <a
        [routerLink]="[routes.get('network.my')]" (mouseenter)="onMouseEnter('network')"
        (mouseleave)="onMouseLeave('network')" (click)="onClick('network')">
        <img src="{{ getNetworkIcon() | image }}" class="rounded" alt="" style="height: 30px; margin: 0; width: 30px"/>
        <span style="margin-left: -5px; color: white;"
          class=" badge badge-pill position-absolute top-0start-100 translate-middle bg-danger float-right badge-border"
          *ngIf="notifications.followers && notifications.followers.length > 0">{{ notifications.followers.length }}
        </span>
      </a>
    </div>

    <!-- Plus -->
    <div>
      <a [ngClass]="{ activeheader: getTab() === routes.get('profile.my') }" (mouseenter)="onMouseEnter('plus-mobile')"
        (mouseleave)="onMouseLeave('plus-mobile')" (click)="onClick('plus-mobile')">
        <img src="{{ getPlusIcon() | image }}" class="rounded icon-img" alt="" style="height: 25px; margin: 0; width: 25px"/>
      </a>
    </div>
  </div>
  <!-- text div -->
  <div class="text-center" style="font-size: xx-small">
    <!-- home -->
    <div>Accueil</div>

    <!-- search -->
    <div>Recherche</div>

    <!-- publier -->
    <div>Publier</div>

    <!-- network -->
    <div>Réseau</div>

    <!-- Plus -->
    <div>Plus</div>
  </div>
</div>

<div class="mainHeaderMob align-items-start row no-margin-padding" *ngIf="isMobile() && !isSkillschatDesign()">
  <div class="col">
    <a [routerLink]="[routes.get('dashboard')]" class="logo-mobile">
      <img src="{{ 'symbole-skills-mates' | image }}" height="40" alt="" style="border-radius: 1px"/>
      <span id="skillsmates" class="skillsmates-single-line" style="color: #16152d; font-weight: bolder">Skills Mates</span>
    </a>
  </div>
  <div class="col-7" style="margin-top: 3px;">
    <div class="float-right" style="cursor: pointer; color: white; margin-right: 10px; margin-left: 10px;" [routerLink]="[routes.get('messages.my')]">
      <span class="" style="display: inline-block;">
        <img src="{{ getSkillsChatIcon() | image }}" class="rounded float-right icon-img" alt=""/>
          <span class="badge-mobile badge-pill-mobile bg-danger float-right badge-border text-center"
                style="font-weight: bold; font-size: x-small; color: white; height: 18px; width: 26px;"
                *ngIf="notifications && notifications.messages && notifications.messages.length > 0">{{ notifications.messages.length}}
          </span>
      </span>
    </div>

    <div class="float-right" style="cursor: pointer; color: white; margin-right: 10px; margin-left: 10px;" [routerLink]="[routes.get('notifications.my')]">
      <span class="" style="display: inline-block;">
        <img src="{{ getNotificationIcon() | image }}" class="rounded float-right icon-img" alt=""/>
          <span class="badge-mobile badge-pill-mobile bg-danger float-right badge-border text-center"
                style="font-weight: bold; font-size: x-small; color: white; height: 18px; width: 26px;"
                *ngIf="bellNotifications.length > 0">{{ bellNotifications.length}}
          </span>
      </span>
    </div>

    <a [routerLink]="[routes.get('profile.my')]" style="float: right">
      <img class="rounded-circle" src="{{loggedAccount | avatarUrl}}" style="background-color: whitesmoke;" width="36" alt="{{account.lastname}}">
    </a>
  </div>
</div>

<div class="mainHeaderMob align-items-start row no-margin-padding" *ngIf="isMobile() && isSkillschatDesign()">
  <app-header-chat [selectedAccount]="loggedAccount"></app-header-chat>
</div>

<div class="mainHeaderMob align-items-start row no-margin-padding" *ngIf="isMobile() && isNotificationDesign()">
  <app-header-chat [selectedAccount]="loggedAccount"></app-header-chat>
</div>

<div class="main" *ngIf="isMobile() && isSkillschatDesign()">
  <app-send-chat></app-send-chat>
</div>

<!-- modal for publish content -->
<div class="mainModal" *ngIf="showModalPost && isMobile()">
  <div class="box_header-message">
    <h3 class="modal-title" id="modal-basic-title-1" style="color: #16152d; margin-top: 0; padding-left: 5px">
      Créer
    </h3>
    <div class="row" (click)="open_modal_publication(modalAddPost)" style="background-color: rgb(235, 235, 235); margin-right: 10px; margin-left: 10px;">
      <div class="block" style="margin-left: 10px">
        <img src="{{ 'create-post' | image }}" alt="" class="publication-image-document" style="height: 30px; width: 30px"/>
      </div>
      <div class="block">
        <div style="color: black; margin-top: 7px">
          <h4>Publication</h4>
        </div>
        <div style="font-size: 12px; margin-bottom: 7px">
          Clique ici pour rédiger un statut
        </div>
      </div>
    </div>
  </div>

  <!--barre de séparation -->
  <div class="dropdown-divider divider-plus"></div>

  <div style="border-radius: 10px; margin-bottom: 10px">
    <div *ngFor="let m of infosMediaTypes" class="row box" [routerLink]="[routes.get('post.edit.my'), m.position]" (click)="onClickEditPost(m)">
      <div class="col-2">
        <span [style.background-color]="m.color" class="div-post-image" style="display: inline-block; margin: 2px">
          <img [src]="m.picture" class="publication-image-document" alt="" style="filter: invert(); height: 25px; width: 25px"/>
        </span>
      </div>
      <div class="col-10">
        <div style="color: black">
          <h4>{{ m.title }}</h4>
        </div>
        <div style="font-size: 12px">{{ m.description }}</div>
      </div>
    </div>
  </div>
</div>

<!-- modal action on my compte -->
<div class="mainModalTwo" *ngIf="showModalAccount && isMobile()">
  <div class="row">
    <div class="col-6 popup-menu-item">
      <a class="dropdown-item skillsmates-dropdown-menu plus-border"
         (click)="onClickProfileMenu()"
         [routerLink]="[routes.get('profile.my')]">
        <img src="{{ 'profile' | image }}" class="img-menu-dropdown" alt="" />
        Mon profil
      </a>
    </div>
    <div class="col-6 popup-menu-item">
      <a class="dropdown-item skillsmates-dropdown-menu plus-border"
        (click)="onClickProfileMenu()"
        [routerLink]="[routes.get('setting.my')]">
        <img src="{{ 'settings' | image }}" class="img-menu-dropdown" alt="" />
        Paramètres
      </a>
    </div>
    <div class="col-6 popup-menu-item">
      <a
        class="dropdown-item skillsmates-dropdown-menu plus-border"
        (click)="onClickProfileMenu()"
        [routerLink]="[routes.get('assistance')]">
        <img src="{{ 'assistance' | image }}" class="img-menu-dropdown" alt="" />
        Assistance
      </a>
    </div>
    <div class="col-6 popup-menu-item">
      <a class="dropdown-item skillsmates-dropdown-menu plus-border" (click)="onClickProfileMenu()"
        [routerLink]="[routes.get('logout')]">
        <img src="{{ 'logout' | image }}" class="img-menu-dropdown" alt="" />
        Déconnexion
      </a>
    </div>
  </div>
</div>

<!--Modal principal-->
<ng-template #mymodal_principal let-modal>
  <app-modal-header-plus></app-modal-header-plus>
</ng-template>

<!--Search Modal-->
<ng-template #mymodal_search let-modal>
  <app-modal-search></app-modal-search>
</ng-template>

<!--modal pour creer la publication-->
<ng-template #modalAddPost let-modal>
  <app-modal-add-post></app-modal-add-post>
</ng-template>
