.svg-images {
  filter: invert(100%);
  height: 42px;
  cursor: pointer;
}

.has-search .form-control {
  /*padding-left: 2.375rem;*/
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  border-radius: 10px;
}

.badge-border {
  border: 1px solid #16152d;
}

.badge-mobile.badge-pill-mobile {
  border-radius: 10rem;
  margin-right: -40px;
}

.plus-img {
  height: 48px;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}

/*.plus-img:hover{*/
/*  opacity: 80%;*/
/*  display: inline-block;*/
/*}*/

.icon-img {
  height: 40px;
  /*margin: 0;*/
  /*filter: invert()*/
}

/* .icon-img:hover{
  filter: invert(60%)
} */

.div-icon-img {
  padding: 0;
  margin: 0;
}

/*@media (max-width: 767px) {*/
/*  #skillsmates {*/
/*    display: none;*/
/*  }*/
/*  #plus{*/
/*    display: none;*/
/*  }*/
/*  #home{*/
/*    display: none;*/
/*  }*/
/*  #username{*/
/*    display: none;*/
/*  }*/
/*  #searchbar{*/
/*    display: none;*/
/*  }*/
/*}*/

/*@media (max-width: 576px) {*/
/*  #skillsmates {*/
/*    display: block;*/
/*  }*/
/*  #plus{*/
/*    display: none;*/
/*  }*/
/*  #home{*/
/*    display: none;*/
/*  }*/
/*}*/
.post-image-document {
  width: 150px;
  /*height: 200px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}
.publication-image-document {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.div-post-image {
  border-radius: 6px;
  margin: 5px;
}
.publication-image {
  width: 30px;
  height: 30px;
  margin: auto auto;
  display: block;
}
.box-publication-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  background: #edeced;
  margin: auto auto;
  display: block;
}

.box {
  margin: 5px 0px 5px 0px;
  cursor: pointer;
  border-radius: 10px;
}

.box_header {
  margin: 5px -15px 15px -15px;
  cursor: pointer;
  background: #edeced;
  border-radius: 10px;
}

.box_header-2 {
  /*padding: 10px;*/
  background: #edeced;
  border-radius: 10px;
  font-weight: bold;
  margin: 0px;
  color: black;
}
.box_header-3 {
  margin: 10px;
  background: #edeced;
  border-radius: 10px;
  font-weight: bold;
  color: black;
}

.box_header-plus {
  background: #edeced;
  border-radius: 10px;
  cursor: pointer;
}
.box_header-message {
  /*padding: 10px;*/
  border-radius: 10px;
  /*margin: 10px;*/
  color: #16152d;
}

.text-msg-1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.text-msg-2 {
  margin-right: 7px;
  cursor: pointer;
}

.modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 15px;
}

.icon-upload {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.text-limit {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topnav {
  overflow: hidden;
  border-radius: 5px;
}

.topnav a {
  display: block;
}

.topnav a:hover {
  border-bottom: 2px solid #16152d;
  border-radius: 2px;
}

.topnav a.active {
  border-bottom: 2px solid #16152d;
  border-radius: 2px;
}

.topnav-header{
}

.topnav-header:hover{
  border-bottom: 2px solid #16152d;
  border-radius: 2px;
  background-color: whitesmoke;
}

@media only screen and (min-width: 801px) {
  .activeheader {
    border-bottom: 2px solid #16152d;
    border-radius: 2px;
    background-color: whitesmoke;
  }
}

@media only screen and (max-width: 800px) {
  .activeheader {
    border-top: 2px solid #16152d;
    border-radius: 2px;
    background-color: whitesmoke;
  }
}

/* .box_header {
  margin: 5px -15px 15px -15px ;
  cursor: pointer;
  background: #EDECED;
 border-radius: 10px;
} */
.search-person-document {
  width: 25px;
  height: 25px;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}
.img-menu-dropdown {
  height: 20px;
}

.search-message {
  width: 30px;
  height: 30px;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
}
.selector {
  border-bottom: 7px solid white;
}
.search-icon {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid #16152d;
  border-right: 2px solid #16152d;
  border-bottom: 2px solid #16152d;
}

.search-input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid #16152d;
  border-left: 2px solid #16152d;
  border-bottom: 2px solid #16152d;
}
.selector {
  border-bottom: 7px solid white;
}

.plus-border {
  border-radius: 5px;
}

.header-box-shadow {
  box-shadow: 0 1px 3px 0 rgba(134, 134, 134, 0.28),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.main {
  background: #fbfcfa;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 52px;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  border-top: 1px solid #dadada;
}

.main > div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.main > div:first-child > div {
  width: 10%;
  margin: 0 auto 0;
  text-align: center;
  padding: 0.5% 0 0;
}

.main > div:last-child > div {
  width: 10%;
  margin: 0 auto 0;
  text-align: center;
  padding: 0;
}

.mainHeaderMob {
  background: #fbfcfa;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 999999;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(236, 233, 233, 0.534);
  padding: 3px;
}

.mainHeaderMob > div:first-child {
  width: 80%;
}
.mainHeaderMob > div:last-child {
  width: 20%;
}
.mainHeaderMob > div:last-child > img {
  float: right;
}

.mainModal {
  background: white;
  position: fixed;
  bottom: 51px;
  width: 100%;
  height: 410px;
  z-index: 99999999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #16152d;
}

.mainModalTwo {
  background: whitesmoke;
  position: fixed;
  bottom: 51px;
  right: 0;
  width: 100%;
  height: 210px;
  z-index: 99999999;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  border: 2px solid #16152d;
  padding: 5px;
}

.logo-mobile {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: left;
}

.popup-menu-item{
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.popup-menu-item > a {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.popup-menu-item > a > img {
  height: 50px;
  width: 50px;
}

.div-media{

}

.div-media:hover{
  background-color: #DADADA;
  border-radius: 6px;
  padding-right: 2px;
  padding-left: 2px;
  border-bottom: 2px solid #16152D;
}

.fa {
  transition: .3s transform ease-in-out;
}

.collapsed .fa {
  transform: rotate(90deg);
}
