.nav {
  background-color: white;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
.nav div {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}


.indicator.online {
  background: #4BAE32;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.indicator.offline {
  background: #DBDADC;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.avatarOnline {
  background-color: #aaa;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 0 0 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
}

.text{
   height: 24px;
   line-height: 24px;
   font-size: 13px;
   text-align: left;
 }

.indicator{
  height: 24px;
  line-height: 24px;
  text-align: right;
}

.profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.online-single-line {
  overflow: hidden;
  /*display: -webkit-box;*/
  -webkit-line-clamp: 1;
  /*-webkit-box-orient: vertical;*/
}


