<div class="skillsmates-box-shadow card" style="padding-bottom: 5px;">

  <div class="row card-header skillsmates-box-top" style="margin: 0 1px 0 1px; cursor: pointer;">

    <div class="col-md-12 no-margin-padding  collapsed d-block" data-toggle="collapse" href="#collapse-collapsed-online" aria-expanded="true" aria-controls="collapse-collapsed-online" id="heading-collapsed-online">
      <em class="fa fa-chevron-down pull-right" style="padding-top: 10px; padding-left: 5px;"></em>
      <img height="24" src="{{infoNetworkType.picture}}" alt="{{infoNetworkType.title}}"> &nbsp;
      <strong (click)="onClick(infoNetworkType.position)" [routerLink]="[routes.get('network.my')]">En ligne</strong> ({{nbOnlineAccounts ? nbOnlineAccounts : 0}})
    </div>

  </div>

  <app-horizontal-line></app-horizontal-line>

  <div class="row bg-white collapse" style="margin: auto; border-radius: 0 0 10px 10px;" id="collapse-collapsed-online" aria-labelledby="heading-collapsed-online">
      <div class="row" style="padding: 10px 0 10px 10px; margin: 0; border-radius: 0 0 10px 10px;" *ngFor="let m of accountsSocialInteractions">
        <div class="col-3">
          <a [routerLink]="[routes.get('profile'), m.account.idServer]"><img src="{{m.account | avatarUrl}}" class="avatarOnline" alt="" ></a>
        </div>
        <div class="col-9 text online-single-line"><a [routerLink]="[routes.get('profile'), m.account.idServer]"><p>{{m.account.firstname}} {{m.account.lastname}}</p></a></div>
<!--        <div class="col-2 indicator" style="" *ngIf="m.account.connected"> <span class="indicator online" ></span> </div>-->
      </div>
    </div>
</div>
