.image-ambassador {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.url-link{
  color: hotpink;
  text-decoration: underline;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}
