<div class="row">
  <div class="col-12">
    <div class="roles-menu professional" style="border: #e9e8e7 solid 1px; border-radius: 10px;">
      <ul>
        <li class="" >
          <a href="javascript:void(0);">
            <div><b>Intitulé du poste: </b><b style="font-size: 16px">{{professional.jobTitle}}</b></div>
            <div *ngIf="!professional.activitySector.specified"><b>Domaine d'activité: </b><i>{{professional.activityArea.label}}</i></div>
            <div *ngIf="professional.activitySector.specified"><b>Domaine d'activité: </b><i>{{professional.anotherActivityArea}}</i></div>
          </a>
          <span class="role-action">
            <a *ngIf="loggedAccount.idServer === account.idServer" class="icon-action" style="margin-right: 10px;" (click)="onClickEdit(professional)">
              <span class="action-circle large">
                <i class="material-icons" style="color: green;">edit</i>
              </span>
            </a>
            <a *ngIf="loggedAccount.idServer === account.idServer" href="#" data-toggle="modal" data-target="#delete_professional" (click)="onClickDelete(professional)">
              <span class="action-circle large delete-btn">
                <i class="material-icons" style="color: red;">delete</i>
              </span>
            </a>
          </span>
          <div style="padding-left: 20px;">

            <div class="container" style="padding: 20px;">
              <div class="row">
                <div class="col-1">
                  <img width="48" height="48" src="{{'company' | image}}" class="m-r-5" alt="">
                </div>
                <div class="col-11">
                  <div>
                    <b>Entreprise:</b>&nbsp;<span> {{professional.establishmentName}}</span>
                  </div>
                  <div *ngIf="!professional.activitySector.specified">
                    <b>Secteur d'activité:</b>&nbsp;<span> {{professional.activitySector.label}} </span>
                  </div>
                  <div *ngIf="professional.activitySector.specified">
                    <b>Secteur d'activité:</b>&nbsp;<span> {{professional.anotherActivitySector}} </span>
                  </div>
                  <div style="font-size: 12px;">
                    <b>Ville:</b>&nbsp;<span>{{professional.city}} </span>
                  </div>
                  <div style="font-size: 12px;">
                    <span *ngIf="!professional.currentPosition"><b>Période de &nbsp;</b> {{professional.startDate | date: 'dd/MM/yyyy'}} <b>&nbsp;à&nbsp;</b> {{professional.endDate | date: 'dd/MM/yyyy'}} </span>
                    <span *ngIf="professional.currentPosition"><b>Dépuis &nbsp;</b> {{professional.startDate | date: 'dd/MM/yyyy'}} </span>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col">
                  <b>Description:</b>&nbsp;<span>{{professional.description}}</span>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="delete_professional" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{'symbole-skills-mates' | image}}" alt="" width="50" height="46">
        <h3>Voulez-vous supprimer ce parcours professionnel?</h3>
        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onClickConfirmDelete()">OUI</button>
        </div>
      </div>
    </div>
  </div>
</div>
