<div class="skillsmates-box-shadow-2">
  <div class="row" style="margin: auto;">
    <div class="col-md-12 skillsmates-box-top-2">
      <i class="fa fa-sliders fa-setting" aria-hidden="true" style="margin-left: 25px;"></i>
      <strong style="text-transform: uppercase; margin-left: 5px;">filtres</strong>
<!--      <img height="24" src="{{image | image}}" alt=""> &nbsp;-->
<!--      <strong style="text-transform: uppercase">Sous-catégories</strong>-->
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" style="margin: 0;  border-radius: 0 0 10px 10px;">
    <!--  insertion des sous-types-->
    <ul style="list-style: none; margin: 10px 0 10px 0" *ngIf="!loading">
      <li style="cursor: pointer;" (click)="onClickAllType()" *ngIf="mediaType && mediaType.type">
        <em class="fa fa-square-o fa-style-2" aria-hidden="true" [ngClass]="{'fa-square': isAllSelected }"></em>
        <a data-toggle="tab" style="cursor: pointer; color: black; margin-left: 5px" >Tous</a>
      </li>

      <li class="type-media-title" *ngIf="sortedProfilesMediaSubtypes && sortedProfilesMediaSubtypes.length > 0">
        Profils
        <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>
      </li>
      <li style="cursor: pointer;" (click)="onClickType(sortedMediaSubtype.mediaSubtype)" *ngFor="let sortedMediaSubtype of sortedProfilesMediaSubtypes"  >
        <em class="fa fa-square-o fa-style-2" aria-hidden="true" [ngClass]="{'fa-square': isSubTypeSelected(sortedMediaSubtype.mediaSubtype) }"></em>
        <a data-toggle="tab" style="cursor: pointer; color: black; margin-left: 5px" >{{sortedMediaSubtype.mediaSubtype.label}}</a>
      </li>

      <li class="type-media-title" *ngIf="sortedDocumentsMediaSubtypes && sortedDocumentsMediaSubtypes.length > 0">
        Documents
        <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>
      </li>
      <li style="cursor: pointer;" (click)="onClickType(sortedMediaSubtype.mediaSubtype)" *ngFor="let sortedMediaSubtype of sortedDocumentsMediaSubtypes"  >
        <em class="fa fa-square-o fa-style-2" aria-hidden="true" [ngClass]="{'fa-square': isSubTypeSelected(sortedMediaSubtype.mediaSubtype) }"></em>
        <a data-toggle="tab" style="cursor: pointer; color: black; margin-left: 5px" >{{sortedMediaSubtype.mediaSubtype.label}}</a>
      </li>

      <li class="type-media-title" *ngIf="sortedVideosMediaSubtypes && sortedVideosMediaSubtypes.length > 0">
        Vidéos
        <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>
      </li>
      <li style="cursor: pointer;" (click)="onClickType(sortedMediaSubtype.mediaSubtype)" *ngFor="let sortedMediaSubtype of sortedVideosMediaSubtypes"  >
        <em class="fa fa-square-o fa-style-2" aria-hidden="true" [ngClass]="{'fa-square': isSubTypeSelected(sortedMediaSubtype.mediaSubtype) }"></em>
        <a data-toggle="tab" style="cursor: pointer; color: black; margin-left: 5px" >{{sortedMediaSubtype.mediaSubtype.label}}</a>
      </li>

      <li class="type-media-title" *ngIf="sortedLinksMediaSubtypes && sortedLinksMediaSubtypes.length > 0">
        Liens
        <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>
      </li>
      <li style="cursor: pointer;" (click)="onClickType(sortedMediaSubtype.mediaSubtype)" *ngFor="let sortedMediaSubtype of sortedLinksMediaSubtypes"  >
        <em class="fa fa-square-o fa-style-2" aria-hidden="true" [ngClass]="{'fa-square': isSubTypeSelected(sortedMediaSubtype.mediaSubtype) }"></em>
        <a data-toggle="tab" style="cursor: pointer; color: black; margin-left: 5px" >{{sortedMediaSubtype.mediaSubtype.label}}</a>
      </li>

      <li class="type-media-title" *ngIf="sortedImagesMediaSubtypes && sortedImagesMediaSubtypes.length > 0">
        Images
        <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>
      </li>
      <li style="cursor: pointer;" (click)="onClickType(sortedMediaSubtype.mediaSubtype)" *ngFor="let sortedMediaSubtype of sortedImagesMediaSubtypes"  >
        <em class="fa fa-square-o fa-style-2" aria-hidden="true" [ngClass]="{'fa-square': isSubTypeSelected(sortedMediaSubtype.mediaSubtype) }"></em>
        <a data-toggle="tab" style="cursor: pointer; color: black; margin-left: 5px" >{{sortedMediaSubtype.mediaSubtype.label}}</a>
      </li>

      <li class="type-media-title" *ngIf="sortedAudiosMediaSubtypes && sortedAudiosMediaSubtypes.length > 0">
        Audios
        <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>
      </li>
      <li style="cursor: pointer;" (click)="onClickType(sortedMediaSubtype.mediaSubtype)" *ngFor="let sortedMediaSubtype of sortedAudiosMediaSubtypes"  >
        <em class="fa fa-square-o fa-style-2" aria-hidden="true" [ngClass]="{'fa-square': isSubTypeSelected(sortedMediaSubtype.mediaSubtype) }"></em>
        <a data-toggle="tab" style="cursor: pointer; color: black; margin-left: 5px" >{{sortedMediaSubtype.mediaSubtype.label}}</a>
      </li>
    </ul>

  </div>
</div>
