.fa-style-2{
  font-size: 20px;
  color: black;
  margin-top: 5px;
  padding: 0px;
}

.type-media-title{
  background-color: #FBFCFA;
  font-weight: bolder;
  padding: 10px 5px 5px -10px;
  font-size: 18px;
}
