.login-background-image{
  /*background-image: url("src/assets/images/landing-page-people.png");*/
  background-color: #16162d;
  background-repeat: no-repeat;
  background-position: left;
  /*background-attachment: fixed;*/
}

.project-tab {
  padding: 10%;
  margin-top: -8%;
}
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #16162d;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #16162d;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.skillsmates-title{
  color: #16152D;;
  font-weight: bold;
  font-size: xx-large;
  padding-left: 5px;
}

.bg-login{
  padding-left: 100px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  margin-top: 20px;
}
/* Style the links inside the navigation bar */
.topnav h5 {
  float: left;
  display: block;
  color: #16152D;
  text-align: left;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid #16152D;
}

/*@media (max-width: 576px) {*/
/*  .skillsmates-title{*/
/*    color: whitesmoke;*/
/*    font-weight: bold;*/
/*    font-size: x-large;*/
/*    padding-left: 10px;*/
/*  }*/

/*  .bg-login{*/
/*    padding-left: 50px;*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .bg-login{*/
/*    padding-left: 50px;*/
/*  }*/
/*}*/

/*@media (max-width: 992px) {*/
/*  .bg-login{*/
/*    padding-left: 50px;*/
/*  }*/
/*}*/

.skillsmates-page-wrapper {
  width: 1000px;
  min-width: 600px;
  margin: auto;
  padding-top: 6%;
  padding-bottom: 20px;
}

.sm-border-radius{
  border-radius: 12px;
}

.sm-border-radius-btn{
  border-radius: 10px;
}

#login-page{
  background-color: #16152D;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.no-margin-padding{
  margin: 0;
  padding: 0;
}

.skillsmates-title{
  color: #16152d;
  font-weight: bold;
  font-size: 42px;
}

.skillsmates-subtitle{
  color: #16152d;
  font-size: large;
}

.skillsmates-slogan{
  color: #16152d;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bolder;
  /*padding-left: 30px;*/
}

body {
  background: white;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.main > div:nth-child(3) {
  /*border: 1px solid rgba(105, 105, 105, 0.788);*/
  border-radius: 5%;
  text-align: center;
  padding: 5%;
  background-color: #f3f3f3;
}

.login-button-mobile {
  color: #16152d;
  font-weight: bolder;
  font-size: 18px;
}
