<div id="resetpassword-page" *ngIf="!isMobile()">
  <div class="row skillsmates-page-wrapper" >
    <div class="col-8">
      <div class="row">
        <div class="col-2 no-margin-padding" style="text-align: right;">
          <a routerLink="/">
            <img height="220%" src="{{'logo-skillsmates' | image}}" alt="Skillsmates logo">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align: left; margin-top: 50px;">
          <p class="skillsmates-slogan" style="line-height: 1em;">
            améliore et partage <br> tes connaissances avec <br>la communauté
          </p>
        </div>
      </div>
      <div>
        <img style="max-width: 100%; max-height: 100%" src="{{'landing-page-people' | image}}" alt="landing-page-people">
      </div>
      <div>
        <div class="row">
          <div class="col-7" >
            <span><a href="#" style="color: #16152d;">A PROPOS</a></span> -
            <span><a href="#" style="color: #16152d;">AIDE</a></span> -
            <span><a href="#" style="color: #16152d;">POLITIQUE DE CONFIDENTIALITE</a></span> -
            <span><a [routerLink]="routes.get('cgu')" (click)="onClickCGU()" style="color: #16152d;">CONDITIONS D'UTILISATION</a></span>
          </div>
          <div class="col-5">
            <div class="">
              <a [routerLink]="routes.get('dashboard')" class="logo">
                <img src="{{'symbole-skills-mates' | image}}" height="35" alt="" style="border-radius: 5px;">
                <span style="font-weight: normal; color: #16152d;">© Skills Mates 2020 </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <app-alert [alert]="alert"></app-alert>
      <section id="tabs">
        <div>
          <div class="row sm-border-radius" style="background: white;">
            <div class="col-12">
              <div style="width: 100%; margin-bottom: 20px; margin-top: 10px; padding-right: 10px; padding-left: 10px">
                <div class="topnav">
                  <h5>Mot de passe oublié ?</h5>
                </div>

                <div class="tab-content" id="nav-tabContent">
                  <form autocomplete="off" class="form-signin">
                    <div class="form-group">
                      <div style="font-size: 12px; color: #16152D">Saisissez votre adresse e-mail pour réinitialiser votre mot de passe. Vous devez
                             peut-etre consulter votre dossier de spams ou ajouter l'adresse no-reply@skills-mates.com à votre liste d'expéditeurs autorisés.</div>
                      <input style="margin-top: 15px " autocomplete="off" type="email" autofocus=""
                             class="form-control"  name="email" placeholder="Email" required
                             (keyup)="keyupEmail()"
                             [ngClass]="{ 'is-valid': validateEmail(email), 'is-invalid': (email && !validateEmail(email)) || (submitted && errors.email) }"
                             [(ngModel)]="email" >
                      <small class="text-danger" *ngIf="errors.email && !email">{{errors.email}}</small>
                    </div>
                    <div class="form-group text-center">
                      <button *ngIf="!loading" type="submit" class="btn btn-primary sm-border-radius-btn" (click)="onClickReset()" style="color: white; background-color: #00a501; width: 100%;" >Envoyer</button>
                      <app-loading [loading]="loading"></app-loading>
                    </div>
                  </form>
                  <div style="width: 100%; height: 10px; border-bottom: 1px solid black; text-align: center; margin-top: 50px;">
                      <span style="background-color: white; padding: 0 10px;">
                        Retour à la page de connexion
                      </span>
                  </div>

                  <div class="form-group text-center" style="margin-top: 20px;">
                    <a [routerLink]="[routes.get('root')]" class="btn btn-primary sm-border-radius-btn" style="color: white; background-color: #16152d; width: 100%;" >Retour</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div *ngIf="isMobile()">
  <div class="main">
    <!-- logo -->
    <div>
      <a routerLink="/">
        <img src="{{ 'logo-skillsmates' | image }}" alt="Skillsmates logo"/>
      </a>
    </div>
    <!-- slogan -->
    <div>
      <p class="skillsmates-slogan"
         style="line-height: 1em; text-align: center; font-size: large;">
        améliore et partage <br/>
        tes connaissances avec <br/>la communauté
      </p>
    </div>
    <!-- form login -->
    <div class="skillsmates-box-shadow" style="background-color: white">
      <app-alert [alert]="alert"></app-alert>
      <div>
        <span class="text-center login-button-mobile">Mot de passe oublié ?</span>

        <form autocomplete="off" class="form-signin">
          <div class="form-group">
            <div style="font-size: 12px; color: #16152D; padding-top: 50px;">Saisissez votre adresse e-mail pour réinitialiser votre mot de passe. Vous devez
              peut-etre consulter votre dossier de spams ou ajouter l'adresse no-reply@skills-mates.com à votre liste d'expéditeurs autorisés.</div>
            <input style="margin-top: 15px " autocomplete="off" type="email" autofocus=""
                   class="form-control"  name="email" placeholder="Email" required
                   (keyup)="keyupEmail()"
                   [ngClass]="{ 'is-valid': validateEmail(email), 'is-invalid': (email && !validateEmail(email)) || (submitted && errors.email) }"
                   [(ngModel)]="email" >
            <small class="text-danger" *ngIf="errors.email && !email">{{errors.email}}</small>
          </div>
          <div class="form-group text-center">
            <button *ngIf="!loading" type="submit" class="btn btn-primary sm-border-radius-btn" (click)="onClickReset()" style="color: white; background-color: #00a501; width: 100%;" >Envoyer</button>
            <app-loading [loading]="loading"></app-loading>
          </div>
        </form>

        <div style="width: 100%; height: 10px; border-bottom: 1px solid black; text-align: center; margin-top: 50px;"><span style="background-color: white; padding: 0 10px;">Retour à la page de connexion</span></div>

        <div class="form-group text-center" style="margin-top: 20px;">
          <a [routerLink]="[routes.get('root')]" class="btn btn-primary sm-border-radius-btn" style="color: white; background-color: #16152d; width: 100%;" >Retour</a>
        </div>
      </div>
    </div>

    <!-- image -->
    <div>
      <img style="max-width: 100%; max-height: 100%" src="{{ 'landing-page-people' | image }}" alt="landing-page-people"/>
    </div>

    <app-footer></app-footer>
  </div>
</div>

