<app-alert [alert]="alert"></app-alert>
<div class="row">
  <div class="col-12" style="padding-bottom: 20px;">
    <b>Diplôme obtenu</b>
  </div>
</div>

<div class="row" style="padding: 0px 20px 20px 20px;">

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Enseignement</label>
      <select *ngIf="selectedEducation.code !== undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.education, 'is-valid': selectedEducation.code }"
              (change)="onChangeEducation($event)">
        <option disabled >Enseignement</option>
        <option [ngValue]="education" *ngFor="let education of accountAcademics.educations" [selected]="selectedEducation.id===education.id" >{{education.label}}</option>
      </select>
      <select *ngIf="selectedEducation.code === undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.education, 'is-valid': selectedEducation.code }"
              (change)="onChangeEducation($event)">
        <option disabled selected>Enseignement</option>
        <option [ngValue]="education" *ngFor="let education of accountAcademics.educations" >{{education.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.education && (!selectedEducation || selectedEducation.code)">{{errors.education}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Niveau d'études du diplôme</label>
      <select *ngIf="degreeObtained.diploma !== undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.diploma, 'is-valid': degreeObtained.diploma }"
              (change)="onChangeDiploma($event)">
        <option disabled>Niveau d'études du diplome</option>
        <option [ngValue]="diploma" *ngFor="let diploma of diplomaFiltered" [selected]="degreeObtained.diploma.id === diploma.id">{{diploma.label}}</option>
      </select>
      <select *ngIf="degreeObtained.diploma === undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.diploma, 'is-valid': degreeObtained.diploma }"
              (change)="onChangeDiploma($event)">
        <option disabled selected>Niveau d'études du diplôme</option>
        <option [ngValue]="diploma" *ngFor="let diploma of diplomaFiltered">{{diploma.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.diploma && !degreeObtained.diploma">{{errors.diploma}}</small>
    </div>
  </div>

  <!--another degree Obtained-->
  <div class="col-12" *ngIf="degreeObtained.diploma">
    <div class="form-group" *ngIf="degreeObtained.diploma.specified">
      <label class="skillsmates-label">Autres niveau d'études du diplôme (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherDiploma()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherDiploma, 'is-valid': degreeObtained.anotherDiploma }"
             name="anotherDiploma" placeholder="A préciser manuellement" [(ngModel)]="degreeObtained.anotherDiploma">
      <small class="text-danger" *ngIf="errors.anotherDiploma && !degreeObtained.anotherDiploma">{{errors.anotherDiploma}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Type d'établissement</label>
      <select *ngIf="degreeObtained.establishmentType !== undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentType, 'is-valid': degreeObtained.establishmentType }"
              (change)="onChangeEstablishmentType($event)">
        <option disabled>Type d'établissement</option>
        <option [ngValue]="establishmentType" *ngFor="let establishmentType of establishmentTypesFiltered" [selected]="degreeObtained.establishmentType.id === establishmentType.id">{{establishmentType.label}}</option>
      </select>
      <select *ngIf="degreeObtained.establishmentType === undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentType, 'is-valid': degreeObtained.establishmentType }"
              (change)="onChangeEstablishmentType($event)">
        <option disabled selected>Type d'établissement</option>
        <option [ngValue]="establishmentType" *ngFor="let establishmentType of establishmentTypesFiltered">{{establishmentType.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.establishmentType && !degreeObtained.establishmentType">{{errors.establishmentType}}</small>
    </div>
  </div>

  <!--another establishment Type-->
  <div class="col-12" *ngIf="degreeObtained.establishmentType">
    <div class="form-group" *ngIf="degreeObtained.establishmentType.specified">
      <label class="skillsmates-label">Autres type d'établissement (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherEstablishmentType()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherEstablishmentType, 'is-valid': degreeObtained.anotherEstablishmentType }"
             name="anotherEstablishmentType" placeholder="Autres types d'établissements" [(ngModel)]="degreeObtained.anotherEstablishmentType">
      <small class="text-danger" *ngIf="errors.anotherEstablishmentType && !degreeObtained.anotherEstablishmentType">{{errors.anotherEstablishmentType}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Nom de l'établissement</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupEstablishmentName()"
             [ngClass]="{ 'is-valid': degreeObtained.establishmentName, 'is-invalid': submitted && errors.establishmentName }"
             name="establishmentName" placeholder="Nom de l'établissement" required="required"
             [(ngModel)]="degreeObtained.establishmentName">
      <small class="text-danger" *ngIf="errors.establishmentName && !degreeObtained.establishmentName">{{errors.establishmentName}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Ville</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" required
             (keyup)="keyupCity()" maxlength="255"
             [ngClass]="{ 'is-valid': degreeObtained.city, 'is-invalid': submitted && errors.city }"
             name="city" placeholder="Ville" [(ngModel)]="degreeObtained.city">
      <small class="text-danger" *ngIf="errors.city && !degreeObtained.city">{{errors.city}}</small>
    </div>
  </div>

  <div class="col-12" *ngIf="selectedEducation && selectedEducation.code && selectedEducation.code.toLowerCase() === 'higher'">
    <div class="form-group">
      <label class="skillsmates-label">Domaine d'enseignement du diplôme</label>
      <select *ngIf="selectedTeachingAreaGroup !== undefined" class="form-control select"
              [ngClass]="{ 'is-valid': selectedTeachingAreaGroup, 'is-invalid': submitted && errors.teachingAreaGroup }"
              (change)="onChangeTeachingAreaGroup($event)">
        <option disabled >Domaine d'enseignement</option>
        <option [disabled]="teaching.disabled" [ngStyle]="{'font-weight':teaching.disabled ? 'bold' : 'normal' }" [ngValue]="teaching" *ngFor="let teaching of teachings" [selected]="selectedTeachingAreaGroup.id === teaching.id">{{teaching.label}}</option>
      </select>
      <select *ngIf="selectedTeachingAreaGroup === undefined" class="form-control select"
              [ngClass]="{ 'is-valid': selectedTeachingAreaGroup, 'is-invalid': submitted && errors.teachingAreaGroup }"
              (change)="onChangeTeachingAreaGroup($event)">
        <option disabled selected>Domaine d'enseignement</option>
        <option [disabled]="teaching.disabled" [ngStyle]="{'font-weight':teaching.disabled ? 'bold' : 'normal' }" [ngValue]="teaching" *ngFor="let teaching of teachings">{{teaching.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.teachingAreaGroup && !selectedTeachingAreaGroup">{{errors.teachingAreaGroup}}</small>
    </div>
  </div>

  <div class="col-12" *ngIf="selectedEducation && selectedEducation.code && selectedEducation.code.toLowerCase() === 'higher'">
    <div class="form-group">
      <label class="skillsmates-label">Sous domaine d'enseignement du diplôme</label>
      <select *ngIf="degreeObtained.teachingArea !== undefined" class="form-control select"
              [ngClass]="{ 'is-valid': degreeObtained.teachingArea, 'is-invalid': submitted && errors.teachingArea }"
              (change)="onChangeTeachingArea($event)">
        <option disabled >Sous domaine d'enseignement</option>
        <option [ngValue]="teachingArea" *ngFor="let teachingArea of teachingAreasFiltered" [selected]="degreeObtained.teachingArea.id === teachingArea.id">{{teachingArea.label}}</option>
      </select>
      <select *ngIf="degreeObtained.teachingArea === undefined" class="form-control select"
              [ngClass]="{ 'is-valid': degreeObtained.teachingArea, 'is-invalid': submitted && errors.teachingArea }"
              (change)="onChangeTeachingArea($event)">
        <option disabled selected>Domaine d'enseignement</option>
        <option [ngValue]="teachingArea" *ngFor="let teachingArea of teachingAreasFiltered">{{teachingArea.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.teachingArea && !degreeObtained.teachingArea">{{errors.teachingArea}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Discipline ou spécialité étudiée</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupSpeciality()" maxlength="255"
             [ngClass]="{ 'is-valid': degreeObtained.specialty, 'is-invalid': submitted && errors.specialty }"
             name="city" placeholder="Discipline ou spécialité étudiée"
             [(ngModel)]="degreeObtained.specialty">
      <small class="text-danger" *ngIf="errors.specialty && !degreeObtained.specialty">{{errors.specialty}}</small>
    </div>
  </div>

  <div class="col-1">
    <span >De</span>
  </div>

  <div class="col-5">
    <div class="form-group">

      <input type="text" id="date"
             placeholder="Date de debut" class="form-control"
             [ngClass]="{ 'is-valid': degreeObtained.startDate, 'is-invalid': submitted && errors.startDate }"
             name="startDate"  [(ngModel)]="degreeObtainedStartDate" required [(bsValue)]="degreeObtainedStartDate"
             bsDatepicker (ngModelChange)="selectStartDate()" value="{{ degreeObtainedStartDate | date:'dd/MM/yyyy' }}"
             [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY/MM/DD' }">
      <small class="text-danger" *ngIf="errors.startDate && !degreeObtained.startDate">{{errors.startDate}}</small>
    </div>
  </div>

  <div class="col-1 form-group">
    <span>à</span>
  </div>

  <div class="col-5">
    <div class="form-group">

      <input type="text" id="endDate"
             placeholder="Date de fin" class="form-control" [disabled]="disabledEndDate"
             [ngClass]="{ 'is-valid': degreeObtained.endDate, 'is-invalid': submitted && errors.endDate }"
             name="startDate"  [(ngModel)]="degreeObtainedEndDate" required required [(bsValue)]="degreeObtainedEndDate"
             bsDatepicker (ngModelChange)="selectEndDate()" value="{{ degreeObtainedEndDate | date:'dd/MM/yyyy' }}"
             [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY/MM/DD' }">
      <small class="text-danger" *ngIf="errors.endDate && !degreeObtained.endDate">{{errors.endDate}}</small>
    </div>
  </div>

  <div class="col-12">
    <label class="skillsmates-label">Description de la formation</label>
    <div class="form-group">
        <textarea cols="30" rows="4" [(ngModel)]="degreeObtained.description" name="description" maxlength="255"
                  [ngClass]="{ 'is-invalid': submitted && errors.description, 'is-valid': degreeObtained.description }"
                  class="form-control biography-area" placeholder="Description de la formation"></textarea>
      <small class="text-info float-right" *ngIf="degreeObtained.description">{{degreeObtained.description.length}} / 255</small>
      <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
    </div>
  </div>

  <div class="col-12 text-center">
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSaveDegreeObtained()">Enregistrer</button>
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
  </div>
</div>
