<div class="row" style="margin: 0 50px 20px 50px" *ngIf="!isMobile()">
  <div class="col-4 assistance-question-mark-div" (click)="onClickFaq()">
    <div>
      <img
        src="{{ 'assistance-question-mark' | image }}"
        class="assistance-question-mark-img"
        alt="question mark"
      />
    </div>
    <div class="faq">faq</div>
  </div>
  <div class="col-1"></div>
  <div class="col-7 assistance-contact-us-div" (click)="onClickContactUs()">
    <div>
      <img
        src="{{ 'assistance-headphone' | image }}"
        class="assistance-contact-us-img"
        alt="question mark people"
      />
    </div>
    <div class="contact-us">contactez-nous</div>
  </div>
</div>

<div class="row" style="margin: 0 50px 20px 50px" *ngIf="isMobile()">
  <div class="col-12 assistance-question-mark-div" style="margin-bottom: 20px;" (click)="onClickFaq()">
    <div>
      <img
        src="{{ 'assistance-question-mark' | image }}"
        class="assistance-question-mark-img"
        alt="question mark"
      />
    </div>
    <div class="faq">faq</div>
  </div>
  <div class="col-12 assistance-contact-us-div" (click)="onClickContactUs()">
    <div>
      <img
        src="{{ 'assistance-headphone' | image }}"
        class="assistance-contact-us-img"
        alt="question mark people"
      />
    </div>
    <div class="contact-us">contactez-nous</div>
  </div>
</div>
