.need-assistance {
  color: #16152d;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
}

.assistance-question-mark-div {
  background-color: #16152d;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}
.assistance-question-mark-div-mobile {
  background-color: #16152d;
  border-radius: 10px;
  margin: auto;
  width: 30%;
}

.assistance-question-mark-div:hover {
  background-color: #2d2d44;
}

.assistance-contact-us-div {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #dadada;
  cursor: pointer;
}
.assistance-contact-us-div-mobile {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #dadada;
  width: 60%;
}

.assistance-contact-us-div:hover {
  background-color: #dadada;
}

.assistance-question-mark-img {
  display: block;
  margin: auto;
  padding: 20px;
  width: 90%;
}

.assistance-contact-us-img {
  display: block;
  margin: auto;
  padding: 20px;
  width: 43%;
}

.faq {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 20px;
}
.faq-mobile {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 20px;
  height: 68px;
}

.contact-us {
  color: #16152d;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 20px;
}

.contact-us-mobile {
  color: #16152d;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 20px;
}

.assitance-dash {
  width: 100%;
  display: flex;
  flex-direction: row;
}
