<div *ngIf="!isMobile()">
  <div class="row  skillsmates-container" *ngIf="!loading" >
    <div class="col-12">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <app-accountprofilecard [accountId]="account.idServer" [isEdit]="false"></app-accountprofilecard>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row bg-white skillsmates-box-shadow">
        <div class="col-3" style="margin: 0px; padding: 0px;">
          <div class="roles-menu" style="border-right: 2px solid gray; margin: 0px; padding: 0px; height: 100%;">
            <ul style="padding-top: 20px; padding-bottom: 20px;">
              <li class="edit-account-tab" [ngClass]="{'selected-tab active': isInfos}">
                <a (click)="onClickTab('infos')">Informations générales</a>
              </li>
              <li class="edit-account-tab" [ngClass]="{'selected-tab active': isAcademic}" >
                <a (click)="onClickTab('academics')">Formations
                  <strong>
                    (<span style="color: red;" *ngIf="accountProfileInfos && accountProfileInfos.academics">
                    {{accountProfileInfos.academics}}
                  </span>)
                  </strong>
                </a>
              </li>
              <li class="edit-account-tab" [ngClass]="{'selected-tab active': isProfessional}">
                <a (click)="onClickTab('professional')">Parcours pro
                  <strong>
                    (<span style="color: red;" *ngIf="accountProfileInfos && accountProfileInfos.professionals">
                    {{accountProfileInfos.professionals}}
                  </span>)
                  </strong>
                </a>
              </li>
              <li class="edit-account-tab" [ngClass]="{'selected-tab active': isSkills}">
                <a (click)="onClickTab('skills')">Compétences
                  <strong>
                    (<span style="color: red;" *ngIf="accountProfileInfos && accountProfileInfos.skills">
                    {{accountProfileInfos.skills}}
                  </span>)
                  </strong>
                </a>
              </li>
              <li class="edit-account-tab" [ngClass]="{'selected-tab active': isBiography}">
                <a (click)="onClickTab('biography')">Biographie</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-9 m-b-10">
          <div class="roles-menu">
            <app-accountgeneralinfos [account]="account"   *ngIf="isInfos"></app-accountgeneralinfos>
            <app-accounteditacademics [account]="account"  *ngIf="isAcademic"></app-accounteditacademics>
            <app-accounteditprofessionnal [account]="account"  *ngIf="isProfessional"></app-accounteditprofessionnal>
            <app-accounteditskills [account]="account" *ngIf="isSkills"></app-accounteditskills>
            <app-accounteditbiography *ngIf="isBiography" [account]="account" ></app-accounteditbiography>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-return-button
    [account]="account"
    [loading]="loading"
    [title]="buttonReturnTitle"
    (clickButton)="clickReturnButton($event)">
  </app-return-button>
</div>

<div class="row skillsmates-container-mobile" *ngIf="!loading && isMobile()">
  <div class="col-12">
    <app-accountprofilecard
      [accountId]="account.idServer"
      [isEdit]="false">
    </app-accountprofilecard>
  </div>
  <div class="col-12 skillsmates-box-padding">
    <app-selection-tab [tab]="about" [account]="account"></app-selection-tab>
  </div>
  <div class="col-12" style="margin-top: 20px;">
    <div class="row bg-white scrolling-wrapper">

      <div class="col-4 card no-margin-padding" (click)="onClickTab('infos')" [ngClass]="{'tab-selected': selectedTab === 'infos'}">
        <div class="text-center div-media" style="cursor: pointer;">
          <p class="skillsmates-single-line" style="font-size: 10px;">
            <strong>Informations générales</strong>
          </p>
        </div>
      </div>

      <div class="col-3 card no-margin-padding" (click)="onClickTab('skills')" [ngClass]="{'tab-selected': selectedTab === 'skills'}">
        <div class="text-center div-media" style="cursor: pointer;">
          <p class="skillsmates-single-line" style="font-size: 10px;">
            <strong>Compétences</strong>
          </p>
        </div>
      </div>

      <div class="col-3 card no-margin-padding" (click)="onClickTab('academics')" [ngClass]="{'tab-selected': selectedTab === 'academics'}">
        <div class="text-center div-media" style="cursor: pointer;">
          <p class="skillsmates-single-line" style="font-size: 10px;">
            <strong>Formations</strong>
          </p>
        </div>
      </div>

      <div class="col-3 card no-margin-padding" (click)="onClickTab('professional')" [ngClass]="{'tab-selected': selectedTab === 'professional'}">
        <div class="text-center div-media" style="cursor: pointer;">
          <p class="skillsmates-single-line" style="font-size: 10px;">
            <strong>Parcours pro</strong>
          </p>
        </div>
      </div>

      <div class="col-3 card no-margin-padding" (click)="onClickTab('biography')" [ngClass]="{'tab-selected': selectedTab === 'biography'}">
        <div class="text-center div-media" style="cursor: pointer;">
          <p class="skillsmates-single-line" style="font-size: 10px;">
            <strong>Biographie</strong>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="roles-menu">
      <app-accountgeneralinfos [account]="account"  *ngIf="isInfos"></app-accountgeneralinfos>
      <app-accounteditacademics [account]="account" *ngIf="isAcademic"></app-accounteditacademics>
      <app-accounteditprofessionnal [account]="account" *ngIf="isProfessional"></app-accounteditprofessionnal>
      <app-accounteditskills [account]="account" *ngIf="isSkills"></app-accounteditskills>
      <app-accounteditbiography [account]="account" *ngIf="isBiography"></app-accounteditbiography>
    </div>
  </div>

</div>


<app-loading [loading]="loading"></app-loading>

<app-footer></app-footer>
