.edit-account-tab{
  cursor: pointer;
}

.edit-account-tab .active{
  background-color: lightgray;
}

.selected-tab{
  background-color: lightgray;
}

.return-button{
  background-color: #16152D;
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
  color: whitesmoke;
}

.tab-selected{
  border-bottom: 3px solid #16152D;
  color: #16152D;
  font-weight: bolder;
}
