<div class="dropdown-menu notifications header-search-content">
  <div class="topnav-dropdown-header">
    <div style="padding: 10px 0 10px 0;">
      <span class="text-msg-1">Messages</span>
      <img src="{{'crop' | image}}" alt=""  class="search-message text-msg-2"/>
      <a [routerLink]="[routes.get('messages.my')]">voir tout</a>
    </div>
  </div>
  <!--Prévisualisation des messages-->

  <div class="drop-scroll" *ngIf="accountsMessages" style="cursor:pointer;padding: 10px; overflow: hidden;">
    <ul class="notification-list" style="overflow: hidden;">
      <li class="skillschat-line" *ngFor="let accountMessage of accountsMessages" [routerLink]="[routes.get('messages.my')]" (click)="onClickMessage(accountMessage)">
        <app-message-preview
          [accountMessage] = "accountMessage">
        </app-message-preview>
      </li>
    </ul>
  </div>
</div>
