<div class="row account-message-tab" (click)="onClickAccountMessage(accountMessage)">
  <div class="col-2">
      <span class="user-img">
        <img class="rounded-circle" src="{{accountMessage.account | avatarUrl}}" style="background-color: whitesmoke;" width="42" alt="{{accountMessage.account.lastname}}">
        <span *ngIf="accountMessage.account.connected" class="status online"></span>
        <span *ngIf="!accountMessage.account.connected" class="status offline"></span>
      </span>
  </div>
  <div class="col-7" style="padding-left: 25px;">
    <span class="badge badge-pill bg-danger float-right text-white" *ngIf="accountMessage.unread && accountMessage.unread > 0">{{accountMessage.unread}}</span>
    {{name(accountMessage.account)}} <br>
    <span style="font-size: small; font-style: italic;">{{getLastMessageContent(accountMessage)}}</span>
  </div>
  <div class="col-3">
    <span class="title float-right" *ngIf="accountMessage.account.status">
      <img width="18" height="18" src="{{accountMessage.account | professionIcon}}" class="m-r-5" alt="">
    </span>
    <span class="float-right" *ngIf="getLastMessage(accountMessage)" style="font-size: 9px;">
       {{getLastMessage(accountMessage).createdAt | date: 'shortDate'}}
    </span>
  </div>
</div>
