.text-0{
  font-size: 1.1em;
  text-align: left;
  text-decoration: underline ;
  color: black;
  margin-right: 5px;
  cursor: pointer;
}

.text-1 {
  color:black;
  font-size: 0.9em;
  margin-left: 5px;
  cursor: pointer;
}
.indicator{
  height: 24px;
  line-height: 24px;
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  text-align: right;
}

.indicator.online {
  background: #4BAE32;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;

}
.indicator.offline {
  background: #DBDADC;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;

}


