<div class="row" style="margin-left: 5px; margin-right: 5px;">
  <div class="col-12" style="background-color: lightgray; color: #16152D; border-radius: 5px; padding-top: 2px; padding-bottom: 2px;">
    <div class="roles-menu-h" style="display: table;">
      <ul class="" style="font-size: small; color: #16152D;">
        <li style="cursor: pointer;" [routerLink]="[routes.get('profile.my')]"
            [ngClass]="{'tab-selected': tab === posts}" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer">
          <a data-toggle="tab">Publications</a>
        </li>
        <li style="cursor: pointer;" [routerLink]="[routes.get('profile'), account.idServer]"
            [ngClass]="{'tab-selected': tab === posts}" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer">
          <a data-toggle="tab">Publications</a>
        </li>
        <li style="cursor: pointer;" [routerLink]="[routes.get('url_view_profile'), account.idServer]"
            [ngClass]="{'tab-selected': tab === posts}" *ngIf="!loggedAccount && isOnProfileView">
          <a data-toggle="tab">Publications</a>
        </li>
        <li style="cursor: pointer;" [routerLink]="[routes.get('documents.my')]"
            [ngClass]="{'tab-selected': tab === documents}" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer">
          <a data-toggle="tab">Classeur</a>
        </li>
        <li style="cursor: pointer;" [routerLink]="[routes.get('documents'), account.idServer]"
            [ngClass]="{'tab-selected': tab === documents}" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer">
          <a data-toggle="tab">Classeur</a>
        </li>
        <li style="cursor: pointer;" [routerLink]="[routes.get('documents'), account.idServer]"
            [ngClass]="{'tab-selected': tab === documents}" *ngIf="!loggedAccount && isOnProfileView">
          <a data-toggle="tab">Classeur</a>
        </li>
        <li style="cursor: pointer;" [routerLink]="[routes.get('profile.edit.my')]"
            [ngClass]="{'tab-selected': tab === about}" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer">
          <a data-toggle="tab">A propos</a>
        </li>

        <li style="cursor: pointer;" [routerLink]="[routes.get('profile.view'), account.idServer]"
            [ngClass]="{'tab-selected': tab === about}" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer">
          <a data-toggle="tab">A propos</a>
        </li>

        <li style="cursor: pointer;" [routerLink]="[routes.get('profile.view'), account.idServer]"
            [ngClass]="{'tab-selected': tab === about}" *ngIf="!loggedAccount && isOnProfileView">
          <a data-toggle="tab">A propos</a>
        </li>
      </ul>
    </div>
  </div>
</div>
