.roles-menu-h {
  margin-top: 0;
}
.roles-menu-h > ul {
  list-style: none;
  width: 100%;
  text-align: center;
}
.roles-menu-h > ul > li {
  display: inline-block;
  float: left;
  padding: 10px;
  border-radius: 2px;
  margin: auto;
}
.roles-menu-h > ul > li:hover{
  font-weight: bolder;
}
.roles-menu-h > ul > li > a {
  display: block;
  text-decoration: none;
}
.tab-selected{
  background-color: #16152D;
  color: white;
  font-weight: bolder;
}

