<div *ngIf="metadata">
  <a [href]="url" target="_blank" rel="noopener noreferrer"><img [src]="metadata.image" alt="" class="post-image-document"></a>
  <app-loading [loading]="previewLoading" style="width: 20px;"></app-loading>
</div>


