<div class="skillsmates-container" *ngIf="!isMobile()">
  <app-info-text [text]="infoTextNewPostTitle"></app-info-text>
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-3">
      <div class="modal-header  align-items-center container" style="height: 40px;" tag="h4">
        <h4 class="modal-title" style="color: black">Selectionnez le type de fichier</h4>
      </div>
      <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
      <div class="row media-icon" *ngIf="mediaTypes && mediaTypes.length > 0">
        <div *ngFor="let m of mediaTypes">
          <div style="cursor: pointer;" (click)="onClickChangeMediaType(m)">
            <span [ngStyle]="{'background-color': infosMediaType.type === m.type ? m.color: '#DCDBDC'}"
                class="div-post-image-type" style="display: inline-block;">
              <img [src]="m.picture" class="post-image-type" alt="" style="margin-left: auto; margin-right: auto; display: block"
                 [ngClass]="{'img-invert': infosMediaType.type === m.type, 'img-default': infosMediaType.type !== m.type}">
            </span>
            <p style="font-size: 9px; text-align: center">{{m.title}}</p>
          </div>
        </div>
      </div>
      <form>
        <div class="form-group" style="margin-top: 20px;">
          <label class="skillsmates-label">Quel type de contenu souhaitez-vous partager ? <span
            class="mandatory">*</span></label>
          <select class="form-control select" name="type"
                  *ngIf="filteredMediaSubtypes && filteredMediaSubtypes.length > 0"
                  [ngClass]="{ 'is-valid': post.mediaSubtype, 'is-invalid': submitted && errors.mediaSubtype }"
                  (change)="onChangeMediaSubtype($event)">
            <option [selected]="true" disabled>Type</option>
            <option [value]="subtype.idServer" *ngFor="let subtype of filteredMediaSubtypes"
                    [selected]="subtype.label===nrSelect">{{subtype.label}}</option>
          </select>
          <small class="text-danger" *ngIf="errors.mediaSubtype && !post.mediaSubtype">{{errors.mediaSubtype}}</small>
        </div>
        <!--Titre-->
        <div class="form-group" style="margin-bottom: 50px;">
          <label class="skillsmates-label">Quel est le titre du contenu ? <span class="mandatory">*</span></label>
          <textarea cols="" rows="2" name="title" maxlength="255" class="form-control biography-area"
                    (keyup)="keyupTitle()" [(ngModel)]="post.title" required="required"
                    [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': post.title }"
                    placeholder="Entrez le tire du contenu">
        </textarea>
          <small class="text-danger" *ngIf="errors.title && !post.title">{{errors.title}}</small>
        </div>
      </form>
      <app-about></app-about>
    </div>

    <div class="col-9" style="border-left: 2px solid lightgray;">
      <div style="border: 2px solid lightgray; background-color: white; border-radius: 10px; padding: 20px;">
        <div class="modal-header  align-items-center container" style="height: 40px;" tag="h4">
          <h4 class="modal-title" style="color: black">{{computeTitleByMedia()}}</h4>
        </div>
        <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
        <div class="modal-body row">
          <div class="col-8">
            <div class="row">
              <!--url du média-->
              <div class="col-12 form-group">
                <label class="skillsmates-label">Collez l'URL du contenu ou sélectionnez un fichier. <span
                  class="mandatory">*</span></label>
                <input style="border: 2px solid deeppink;" type="text" class="form-control urlMedia" autocomplete="off" autofocus="" name="urlMedia" maxlength="255"
                       (keyup)="keyupUrlMedia()" [disabled]="blockUrlDisabled"
                       [ngClass]="{ 'is-invalid': (urlMedia && !validateUrl(urlMedia)) || (submitted && errors.url), 'is-valid': validateUrl(urlMedia) }"
                       placeholder="Collez l'URL menant au contenu" required="required" [(ngModel)]="urlMedia">
                <small class="text-danger" *ngIf="errors.url && !urlMedia">{{errors.url}}</small>
              </div>

              <!-- Discipline -->
              <div class="col-12 form-group">
                <label class="skillsmates-label">Quelles sont les disciplines abordées par votre contenu ?</label>

                <textarea cols="30" rows="2" name="discipline" maxlength="255" class="form-control biography-area"
                          (keyup)="keyupDiscipline()" [(ngModel)]="post.discipline"
                          [ngClass]="{ 'is-invalid': submitted && errors.discipline, 'is-valid': post.discipline }"
                          placeholder="Listez les différentes disciplines abordées par votre contenu">
                </textarea>

                <small class="text-danger" *ngIf="errors.discipline && !post.keywords">{{errors.discipline}}</small>
                <small class="info-field">Séparer les élements par une virgule</small>
              </div>

              <!--keywords-->
              <div class="col-12 form-group">
                <label class="skillsmates-label">Quels sont les mots-clés rélatifs à votre contenu ?</label>

                <textarea cols="30" rows="2" name="keywords" maxlength="255" class="form-control biography-area"
                          (keyup)="keyupKeywords()" [(ngModel)]="post.keywords"
                          [ngClass]="{ 'is-invalid': submitted && errors.keywords, 'is-valid': post.keywords }"
                          placeholder="Listez les thématiques, concepts, théoremes, auteurs et niveaux scolaires relatifs au contenu">
                </textarea>

                <small class="text-danger" *ngIf="errors.keywords && !post.keywords">{{errors.keywords}}</small>
                <small class="info-field">Séparer les élements par une virgule</small>
              </div>

            </div>

          </div>

          <div class="col-4">
            <div class="row skillsmates-label">
              <em class="fa fa-plus-square icon-fa" (click)="chooseFile.click()" style="cursor: pointer;"> Cliquez pour
                ajouter un fichier <span class="mandatory">*</span></em>
              <input [disabled]="blockFileDisabled" type="file" style="display: none" accept="{{infosMediaType.accept}}"
                     #chooseFile (change)="selectFile($event)">
            </div>

            <div class="row" style="margin-top: 10px;" disabled>
              <input [disabled]="blockFileDisabled" type="file" style="display: none"
                     accept="{{infosMediaType.accept}}" #chooseFile (change)="selectFile($event)"/>
              <span [style.background-color]="infosMediaType.color" class="div-post-image"
                    style="display: inline-block;">
              <img *ngIf="displayConfig === 'NEW_NONE'" [src]="infosMediaType.picture" alt=""
                   class="post-image-document" (click)="chooseFile.click()" style="filter: invert()">
            </span>
              <img *ngIf="(displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'pdf') || (displayConfig === 'EDIT_FILE' && getMediaType(post.multimedia[0].mimeType) === 'pdf')" src="{{'pdf' | image}}"
                   alt="" class="post-image-document" (click)="chooseFile.click()">
              <img *ngIf="(displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'excel') || (displayConfig === 'EDIT_FILE' && getMediaType(post.multimedia[0].mimeType) === 'excel')" src="{{'xls' | image}}"
                   alt="" class="post-image-document" (click)="chooseFile.click()">
              <img *ngIf="(displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'txt') || (displayConfig === 'EDIT_FILE' && getMediaType(post.multimedia[0].mimeType) === 'txt')" src="{{'txt' | image}}"
                   alt="" class="post-image-document" (click)="chooseFile.click()">
              <img *ngIf="(displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'access') || (displayConfig === 'EDIT_FILE' && getMediaType(post.multimedia[0].mimeType) === 'access')"
                   src="{{'access' | image}}"
                   alt="" class="post-image-document" (click)="chooseFile.click()">
              <img *ngIf="(displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'powerpoint') || (displayConfig === 'EDIT_FILE' && getMediaType(post.multimedia[0].mimeType) === 'powerpoint')"
                   src="{{'pptx' | image}}"
                   alt="" class="post-image-document" (click)="chooseFile.click()">
              <img *ngIf="(displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'audio') || (displayConfig === 'EDIT_FILE' && getMediaType(post.multimedia[0].mimeType) === 'audio')" src="{{'audio' | image}}"
                   alt="" class="post-image-document" (click)="chooseFile.click()">
              <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type).startsWith('image') && url" [src]="url"
                   class="post-image-document" alt="" (click)="chooseFile.click()">
              <img *ngIf="(displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'word') || (displayConfig === 'EDIT_FILE' && getMediaType(post.multimedia[0].mimeType) === 'word')" src="{{'word' | image}}"
                   alt="" class="post-image-document" (click)="chooseFile.click()">
              <video *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'video' && url" [src]="url"
                     class="post-image-document" alt="" (click)="chooseFile.click()">
              </video>
              <img *ngIf="displayConfig === 'NEW_LINK' || displayConfig === 'EDIT_LINK'" [src]="metadata.image" alt=""
                   class="post-image-document">
              <img *ngIf="displayConfig === 'EDIT_FILE'" src="{{post.multimedia[0] | mediaUrl}}" alt=""
                   class="post-image-document" (click)="chooseFile.click()">
              <app-loading [loading]="previewLoading" style="width: 20px;"></app-loading>
            </div>

            <div class="row myinnercontainer">
              <div *ngIf="displayConfig === 'NEW_FILE'">{{file.name}} --</div>
              <div *ngIf="displayConfig === 'EDIT_FILE'">{{post.multimedia[0].name}} --</div>
              <div *ngIf="displayConfig === 'NEW_FILE'">{{file.size | filesize}}</div>
              <div *ngIf="displayConfig === 'EDIT_LINK' || 'NEW_LINK'">{{metadata.title}}</div>
              <small class="text-danger" *ngIf="errors.file">{{errors.file}}</small>
            </div>
          </div>
        </div>
        <div class="row" style="word-wrap: break-word">
          <div class="col-12 form-group">
            <label class="skillsmates-label">Décrivez votre contenu</label>
            <div class="editor">
              <ngx-editor-menu
                [editor]="editor"
                [toolbar]="toolbar">
              </ngx-editor-menu>
              <ngx-editor
                [editor]="editor"
                [(ngModel)]="description"
                [placeholder]="placeholder" (keyup)="testDescriptionSize()">
              </ngx-editor>
            </div>
            <small class="text-info float-right" *ngIf="this.description">{{this.description.length}} / {{this.maxlength}}</small>
            <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
          </div>
        </div>

        <div class="modal-footer">
          <button *ngIf="!loading" type="button" style="background-color: #DBDADC ; color: black; height: 36px; "
                  class="btn btn-outline-light btn-lg btn-block" (click)="onClickPublishMediaPost()">
            <h5 *ngIf="!post.idServer">Publier</h5>
            <h5 *ngIf="post.idServer">Mettre à jour</h5>
          </button>
        </div>
        <div style="padding-bottom: 10px; width: 90%; margin: auto;">
          <app-progres-bar-horizontal [loading]="loading"></app-progres-bar-horizontal>
        </div>
      </div>

    </div>
  </div>

  <div class="row" style="padding: 10px;">
    <div class="col text-center">
    <span class="staff-msg">
      <a [routerLink]="[routes.get('dashboard')]" class="btn return-button">
        <img class="avatar" src="{{loggedAccount | avatarUrl}}" alt=""> Retour
      </a>
    </span>
    </div>
  </div>
</div>

<!--Partie Mobile-->
<div class="skillsmates-container-mobile" *ngIf="isMobile()" style="margin-left: 10px; margin-right: 10px;">
  <div style="text-align: center; margin-bottom: 10px">
    <h2 style="color: black; font-weight: bold">Nouveau Document</h2>
  </div>
  <app-info-text [text]="infoTextNewPostTitle"></app-info-text>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
  <div class="row media-icon" *ngIf="mediaTypes && mediaTypes.length > 0">
    <div *ngFor="let m of mediaTypes">
      <div style="cursor: pointer;" (click)="onClickChangeMediaType(m)">
          <span [ngStyle]="{'background-color': infosMediaType.type === m.type ? m.color: '#DCDBDC'}"
                class="div-post-image-type" style="display: inline-block;">
            <img [src]="m.picture" class="post-image-type" alt="" style="margin-left: auto; margin-right: auto;"
                 [ngClass]="{'img-invert': infosMediaType.type === m.type, 'img-default': infosMediaType.type !== m.type}">
          </span>
        <p style="font-size: 9px; text-align: center">{{m.title}}</p>
      </div>
    </div>
  </div>

  <form>
    <div class="form-group" style="margin-top: 20px;">
      <label class="skillsmates-label-mobile">Quel type de contenu souhaitez-vous partager ? <span
        class="mandatory">*</span></label>
      <select class="form-control select" name="type"
              *ngIf="filteredMediaSubtypes && filteredMediaSubtypes.length > 0"
              [ngClass]="{ 'is-valid': post.mediaSubtype, 'is-invalid': submitted && errors.mediaSubtype }"
              (change)="onChangeMediaSubtype($event)">
        <option [selected]="true" disabled>Type</option>
        <option [value]="subtype.idServer" *ngFor="let subtype of filteredMediaSubtypes"
                [selected]="subtype.label===nrSelect">{{subtype.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.mediaSubtype && !post.mediaSubtype">{{errors.mediaSubtype}}</small>
    </div>

    <!--url du média-->
    <div class="form-group">
      <label class="skillsmates-label-mobile">Collez l'URL du contenu ou sélectionnez-le sur votre appareil. <span
        class="mandatory">*</span></label>
      <input type="text" style="border: 2px solid deeppink;" class="form-control urlMedia" autocomplete="off" autofocus="" name="urlMedia" maxlength="255"
             (keyup)="keyupUrlMedia()" [disabled]="blockUrlDisabled"
             [ngClass]="{ 'is-invalid': (urlMedia && !validateUrl(urlMedia)) || (submitted && errors.url), 'is-valid': validateUrl(urlMedia) }"
             placeholder="Collez l'URL menant au contenu" required="required" [(ngModel)]="urlMedia">
      <small class="text-danger" *ngIf="errors.url && !urlMedia">{{errors.url}}</small>
    </div>

    <!--Média-->
    <div class="row">
      <div class="col-5">
        <div class="row" style="margin: 10px;" disabled>
          <input [disabled]="blockFileDisabled" type="file" style="display: none"
                 accept="{{infosMediaType.accept}}" #chooseFile (change)="selectFile($event)"/>
          <span [style.background-color]="infosMediaType.color" class="div-post-image" style="display: inline-block;">
              <img *ngIf="displayConfig === 'NEW_NONE'" [src]="infosMediaType.picture" alt=""
                   class="post-image-document" (click)="chooseFile.click()" style="filter: invert()">
            </span>
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'pdf'" src="{{'pdf' | image}}"
               alt="" class="post-image-document" (click)="chooseFile.click()">
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'excel'" src="{{'xls' | image}}"
               alt="" class="post-image-document" (click)="chooseFile.click()">
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'txt'" src="{{'txt' | image}}"
               alt="" class="post-image-document" (click)="chooseFile.click()">
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'access'" src="{{'access' | image}}"
               alt="" class="post-image-document" (click)="chooseFile.click()">
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'powerpoint'" src="{{'pptx' | image}}"
               alt="" class="post-image-document" (click)="chooseFile.click()">
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'audio'" src="{{'audio' | image}}"
               alt="" class="post-image-document" (click)="chooseFile.click()">
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'image' && url" [src]="url"
               class="post-image-document" alt="" (click)="chooseFile.click()">
          <img *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'word'" src="{{'word' | image}}"
               alt="" class="post-image-document" (click)="chooseFile.click()">
          <video *ngIf="displayConfig === 'NEW_FILE' && getMediaType(file.type) === 'video' && url" [src]="url"
                 class="post-image-document" alt="" (click)="chooseFile.click()">
          </video>
          <img *ngIf="displayConfig === 'NEW_LINK' || displayConfig === 'EDIT_LINK'" [src]="metadata.image" alt=""
               class="post-image-document">
          <img *ngIf="displayConfig === 'EDIT_FILE'" src="{{post.multimedia[0] | mediaUrl}}" alt=""
               class="post-image-document" (click)="chooseFile.click()">
          <app-loading [loading]="previewLoading" style="width: 20px;"></app-loading>
        </div>
      </div>
      <div class="col-7 float-right">
        <div class="" style="margin-top: 10px;">
          <button *ngIf="!loading" type="button" style="background-color: #008000 ; color: white; height: 36px; "
                  class="btn btn-outline-light btn-lg" (click)="chooseFile.click()">
            <h5>Ajouter un fichier</h5>
          </button>
          <input [disabled]="blockFileDisabled" type="file" style="display: none" accept="{{infosMediaType.accept}}"
                 #chooseFile (change)="selectFile($event)">
        </div>

        <div class="myinnercontainer-mobile">
          <div *ngIf="displayConfig === 'NEW_FILE'">{{file.name}}</div>
          <div *ngIf="displayConfig === 'EDIT_FILE'">{{post.multimedia[0].name}}</div>
          <div *ngIf="displayConfig === 'NEW_FILE'">{{file.size | filesize}}</div>
          <div *ngIf="displayConfig === 'EDIT_LINK' || 'NEW_LINK'">{{metadata.title}}</div>
          <small class="text-danger" *ngIf="errors.file">{{errors.file}}</small>
        </div>
      </div>
    </div>

    <!--Titre-->
    <div class="form-group" style="margin-top:20px ; margin-bottom: 30px;">
      <label class="skillsmates-label-mobile">Quel est le titre du document ? <span class="mandatory">*</span></label>
      <textarea cols="" rows="2" name="title" maxlength="255"
                class="form-control biography-area skillsmates-place-hoder-mobile"
                (keyup)="keyupTitle()" [(ngModel)]="post.title" required="required"
                [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': post.title }"
                placeholder="Entrez le titre du document">
        </textarea>
      <small class="text-danger" *ngIf="errors.title && !post.title">{{errors.title}}</small>
    </div>
  </form>

  <h2 style="color: #16152d; margin-bottom: 15px">{{computeTitleByMedia()}}</h2>
  <!-- Discipline -->
  <div class="form-group">
    <label class="skillsmates-label-mobile">Quelles sont les disciplines abordées par votre contenu ?</label>

    <textarea cols="30" rows="3" name="discipline" maxlength="255"
              class="form-control biography-area skillsmates-place-hoder-mobile"
              (keyup)="keyupDiscipline()" [(ngModel)]="post.discipline"
              [ngClass]="{ 'is-invalid': submitted && errors.discipline, 'is-valid': post.discipline }"
              placeholder="Listez les disciplines abordées par votre contenu">
    </textarea>

    <small class="text-danger" *ngIf="errors.discipline && !post.keywords">{{errors.discipline}}</small>
    <small class="info-field">Séparer les élements par une virgule</small>
  </div>

  <!--keywords-->
  <div class="form-group">
    <label class="skillsmates-label-mobile">Quels sont les mots-clés rélatifs à votre contenu ?</label>

    <textarea cols="30" rows="3" name="keywords" maxlength="255"
              class="form-control biography-area skillsmates-place-hoder-mobile"
              (keyup)="keyupKeywords()" [(ngModel)]="post.keywords"
              [ngClass]="{ 'is-invalid': submitted && errors.keywords, 'is-valid': post.keywords }"
              placeholder="Listez les thématiques, concepts, théoremes, auteurs et niveaux scolaires relatifs au contenu">
    </textarea>

    <small class="text-danger" *ngIf="errors.keywords && !post.keywords">{{errors.keywords}}</small>
    <small class="info-field">Séparer les élements par une virgule</small>
  </div>

  <!--Description-->
  <div class="row" style="word-wrap: break-word">
    <div class="col-12 form-group">
      <label class="skillsmates-label-mobile">Décrivez votre contenu</label>
      <div class="editor">
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="description"
          [placeholder]="placeholder" (keyup)="testDescriptionSize()">
        </ngx-editor>
      </div>
      <small class="text-info float-right" *ngIf="this.description">{{this.description.length}} / 2000</small>
      <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
    </div>
  </div>

  <!--Bouton-->
  <div class="modal-footer" style="margin-bottom: 40px;">
    <button *ngIf="!loading" type="button" style="background-color: #DBDADC ; color: black; height: 36px; "
            class="btn btn-outline-light btn-lg btn-block" (click)="onClickPublishMediaPost()">
      <h5 *ngIf="!post.idServer">Publier</h5>
      <h5 *ngIf="post.idServer">Mettre à jour</h5>
    </button>
  </div>
  <div style="padding-bottom: 10px; width: 90%; margin: auto;">
    <app-progres-bar-horizontal [loading]="loading"></app-progres-bar-horizontal>
  </div>

</div>



