.post-image-document{
  width: 150px;
  /*height: 200px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.div-post-image{
  border-radius: 20px;
  margin: 5px;
}

.return-button{
  background-color: #16152D;
  padding: 10px 50px 10px 50px;
  border-radius: 20px;
  color: whitesmoke;
}

.post-image-type{
  width: 23px;
  height: 23px;
  margin: 5px;
}

.div-post-image-type{
  border-radius: 6px;
  margin: 5px;
}

.media-icon{
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;
}
.img-invert{
  filter: invert();
}

.img-default{
  filter: invert(0);
}
.myinnercontainer-mobile {
  display: inline-block;
  vertical-align:top;
  margin-right:5px;
  font-size: 0.9em;
  float:left;
  width:auto;
  text-align: left;
}

.info-field{
  color: white;
  background-color: #b21f2d;
  border-radius: 5px;
  padding: 2px;
}

.urlMedia::placeholder {
  color: #16152d;
}

.fa{
  font-weight: bold;
  font-size: 15px;
}

.avatar{
  width: 38px;
}

.url-input{
  border: 2px solid #16152D;
}
