<!--{{infoMediaType | json}}-->
<div *ngIf="infoMediaType && infoMediaType.multimedia" class="skillsmates-box-shadow" style="border: 2px solid {{infoMediaType.color}};">
  <div class="row" style="margin: auto; cursor: pointer;" >
    <div *ngIf="loggedAccount && loggedAccount.idServer === account.idServer" [style.background-color]="infoMediaType.color" class="col" style="color: white; padding: 12px;  border-radius: 5px 5px 0 0;" [routerLink]="[routes.get('documents.my')]">
      <strong (click)="onClickMore(infoMediaType)">{{infoMediaType.title}}</strong> ({{infoMediaType.value}})

<!--      <span style="float: right; cursor: pointer;" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer">-->
<!--        <a [routerLink]="[routes.get('documents.my')]" (click)="onClickMore(infoMediaType)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->

<!--      <span style="float: right; cursor: pointer;" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer">-->
<!--        <a [routerLink]="[routes.get('documents'), account.idServer]" (click)="onClickMore(infoMediaType)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>

    <div *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer" [style.background-color]="infoMediaType.color" class="col" style="color: white; padding: 12px;  border-radius: 5px 5px 0 0;" [routerLink]="[routes.get('documents'), account.idServer]">
      <strong (click)="onClickMore(infoMediaType)">{{infoMediaType.title}}</strong> ({{infoMediaType.value}})

<!--      <span style="float: right; cursor: pointer;" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer">-->
<!--        <a [routerLink]="[routes.get('documents.my')]" (click)="onClickMore(infoMediaType)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->

<!--      <span style="float: right; cursor: pointer;" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer">-->
<!--        <a [routerLink]="[routes.get('documents'), account.idServer]" (click)="onClickMore(infoMediaType)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid {{infoMediaType.color}}; text-align: center;"></div>
  <div class="row bg-white" style="padding: 15px; margin: 0;  border-radius: 0 0 10px 10px; margin-right:25px; padding-left:0px;">
<!--    class="row bg-white no-margin-padding"-->
    <div class="col-4 text-center" *ngFor="let media of infoMediaType.multimedia" style="margin:0; top: 50%;">
<!--      class="col-4 text-center no-margin-padding"-->
      <div *ngIf="infoMediaType.multimedia && infoMediaType.multimedia.length > 0">
        <div *ngIf="getMultimediaType(media) === 'image'" class="no-margin-padding">
          <div style="margin: 0; padding: 0; border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{media | mediaUrl}}" width="64" height="64" alt=""></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'video'" style="padding: 10px">
          <div *ngIf="!media.metadata" style="border-right:2px solid whitesmoke; margin-right: -38px;"><video src="{{media | mediaUrl}}" width="64" height="64" alt="" style="top: 50%;"></video></div>
          <div *ngIf="media.metadata" style="border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{media.metadata.image}}" width="64" height="64" alt="" style="top: 50%;"></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'pdf'" class="no-margin-padding">
          <div style="border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{'pdf' | image}}" width="64" height="64" alt=""></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'word'" class="no-margin-padding">
          <div style="border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{'word' | image}}" width="64" height="64" alt=""></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'excel'" class="no-margin-padding">
          <div style="border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{'xls' | image}}" width="64" height="64" alt=""></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'access'" class="no-margin-padding">
          <div style="border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{'access' | image}}" width="64" height="64" alt=""></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'powerpoint'" class="no-margin-padding">
          <div style="border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{'pptx' | image}}" width="64" height="64" alt=""></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'audio'" class="no-margin-padding">
          <div style="border-right:2px solid whitesmoke; margin-right: -38px;"><img src="{{'audio' | image}}" width="64" height="64" alt=""></div>
        </div>
        <div *ngIf="getMultimediaType(media) === 'link' && media.metadata">
          <div>
            <img src="{{media.metadata.image}}" width="64" height="64" alt="" style="border-right:2px solid gray; margin-left:5px; margin-right:8px; padding-left:5px; padding-right:5px">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
