<app-alert [alert]="alert"></app-alert>
<app-info-text [text]="infoTextAcademic"></app-info-text>
<div *ngIf="!loading && !isMobile()">

  <div *ngIf="displayAcademics">

    <div class="row" >
      <!--  Barre de navigation -->
      <div class="col" style="background-color: #FBFCFA; border-radius: 10px; font-size: small;">
        <div class="roles-menu-h">
          <ul class="" style="margin-left: 20px;">
            <li style="cursor: pointer; margin-right: 5px;" (click)="onClickTab(formation)" [ngClass]="{'tab-selected': tab === formation}">
              <a data-toggle="tab">Formation en cours
                <span style="color: red; font-weight: bold">( {{accountAcademics.secondaryEducations.length + accountAcademics.higherEducations.length}} )</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col" style="background-color: #FBFCFA; border-radius: 10px;">
        <div class="roles-menu-h">
          <ul class="" style="margin-left: 20px;">
            <li style="cursor: pointer; margin-left: 5px;" (click)="onClickTab(diploma)" [ngClass]="{'tab-selected': tab === diploma}">
              <a data-toggle="tab">Diplômes obtenus
                <span style="color: red; font-weight: bold">( {{accountAcademics.degreesObtained.length}} )</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col" style="background-color: #FBFCFA; border-radius: 10px;">
        <div class="roles-menu-h">
          <ul class="" style="margin-left: 20px;">
            <li style="cursor: pointer; margin-left: 5px;" (click)="onClickTab(certificates)" [ngClass]="{'tab-selected': tab === certificates}">
              <a data-toggle="tab">Certifications
                <span style="color: red; font-weight: bold">( {{accountAcademics.certificates.length}} )</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--    Formation en cours-->
    <div *ngIf="tab === formation" style="margin: 10px;">
      <div class="row">
        <div class="col-12">
          <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px" (click)="onClickNewAcademics()">
            <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter une formation</strong></button>
          </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px">
            <em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Formation en cours</strong></span>
          <span style="float: right;" *ngIf="accountAcademics && accountAcademics.secondaryEducations && accountAcademics.higherEducations">
            (<span style="color: red; font-weight: bold;">{{accountAcademics.secondaryEducations.length + accountAcademics.higherEducations.length}}</span>)
          </span>
        </div>
      </div>
      <div class=" row">
        <div class="col">
          <div *ngFor="let secondaryEducation of accountAcademics.secondaryEducations" >
            <app-accountsecondaryeducation
              [account]="account"
              [secondaryEducation]="secondaryEducation"
              (editSecondaryEducationEvent)="onEditSecondaryEducationEvent($event)"
              (newSecondaryEducationEvent)="onRefreshEvent($event)">
            </app-accountsecondaryeducation>
          </div>

          <div *ngFor="let higherEducation of accountAcademics.higherEducations" >
            <app-accounthighereducation
              [account]="account"
              [higherEducation]="higherEducation"
              (editHigherEducationEvent)="onEditHigherEducationEvent($event)"
              (newHigherEducationEvent)="onRefreshEvent($event)">
            </app-accounthighereducation>
          </div>
        </div>
      </div>
    </div>

    <!--    Diplomes obtenus-->
    <div *ngIf="tab === diploma" style="margin: 10px;">
      <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
        <div class="col-12">
          <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px " (click)="onClickNewDiploma()">
            <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter un diplôme</strong></button>
          </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px"><em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Diplômes obtenus</strong></span>
          <span style="float: right;" *ngIf="accountAcademics && accountAcademics.degreesObtained">
            (<span style="color: red; font-weight: bold;">{{accountAcademics.degreesObtained.length}}</span>)
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div *ngFor="let degreeObtained of accountAcademics.degreesObtained" >
            <app-accountdegreeobtainedcard
              [account]="account"
              [degreeObtained]="degreeObtained"
              (editDegreeObtainedEvent)="onEditDegreeObtainedEvent($event)"
              (newDegreeObtainedEvent)="onRefreshEvent($event)">
            </app-accountdegreeobtainedcard>
          </div>
        </div>
      </div>
    </div>

    <!--    Certifications-->
    <div *ngIf="tab === certificates" style="margin: 10px;">
      <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
        <div class="col-12">
          <span  *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px " (click)="onClickNewCertificate()">
            <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter une certification</strong></button>
          </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px">
            <em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Certifications</strong>
          </span>
          <span style="float: right;" *ngIf="accountAcademics && accountAcademics.certificates">
            (<span style="color: red; font-weight: bold;">{{accountAcademics.certificates.length}}</span>)
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div *ngFor="let certificate of accountAcademics.certificates" >
            <app-account-certification
              [account]="account"
              [certificate]="certificate"
              (editCertificateEvent)="onEditCertificationEvent($event)"
              (newCertificateEvent)="onRefreshEvent($event)">
            </app-account-certification>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!--Ajouter une formation en cours -->
  <div class="row" style="padding: 20px 20px 0 20px;" *ngIf="displayEducation || displayDiplomas || displayCertificates">
    <div class="col-12" style="padding-bottom: 20px;" *ngIf="displayEducation">
      <strong>Formation en cours</strong>
    </div>

    <div class="col-12" *ngIf="displayEducation">
      <div class="form-group">
        <label class="skillsmates-label">Enseignement</label>
        <select *ngIf="selectedEducation.code !== undefined" class="form-control select"
                [ngClass]="{ 'is-invalid': submitted && errors.education, 'is-valid': selectedEducation.code }"
                (change)="onChangeEducation($event)">
          <option disabled >Enseignement</option>
          <option [ngValue]="education" *ngFor="let education of accountAcademics.educations" [selected]="selectedEducation.id===education.id" >{{education.label}}</option>
        </select>
        <select *ngIf="selectedEducation.code === undefined" class="form-control select"
                [ngClass]="{ 'is-invalid': submitted && errors.education, 'is-valid': selectedEducation.code }"
                (change)="onChangeEducation($event)">
          <option disabled selected>Enseignement</option>
          <option [ngValue]="education" *ngFor="let education of accountAcademics.educations" >{{education.label}}</option>
        </select>
        <small class="text-danger" *ngIf="errors.education && !selectedEducation">{{errors.education}}</small>
      </div>
    </div>

    <!--Ajouter un nouveau diplome-->
    <app-editdegreeobtained
      [accountAcademics]="accountAcademics"
      [degreeObtained]="degreeObtained"
      (refreshEvent)="onRefreshEvent($event)"
      *ngIf="displayDiplomas">
    </app-editdegreeobtained>

    <!--si enseignement secondaire-->
    <app-editsecondaryeducation
      [accountAcademics]="accountAcademics"
      [secondaryEducation]="secondaryEducation"
      (refreshEvent)="onRefreshEvent($event)"
      *ngIf="displayEducation && selectedEducation && selectedEducation.code && selectedEducation.code.toLowerCase() === 'secondary'">
    </app-editsecondaryeducation>

    <!--si enseignement superieure-->
    <app-edithighereducation
      [accountAcademics]="accountAcademics"
      [higherEducation]="higherEducation"
      (refreshEvent)="onRefreshEvent($event)"
      *ngIf="displayEducation && selectedEducation && selectedEducation.code && selectedEducation.code.toLowerCase() === 'higher'">
    </app-edithighereducation>

    <!--Ajouter un nouveau certificat-->
    <app-edit-certification
      [accountAcademics]="accountAcademics"
      [certificate]="certificate"
      (refreshEvent)="onRefreshEvent($event)"
      *ngIf="displayCertificates">
    </app-edit-certification>

  </div>

</div>

<div *ngIf="!loading && isMobile()">

  <div *ngIf="displayAcademics">

    <div class="row scrolling-wrapper" >
      <!--  Barre de navigation -->
      <div class="col-7 card text-center" style="border-radius: 10px; margin: 10px;" (click)="onClickTab(formation)" [ngClass]="{'tab-selected': tab === formation}">
        <div class="roles-menu-mobile-h">
          <ul class="nav nav-pills" style=" font-size: small;">
            <li style="cursor: pointer;">
              <a data-toggle="tab">Formations en cours</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-6 card text-center" style="border-radius: 10px; margin: 10px;" (click)="onClickTab(diploma)" [ngClass]="{'tab-selected': tab === diploma}">
        <div class="roles-menu-mobile-h">
          <ul class="nav nav-pills" style="font-size: small;">
            <li style="cursor: pointer;">
              <a data-toggle="tab">Diplômes obtenus</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-5 card text-center" style="border-radius: 10px; margin: 10px;"  (click)="onClickTab(certificates)" [ngClass]="{'tab-selected': tab === certificates}">
        <div class="roles-menu-mobile-h">
          <ul class="nav nav-pills" style="font-size: small;">
            <li style="cursor: pointer;">
              <a data-toggle="tab">Certifications</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--    Formation en cours-->
    <div *ngIf="tab === formation" style="margin: 10px;">
      <div class="row">
        <div class="col-12">
          <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px" (click)="onClickNewAcademics()">
            <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter une formation</strong></button>
          </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px">
            <em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Formation en cours</strong></span>
          <span style="float: right;" *ngIf="accountAcademics && accountAcademics.secondaryEducations && accountAcademics.higherEducations">
            (<span style="color: red; font-weight: bold;">{{accountAcademics.secondaryEducations.length + accountAcademics.higherEducations.length}}</span>)
          </span>
        </div>
      </div>
      <div class=" row">
        <div class="col">
          <div *ngFor="let secondaryEducation of accountAcademics.secondaryEducations" >
            <app-accountsecondaryeducation
              [account]="account"
              [secondaryEducation]="secondaryEducation"
              (editSecondaryEducationEvent)="onEditSecondaryEducationEvent($event)"
              (newSecondaryEducationEvent)="onRefreshEvent($event)">
            </app-accountsecondaryeducation>
          </div>

          <div *ngFor="let higherEducation of accountAcademics.higherEducations" >
            <app-accounthighereducation
              [account]="account"
              [higherEducation]="higherEducation"
              (editHigherEducationEvent)="onEditHigherEducationEvent($event)"
              (newHigherEducationEvent)="onRefreshEvent($event)">
            </app-accounthighereducation>
          </div>
        </div>
      </div>
    </div>

    <!--    Diplomes obtenus-->
    <div *ngIf="tab === diploma" style="margin: 10px;">
      <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
        <div class="col-12">
          <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px " (click)="onClickNewDiploma()">
            <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter un diplôme</strong></button>
          </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px"><em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Diplômes obtenus</strong></span>
          <span style="float: right;" *ngIf="accountAcademics && accountAcademics.degreesObtained">
            (<span style="color: red; font-weight: bold;">{{accountAcademics.degreesObtained.length}}</span>)
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div *ngFor="let degreeObtained of accountAcademics.degreesObtained" >
            <app-accountdegreeobtainedcard
              [account]="account"
              [degreeObtained]="degreeObtained"
              (editDegreeObtainedEvent)="onEditDegreeObtainedEvent($event)"
              (newDegreeObtainedEvent)="onRefreshEvent($event)">
            </app-accountdegreeobtainedcard>
          </div>
        </div>
      </div>
    </div>

    <!--    Certifications-->
    <div *ngIf="tab === certificates" style="margin: 10px;">
      <div class="row" style="margin-top: 20px; margin-bottom: 10px;">
        <div class="col-12">
          <span  *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px " (click)="onClickNewCertificate()">
            <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter une certification</strong></button>
          </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px">
            <em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Certifications</strong>
          </span>
          <span style="float: right;" *ngIf="accountAcademics && accountAcademics.certificates">
            (<span style="color: red; font-weight: bold;">{{accountAcademics.certificates.length}}</span>)
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div *ngFor="let certificate of accountAcademics.certificates" >
            <app-account-certification
              [account]="account"
              [certificate]="certificate"
              (editCertificateEvent)="onEditCertificationEvent($event)"
              (newCertificateEvent)="onRefreshEvent($event)">
            </app-account-certification>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--Ajouter une formation en cours -->
  <div class="row" style="padding: 20px 20px 0 20px;" *ngIf="displayEducation || displayDiplomas || displayCertificates">
    <div class="col-12" style="padding-bottom: 20px;" *ngIf="displayEducation">
      <strong>Formation en cours</strong>
    </div>

    <div class="col-12" *ngIf="displayEducation">
      <div class="form-group">
        <label class="skillsmates-label">Enseignement</label>
        <select *ngIf="selectedEducation.code !== undefined" class="form-control select"
                [ngClass]="{ 'is-invalid': submitted && errors.education, 'is-valid': selectedEducation.code }"
                (change)="onChangeEducation($event)">
          <option disabled >Enseignement</option>
          <option [ngValue]="education" *ngFor="let education of accountAcademics.educations" [selected]="selectedEducation.id===education.id" >{{education.label}}</option>
        </select>
        <select *ngIf="selectedEducation.code === undefined" class="form-control select"
                [ngClass]="{ 'is-invalid': submitted && errors.education, 'is-valid': selectedEducation.code }"
                (change)="onChangeEducation($event)">
          <option disabled selected>Enseignement</option>
          <option [ngValue]="education" *ngFor="let education of accountAcademics.educations" >{{education.label}}</option>
        </select>
        <small class="text-danger" *ngIf="errors.education && !selectedEducation">{{errors.education}}</small>
      </div>
    </div>

    <!--Ajouter un nouveau diplome-->
    <app-editdegreeobtained
      [accountAcademics]="accountAcademics"
      [degreeObtained]="degreeObtained"
      (refreshEvent)="onRefreshEvent($event)"
      *ngIf="displayDiplomas">
    </app-editdegreeobtained>

    <!--si enseignement secondaire-->
    <app-editsecondaryeducation
      [accountAcademics]="accountAcademics"
      [secondaryEducation]="secondaryEducation"
      (refreshEvent)="onRefreshEvent($event)"
      *ngIf="displayEducation && selectedEducation && selectedEducation.code && selectedEducation.code.toLowerCase() === 'secondary'">
    </app-editsecondaryeducation>

    <!--si enseignement superieure-->
    <app-edithighereducation
      [accountAcademics]="accountAcademics"
      [higherEducation]="higherEducation"
      (refreshEvent)="onRefreshEvent($event)"
      *ngIf="displayEducation && selectedEducation && selectedEducation.code && selectedEducation.code.toLowerCase() === 'higher'">
    </app-edithighereducation>

    <!--Ajouter un nouveau certificat-->
    <app-edit-certification
      *ngIf="displayCertificates">
    </app-edit-certification>

  </div>

</div>

<app-loading [loading]="loading"></app-loading>

