<div class="row" style="margin-top: 5px;">
  <!--  le media est un lien-->
  <div class="col post-center" *ngIf="!getMultimediaMimetype(multimedia) && multimedia && multimedia.url">
    <!--    Le media est un lien quelconque-->
    <div *ngIf="!isYoutubeLink(multimedia.url) && multimedia.metadata">
      <a href="{{multimedia.metadata.url}}" target="_blank">
        <img *ngIf="multimedia.metadata.image" [src]="multimedia.metadata.image" alt="" class="m-r-5 image-size">
      </a>
    </div>
    <!--    Le media est un lien youtube-->
    <youtube-player
      *ngIf="isYoutubeLink(multimedia.url)"
      videoId="{{getYoutubeVideoId(multimedia.url)}}"
      suggestedQuality="highres"
      height="200"
      width="100%">
    </youtube-player>
  </div>

  <!--  Le media est une video-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('video/')">
    <video controls="controls" src="{{multimedia | mediaUrl}}" class="m-r-5 image-size"></video>
  </div>

  <!--  le media est une image-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('image/')">
    <img src="{{multimedia | mediaUrl}}" class="m-r-5 image-size" alt="" ngxViewer>
  </div>

  <!--  le media est un audio-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('audio/')">
    <audio controls="controls" src="{{multimedia | mediaUrl}}" class="m-r-5 image-size"></audio>
  </div>

  <!--  Le media est un pdf-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('application/pdf')">
    <div class="image-size">
      <ng2-pdfjs-viewer [pdfSrc]="multimedia | mediaUrl"></ng2-pdfjs-viewer>
    </div>
  </div>

  <!--  le media est un fichier quelconque -->
  <div class="col post-center" *ngIf="isAnyOtherFile(multimedia)">
    <div class="row">
      <ngx-doc-viewer
        [url]="multimedia | mediaUrl"
        [viewer]="viewer"
        class="image-size">
      </ngx-doc-viewer>
    </div>
  </div>
</div>
