<div class="align-items-start row " >
  <div class="col-2" (click)="onClickArrowLeft()" *ngIf="isSkillschatDesign()">
    <a class="logo-mobile" (click)="onClickArrowLeft()">
      <img src="{{ 'arrow-left' | image }}" height="30" alt="" style="border-radius: 1px"/>
    </a>
  </div>

  <div class="col-2 no-margin-padding" style="" *ngIf="isSkillschatDesign()">
    <a  style="float: right; margin-top: 5px;" (click)="onClickArrowLeft()">
      <img class="rounded-circle" src="{{selectedAccount | avatarUrl}}" style="background-color: whitesmoke;" width="36" alt="{{selectedAccount.lastname}}">
    </a>
  </div>

  <div class="col-8" style="" *ngIf="isSkillschatDesign()">
    <span class="skillsmates-single-line" style="margin-top: 5px;">{{name(selectedAccount)}}</span>
    <div class="" style="font-size: small;">
      <span *ngIf="selectedAccount.currentJobTitle">
        <img height="14" src="{{'job' | image}}"   alt=""> {{selectedAccount.currentJobTitle}}
      </span>
    </div>
  </div>

  <div class="col-2" *ngIf="isNotificationDesign()">
    <a class="logo-mobile" [routerLink]="[routes.get('notifications.my')]">
      <img src="{{ 'arrow-left' | image }}" height="30" alt="" style="border-radius: 1px"/>
    </a>
  </div>

  <div class="col-10" *ngIf="isNotificationDesign()">
    <span class="skillsmates-single-line" style="margin-top: 10px;">Retour</span>
  </div>
</div>
