<div class="row">
  <div class="col-1">
                  <span class="user-img">
                    <a *ngIf="loggedAccount && comment.emitterAccount.idServer === loggedAccount.idServer"
                       [routerLink]="[routes.get('profile.my')]">
                      <img class="rounded-circle" src="{{comment.emitterAccount | avatarUrl}}"
                           style="background-color: whitesmoke;" width="35" alt="{{comment.emitterAccount.lastname}}">
                    </a>
                    <a *ngIf="!loggedAccount || comment.emitterAccount.idServer !== loggedAccount.idServer"
                       [routerLink]="[routes.get('profile'), comment.emitterAccount.idServer]">
                      <img class="rounded-circle" src="{{comment.emitterAccount | avatarUrl}}"
                           style="background-color: whitesmoke;" width="35" alt="{{comment.emitterAccount.lastname}}">
                    </a>
                    <span class="status online"></span>
                  </span>
  </div>
  <div class="col-11">
    <div class="comment">
      <div
        style="font-weight: bold">{{comment.emitterAccount.firstname}} {{comment.emitterAccount.lastname}}</div>
      <div>{{comment.content}}</div>
    </div>
    <div style="font-size: 12px; text-align: right">{{comment.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  </div>

  <span class="role-action" style="z-index: 99;" *ngIf="loggedAccount && comment.emitterAccount.id === loggedAccount.id">
    <a class="icon-action" style="margin-right: 10px;" (click)="onClickDelete(comment)">
      <span class="action-circle large">
        <em class="material-icons">delete</em>
      </span>
    </a>
  </span>

</div>
