.user-img {
  display: inline-block;
  position: relative;
}

.comment {
  background: #F0F2F5;
  border-radius: 10px;
  margin-left: 5px;
  padding: 7px;
  width: auto;
}

.box {
  margin-bottom: 10px;
}

.action-circle {
  background: transparent;
  border: 1px solid #E20613;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.action-circle .material-icons {
  color: #E20613;
  font-size: 18px;
  vertical-align: -3px;
}
