<div *ngIf="!isMobile()">
  <div class="col-12 skillsmates-container" *ngIf="!loading">
    <!--  Box principal-->
    <div class="row bg-white skillsmates-box-shadow" *ngIf="!loading"
         style="margin-top: 20px; border-radius: 10px; background-color: white;">
      <!--  Barre de navigation verticale-->
      <div class="col-4 m-b-3" style="margin: 0 0 100px; padding: 0; height: 800px; position:relative;">
        <!--  Zone de recherche-->
        <div class="" style="margin: 30px 10px 5px 20px">
          <div class="input-group mb-3">
            <input type="text" style="font-size: 11px" class="form-control search-input"
                   (keyup)="onKeyupSearch()" [(ngModel)]="searchContent"
                   placeholder="Rechercher" aria-label="Rechercher" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary search-icon" type="button" id="button-addon2">
                <i class="fa fa-1x fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="roles-menu"
             style="border-right: 2px solid #DADADA; margin: 0; padding: 0; max-height: 100%; overflow:auto;">
          <ul style="padding-top: 20px; padding-bottom: 20px;">
            <!--  Liste des contacts-->
            <li (click)="onClickTab(accountMessage.account)" *ngFor="let accountMessage of accountsMessages"
                [ngStyle]="{'background-color': selectedAccount === accountMessage.account ? '#F5F5F5' : '#FFFFFF'}">
<!--              <div class="row account-message-tab" *ngIf="getLastMessage(accountMessage)">-->
              <div class="row account-message-tab">
                <div class="col-2">
                <span class="user-img">
                  <img class="rounded-circle" src="{{accountMessage.account | avatarUrl}}"
                       style="background-color: whitesmoke;" width="42" alt="{{accountMessage.account.lastname}}">
                  <span *ngIf="accountMessage.account.connected" class="status online"></span>
                  <span *ngIf="!accountMessage.account.connected" class="status offline"></span>
                </span>
                </div>
                <div class="col-7" style="padding-left: 25px;">
                  <span class="badge badge-pill bg-danger float-right text-white"
                        *ngIf="accountMessage.unread && accountMessage.unread > 0">{{accountMessage.unread}}</span>
                  {{name(accountMessage.account)}} <br>
                  <span style="font-size: small; font-style: italic;">{{getLastMessageContent(accountMessage)}}</span>
                </div>
                <div class="col-3">
                <span class="title float-right" *ngIf="accountMessage.account.status">
                  <img width="18" height="18" src="{{accountMessage.account | professionIcon}}" class="m-r-5" alt="">
                </span>
                  <span class="float-right" *ngIf="getLastMessage(accountMessage)" style="font-size: 9px;">
                  {{getLastMessage(accountMessage).createdAt | date: 'shortDate'}}
                </span>
                </div>
              </div>
              <!--            <div style="width: 100%; height: 1px; border-bottom: 1px solid #F5F5F5; text-align: center;" *ngIf="getLastMessage(accountMessage)">-->
              <!--              {{getLastMessage(accountMessage).createdAt}}-->
              <!--            </div>-->
            </li>

          </ul>
        </div>
      </div>
      <!--  Zone de message-->
      <div class="col-8" style="border-radius: 0 10px 10px 0; border-left: 2px solid whitesmoke; padding-left: 0;" *ngIf="!loadingMessage">
        <div class="roles-menu">
          <app-message-content
            (refreshAccounts)="refreshAccountsEvent($event)"
            [selectedAccount]="selectedAccount"
            [selectedMessages]="messages">
          </app-message-content>

          <div class="col-12 container main_div" *ngIf="!selectedAccount || !selectedAccount.id">
            <app-skillschat ></app-skillschat>
          </div>

        </div>
      </div>
      <app-loading [loading]="loadingMessage"></app-loading>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<div class="col-12 skillsmates-container-mobile" style="margin-top: 2px;" *ngIf="!loading && isMobile()">
  <!--  Box principal-->
  <div class="row bg-white skillsmates-box-shadow" *ngIf="!loading"
       style="margin-top: 20px; border-radius: 10px; background-color: white;">
    <!--  Barre de navigation verticale-->
    <div class="col-12" style="margin: 0 0 100px; padding: 0; height: 800px; position:relative;" *ngIf="!displayMessageContent">
      <!--  Zone de recherche-->
      <div class="" style="margin: 5px 5px 5px 5px">
        <div class="input-group mb-3">
          <input type="text" style="font-size: medium;" class="form-control search-input"
                 (keyup)="onKeyupSearch()" [(ngModel)]="searchContent"
                 placeholder="Rechercher" aria-label="Rechercher" aria-describedby="button-addon22">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-icon" type="button" id="button-addon22">
              <i class="fa fa-1x fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="roles-menu" style="border-right: 2px solid #DADADA; margin: 0; padding: 0; max-height: 100%; overflow:auto;">
        <ul style="padding-top: 2px; padding-bottom: 20px;">
          <!--  Liste des contacts-->
          <li (click)="onClickTab(accountMessage.account)" *ngFor="let accountMessage of accountsMessages"
              [ngStyle]="{'background-color': selectedAccount === accountMessage.account ? '#F5F5F5' : '#FFFFFF'}">
<!--            <div class="row account-message-tab" *ngIf="getLastMessage(accountMessage)">-->
            <div class="row account-message-tab">
              <div class="col-2">
                <span class="user-img">
                  <img class="rounded-circle" src="{{accountMessage.account | avatarUrl}}"
                       style="background-color: whitesmoke;" width="42" alt="{{accountMessage.account.lastname}}">
                  <span *ngIf="accountMessage.account.connected" class="status online"></span>
                  <span *ngIf="!accountMessage.account.connected" class="status offline"></span>
                </span>
              </div>
              <div class="col-7" style="padding-left: 25px;">
                <span class="badge badge-pill bg-danger float-right text-white"
                      *ngIf="accountMessage.unread && accountMessage.unread > 0">{{accountMessage.unread}}</span>
                {{name(accountMessage.account)}} <br>
                <span style="font-size: small; font-style: italic;">{{getLastMessageContent(accountMessage)}}</span>
              </div>
              <div class="col-3">
                <span class="title float-right" *ngIf="accountMessage.account.status">
                  <img width="18" height="18" src="{{accountMessage.account | professionIcon}}" class="m-r-5" alt="">
                </span>
                <span class="float-right" *ngIf="getLastMessage(accountMessage)" style="font-size: 9px;">
                  {{getLastMessage(accountMessage).createdAt | date: 'shortDate'}}
                </span>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <!--  Zone de message-->
    <div class="col-12 no-margin-padding" *ngIf="!loadingMessage && displayMessageContent">
      <div class="" >
        <app-message-content
          (refreshAccounts)="refreshAccountsEvent($event)"
          (displayMessageContent)="refreshDisplayMessageContentEvent($event)"
          [selectedAccount]="selectedAccount"
          [selectedMessages]="messages">
        </app-message-content>
      </div>
    </div>
    <app-loading [loading]="loadingMessage"></app-loading>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>

