
.title{
  color: #16172C;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.fa-style{
  font-size: 30px;
  color: #16172C;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-div {
  margin: 0 auto;
  width: 100px;
}

/* list Accounts*/
.nav {
  background-color: white;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
.nav div {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}


.indicator.online {
  background: #4BAE32;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;

}
.indicator.offline {
  background: #DBDADC;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;

}
.avatarOnline {
  background-color: #aaa;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 24px;
  margin: 0 0 0 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
}

.text{
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  text-align: left;
}

.text-2{
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-align: left;
}

.text-3{
  height: 20px;
  line-height: 24px;
  font-size: 8px;
  text-align: left;
}

.name{
  text-decoration: underline;
}


.indicator{
  height: 24px;
  line-height: 24px;
}

.profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}
.skillsmates-single-line{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.account-message-tab{
  cursor: pointer;
  /*height: 70px;*/
  padding: 10px;
}

.account-message-tab:hover{
  background-color: #F5F5F5;
}

.search-input{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid #16152D;
  border-left: 2px solid #16152D;
  border-bottom: 2px solid #16152D;
}

.search-icon{
  background-color: #FFFFFF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid #16152D;
  border-right: 2px solid #16152D;
  border-bottom: 2px solid #16152D;
}
