<div class="row" *ngIf="!isMobile()">
  <div class="col">
    <div class="accordion" id="accordionExample">

      <div class="card" style="background-color: #DADADA" *ngFor="let faq of faqs; index as i; trackBy:trackByFunc">
        <div class="card-header" role="tab" [ngClass]="faq.accordionClass" (click)="onClickAccordion(i, faq)">
          <h2 class="mb-0">
            <button class="btn btn-link faq-header" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{faq.question}}
            </button>
          </h2>
        </div>

        <div *ngIf="faq.showBody">
          <div class="card-body faq-body">
            {{faq.answer}}
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col skillsmates-box-padding ">
    <div class="skillsmates-stick-top">
      <div class="frequently-asked-questions">les questions les <br> plus récurrentes</div>
      <div><img src="{{'assistance-question-mark-people' | image}}" class="assistance-contact-us-img" alt="question mark people"></div>

      <app-return-button
        [account]="loggedAccount"
        [title]="buttonReturnTitle"
        (clickButton)="onclickReturnButton($event)"
        [loading]="loading">
      </app-return-button>

      <span class="text-center">
      <app-about></app-about>
    </span>
    </div>
  </div>
</div>

<div class="row" *ngIf="isMobile()">
  <div class="col-12 ">
    <div class="">
      <div class="frequently-asked-questions-mobile">les questions les <br> plus récurrentes</div>
      <div><img src="{{'assistance-question-mark-people' | image}}" class="assistance-contact-us-img" alt="question mark people"></div>
    </div>
  </div>
  <div class="col-12" style="margin-bottom: 50px;">
    <div class="accordion" id="accordionExampleMobile">

      <div class="card" style="background-color: #DADADA" *ngFor="let faq of faqs; index as i; trackBy:trackByFunc">
        <div class="card-header" role="tab" [ngClass]="faq.accordionClass" (click)="onClickAccordion(i, faq)">
          <h2 class="mb-0">
            <button class="btn btn-link faq-header" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{faq.question}}
            </button>
          </h2>
        </div>

        <div *ngIf="faq.showBody">
          <div class="card-body faq-body">
            {{faq.answer}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
