.frequently-asked-questions{
  color: #16152d;
  text-transform: capitalize;
  font-weight: bold;
  font-size: xx-large;
}

.frequently-asked-questions-mobile{
  color: #16152d;
  text-transform: capitalize;
  font-weight: bold;
  font-size: x-large;
}

.faq-header{
  font-size: large;
  font-weight: bold;
}

.faq-body{
  background-color: whitesmoke;
}
