<app-alert [alert]="alert"></app-alert>
<div class="row" style="padding: 0px 20px 20px 20px;">

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Type d'établissement</label>
      <select *ngIf="higherEducation.establishmentType !== undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentType, 'is-valid': higherEducation.establishmentType }"
              (change)="onChangeEstablishmentType($event)">
        <option disabled >Type d'établissement</option>
        <option [ngValue]="establishmentType" *ngFor="let establishmentType of establishmentTypesFiltered" [selected]="higherEducation.establishmentType.id === establishmentType.id">{{establishmentType.label}}</option>
      </select>
      <select *ngIf="higherEducation.establishmentType === undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentType, 'is-valid': higherEducation.establishmentType }"
              (change)="onChangeEstablishmentType($event)">
        <option disabled selected>Type d'établissement</option>
        <option [ngValue]="establishmentType" *ngFor="let establishmentType of establishmentTypesFiltered">{{establishmentType.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.establishmentType && !higherEducation.establishmentType">{{errors.establishmentType}}</small>
    </div>
  </div>

  <!--another establishment Type-->
  <div class="col-12" *ngIf="higherEducation.establishmentType">
    <div class="form-group" *ngIf="higherEducation.establishmentType.specified">
      <label class="skillsmates-label">Autres type d'établissements (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherEstablishmentType()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherEstablishmentType, 'is-valid': higherEducation.anotherEstablishmentType }"
             name="anotherEstablishmentType" placeholder="Autres établissements du Supérieur" [(ngModel)]="higherEducation.anotherEstablishmentType">
      <small class="text-danger" *ngIf="errors.anotherEstablishmentType && !higherEducation.anotherEstablishmentType">{{errors.anotherEstablishmentType}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Nom de l'établissement</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""  name="establishmentName"
             (keyup)="keyupEstablishmentName()" maxlength="255"
             [ngClass]="{ 'is-valid': higherEducation.establishmentName, 'is-invalid': submitted && errors.establishmentName }"
             placeholder="Nom de l'établissement" required="required"
             [(ngModel)]="higherEducation.establishmentName">
      <small class="text-danger" *ngIf="errors.establishmentName && !higherEducation.establishmentName">{{errors.establishmentName}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Ville</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""  name="city"
             (keyup)="keyupCity()" maxlength="255"
             [ngClass]="{ 'is-valid': higherEducation.city, 'is-invalid': submitted && errors.city }"
             placeholder="Ville" required="required"
             [(ngModel)]="higherEducation.city">
      <small class="text-danger" *ngIf="errors.city && !higherEducation.city">{{errors.city}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Niveau d'études</label>
      <select *ngIf="higherEducation.studyLevel !== undefined" class="form-control select"
              [ngClass]="{ 'is-valid': higherEducation.studyLevel, 'is-invalid': submitted && errors.studyLevel }"
              (change)="onChangeStudyLevel($event)">
        <option disabled >Niveau d'études</option>
        <option [ngValue]="studyLevel" *ngFor="let studyLevel of studyLevelsFiltered" [selected]="higherEducation.studyLevel.id === studyLevel.id">{{studyLevel.label}}</option>
      </select>
      <select *ngIf="higherEducation.studyLevel === undefined" class="form-control select"
              [ngClass]="{ 'is-valid': higherEducation.studyLevel, 'is-invalid': submitted && errors.studyLevel }"
              (change)="onChangeStudyLevel($event)">
        <option disabled selected>Niveau d'études</option>
        <option [ngValue]="studyLevel" *ngFor="let studyLevel of studyLevelsFiltered">{{studyLevel.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.studyLevel && !higherEducation.studyLevel">{{errors.studyLevel}}</small>
    </div>
  </div>

  <!--another study Level-->
  <div class="col-12" *ngIf="higherEducation.studyLevel">
    <div class="form-group" *ngIf="higherEducation.studyLevel.specified">
      <label class="skillsmates-label">Autres niveau d'études (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherStudyLevel()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherStudyLevel, 'is-valid': higherEducation.anotherStudyLevel }"
             name="anotherStudyLevel" placeholder="A préciser manuellement" [(ngModel)]="higherEducation.anotherStudyLevel">
      <small class="text-danger" *ngIf="errors.anotherStudyLevel && !higherEducation.anotherStudyLevel">{{errors.anotherStudyLevel}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Domaine d'étude</label>
      <select *ngIf="selectedTeachingAreaGroup !== undefined" class="form-control select"
              [ngClass]="{ 'is-valid': selectedTeachingAreaGroup, 'is-invalid': submitted && errors.teachingAreaGroup }"
              (change)="onChangeTeachingAreaGroup($event)">
        <option disabled >Domaine d'étude</option>
        <option [disabled]="teaching.disabled" [ngStyle]="{'font-weight':teaching.disabled ? 'bold' : 'normal' }" [ngValue]="teaching" *ngFor="let teaching of teachings" [selected]="selectedTeachingAreaGroup.id === teaching.id">{{teaching.label}}</option>
      </select>
      <select *ngIf="selectedTeachingAreaGroup === undefined" class="form-control select"
              [ngClass]="{ 'is-valid': selectedTeachingAreaGroup, 'is-invalid': submitted && errors.teachingAreaGroup }"
              (change)="onChangeTeachingAreaGroup($event)">
        <option disabled selected>Domaine d'étude</option>
        <option [disabled]="teaching.disabled" [ngStyle]="{'font-weight':teaching.disabled ? 'bold' : 'normal' }" [ngValue]="teaching" *ngFor="let teaching of teachings">{{teaching.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.teachingAreaGroup && !selectedTeachingAreaGroup">{{errors.teachingAreaGroup}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Discipline ou spécialité étudiée</label>
      <select *ngIf="higherEducation.teachingArea !== undefined" class="form-control select"
              [ngClass]="{ 'is-valid': higherEducation.teachingArea, 'is-invalid': submitted && errors.teachingArea }"
              (change)="onChangeTeachingArea($event)">
        <option disabled >Discipline ou spécialité étudiée</option>
        <option [ngValue]="teachingArea" *ngFor="let teachingArea of teachingAreasFiltered" [selected]="higherEducation.teachingArea.id === teachingArea.id">{{teachingArea.label}}</option>
      </select>
      <select *ngIf="higherEducation.teachingArea === undefined" class="form-control select"
              [ngClass]="{ 'is-valid': higherEducation.teachingArea, 'is-invalid': submitted && errors.teachingArea }"
              (change)="onChangeTeachingArea($event)">
        <option disabled selected>Discipline ou spécialité étudiée</option>
        <option [ngValue]="teachingArea" *ngFor="let teachingArea of teachingAreasFiltered">{{teachingArea.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.teachingArea && !higherEducation.teachingArea">{{errors.teachingArea}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Intitulé de la formation</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupSpeciality()" maxlength="255"
             [ngClass]="{ 'is-valid': higherEducation.specialty, 'is-invalid': submitted && errors.specialty }"
             name="city" placeholder="Intitulé de la formation"
             [(ngModel)]="higherEducation.specialty">
      <small class="text-danger" *ngIf="errors.specialty && !higherEducation.specialty">{{errors.specialty}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Diplome visé à la fin des études</label>
      <select *ngIf="higherEducation.targetedDiploma !== undefined" class="form-control select"
              [ngClass]="{ 'is-valid': higherEducation.targetedDiploma, 'is-invalid': submitted && errors.targetedDiploma }"
              (change)="onChangeTargetedDiploma($event)">
        <option disabled >Diplome visé à la fin des études</option>
        <option [ngValue]="diploma" *ngFor="let diploma of diplomasFiltered" [selected]="higherEducation.targetedDiploma.id === diploma.id">{{diploma.label}}</option>
      </select>
      <select *ngIf="higherEducation.targetedDiploma === undefined" class="form-control select"
              [ngClass]="{ 'is-valid': higherEducation.targetedDiploma, 'is-invalid': submitted && errors.targetedDiploma }"
              (change)="onChangeTargetedDiploma($event)">
        <option disabled selected>Diplome visé à la fin des études</option>
        <option [ngValue]="diploma" *ngFor="let diploma of diplomasFiltered">{{diploma.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.targetedDiploma && !higherEducation.targetedDiploma">{{errors.targetedDiploma}}</small>
    </div>
  </div>

  <!--another targeted Diploma-->
  <div class="col-12" *ngIf="higherEducation.targetedDiploma">
    <div class="form-group" *ngIf="higherEducation.targetedDiploma.specified">
      <label class="skillsmates-label">Autres diplôme (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherTargetedDiploma()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherTargetedDiploma, 'is-valid': higherEducation.anotherTargetedDiploma }"
             name="anotherTargetedDiploma" placeholder="A préciser manuellement" [(ngModel)]="higherEducation.anotherTargetedDiploma">
      <small class="text-danger" *ngIf="errors.anotherTargetedDiploma && !higherEducation.anotherTargetedDiploma">{{errors.anotherTargetedDiploma}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Description de la formation</label>
        <textarea cols="30" rows="4" [(ngModel)]="higherEducation.description" maxlength="255"
                  [ngClass]="{ 'is-invalid': submitted && errors.description, 'is-valid': higherEducation.description }"
                  name="description" class="form-control biography-area" placeholder="Décrivez votre formation, listez les principales matiéres et notions abordées ainsi que les débouchées de la formation."></textarea>
      <small class="text-info float-right" *ngIf="higherEducation.description">{{higherEducation.description.length}} / 255</small>
      <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
    </div>
  </div>

  <div class="col-12 text-center">
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSaveHigherEducation()">Enregistrer</button>
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
  </div>
</div>
