<div class="col skillsmates-container" *ngIf="!loading && !isMobile()">
  <div class="row">
    <div class="col text-center">
      <img style="vertical-align: baseline;" src="{{ 'settings' | image }}" height="20" alt="settings"/> &nbsp;
      <span class="title">paramètres</span>
    </div>
  </div>
  <div
    class="row bg-white skillsmates-box-shadow"
    *ngIf="!loading"
    style="padding-top: 10px; border-radius: 10px; background-color: white">
    <!--  Barre de navigation verticale-->
    <div class="col-3 m-b-3" style="margin: 0; padding: 0">
      <div class="roles-menu"
        [ngStyle]="{ 'border-right':'2px solid' +selectedSettingType.color +'; margin: 0; padding: 0; height: 100%;' }">
        <ul style="padding-top: 20px; padding-bottom: 20px">
          <li class="edit-account-tab tab-h" (click)="onClickTab(settingType)"
            *ngFor="let settingType of settingTypes"
              [ngStyle]="{ 'background-color': currentSettingType === settingType.type ? settingType.color: '#FFFFFF' }">
            <span class="staff-msg">
              <a class="btn return-button"
                [ngStyle]="{color: 'black','font-size': '50px','font-weight': currentSettingType === settingType.type ? 'bold' : 'normal' }">
                <div class="row">
                  <div class="col-12 text-left">
                    <h5 class="doctor-name text-left">
                      <img src="{{ settingType.picture }}" height="30" alt="arrow left"/>
                      {{ settingType.title }}
                    </h5>
                  </div>
                </div>
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9 m-b-9">
      <div class="roles-menu">
        <app-setting-content
          [selectedSettingType]="selectedSettingType"
        ></app-setting-content>
      </div>
    </div>
  </div>
</div>

<div class="col skillsmates-container-mobile" *ngIf="!loading && isMobile()">
  <div class="row">
    <div class="col-1 text-center" (click)="onClickBack()" *ngIf="displaySettingContent">
      <img src="{{ 'arrow-left' | image }}" height="30" alt="arrow left"/>
    </div>
    <div class="col text-center">
      <img style="vertical-align: baseline;" src="{{ 'settings' | image }}" height="20" alt="settings"/> &nbsp;
      <span class="title">paramètres</span>
    </div>
  </div>

  <div class="row bg-white skillsmates-box-shadow" *ngIf="!loading" style="padding-top: 10px; border-radius: 10px; background-color: white;">
    <!--  Barre de navigation verticale-->
    <div class="col-12" *ngIf="!displaySettingContent">
      <div class="roles-menu">
        <ul style="padding-top: 20px; padding-bottom: 20px">
          <li class="edit-account-tab tab-h" style="padding: 5px 0 5px 0;" (click)="onClickTab(settingType)" *ngFor="let settingType of settingTypes">
            <span class="staff-msg">
              <a class="btn return-button">
                <div class="row">
                  <div class="col-12 text-left">
                    <h5 class="doctor-name text-left">
                      <img src="{{ settingType.picture }}" height="30" alt="arrow left"/>
                      {{ settingType.title }}
                    </h5>
                  </div>
                </div>
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12" *ngIf="displaySettingContent">
      <div class="roles-menu">
        <app-setting-content
          [selectedSettingType]="selectedSettingType">
        </app-setting-content>
      </div>
    </div>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>
<app-footer></app-footer>
