<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto;">
    <div class="col-md-12 skillsmates-box-top">
      <img height="24" src="{{image | image}}" alt=""> &nbsp;
      <strong>{{label}}</strong>
      <span style="float: right; cursor: pointer;">
        <img height="18" src="{{'plus_circle' | image}}" alt=""> &nbsp;
      </span>
    </div>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #16162d; text-align: center;"></div>
  <div class="row bg-white" style="margin: 0;  border-radius: 0 0 10px 10px;">
    <div class="col-md-12">
      <ul style="list-style-type: none; padding: 0; display: inline-block;">
        <li style="display: inline-block;"><a >Liens de groupe de discussion 1</a></li>
        <li><a >Liens de groupe de discussion 2</a></li>
        <li><a >Liens de groupe de discussion 3</a></li>
        <li><a >Liens de groupe de discussion 4</a></li>
        <li><a >Liens de groupe de discussion 5</a></li>
      </ul>
    </div>
  </div>
</div>
