<app-alert [alert]="alert"></app-alert>
<div class="row" style="padding: 0px 20px 20px 20px;" *ngIf="!loading">

  <div class="col-12">
    <label class="skillsmates-label">Type d'établissement</label>
    <div class="form-group">
      <select *ngIf="secondaryEducation.establishmentType !== undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentType, 'is-valid': secondaryEducation.establishmentType }"
              (change)="onChangeEstablishmentType($event)">
        <option disabled >Type d'établissement</option>
        <option [ngValue]="establishmentType" *ngFor="let establishmentType of establishmentTypesFiltered" [selected]="secondaryEducation.establishmentType.id === establishmentType.id">{{establishmentType.label}}</option>
      </select>
      <select *ngIf="secondaryEducation.establishmentType === undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentType, 'is-valid': secondaryEducation.establishmentType }"
              (change)="onChangeEstablishmentType($event)">
        <option disabled selected>Type d'établissement</option>
        <option [ngValue]="establishmentType" *ngFor="let establishmentType of establishmentTypesFiltered">{{establishmentType.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.establishmentType && !secondaryEducation.establishmentType">{{errors.establishmentType}}</small>
    </div>
  </div>

  <!--another establishment Type-->
  <div class="col-12" *ngIf="secondaryEducation.establishmentType">
    <div class="form-group" *ngIf="secondaryEducation.establishmentType.specified">
      <label class="skillsmates-label">Autres type d'établissements (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherEstablishmentType()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherEstablishmentType, 'is-valid': secondaryEducation.anotherEstablishmentType }"
             name="anotherEstablishmentType" placeholder="Autres établissements du secondaire" [(ngModel)]="secondaryEducation.anotherEstablishmentType">
      <small class="text-danger" *ngIf="errors.anotherEstablishmentType && !secondaryEducation.anotherEstablishmentType">{{errors.anotherEstablishmentType}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Nom de l'établissement</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupEstablishmentName()" maxlength="255"
             [ngClass]="{ 'is-valid': secondaryEducation.establishmentName, 'is-invalid': submitted && errors.establishmentName }"
             name="establishmentName" placeholder="Nom de l'établissement" required="required"
             [(ngModel)]="secondaryEducation.establishmentName">
      <small class="text-danger" *ngIf="errors.establishmentName && !secondaryEducation.establishmentName">{{errors.establishmentName}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Ville</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupCity()" maxlength="255"
             [ngClass]="{ 'is-valid': secondaryEducation.city, 'is-invalid': submitted && errors.city }"
             name="city" placeholder="Ville"
             [(ngModel)]="secondaryEducation.city">
      <small class="text-danger" *ngIf="errors.city && !secondaryEducation.city">{{errors.city}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Classe fréquentée</label>
      <select *ngIf="secondaryEducation.studyLevel !== undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.studyLevel, 'is-valid': secondaryEducation.studyLevel }"
              (change)="onChangeFrequentedClass($event)">
        <option disabled >Classe fréquentée</option>
        <option [ngValue]="studyLevel" *ngFor="let studyLevel of studyLevelFiltered" [selected]="secondaryEducation.studyLevel.id === studyLevel.id">{{studyLevel.label}}</option>
      </select>
      <select *ngIf="secondaryEducation.studyLevel === undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.studyLevel, 'is-valid': secondaryEducation.studyLevel }"
              (change)="onChangeFrequentedClass($event)">
        <option disabled selected>Classe fréquentée</option>
        <option [ngValue]="studyLevel" *ngFor="let studyLevel of studyLevelFiltered">{{studyLevel.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.studyLevel && !secondaryEducation.studyLevel">{{errors.studyLevel}}</small>
    </div>
  </div>

  <!--another study Level-->
  <div class="col-12" *ngIf="secondaryEducation.studyLevel">
    <div class="form-group" *ngIf="secondaryEducation.studyLevel.specified">
      <label class="skillsmates-label">Autre classe fréquentée (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherStudyLevel()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherStudyLevel, 'is-valid': secondaryEducation.anotherStudyLevel }"
             name="anotherStudyLevel" placeholder="A préciser manuellement" [(ngModel)]="secondaryEducation.anotherStudyLevel">
      <small class="text-danger" *ngIf="errors.anotherStudyLevel && !secondaryEducation.anotherStudyLevel">{{errors.anotherStudyLevel}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Discipline ou spécialité étudiée</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupSpeciality()" maxlength="255"
             [ngClass]="{ 'is-valid': secondaryEducation.specialty, 'is-invalid': submitted && errors.specialty }"
             name="city" placeholder="Discipline ou spécialité étudiée"
             [(ngModel)]="secondaryEducation.specialty">
      <small class="text-danger" *ngIf="errors.specialty && !secondaryEducation.specialty">{{errors.specialty}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Diplome préparé</label>
      <select *ngIf="secondaryEducation.preparedDiploma !== undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.preparedDiploma, 'is-valid': secondaryEducation.preparedDiploma }"
              (change)="onChangePreparedDiploma($event)">
        <option disabled >Diplome préparé</option>
        <option [ngValue]="diploma" *ngFor="let diploma of diplomasFiltered" [selected]="secondaryEducation.preparedDiploma.id === diploma.id">{{diploma.label}}</option>
      </select>
      <select *ngIf="secondaryEducation.preparedDiploma === undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.preparedDiploma, 'is-valid': secondaryEducation.preparedDiploma }"
              (change)="onChangePreparedDiploma($event)">
        <option disabled selected>Diplome préparé</option>
        <option [ngValue]="diploma" *ngFor="let diploma of diplomasFiltered">{{diploma.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.preparedDiploma && !secondaryEducation.preparedDiploma">{{errors.preparedDiploma}}</small>
    </div>
  </div>

  <!--another prepared Diploma-->
  <div class="col-12" *ngIf="secondaryEducation.preparedDiploma">
    <div class="form-group" *ngIf="secondaryEducation.preparedDiploma.specified">
      <label class="skillsmates-label">Autres Diplôme (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherPreparedDiploma()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherPreparedDiploma, 'is-valid': secondaryEducation.anotherPreparedDiploma }"
             name="anotherPreparedDiploma" placeholder="A préciser manuellement" [(ngModel)]="secondaryEducation.anotherPreparedDiploma">
      <small class="text-danger" *ngIf="errors.anotherPreparedDiploma && !secondaryEducation.anotherPreparedDiploma">{{errors.anotherPreparedDiploma}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Description de la formation</label>
        <textarea cols="30" rows="4" [(ngModel)]="secondaryEducation.description" name="description" maxlength="{{maxDescriptionSize}}"
                  [ngClass]="{ 'is-invalid': submitted && errors.description, 'is-valid': secondaryEducation.description }"
                  class="form-control biography-area" placeholder="Décrivez votre formation, listez les principales matiéres et notions abordées ainsi que les débouchées de la formation."></textarea>
      <small class="text-info float-right" *ngIf="secondaryEducation.description">{{secondaryEducation.description.length}} / {{maxDescriptionSize}}</small>
      <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
    </div>
  </div>

  <div class="col-12 text-center">
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSaveSecondaryEducation()">Enregistrer</button>
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>
