<div class="skillsmates-box-shadow" *ngIf="!isMobile()">
  <div class="row bg-white" style="padding: 10px; margin: 0;">
    <div class="col-9" style="background-color: whitesmoke; border-radius: 20px; cursor: pointer;" (click)="open(modalAddPost)">
      <p style="padding-top: 10px;">{{loggedAccount.firstname}}, clique ici pour rédiger un statut.</p>
    </div>
    <div class="col-3 text-center">
      <p><strong>Interrogez la communauté</strong></p>
      <img class="" src="{{'forum' | image}}"  width="64" alt="forum">
    </div>
  </div>
  <div class="row bg-white" style="margin: auto;">
    <div class="col-12">
      <app-horizontal-line [height]="2" [color]="'#DADADA'"></app-horizontal-line>
    </div>
  </div>
  <div class="row bg-white" style="margin: auto; padding-top: 5px;">
    <div class="col-12">
      <img height="24" src="./assets/images/plus-colored.png" alt="Créer une publication"> &nbsp;
      <strong>Selectionner le type de contenu à publier</strong>
    </div>
  </div>
  <div class="row bg-white media-icon" *ngIf="infosMediaTypes && infosMediaTypes.length > 0">
    <div *ngFor="let m of infosMediaTypes">
      <app-mediatypepost
        [infosMediaType]="m" >
      </app-mediatypepost>
    </div>
  </div>
</div>

<div class="skillsmates-box-shadow" *ngIf="isMobile()">
  <div class="row bg-white" style="padding: 5px; margin: 0;">
    <div class="col-9" style="background-color: whitesmoke; border-radius: 20px; cursor: pointer;" (click)="open(modalAddPost)">
      <p style="padding-top: 5px;">{{loggedAccount.firstname}}, clique ici pour rédiger un statut</p>
    </div>
    <div class="col-3 text-center">
      <p style="font-size: x-small;"><strong>Interrogez la communauté</strong></p>
      <img class="" src="{{'forum' | image}}"  width="48" alt="forum">
    </div>
  </div>
  <div class="row bg-white" style="margin: auto;">
    <div class="col-12">
      <app-horizontal-line [height]="2" [color]="'#DADADA'"></app-horizontal-line>
    </div>
  </div>
  <div class="row bg-white" style="margin: auto; padding-top: 5px;">
    <div class="col-12">
      <img height="24" src="./assets/images/plus-colored.png" alt="Créer une publication"> &nbsp;
      <strong>Selectionner le type de contenu à publier</strong>
    </div>
  </div>
  <div class="row bg-white media-icon" *ngIf="infosMediaTypes && infosMediaTypes.length > 0">
    <div *ngFor="let m of infosMediaTypes">
      <app-mediatypepost
        [infosMediaType]="m"
        [position]="m.position" >
      </app-mediatypepost>
    </div>
  </div>
</div>

<!--Modal : publication-->
<ng-template #modalAddPost let-modal >
  <app-modal-add-post></app-modal-add-post>
</ng-template>
