.post-image{
  width: 48px;
  height: 48px;
  margin: 10px;
}

.horizontal-line{
  height: 2px;
  border-bottom: 2px solid #e9e8e7;
  text-align: center;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
}

.icon-upload{
  filter: invert(0);
  width: 36px;
  height: 36px;
  margin: 10px;
  cursor: pointer;
}

.media-icon{
  margin: auto;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;
}
