.new-professionnal-link{
  cursor: pointer;
}

.inst {
  background-color: #E9E9E9;
  border-radius: 50%;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}
