<app-alert [alert]="alert"></app-alert>
<app-info-text [text]="infoTextPro"></app-info-text>
<div class="row" *ngIf="!displayNewProfessionalBlock">
  <div class="col-12">
    <span *ngIf="loggedAccount.idServer === account.idServer" class="new-professionnal-link" style="font-size: 17px" (click)="onClickNewProfessionnal('mastered')">
      <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter un emploi</strong></button>
    </span>
    <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px">
      <em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Emplois</strong></span>
    <span style="float: right; cursor: pointer;">
      (<span style="color: red; font-weight: bold;" *ngIf="accountProfessional.professionals">{{accountProfessional.professionals.length}}</span>)
    </span>
  </div>
</div>
<div *ngIf="!displayNewProfessionalBlock && accountProfessional.professionals && accountProfessional.professionals.length > 0" style="margin-bottom: 20px;">
  <div *ngFor="let professional of accountProfessional.professionals" >
    <app-accountprofessionalcard
      [professional]="professional"
      [account]="account"
      (editProfessionalEvent)="onEditProfessionalEvent($event)"
      (newProfessionalEvent)="onRefreshEvent($event)">
    </app-accountprofessionalcard>
  </div>
</div>

<!--Ajouter un nouvel emploi-->
<div class="row" style="padding: 20px;" *ngIf="displayNewProfessionalBlock">
  <div class="col-12" style="padding-bottom: 20px;" >
    <b>Nouvel emploi</b>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Nom de l'entreprise ou de l'établissement</label>
      <input type="text" class="form-control" autocomplete="off" maxlength="255"
             (keyup)="keyupEstablishmentName()"
             autofocus=""  name="establishmentName" placeholder="Nom de l'entreprise ou de l'établissement"
             [ngClass]="{ 'is-invalid': submitted && errors.establishmentName, 'is-valid': professional.establishmentName }"
             required="required" [(ngModel)]="professional.establishmentName">
      <small class="text-danger" *ngIf="errors.establishmentName && !professional.establishmentName">{{errors.establishmentName}}</small>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Secteur d'activité</label>
      <select *ngIf="professional.activitySector !== undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.activitySector, 'is-valid': professional.activitySector }"
              (change)="onChangeActivitySector($event.target.value)">
        <option disabled>Secteur d'activité</option>
        <option [ngValue]="activitySector" *ngFor="let activitySector of accountProfessional.activitySectors" [selected]="activitySector.id===professional.activitySector.id">{{activitySector.label}}</option>
      </select>
      <select *ngIf="professional.activitySector === undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.activitySector, 'is-valid': professional.activitySector }"
              (change)="onChangeActivitySector($event.target.value)">
        <option disabled selected>Secteur d'activité</option>
        <option [ngValue]="activitySector" *ngFor="let activitySector of accountProfessional.activitySectors">{{activitySector.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.activitySector">{{errors.activitySector}}</small>
    </div>
  </div>
        <!--another information activity sector-->
  <div class="col-12" *ngIf="professional.activitySector">
    <div class="form-group" *ngIf="professional.activitySector.specified">
      <label class="skillsmates-label">Autre secteur d'activité (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherActivitySector()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherActivitySector, 'is-valid': professional.anotherActivitySector }"
             name="anotherActivitySector" placeholder="Autre secteur d'activité" [(ngModel)]="professional.anotherActivitySector">
      <small class="text-danger" *ngIf="errors.anotherActivitySector && !professional.anotherActivitySector">{{errors.anotherActivitySector}}</small>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Intitulé du poste occupé</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupJobTitle()"
             [ngClass]="{ 'is-invalid': submitted && errors.jobTitle, 'is-valid': professional.jobTitle }"
             name="jobTitle" placeholder="Intitulé du poste occupé" [(ngModel)]="professional.jobTitle">
      <small class="text-danger" *ngIf="errors.jobTitle && professional.jobTitle">{{errors.jobTitle}}</small>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Domaine d'activité ou discipline</label>
      <select *ngIf="professional.activityArea !== undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.activityArea, 'is-valid': professional.activityArea }"
              (change)="onChangeActivityArea($event.target.value)">
        <option disabled >Domaine d'activité ou discipline</option>
        <option [ngValue]="activityArea" *ngFor="let activityArea of accountProfessional.activityAreas" [selected]="professional.activityArea.id===activityArea.id">{{activityArea.label}}</option>
      </select>
      <select *ngIf="professional.activityArea === undefined" class="form-control select"
              [ngClass]="{ 'is-invalid': submitted && errors.activityArea, 'is-valid': professional.activityArea }"
              (change)="onChangeActivityArea($event.target.value)">
        <option disabled selected>Domaine d'activité ou discipline</option>
        <option [ngValue]="activityArea" *ngFor="let activityArea of accountProfessional.activityAreas">{{activityArea.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.activityArea">{{errors.activityArea}}</small>
    </div>
  </div>
  <!--another information activity area-->
  <div class="col-12" *ngIf="professional.activityArea">
    <div class="form-group" *ngIf="professional.activityArea.specified">
      <label class="skillsmates-label">Autre domaine d'activité ou discipline (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherActivityArea()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherActivityArea, 'is-valid': professional.anotherActivityArea }"
             name="anotherActivityArea" placeholder="Autre domaine d'activité ou discipline" [(ngModel)]="professional.anotherActivityArea">
      <small class="text-danger" *ngIf="errors.anotherActivityArea && !professional.anotherActivityArea">{{errors.anotherActivityArea}}</small>
    </div>
  </div>
  <div class="col-12 form-group">
    <label>
      <input type="checkbox" [(ngModel)]="currentPosition" [ngModelOptions]="{standalone: true}" [checked]="professional.currentPosition"> <span> Jusqu'à présent </span>
    </label>
  </div>

  <div class="col-1 form-group">
    <span *ngIf="currentPosition">Dépuis</span>
    <span *ngIf="!currentPosition">De</span>
  </div>

  <div class="col-5">
    <div class="form-group">
      <input type="text" id="date"
             placeholder="Date de debut" class="form-control"
             [ngClass]="{ 'is-valid': professional.startDate, 'is-invalid': submitted && errors.startDate }"
             name="startDate"  [(ngModel)]="professionalStartDate" required [(bsValue)]="professionalStartDate"
             bsDatepicker (ngModelChange)="selectStartDate()" value="{{ professionalStartDate | date:'dd/MM/yyyy' }}"
             [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY/MM/DD' }">
      <small class="text-danger" *ngIf="errors.startDate && !professional.startDate">{{errors.startDate}}</small>
    </div>
  </div>

  <div class="col-1 form-group" *ngIf="!currentPosition">
    <span>à</span>
  </div>

  <div class="col-5" *ngIf="!currentPosition">
    <div class="form-group">

      <input type="text" id="endDate"
             placeholder="Date de fin" class="form-control" [disabled]="disabledEndDate"
             [ngClass]="{ 'is-valid': professional.endDate, 'is-invalid': submitted && errors.endDate }"
             name="startDate"  [(ngModel)]="professionalEndDate" required [(bsValue)]="professionalEndDate"
             bsDatepicker (ngModelChange)="selectEndDate()" value="{{ professionalEndDate | date:'dd/MM/yyyy' }}"
             [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY/MM/DD' }">
      <small class="text-danger" *ngIf="errors.endDate && !professional.endDate">{{errors.endDate}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Ville</label>
      <input type="text" class="form-control" autocomplete="off" required maxlength="255"
             (keyup)="keyupCity()"
             [ngClass]="{ 'is-invalid': submitted && errors.city, 'is-valid': professional.city }"
             autofocus=""  name="city" placeholder="Ville" [(ngModel)]="professional.city">
      <small class="text-danger" *ngIf="errors.city && !professional.city">{{errors.city}}</small>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Description des tâches effectuées</label>
      <textarea cols="30" rows="4" [(ngModel)]="professional.description" name="description" maxlength="{{maxDescriptionSize}}"
                [ngClass]="{ 'is-invalid': submitted && errors.description, 'is-valid': professional.description }"
                class="form-control biography-area" placeholder="Description des tâches effectuées">
      </textarea>
      <small class="text-info float-right" *ngIf="professional.description">{{professional.description.length}} / {{maxDescriptionSize}}</small>
      <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
  </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary skillsmates-account-skills-button" (click)="onClickSave()" style="margin-right: 20px;">Enregistrer</button>
    <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
  </div>
  </div>

<ng-template #modalProfessional let-modal>

  <div>
    <div class="modal-header  align-items-center container" style="background-color:#DBDADC; height: 40px;" tag="h4">

      <h4 class="modal-title" id="modal-basic-title-document" style="color: black">Parcours professionnel</h4>

      <button type="button" class="close m-0 p-0" aria-label="Close" (click)="onClickDismissModal()">
        <span aria-hidden="true"><img width="18" height="18" src="{{'close' | image}}" class="m-r-5" alt=""></span>
      </button>
    </div>
    <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
    <div class="modal-body row">
      <div class="col">
        <div *ngFor="let professional of accountProfessional.professionals" >
          <app-accountprofessionalcard
            [account]="account"
            [professional]="professional"
            (editProfessionalEvent)="onEditProfessionalEvent($event)"
            (newProfessionalEvent)="onRefreshEvent($event)">
          </app-accountprofessionalcard>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-loading [loading]="loading"></app-loading>
