.skillsmates-post-image {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
}

.skillsmates-overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.svg-liked{
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
}
.svg:hover {
  filter: invert(10%);
  cursor: pointer;
}

.post-center{
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}

.widget-keyword {
  background: #009efb;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  margin: 5px;
}

.widget-keyword-wide {
  background: red;
  padding: 10px;
  margin: 10px;
}

.widget-social {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  font-size: small;
}

.widget-social:hover {
  background: whitesmoke;
  color: #16152d;
}

@media only screen and (max-width: 768px) {
  .widget-social {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    font-size: x-small;
  }
}
