<div class="bg-white skillsmates-box-shadow" *ngIf="postSocialInteractions && postSocialInteractions.post">
  <div style="padding: 5px 20px 5px 5px;">
    <app-post-header
      [account]="postSocialInteractions.post.account"
      [displayMenu]="isSharedPost"
      [isSimplePost]="true"
      [postSocialInteractions]="postSocialInteractions">
    </app-post-header>
  </div>
  <app-horizontal-line></app-horizontal-line>

  <app-multimedia-display
    style="padding: -20px;"
    *ngIf="post && post.multimedia && post.multimedia.length > 0"
    [width]="computeYoutubeVideoWidth()"
    [multimedia]="post.multimedia[0]">
  </app-multimedia-display>

  <br>
  <div style="padding: 20px;">
    <app-post-description
      [postSocialInteractions]="postSocialInteractions">
    </app-post-description>

    <hr *ngIf="!postSocialInteractions.shared">

    <div class="row" *ngIf="!postSocialInteractions.shared">
      <div class="col-12  skillsmates-single-line" style="text-align: right;">
        <span *ngIf="postSocialInteractions">
          <strong>{{countLikes(postSocialInteractions.socialInteractions)}}</strong> j'aime &nbsp;
          <strong>{{countComments(postSocialInteractions.socialInteractions)}}</strong> commentaires &nbsp;
          <strong>{{countShares(postSocialInteractions.socialInteractions)}}</strong> partages
        </span>
      </div>
<!--      <div class="col-4  skillsmates-single-line">-->
<!--        <span *ngIf="postSocialInteractions">{{countComments(postSocialInteractions.socialInteractions)}} commentaires</span>-->
<!--      </div>-->
<!--      <div class="col-4  skillsmates-single-line">-->
<!--        <span *ngIf="!shareLoading">{{countShares(postSocialInteractions.socialInteractions)}} partages</span>-->
<!--&lt;!&ndash;        <app-loading [width]="50" [loading]="shareLoading"></app-loading>&ndash;&gt;-->
<!--      </div>-->
    </div>

    <div class="row" *ngIf="!postSocialInteractions.shared">
      <div class="col-4 widget-social skillsmates-single-line text-center" (click)="onClickLike()">
        <span *ngIf="postSocialInteractions">
          <img width="22" height="22"
               src="{{hasLiked(postSocialInteractions.socialInteractions) ? './assets/images/liked.svg' : './assets/images/like.svg'}}"
               class="m-r-5 svg" alt="like"> J'aime
<!--          {{countLikes(postSocialInteractions.socialInteractions)}} likes-->
        </span>
      </div>
      <div class="col-4 widget-social skillsmates-single-line text-center" (click)="onClickComment()">
        <span *ngIf="postSocialInteractions">
          <img width="22" height="22"
               src="{{countComments(postSocialInteractions.socialInteractions) > 0 ? './assets/images/comment-active.svg' : './assets/images/comment-inactive.svg'}}"
               class="m-r-5 svg" alt="comment"> Commenter
<!--          {{countComments(postSocialInteractions.socialInteractions)}} commentaires-->
        </span>
      </div>
      <div class="col-4 widget-social skillsmates-single-line text-center" (click)="open_modal_publication(modalSharePost)">
        <span *ngIf="!shareLoading">
          <img width="22" height="22"
               src="{{hasShared(postSocialInteractions.socialInteractions) ? './assets/images/share-active.svg' : './assets/images/share-inactive.svg'}}"
               class="m-r-5 svg" alt="share"> Partager
<!--          {{countShares(postSocialInteractions.socialInteractions)}} partages-->
        </span>
        <app-loading [width]="50" [loading]="shareLoading"></app-loading>
      </div>
    </div>
  </div>

  <!--  <div style="width: 100%; height: 2px; border-bottom: 2px solid #ababab; text-align: center; padding-left: -20px;" *ngIf="!postSocialInteractions.shared"></div>-->

  <div class="row" style="padding: 10px 10px 0 10px;" *ngIf="!postSocialInteractions.shared && displayCommentBlock">
    <div class="col-12">
      <div *ngFor="let m of comments">
        <app-comment
          (removeCommentEvent)="removeCommentEvent($event)"
          [comment]="m">
        </app-comment>
      </div>
    </div>
    <div class="form-group col-10" *ngIf="loggedAccount">
            <textarea autosize [minRows]="1" Style="background: #F0F2F5" class="form-control" autocomplete="off"
                      autofocus="" name="title"
                      (keyup)="keyupComment($event)"
                      [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': typedComment }"
                      placeholder="Ajouter un commentaire ..." required="required" maxlength="{{maxCommentSize}}"
                      [(ngModel)]="typedComment">
            </textarea>
        <small class="text-danger" *ngIf="errors.body && !typedComment">{{errors.body}}</small>
      <small class="text-info float-right" *ngIf="typedComment">{{this.typedComment.length}} / {{this.maxCommentSize}}</small>
      </div>
    <div class="col-2" *ngIf="loggedAccount">
        <img *ngIf="!loading" width="28" height="28" src="{{'send-message' | image}}" class="m-r-5" alt="send-message"
             style="float: right; cursor: pointer; padding-top: 5px;" (click)="onClickPublishComment()">
        <app-loading [width]="48" [loading]="loading"></app-loading>
      </div>
  </div>
</div>

<!--Modal pour partager un post-->
<ng-template #modalSharePost let-modal>
  <app-modal-share-post
    (newPostEvent)="refresh()"
    [postSocialInteractions]="postSocialInteractions">
  </app-modal-share-post>
</ng-template>

<div id="delete_post" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{'symbole-skills-mates' | image}}" alt="" width="50" height="46">
        <h3>Voulez-vous supprimer cette publication ?</h3>
        <div class="m-t-20"><a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onClickConfirmDelete()">OUI
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

