<div class="text-center" style="border-radius: 20px; background-color: #e9e8e7; margin-bottom: 20px; margin-top: 20px;">
  <div class="row">
    <div class="col-12">
      <a [routerLink]="[routes.get('profile'), account.idServer]"><img src="{{account | avatarUrl}}" class="post-image" alt=""></a>
    </div>
  </div>
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-12 text-center">
      <p class="skillsmates-single-line" style="color: #16152D">{{account.firstname}} {{account.lastname}}</p>
      <button *ngIf="!loading" type="button" class="btn btn-secondary btn-sm button-subscribe" (click)="onClickFollow(account)">S'abonner</button>
      <app-loading [width]="28" [loading]="loading"></app-loading>
    </div>
  </div>
</div>

