
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.sm-border-radius{
  border-radius: 6px;
}

.text{
  font-weight: bold;
  font-size: 1em;
  color: black;
}

.btn-register{
  width:100%;
  color: white;
  background-color: #0D8235;
  font-size: 1.2em;
  font-weight: bold;
}
.skillsmates-overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
