<div class="col-12 skillsmates-container" *ngIf="!isMobile()">
  <!--  Entete-->
  <div class="row">
    <div class="header">
      <div class="row" style="margin: 0 20px 0 20px; height: 100%">
        <div class="col nopadding">
          <a [routerLink]="[routes.get('dashboard')]" class="logo">
            <img src="{{'symbole-skills-mates' | image}}" height="35" alt="" style="border-radius: 1px;">
            <span id="skillsmates" class="skillsmates-single-line" style="font-weight: bolder; color: #16152D;">Skills Mates</span>
          </a>
        </div>
        <div class="col nopadding" style="height: 100%;display: flex; align-items: center;justify-content: center;">
          <div class="row" *ngIf="!loggedAccount">
            <button class="btn btn-primary sm-border-radius" (click)="onClickLogin()"
                    style="color: white; background-color: #16162D; width: auto; margin: 3px; font-size: 1.2em">
              Connectez-vous
            </button>
            <button class="btn btn-primary sm-border-radius" (click)="onClickRegister()"
                    style="color: white; background-color: #0D8235; width: auto;margin: 3px; font-size: 1.2em">
              Inscrivez-vous
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-1"></div>
      <div class="col-10" style="margin-top: 90px">
        <app-accountprofilecard
          [accountId]="profileId"
          [isEdit]="false">
        </app-accountprofilecard>
      </div>
      <div class="col-1"></div>
  </div>
  <div class="row">
      <div class="col-3 skillsmates-box-padding">
        <app-accountcurriculum
          [content]="'skills'"
          [accountId]="profileId"
          [account]="account">
        </app-accountcurriculum>
        <app-accountcurriculum
          [content]="'academics'"
          [accountId]="profileId"
          [account]="account">
        </app-accountcurriculum>
        <app-accountcurriculum
          [content]="'professional'"
          [accountId]="profileId"
          [account]="account">
        </app-accountcurriculum>
        <div class="skillsmates-stick-top">
          <app-accountbiography
            [content]="'biography'"
            [account]="account">
          </app-accountbiography>
          <app-about></app-about>
        </div>
      </div>

      <div class="col-6 skillsmates-box-padding">
        <div class="">
          <app-createpost
            *ngIf="loggedAccount && loggedAccount.idServer === profileId">
          </app-createpost>
          <app-accountpost
            [account]="account"
            [isOnDashboard]="false"
            [isOnProfileView]="true"
            [accountId]="profileId">
          </app-accountpost>
        </div>
      </div>

      <div class="col-3 skillsmates-box-padding">
        <app-accountmediatype [account]="account"
                              [isOnProfileView]="true"
                              [accountId]="profileId"></app-accountmediatype>
        <div class="skillsmates-stick-top">
          <app-account-interests [account]="account"></app-account-interests>
        </div>
      </div>
    </div>

</div>


<div class="col-12 skillsmates-container-mobile" *ngIf="isMobile()" style="margin-top: -40px;">
  <!--  Entete-->
  <div class="row">
    <div class="header">
      <div class="row" style="margin: 0 20px 0 20px; height: 100%">
        <div class="col nopadding">
          <a [routerLink]="[routes.get('dashboard')]" class="logo">
            <img src="{{'symbole-skills-mates' | image}}" height="35" alt="" style="border-radius: 1px;">
            <span id="skillsmates-mobile" class="skillsmates-single-line" style="font-weight: bolder; color: #16152D;">Skills Mates</span>
          </a>
        </div>
        <div class="col nopadding" style="height: 100%;display: flex; align-items: center;justify-content: center;">
          <div class="row" *ngIf="!loggedAccount">
            <button class="btn btn-primary sm-border-radius" (click)="onClickLogin()" style="color: white; background-color: #16162D; width: auto; margin: 3px; font-size: xx-small">
              Connectez-vous
            </button>
            <button class="btn btn-primary sm-border-radius" (click)="onClickRegister()" style="color: white; background-color: #0D8235; width: auto;margin: 3px; font-size: xx-small">
              Inscrivez-vous
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="margin-top: 90px">
      <app-accountprofilecard
        [accountId]="profileId"
        [isEdit]="false">
      </app-accountprofilecard>
    </div>
    <div class="col-12 no-margin-padding">
      <app-selection-tab [tab]="posts" [account]="account" [isOnProfileView]="true"></app-selection-tab>
      <div class="row bg-white media-icon" *ngIf="infosMediaTypes && infosMediaTypes.length > 0 && tab === documents">
        <div *ngFor="let m of infosMediaTypes" [style.border-bottom]="'2px solid #16152D'">
          <app-mediatypepost
            [infosMediaType]="m" >
          </app-mediatypepost>
        </div>
      </div>
      <app-accountpost
        *ngIf="tab === posts"
        [account]="account"
        [isOnProfileView]="true"
        [accountId]="profileId"
        [isOnDashboard]="false">
      </app-accountpost>
    </div>
  </div>
<!--  <div class="row">
    <div class="col-3 skillsmates-box-padding">
     &lt;!&ndash; <app-accountcurriculum
        [content]="'skills'"
        [accountId]="profileId"
        [account]="account">
      </app-accountcurriculum>
      <app-accountcurriculum
        [content]="'academics'"
        [accountId]="profileId"
        [account]="account">
      </app-accountcurriculum>
      <app-accountcurriculum
        [content]="'professional'"
        [accountId]="profileId"
        [account]="account">
      </app-accountcurriculum>&ndash;&gt;
      <div class="skillsmates-stick-top">
        <app-accountbiography
          [content]="'biography'"
          [account]="account">
        </app-accountbiography>
        <app-about></app-about>
      </div>
    </div>

    <div class="col-6 skillsmates-box-padding">
      <div class="">
        <app-createpost
          *ngIf="loggedAccount && loggedAccount.idServer === profileId">
        </app-createpost>
        <app-accountpost
          [account]="account"
          [isOnDashboard]="false"
          [isOnProfileView]="true"
          [accountId]="profileId">
        </app-accountpost>
      </div>
    </div>

    <div class="col-3 skillsmates-box-padding">
      <app-accountmediatype [account]="account"
                            [isOnProfileView]="true"
                            [accountId]="profileId"></app-accountmediatype>
      <div class="skillsmates-stick-top">
        <app-account-interests [account]="account"></app-account-interests>
      </div>
    </div>
  </div>-->
</div>
<app-loading [loading]="loading"></app-loading>

<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0">
  <button class="btn"><em class="fa fa-arrow-up"></em></button>
</div>
