<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto; cursor: pointer;">
    <div [routerLink]="[routes.get('profile.edit.my')]" (click)="onClickMore(content)" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer" class="col-md-12 skillsmates-box-top">
      <strong>{{title}}</strong>
<!--      <span style="float: right; cursor: pointer;">-->
<!--        <a [routerLink]="[routes.get('profile.edit.my')]" (click)="onClickMore(content)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
    <div [routerLink]="[routes.get('profile.view'), account.idServer]" (click)="onClickMore(content)" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer" class="col-md-12 skillsmates-box-top">
      <strong>{{title}}</strong>
<!--      <span style="float: right; cursor: pointer;">-->
<!--        <a [routerLink]="[routes.get('profile.view'), account.idServer]" (click)="onClickMore(content)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
    <div *ngIf="!loggedAccount" class="col-md-12 skillsmates-box-top">
      <strong>{{title}}</strong>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" style="padding: 10px;  margin: 0;  border-radius: 0 0 10px 10px;">
    <div class="col-md-12 biography-text"
         [innerHTML]="truncateBiography()">
    </div>
    <app-loading [loading]="loading"></app-loading>
  </div>
</div>


