<div class="skillsmates-box-shadow">
  <div>
    <div class="row" style="margin: auto;">
      <div class="col-md-12 skillsmates-box-top">
        <img height="24" src="{{'follow-black' | image}}" alt="follow-black"> &nbsp;
        <strong>Ces profils vous intérèssent-ils ?</strong>
        <span style="float: right;"><a [routerLink]="[routes.get('network.my')]" style="color: #16162d;" (click)="onClick(1)">voir plus</a></span>
      </div>
    </div>
    <app-horizontal-line></app-horizontal-line>
  </div>
  <div class="row bg-white scrolling-wrapper" style="margin: 0;  border-radius: 0 0 10px 10px;">
    <carousel style="height: 310px; z-index: -0;">
      <div class="carousel-cell col-6 col-sm-6 col-md-4 col-lg-3" style="padding: 3px;" *ngFor="let accountSocialInteractions of accountsSocialInteractions">
        <app-accountprofile style="text-align: left;"
                            [accountSocialInteractions]="accountSocialInteractions"
                            [showFollowButton]="true"
                            [loading]="false">
        </app-accountprofile>
      </div>
    </carousel>
<!--    <div class="col-7 col-sm-6 col-md-5 card" *ngFor="let accountSocialInteractions of accountsSocialInteractions" style="padding-left: 5px; padding-right: 5px;">-->
<!--      <app-accountprofile style="text-align: left;"-->
<!--        [accountSocialInteractions]="accountSocialInteractions"-->
<!--        [showFollowButton]="true"-->
<!--        [loading]="false">-->
<!--      </app-accountprofile>-->
<!--    </div>-->
  </div>
</div>
