<div class="skillsmates-box-shadow" *ngIf="viewPostOffline">
  <div class="row" style="margin: auto; cursor: pointer;" [routerLink]="[routes.get('profile'), viewPostOffline.account.idServer]">
    <div class="col-12 skillsmates-box-top" >
      <strong *ngIf="!viewPostOffline.account.status">Profil</strong>
      <span *ngIf="viewPostOffline.account.status" class="title">
        <img width="18" height="18" src="{{viewPostOffline.account | professionIcon}}" class="m-r-5" alt="">
      </span>
<!--      <span style="float: right;">-->
<!--        <a [routerLink]="[routes.get('profile'), viewPostOffline.account.idServer]"-->
<!--           style="color: #16162d;">voir plus</a>-->
<!--      </span>-->
    </div>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #FFFFFF; text-align: center;"></div>
  <div class="row bg-white" style="margin: 0;">
    <div class="col-12">
      <div class="profile-img" style="margin: auto; padding-bottom: 0">
        <a [routerLink]="[routes.get('profile'), viewPostOffline.account.idServer]">
          <img class="avatar" src="{{viewPostOffline.account | avatarUrl}}" alt=""
               style="border: white solid 2px; margin-top: -10px; z-index: 99;">
        </a>
      </div>
    </div>
  </div>

  <div class="row bg-white" style="margin: 0; border-radius: 0 0 10px 10px;">
    <div class="col-12">
      <ul class="personal-info">
        <li>
          <span class="title"><img width="18" height="18" src="{{'user' | image}}" class="m-r-5" alt=""></span>
          <span class="text"><strong>{{name(viewPostOffline.account)}}</strong></span>
        </li>
        <li *ngIf="viewPostOffline.account.currentJobTitle">
          <span class="title"><img width="18" height="18" src="{{viewPostOffline.account | jobIcon}}" class="m-r-5" alt=""></span>
          <span class="text">{{viewPostOffline.account.currentJobTitle}}</span>
        </li>
        <li *ngIf="viewPostOffline.account.currentEstablishmentName">
          <span class="title"><img width="18" height="18" src="{{getEstablishmentIcon() | image}}" class="m-r-5" alt=""></span>
          <span class="text">{{viewPostOffline.account.currentEstablishmentName}}</span>
        </li>
        <li *ngIf="viewPostOffline.account.city || viewPostOffline.account.country">
          <span class="title"><img width="18" height="18" src="{{'location' | image}}" class="m-r-5" alt=""></span>
          <span class="text"> <span *ngIf="viewPostOffline.account.city">{{viewPostOffline.account.city}}</span> <span
            *ngIf="viewPostOffline.account.country"> - {{viewPostOffline.account.country | countryName}}</span></span>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <app-horizontal-line [color]="'#DADADA'"></app-horizontal-line>
    </div>
    <div class="col-12 text-center">
      <ul class="personal-info">
        <li>
          <span class="title"><img width="18" height="18" src="{{'publications' | image}}" class="m-r-5" alt=""></span>
          <span class="text float-left"><strong>{{viewPostOffline.posts}}</strong>Publications</span>
        </li><br>
        <li>
          <span class="title"><img width="18" height="18" src="{{'followers-black'| image}}" class="m-r-5"
                                   alt=""></span>
          <span class="text float-left"><strong>{{viewPostOffline.followers}}</strong>Abonnés</span>
        </li><br>
        <li>
          <span class="title"><img width="18" height="18" src="{{'following-black' | image}}" class="m-r-5"
                                   alt=""></span>
          <span class="text float-left"><strong>{{viewPostOffline.followees}}</strong>Abonnements</span>
        </li>
      </ul>

    </div>
  </div>
</div>
