<div class="skillsmates-container" *ngIf="!isMobile()">
  <div class="">
    <div class="topnav-dropdown-header">
      <span><strong>Toutes les notifications</strong></span>
    </div>
    <div class="">
      <ul class="notification-list">
        <li class="notification-message" *ngFor="let notification of allNotifications" style="margin: 10px;">
          <app-notification-detail [notification]="notification"></app-notification-detail>
          <hr>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" *ngIf="allNotifications && allNotifications.length <= 0">
    <div class="col-sm-12" style="padding-bottom: 20px;">
      <div class="see-all">
        <a class="see-all-btn">Aucune notification</a>
      </div>
    </div>
  </div>
</div>
<div class="skillsmates-container-mobile" *ngIf="isMobile()">
  <div class="topnav-dropdown-header">
    <span><strong>Toutes les notifications</strong></span>
  </div>
  <div class="">
    <ul class="notification-list">
      <li class="notification-message" *ngFor="let notification of allNotifications" style="margin: 2px;">
        <app-notification-detail [notification]="notification"></app-notification-detail>
        <hr>
      </li>
    </ul>
  </div>

  <div class="row" *ngIf="allNotifications && allNotifications.length <= 0">
    <div class="col-sm-12" style="padding-bottom: 20px;">
      <div class="see-all">
        <a class="see-all-btn">Aucune notification</a>
      </div>
    </div>
  </div>
</div>
