<div style="margin: 10px 15px 10px 15px">
  <div class="col-12">
    <div class="row box_header">
      <div class="col-3" style="margin-bottom: 7px;margin-top: 7px">
        <img src="{{'create-post' | image}}" alt="" class="search-person-document"/>
      </div>
      <div class="col-9" style="color: black; font-weight: bold">
        <span class="align-middle">Tous les fichiers</span>
      </div>
    </div>
  </div>

  <div style="margin-left: 10px">
    <div *ngFor="let m of infosMediaTypes" class="row box" (click)="onClickSearch(m)" >
        <div class="col-3">
            <img [src]="m.picture" class="search-person-document" alt="">
        </div>
        <div class="col-9" style="color: black; font-weight: bold">
          <span class="align-middle">{{m.title}}</span>
        </div>
      </div>
  </div>
</div>

