.box_header {
  /*margin: 5px -15px 15px -15px ;*/
  cursor: pointer;
  background: #EDECED;
  border-radius: 10px ;
}
.search-person-document{
  width: 35px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-post-image{
  border-radius: 6px;
  margin: 5px;
}
.box {
/*  margin: 5px -15px 15px -15px ;*/
  cursor: pointer;
}
