<div class="row skillsmates-container" *ngIf="!loading && !isMobile()">
  <div class="col-12">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <app-accountprofilecard
          [accountId]="account.idServer"
          [isEdit]="false">
        </app-accountprofilecard>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-3 skillsmates-box-padding">
        <app-accountcurriculum
          [content]="'skills'"
          [account]="account">
        </app-accountcurriculum>
        <app-accountcurriculum
          [content]="'academics'"
          [account]="account">
        </app-accountcurriculum>
        <app-accountcurriculum
          [content]="'professional'"
          [account]="account">
        </app-accountcurriculum>
        <div class="skillsmates-stick-top">
          <app-accountbiography
            [content]="'biography'"
            [account]="account">
          </app-accountbiography>
          <app-about></app-about>
        </div>
      </div>

      <div class="col-6 skillsmates-box-padding">
        <div class="">
          <app-createpost
            *ngIf="loggedAccount.idServer === account.idServer">
          </app-createpost>
          <app-accountpost
            [account]="account"
            [isOnDashboard]="false">
          </app-accountpost>
        </div>
      </div>

      <div class="col-3 skillsmates-box-padding">
        <app-accountmediatype [account]="account"></app-accountmediatype>
<!--        <div class="skillsmates-stick-top">-->
<!--          <app-account-interests [account]="account"></app-account-interests>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>

<div class="row skillsmates-container-mobile" *ngIf="!loading && isMobile()" style="padding-top: -20px;">
  <div class="col-12">
    <app-accountprofilecard
      [accountId]="account.idServer"
      [isEdit]="false">
    </app-accountprofilecard>
  </div>
  <div class="col-12 no-margin-padding">
    <app-selection-tab [tab]="posts" [account]="account"></app-selection-tab>
    <div class="row bg-white media-icon" *ngIf="infosMediaTypes && infosMediaTypes.length > 0 && tab === documents">
      <div *ngFor="let m of infosMediaTypes" [style.border-bottom]="'2px solid #16152D'">
        <app-mediatypepost
          [infosMediaType]="m" >
        </app-mediatypepost>
      </div>
    </div>
    <app-accountpost
      *ngIf="tab === posts"
      [account]="account"
      [isOnDashboard]="false">
    </app-accountpost>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>

<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0">
  <button class="btn"><em class="fa fa-arrow-up"></em></button>
</div>
