.table-account{
  padding:.3rem
}

.biography-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.scroll-to-top{
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn {
  background-color: #16152d;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.new-academics-link{
  cursor: pointer;
}
.roles-menu-h {
  margin-top: 0;
}
.roles-menu-h > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.roles-menu-h > ul > li {
  display: inline-block;
  float: left;
  padding: 10px;
  max-width: 150px;
  border-radius: 10px;
}
.roles-menu-h > ul > li:hover{
  font-weight: bolder;
}
.roles-menu-h > ul > li > a {
  color: #333;
  display: block;
  text-decoration: none;
}

.lien-style-h{
  align-items: center;
  height: 60px;
}

.tab-h{
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.tab-v{
  color: #16152D;
}

.tab-active-v{
  color: white;
}

.tab-selected{
  background-color: #DADADA;
  color: #16152D;
  font-weight: bolder;
}

.media-icon{
  margin: auto;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;
}
