<div class="search-results no-margin-padding"
    #scrollFrame
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    <div *ngFor="let postSocialInteractions of postsSocialInteractions" #item>
      <app-shared-post
        *ngIf="postSocialInteractions.shared"
        [postSocialInteractions]="postSocialInteractions">
      </app-shared-post>
      <app-post
        *ngIf="!postSocialInteractions.shared"
        [postSocialInteractions]="postSocialInteractions"
        (newPostEvent)="onRefreshEvent($event)">
      </app-post>
    </div>
  </div>
<!-- sinner -->
<div class="row pb-5">
  <div class="col-md-12 p-5">
    <ngx-spinner
      bdOpacity = 0.9
      bdColor = ""
      size = "default"
      color = "#581f87"
      type = "ball-pulse-sync"
      [fullScreen] = "false">
    </ngx-spinner>
  </div>
</div>
