<div class="row">
  <div class="block" style="position: relative">
      <span class="user-img">
          <img class="rounded-circle" src="{{notification.emitterAccount | avatarUrl}}" style="background-color: whitesmoke;" width="42" alt="{{notification.emitterAccount.lastname}}">
      </span>
  </div>

  <div class="block" style="margin-left: 10px; position: relative">
    <div>
      <label class="text-0">{{notification.emitterAccount.firstname}} {{notification.emitterAccount.lastname}}</label>
      <label class="text-1">{{notification.createdAt|date:"hh:mm dd/MM/yyyy"}}</label>
    </div>
    <div >
      <label>{{generateTitle(notification)| truncate:30}} &nbsp; : &nbsp;</label>
      <em *ngIf="notification.type !== 'FOLLOWER' && notification.type !== 'FAVORITE'"><strong>{{notification.title}}</strong></em>
    </div>
  </div>

  <!--<div class="block" style="margin-left: 10px; position: relative">
    <div class="indicator" *ngIf="notification.active">
      <span class="indicator offline" ></span>
    </div>
  </div>-->
</div>

