<!--Modal : share post-->
<div>
  <div class="modal-header  align-items-center container" style="background-color:#DBDADC; height: 40px;" tag="h4">
    <h4 class="modal-title" id="modal-basic-title-document" style="color: black">Partager une publication</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClickDismissModal()">
      <span aria-hidden="true">
        <img width="18" height="18" src="{{'close' | image}}" class="m-r-5" alt="">
      </span>
    </button>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
  <div class="modal-body row">

    <div class="col-12 form-group">
      <label class="skillsmates-label">Message de partage</label>
      <textarea cols="" rows="2" name="content" maxlength="2000" class="form-control biography-area"
                [(ngModel)]="content"
                [ngClass]="{ 'is-invalid': submitted && errors.content, 'is-valid': content }"
                placeholder="Entrez un message de partage">
        </textarea>
      <small class="text-danger" *ngIf="errors.content && !content">{{errors.content}}</small>
    </div>

  </div>
  <div class="modal-body row">

    <div class="bg-white skillsmates-box-shadow">
      <div style="padding: 20px;">

        <app-post-header
          [displayMenu]="false"
          [account]="postSocialInteractions.post.account"
          [postSocialInteractions]="postSocialInteractions">
        </app-post-header>

        <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>

        <app-multimedia-display
          [width]="computeYoutubeVideoWidth()"
          [multimedia]="post.multimedia[0]">
        </app-multimedia-display>

        <br>

        <app-post-description
          [postSocialInteractions]="postSocialInteractions">
        </app-post-description>

      </div>

    </div>

  </div>

  <div class="modal-footer" style="text-align: center">
    <button *ngIf="!loading" type="button" style="background-color: #DBDADC ; color: black; height: 36px; " class="btn btn-outline-light btn-lg btn-block" (click)="onClickShare()"><h5>Partager</h5></button>
  </div>
  <div style="padding-bottom: 10px; width: 90%; margin: auto;">
    <app-loading [loading]="loading"></app-loading>
    <app-progres-bar-horizontal [loading]="loading"></app-progres-bar-horizontal>
  </div>
</div>
