<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto; cursor: pointer;">
    <div [routerLink]="[routes.get('profile.edit.my')]" (click)="onClickMore(content)" *ngIf="loggedAccount && loggedAccount.idServer === account.idServer" class="col skillsmates-box-top">
      <strong>{{title}}</strong> ({{nb}})
<!--      <span style="float: right; cursor: pointer;">-->
<!--        <a [routerLink]="[routes.get('profile.edit.my')]" (click)="onClickMore(content)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
    <div [routerLink]="[routes.get('profile.view'), account.idServer]" (click)="onClickMore(content)" *ngIf="loggedAccount && loggedAccount.idServer !== account.idServer" class="col skillsmates-box-top">
      <strong>{{title}}</strong> ({{nb}})
<!--      <span style="float: right; cursor: pointer;">-->
<!--        <a [routerLink]="[routes.get('profile.view'), account.idServer]" (click)="onClickMore(content)">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
    <div *ngIf="!loggedAccount" class="col-md-12 skillsmates-box-top">
      <strong>{{title}}</strong>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" style="padding: 0; margin: 0;  border-radius: 0 0 10px 10px;">
    <div class="col-md-12" style="padding: 0; margin: 0;">
      <div class="row" *ngFor="let c of cursusDisplays" style="padding: 10px;">
        <div class="col-2">
          <img width="30" height="30" src="./assets/images/{{c.icon}}" class="m-r-5" alt="">
        </div>
        <div class="col-10">
          <div class="skillsmates-single-line"><strong>{{c.label}}</strong></div>
          <div class="skillsmates-single-line" style="font-size: small;"><em>{{c.sub}}</em></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading [loading]="loading"></app-loading>
