<div style="margin: 0 30px 0 30px">
  <div class="col-12">
    <h2 class="modal-title" id="modal-basic-title" style="color: black; margin-top: 30px ; margin-left: -15px">Créer</h2>
    <div class="row box_header" (click)="open_modal_publication(modalAddPost)">
      <div class="col-2" style="margin-bottom: 7px;margin-top: 7px">
        <img src="{{'create-post' | image}}" alt="" class="publication-image-document"/>
      </div>
      <div>
        <div style="color: black ; margin-top: 7px"><h4>Publication</h4></div>
        <div style="font-size: 12px ; margin-bottom: 7px">Exprimez-vous ou interrogez votre communauté</div>
      </div>
    </div>
  </div>

  <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
  <div class="modal-body">
    <div *ngFor="let m of infosMediaTypes"  class="row box" (click)="onClickEditPost(m)">
      <div class="col-2">
        <span [style.background-color]="m.color" class="div-post-image" style="display: inline-block;">
          <img [src]="m.picture"  class="publication-image-document" alt="" style="filter: invert()">
        </span>
      </div>
      <div class="col-10">
        <div style="color: black "><h4>{{m.title}}</h4></div>
        <div style="font-size: 12px">{{m.description}}</div>
      </div>
    </div>
  </div>

</div>

<!--Modal pour charger un media-->
<ng-template #modalAddMediaPost let-modal >
  <app-modal-share-post
    [infosMediaType]="mediaTypeSelected"
    [position]="mediaTypeSelected.position">
  </app-modal-share-post>
</ng-template>

<!--modal pour creer la publication-->
<ng-template #modalAddPost let-modal >
  <!--Modal : publication-->
  <app-modal-add-post></app-modal-add-post>
</ng-template>
