<div class="bg-white skillsmates-box-shadow">
  <div style="padding: 5px;">
    <app-post-header
      [account]="postSocialInteractions.shareSocialInteraction.emitterAccount"
      [displayMenu]="postSocialInteractions.shared"
      [postSocialInteractions]="postSocialInteractions">
    </app-post-header>

<!--    <app-horizontal-line [color]="'#DADADA'"></app-horizontal-line>-->

    <p *ngIf="postSocialInteractions.shareSocialInteraction" style="padding-top: 10px;">
      {{postSocialInteractions.shareSocialInteraction.content}}
    </p>

    <div style="margin-left: 5px; margin-right: 5px; box-shadow: 0 0 5px 5px lightgray; border-radius: 5px;">
      <app-post
        *ngIf="postSocialInteractions"
        [postSocialInteractions]="postSocialInteractions">
      </app-post>
    </div>

    <hr>

    <div class="row">
      <div class="col-4 widget-social" (click)="onClickLike()">
        <span *ngIf="postSocialInteractions">
          <img width="22" height="22" src="{{hasLiked(postSocialInteractions.socialInteractions) ? './assets/images/liked.svg' : './assets/images/like.svg'}}" class="m-r-5 svg" alt="like" >
          {{countLikes(postSocialInteractions.socialInteractions)}} likes
        </span>
      </div>
      <div class="col-4 widget-social" (click)="onClickComment()">
        <span *ngIf="postSocialInteractions">
          <img width="22" height="22" src="{{countComments(postSocialInteractions.socialInteractions) > 0 ? './assets/images/comment-active.svg' : './assets/images/comment-inactive.svg'}}" class="m-r-5 svg" alt="comment" >
          {{countComments(postSocialInteractions.socialInteractions)}} commentaires
        </span>
      </div>
      <div class="col-4 widget-social" (click)="open_modal_publication(modalSharePost)">
        <span>
          <img width="22" height="22" src="{{countShares(postSocialInteractions.socialInteractions) > 0 ? './assets/images/share-active.svg' : './assets/images/share-inactive.svg'}}" class="m-r-5 svg" alt="share" >
          {{countShares(postSocialInteractions.socialInteractions)}} partages
        </span>
      </div>
    </div>

  </div>

  <div style="width: 100%; height: 2px; border-bottom: 2px solid #ababab; text-align: center; padding-left: -20px;"></div>

  <div class="row" style="padding: 10px 10px 0 10px;" *ngIf="showCommentBox">
    <div class="col">
      <div *ngFor="let m of comments">
        <app-comment
          (removeCommentEvent)="removeCommentEvent($event)"
          [comment]="m">
        </app-comment>
      </div>
      <div class="container">
        <div class="row">
          <div class="form-group col-11">
            <textarea autosize [minRows]="1" Style="background: #F0F2F5" class="form-control" autocomplete="off"  autofocus=""  name="title"
                      (keyup)="keyupComment($event)" [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': typedComment }"
                      placeholder="Ajouter un commentaire ..." required="required" maxlength="255"
                      [(ngModel)]="typedComment" >
            </textarea>
            <small class="text-danger" *ngIf="errors.body && !typedComment">{{errors.body}}</small>
          </div>
          <div class="col-1">
            <img *ngIf="!loading" width="28" height="28" src="{{'send-message' | image}}" class="m-r-5" alt="send-message" style="float: right; cursor: pointer; padding-top: 5px;" (click)="onClickPublishComment()">
            <app-loading [width]="48" [loading]="loading"></app-loading>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="delete_post" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{'symbole-skills-mates' | image}}" alt="" width="50" height="46">
        <h3>Voulez-vous supprimer cette publication ?</h3>
        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onClickConfirmDelete()">OUI</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal pour partager un post-->
<ng-template #modalSharePost let-modal >
  <app-modal-share-post
    (newPostEvent)="refresh()"
    [postSocialInteractions]="postSocialInteractions">
  </app-modal-share-post>
</ng-template>
