.text {
  color:black;
  font-size: 0.9em;
}

.text-hidden {
  visibility: hidden;
  max-height: 0;
}

.text-title {
  color:black;
  font-size: 1.15em;
  text-decoration: underline;
}

.text-desc-1 {
  color:black;
  font-size: 0.85em;
  text-decoration: underline;
}

.text-desc-2 {
  color:black;
  font-size: 0.85em;
  text-decoration: none;
}

.document {
  border: 0 solid #16152D;
  border-radius: 10px;
  background-color: #EAEAEC;
}

.social-interaction-image{
  width: 18px;
  height: 18px;
}

.box-shadow{
  border-radius: 6px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px 0 rgba(134, 134, 134, 0.28), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.line{
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #FAFBFC;
  text-align: center;
  margin: 2px 0 2px 0;
}
