<div class="box-shadow">
  <div class="row" *ngIf="post" style="margin: auto;">
    <div class="col-12" *ngIf="post.multimedia && post.multimedia.length > 0">
      <app-multimedia-thumbnail-display
        [multimedia]="postSocialInteractions.post.multimedia[0]">
      </app-multimedia-thumbnail-display>
    </div>
    <div class="col-12 skillsmates-two-lines" style="cursor: pointer;" (click)="onClickPost(post)">
      <p *ngIf="post.title"><strong>{{post.title}}</strong></p>
    </div>
    <div class="col-12">
      <div class="row" *ngIf="postSocialInteractions && !postSocialInteractions.shared">
        <div class="col-4 widget-social">
        <span>
          <img src="{{hasLiked(postSocialInteractions.socialInteractions) ? './assets/images/liked.svg' : './assets/images/like.svg'}}" class="m-r-5 svg social-interaction-image" alt="like" >
          {{countLikes(postSocialInteractions.socialInteractions)}}
        </span>
        </div>
        <div class="col-4 widget-social">
        <span>
          <img width="22" height="22" src="{{countComments(postSocialInteractions.socialInteractions) > 0 ? './assets/images/comment-active.svg' : './assets/images/comment-inactive.svg'}}" class="m-r-5 svg social-interaction-image" alt="comment" >
          {{countComments(postSocialInteractions.socialInteractions)}}
        </span>
        </div>
        <div class="col-4 widget-social">
        <span>
          <img width="22" height="22" src="{{countShares(postSocialInteractions.socialInteractions) > 0 ? './assets/images/share-active.svg' : './assets/images/share-inactive.svg'}}" class="m-r-5 svg social-interaction-image" alt="share" >
          {{countShares(postSocialInteractions.socialInteractions)}}
        </span>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="col-12" style="margin-top: 2px">
      <div class="row" *ngIf="account">
        <div class="col-2">
        <span class="user-img">
          <a *ngIf="account.idServer === loggedAccount.idServer" [routerLink]="[routes.get('profile.my')]">
            <img class="rounded-circle" src="{{account | avatarUrl}}" style="background-color: whitesmoke;" width="42" alt="{{account.lastname}}">
          </a>
          <a *ngIf="account.idServer !== loggedAccount.idServer" [routerLink]="[routes.get('profile'), account.idServer]">
            <img class="rounded-circle" src="{{account | avatarUrl}}" style="background-color: whitesmoke;" width="42" alt="{{account.lastname}}">
          </a>
          <span *ngIf="account.connected" class="status online"></span>
          <span *ngIf="!account.connected" class="status offline"></span>
        </span>
        </div>
        <div class="col-10" style="cursor: pointer;" (click)="onClickAccount(account)">
          <p><strong>{{name(account)}}</strong><br>{{post.createdAt | timeAgo}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
