<a (click)="onClickNotification(notification)" style="cursor: pointer;">
  <div class="media row">
    <div class="col-2 col-md-1 col-lg-1">
      <span class="avatar" *ngIf="notification.emitterAccount">
        <img alt="user notif" src="{{notification.emitterAccount | avatarUrl}}" class="img-fluid">
        <span class="status online"></span>
      </span>
    </div>
    <div class="col-8 col-md-10 col-lg-10 no-margin-padding">
      <p class="noti-details">
        <strong style="color: #16152d;">{{notification.emitterAccount.firstname}} &nbsp; {{notification.emitterAccount.lastname}}</strong> &nbsp;
        {{generateTitle(notification)}}
        <em *ngIf="notification.type !== 'FOLLOWER' && notification.type !== 'FAVORITE'"><strong>{{notification.title}}</strong></em>
      </p>
    </div>
    <div class="col-2 col-md-1 col-lg-1 no-margin-padding">
      <strong class="noti-time float-left" style="font-size: x-small;">
        {{notification.createdAt | timeAgo}}
      </strong>
    </div>
  </div>
</a>
