<!--Screen width >= 768 px-->
<div id="login-page" *ngIf="!isMobile()">
  <div class="row skillsmates-page-wrapper">
    <div class="col-8">
      <div class="row">
        <div class="col-12 no-margin-padding" style="text-align: left;">
          <a routerLink="/">
            <img height="40%" src="{{ 'logo-skillsmates' | image }}" alt="Skillsmates logo"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align: left; margin-top: -100px;">
          <p class="skillsmates-slogan" style="line-height: 1em">améliore et partage <br/>tes connaissances avec <br/>la communauté
          </p>
        </div>
      </div>
      <div>
        <img style="max-width: 100%; max-height: 100%" src="{{ 'landing-page-people' | image }}"
             alt="landing-page-people"/>
      </div>
      <div>
        <div class="row">
          <div class="col-7">
            <span><a href="#" style="color: #16152d">A PROPOS</a></span> -
            <span><a href="#" style="color: #16152d">AIDE</a></span> -
            <span><a href="#" style="color: #16152d">POLITIQUE DE CONFIDENTIALITE</a></span>
            -
            <span><a [routerLink]="routes.get('cgu')" (click)="onClickCGU()" style="color: #16152d">CONDITIONS D'UTILISATION</a></span> -
            <span><a [routerLink]="routes.get('assistance')" (click)="onClickFAQ()" style="color: #16152d">FAQ</a></span>
          </div>
          <div class="col-5">
            <div class="">
              <a routerLink="/" class="logo">
                <img src="{{ 'symbole-skills-mates' | image }}" height="35" alt="" style="border-radius: 5px"/>
                <span style="font-weight: normal; color: #16152d">© Skills Mates 2020</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row skillsmates-box-shadow text-center" style="background-color: white">
        <div class="col-12" style="padding-top: 20px">
          <app-alert [alert]="alert"></app-alert>
          <div *ngIf="isLoginBox">
            <span class="text-center login-button">Connectez-vous</span>
            <form autocomplete="off" class="form-signin" style="margin-top: 20px">
              <div class="form-group">
                <input style="border-radius: 6px" autocomplete="off" type="email" autofocus="" class="form-control" name="email"
                  placeholder="Email" required (keyup)="keyupEmail()"
                  [ngClass]="{'is-valid': validateEmail(email),'is-invalid':
                      (email && !validateEmail(email)) || (submitted && errors.email)}"
                  [(ngModel)]="email"/>
                <small class="text-danger" *ngIf="errors.email && !email">{{errors.email}}</small>
              </div>
              <div class="form-group">
                <input style="border-radius: 6px" autocomplete="off" type="password" class="form-control"
                  name="password" placeholder="Mot de passe" required (keyup)="keyupPassword()"
                  [ngClass]="{ 'is-valid': password && password.length >= 5,'is-invalid':
                      (password && password.length < 5) || (submitted && errors.password) }"
                  [(ngModel)]="password"/>
                <small class="text-danger" *ngIf="errors.password && !password">{{ errors.password }}</small>
              </div>
              <div class="form-group">
                <label> <input type="checkbox"/> Memoriser </label>
                <label class="text-right" style="float: right">
                  <a [routerLink]="[routes.get('reset_password')]">Mot de passe oublié?</a>
                </label>
              </div>
              <div class="form-group text-center">
                <button gaEvent="click_to_login_in" gaCategory="ga_login"
                  *ngIf="!loading" type="submit" class="btn btn-primary sm-border-radius"
                  (click)="onClickLogin()" style="color: white; background-color: #15162D; width: 100%">
                  Se connecter
                </button>
                <app-loading [loading]="loading"></app-loading>
              </div>
            </form>

            <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>

            <div class="form-group text-center">
              <button
                class="btn btn-primary sm-border-radius register-button"
                (click)="onClickChangeBox()">
                Inscrivez-vous
              </button>
            </div>
          </div>
          <div *ngIf="!isLoginBox">
            <span class="text-center login-button">Inscrivez-vous</span>

            <form autocomplete="off" class="form-signin" style="margin-top: 20px">
              <div class="form-group">
                <input autocomplete="off" type="text" autofocus="" class="form-control sm-border-radius"
                  name="firstname" placeholder="Prénom" required (keyup)="keyupFirstname()"
                  [ngClass]="{'is-invalid': submitted && errors.firstname, 'is-valid': account.firstname }"
                  [(ngModel)]="account.firstname"/>
                <small class="text-danger" *ngIf="errors.firstname && !account.firstname">{{ errors.firstname }}</small>
              </div>
              <div class="form-group">
                <input autocomplete="off" type="text" class="form-control sm-border-radius"
                  name="lastname" placeholder="Nom" required (keyup)="keyupLastname()"
                  [ngClass]="{ 'is-invalid': submitted && errors.lastname, 'is-valid': account.lastname }"
                  [(ngModel)]="account.lastname"/>
                <small class="text-danger" *ngIf="errors.lastname && !account.lastname">{{ errors.lastname }}</small>
              </div>

                <div class="form-group" *ngIf="professionalStatuses && professionalStatuses.length > 0">
                  <select class="form-control select" name="selectedStatus"
                          [ngClass]="{ 'is-valid': account.status, 'is-invalid': submitted && errors.status }"
                          (change)="onChangeStatus($event)">
                    <option disabled [selected]="true">Statut</option>
                    <option [ngValue]="status" *ngFor="let status of professionalStatuses">{{status.label}}</option>
                  </select>
                  <small class="text-danger float-right" *ngIf="errors.status && !account.status">{{errors.status}}</small>
                </div>

              <div class="form-group">
                <input autocomplete="off" type="email" autofocus=""
                  class="form-control sm-border-radius"
                  [ngClass]="{ 'is-valid': validateEmail(account.email), 'is-invalid':
                      (account.email && !validateEmail(account.email)) || (submitted && errors.email)}"
                  name="email" placeholder="Email" required (keyup)="keyupEmail()" [(ngModel)]="account.email"/>
                <small class="text-danger" *ngIf="errors.email && !account.email">{{ errors.email }}</small>
              </div>
              <div class="form-group">
                <input autocomplete="off" type="password" class="form-control sm-border-radius"
                  name="password" placeholder="Mot de passe" required (keyup)="keyupPassword()"
                  [ngClass]="{ 'is-valid': account.password && account.password.length >= 5,
                    'is-invalid': (account.password && account.password.length < 5) || (submitted && errors.password)}"
                  [(ngModel)]="account.password"/>
                <small class="text-danger" *ngIf="errors.password && !account.password">{{ errors.password }}</small>
              </div>
              <div class="form-group">
                <input autocomplete="off" type="password" class="form-control sm-border-radius"
                  name="password" placeholder="Confirmation mot de passe" required (keyup)="keyupConfirmPassword()"
                  [ngClass]="{ 'is-valid': account.confirmPassword && account.confirmPassword.length >= 5 && account.password === account.confirmPassword,
                    'is-invalid': (account.confirmPassword && account.confirmPassword.length < 5) ||
                      (submitted && errors.password) || account.password !== account.confirmPassword}"
                  [(ngModel)]="account.confirmPassword"/>
                <small class="text-danger" *ngIf="errors.confirmPassword && !account.confirmPassword">{{ errors.confirmPassword }}</small>
                <small class="text-info float-left" style="font-weight: bold; float: left;">Votre mot de passe doit contenir <br> - entre 8 et 16 caractères <br> - au moins 1 chiffre ou un caractère spécial : !&%$ <br> - au moins une lettre majuscule <br> - au moins une lettre miniscule <br> - ne doit pas contenir votre nom ou email</small>
              </div>
              <div class="form-group">
                <label>
                  <input type="checkbox" [(ngModel)]="checked" [ngModelOptions]="{ standalone: true }"/>
                  <span style="font-size: smaller">J'accepte les
                    <a [routerLink]="[routes.get('cgu')]" (click)="onClickCGU()">
                      conditions d'utilisation de Skills Mates
                    </a>
                  </span>
                  <small class="text-danger" *ngIf="errors.cgu && !checked">{{errors.cgu}}</small>
                </label>
              </div>
              <div class="form-group text-center">
                <button *ngIf="!loading" type="submit" class="btn btn-primary" (click)="onClickRegister()" style="
                    border-radius: 10px;
                    color: #16162d;
                    background-color: #dadada;
                    width: 100%;
                  ">
                  S'inscrire
                </button>
                <app-loading [loading]="loading"></app-loading>
              </div>
            </form>

            <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>

            <p style="margin-top: 20px">
              Vous avez déja un compte?
              <span style="cursor: pointer; font-weight: bolder; color: white; background-color: #15162D; border-radius: 10px; padding: 5px;" (click)="onClickChangeBox()">Connectez-vous</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Screen width < 768 px-->
<div *ngIf="isMobile()">
  <div class="main">
    <!-- logo -->
    <div><a routerLink="/"><img src="{{ 'logo-skillsmates' | image }}" alt="Skillsmates logo"/></a></div>
    <!-- slogan -->
    <div>
      <p class="skillsmates-slogan" style="line-height: 1em; text-align: center; font-size: large;">améliore et partage <br/>tes connaissances avec <br/>la communauté</p>
    </div>
    <!-- form login -->
    <div class="skillsmates-box-shadow" style="background-color: white">
      <app-alert [alert]="alert"></app-alert>
      <div *ngIf="isLoginBox">
        <span class="text-center login-button-mobile">Connectez-vous</span>

        <form autocomplete="off" class="form-signin" style="margin-top: 5px">
          <div class="form-group">
            <input style="border-radius: 6px" autocomplete="off" type="email" autofocus=""
              class="form-control" name="email" placeholder="Email" required (keyup)="keyupEmail()"
              [ngClass]="{
                'is-valid': validateEmail(email),
                'is-invalid': (email && !validateEmail(email)) || (submitted && errors.email)
              }"
              [(ngModel)]="email"/>
            <small class="text-danger" *ngIf="errors.email && !email">{{errors.email}}</small>
          </div>
          <div class="form-group">
            <input style="border-radius: 6px" autocomplete="off" type="password" class="form-control" name="password"
              placeholder="Mot de passe" required (keyup)="keyupPassword()"
              [ngClass]="{
                'is-valid': password && password.length >= 5,
                'is-invalid': (password && password.length < 5) || (submitted && errors.password)
              }"
              [(ngModel)]="password"
            />
            <small class="text-danger" *ngIf="errors.password && !password">{{errors.password}}</small>
          </div>
          <div class="form-group">
            <label> <input type="checkbox"/> Memoriser </label>
            <label class="text-right" style="float: right">
              <a [routerLink]="[routes.get('reset_password')]">Mot de passe oublié?</a>
            </label>
          </div>
          <div class="form-group text-center">
            <app-alert [alert]="alert"></app-alert>
            <button *ngIf="!loading" type="submit" class="btn btn-primary sm-border-radius" (click)="onClickLogin()" style="color: white; background-color: #15162D; width: 100%">
              Se connecter
            </button>
            <app-loading [loading]="loading"></app-loading>
          </div>
        </form>

        <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>

        <div class="form-group text-center">
          <button
            class="btn btn-primary sm-border-radius register-button"
            (click)="onClickChangeBox()">
            Inscrivez-vous
          </button>
        </div>
      </div>
      <div *ngIf="!isLoginBox">
          <span class="text-center login-button">Inscrivez-vous</span>

          <form autocomplete="off" class="form-signin" style="margin-top: 20px;">
            <div class="form-group">
              <input autocomplete="off" type="text" autofocus=""
                     class="form-control sm-border-radius" name="firstname" placeholder="Prénom" required
                     (keyup)="keyupFirstname()"
                     [ngClass]="{ 'is-invalid': submitted && errors.firstname, 'is-valid': account.firstname }"
                     [(ngModel)]="account.firstname">
              <small class="text-danger" *ngIf="errors.firstname && !account.firstname">{{errors.firstname}}</small>
            </div>
            <div class="form-group">
              <input autocomplete="off" type="text" class="form-control sm-border-radius"
                     name="lastname" placeholder="Nom" required
                     (keyup)="keyupLastname()"
                     [ngClass]="{ 'is-invalid': submitted && errors.lastname, 'is-valid': account.lastname }"
                     [(ngModel)]="account.lastname">
              <small class="text-danger" *ngIf="errors.lastname && !account.lastname">{{errors.lastname}}</small>
            </div>

            <div class="form-group" *ngIf="professionalStatuses && professionalStatuses.length > 0">
              <select class="form-control select" name="selectedStatus"
                      [ngClass]="{ 'is-valid': account.status, 'is-invalid': submitted && errors.status }"
                      (change)="onChangeStatus($event)">
                <option disabled [selected]="true">Statut</option>
                <option [ngValue]="status" *ngFor="let status of professionalStatuses">{{status.label}}</option>
              </select>
              <small class="text-danger float-right" *ngIf="errors.status && !account.status">{{errors.status}}</small>
            </div>

            <div class="form-group">
              <input autocomplete="off" type="email" autofocus="" class="form-control sm-border-radius"
                     [ngClass]="{ 'is-valid': validateEmail(account.email), 'is-invalid': (account.email && !validateEmail(account.email)) || (submitted && errors.email) }"
                     name="email" placeholder="Email" required
                     (keyup)="keyupEmail()"
                     [(ngModel)]="account.email">
              <small class="text-danger" *ngIf="errors.email && !account.email">{{errors.email}}</small>
            </div>
            <div class="form-group">
              <input autocomplete="off" type="password" class="form-control sm-border-radius"
                     name="password" placeholder="Mot de passe" required
                     (keyup)="keyupPassword()"
                     [ngClass]="{ 'is-valid': account.password && account.password.length >= 8, 'is-invalid': (account.password && account.password.length < 8) || (submitted && errors.password) }"
                     [(ngModel)]="account.password">
              <small class="text-danger" *ngIf="errors.password && !account.password">{{errors.password}}</small>
            </div>
            <div class="form-group">
              <input autocomplete="off" type="password" class="form-control sm-border-radius"
                     name="password" placeholder="Confirmation mot de passe" required
                     (keyup)="keyupConfirmPassword()"
                     [ngClass]="{ 'is-valid': account.confirmPassword && account.confirmPassword.length >= 8 && account.password === account.confirmPassword, 'is-invalid': (account.confirmPassword && account.confirmPassword.length < 8) || (submitted && errors.password) || account.password !== account.confirmPassword }"
                     [(ngModel)]="account.confirmPassword">
              <small class="text-danger" *ngIf="errors.confirmPassword && !account.confirmPassword">{{errors.confirmPassword}}</small>
              <small class="text-info float-left" style="font-weight: bold; float: left;">Votre mot de passe doit contenir :  <br> - entre 8 et 16 caractères <br> - au moins 1 chiffre ou un caractère spécial : !&%$ <br> - au moins une lettre majuscule <br> - au moins une lettre miniscule <br> - ne doit pas contenir votre nom ou email</small>
            </div>
            <br>

            <div class="form-group" style="padding-top: 10px;">
              <label>
                <input type="checkbox" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">
                <span style="font-size: smaller"> J'accepte les <a [routerLink]="[routes.get('cgu')]" (click)="onClickCGU()"> conditions d'utilisation de Skills Mates </a> </span>
                <small class="text-danger" *ngIf="errors.cgu && !checked">{{errors.cgu}}</small>
              </label>
            </div>
            <div class="form-group text-center">
              <app-loading [loading]="loading"></app-loading>
              <app-alert [alert]="alert"></app-alert>
              <button *ngIf="!loading" type="submit" class="btn btn-primary register-button" (click)="onClickRegister()"
                      style="border-radius: 10px;">S'inscrire
              </button>
            </div>
          </form>

          <app-horizontal-line [color]="'#16152D'"></app-horizontal-line>

          <p style="margin-top: 20px">
            Vous avez déja un compte?
            <span style="cursor: pointer; font-weight: bolder; color: white; background-color: #15162D; border-radius: 10px; padding: 5px;" (click)="onClickChangeBox()">Connectez-vous</span>
          </p>
        </div>
    </div>

    <!-- image -->
    <div>
      <img style="max-width: 100%; max-height: 100%" src="{{ 'landing-page-people' | image }}" alt="landing-page-people"/>
    </div>

    <app-footer></app-footer>
  </div>
</div>
