<app-loading [loading]="loading"></app-loading>
<div class="col-12" *ngIf="!loading && selectedSettingType.position === 1">
  <!--Modification du nom & prénom 1-->
  <div class="row" *ngIf="!isOnclickName">
    <div class="col-2" style="height: auto" *ngIf="!isMobile()">
      <label class="vertical-center" style="text-align: center">Nom </label>
    </div>
    <div class="col" style="height: auto">
      <label class="vertical-center" style="font-weight: bold">
        {{ account.firstname }} {{ account.lastname }}</label>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-light" style="float: right" (click)="onClickName()">
        Modifier
      </button>
    </div>
  </div>

  <!--Editing -->
  <div class="row" *ngIf="isOnclickName" style="margin-bottom: 30px">
    <div class="col-12">
      <label style="font-weight: bold">Nom</label>
      <div class="row">
        <div class="form-group col-12 col-md-6">
          <input type="text" class="form-control" autocomplete="off"
            autofocus="" name="firstname" maxlength="255" (keyup)="keyupFirstname()"
            [ngClass]="{'is-valid': account.firstname && account.firstname.length >= 3,'is-invalid':
                (account.firstname && account.firstname.length < 3) ||
                (account.firstname && account.firstname.length > 50) ||
                (submitted && errors.firstname)}"
            placeholder="Prénom" required="required" [(ngModel)]="account.firstname"/>
          <small class="text-danger" *ngIf="errors.firstname">{{errors.firstname}}</small>
        </div>
        <div class="form-group col-12 col-md-6">
          <input type="text" class="form-control" autocomplete="off" autofocus=""
            name="lastname" maxlength="255" (keyup)="keyupLastname()"
            [ngClass]="{'is-valid': account.lastname && account.lastname.length >= 3,'is-invalid':
                (account.lastname && account.lastname.length < 3) ||
                (account.lastname && account.lastname.length > 50) ||
                (submitted && errors.lastname)}"
            placeholder="Nom" required="required" [(ngModel)]="account.lastname"/>
          <small class="text-danger" *ngIf="errors.lastname">{{errors.lastname}}</small>
        </div>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="validatorPassword"></ng-container>

    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button"
        style="margin-right: 20px" (click)="onClickSaveName()">
        Enregistrer les modifications
      </button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button"
        (click)="onClickCancel()">
        Annuler
      </button>
    </div>
  </div>
  <div class="delimiter"></div>

  <!--Modification de l'email-->
  <div class="row" *ngIf="!isOnclickEmail">
    <div class="col-2" style="height: auto"  *ngIf="!isMobile()">
      <label class="vertical-center" style="text-align: center">Email</label>
    </div>
    <div class="col" style="height: auto">
      <label class="vertical-center" style="font-weight: bold">{{ account.email }}</label>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-light" style="float: right" (click)="OnClickEmail()">
        Modifier
      </button>
    </div>
  </div>
  <!--Editing -->
  <div class="row" *ngIf="isOnclickEmail" style="margin-bottom: 30px">
    <div class="col-12">
      <label style="font-weight: bold">Email</label>
      <div class="row">
        <div class="form-group col-12">
          <input type="email" class="form-control" autocomplete="off" autofocus=""
            name="email" maxlength="255" (keyup)="keyupEmail()"
            [ngClass]="{'is-valid': verificateEmail(account.email),'is-invalid':
                (account.email && !verificateEmail(account.email)) ||(submitted && errors.email)}"
            placeholder="Email" required="required" [(ngModel)]="account.email"/>
          <small class="text-danger" *ngIf="errors.email">{{errors.email}}</small>
        </div>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="validatorPassword"></ng-container>

    <div class="col-sm-1 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button"
        style="margin-right: 20px" (click)="onClickSaveEmail()">
        Enregistrer les modifications
      </button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button"
        (click)="onClickCancel()">
        Annuler
      </button>
    </div>
  </div>
  <div class="delimiter"></div>

  <!--Modification du numéro de téléphone-->
  <div class="row" *ngIf="!isOnclickPhone">
    <div class="col-2" style="height: auto"  *ngIf="!isMobile()">
      <label class="vertical-center" style="text-align: center">Téléphone</label>
    </div>
    <div class="col" style="height: auto">
      <label class="vertical-center" style="font-weight: bold">{{ account.phoneNumber }}</label>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-light" style="float: right" (click)="OnClickPhone()">
        Modifier
      </button>
    </div>
  </div>
  <!--Editing -->
  <div class="row" *ngIf="isOnclickPhone" style="margin-bottom: 30px">
    <div class="col-12">
      <label style="font-weight: bold">Téléphone</label>
      <div class="row">
        <div class="form-group col-12">
          <input type="tel" class="form-control" autocomplete="off" autofocus=""
            name="phone" maxlength="255" (keyup)="keyupPhone()"
            [ngClass]="{'is-valid': verificatePhone(account.phoneNumber),'is-invalid':
                (account.phoneNumber &&!verificatePhone(account.phoneNumber)) ||
                (submitted && errors.phoneNumber)}"
            placeholder="Téléphone" required="required" [(ngModel)]="account.phoneNumber"/>
          <small class="text-danger" *ngIf="errors.phoneNumber">{{errors.phoneNumber}}</small>
        </div>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="validatorPassword"></ng-container>

    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button"
        style="margin-right: 20px" (click)="onClickSavePhone()">
        Enregistrer les modifications
      </button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button"
        (click)="onClickCancel()">
        Annuler
      </button>
    </div>
  </div>
  <div class="delimiter" *ngIf="!isOnclickPhone"></div>
</div>

<ng-template #validatorPassword>
  <div class="col-12">
    <label>Saisissez votre mot de passe pour valider les modifications</label>
    <div class="row">
      <div class="form-group col-12 col-md-6">
        <input type="password" class="form-control" autocomplete="off" autofocus=""
          name="password" maxlength="255" (keyup)="keyupPassword()"
          [ngClass]="{'is-valid': account.password && account.password.length >= 5,'is-invalid':
              (account.password && account.password.length < 5) ||
              (account.password && account.password.length > 50) ||
              (submitted && errors.password)}"
          placeholder="Mot de passe" required="required" [(ngModel)]="account.password"/>
        <small class="text-danger" *ngIf="errors.password">{{errors.password}}</small>
      </div>
    </div>
  </div>
</ng-template>

<div class="col" *ngIf="!loading && selectedSettingType.position === 2">
  <!--Modification du mot de passe-->
  <div class="row" *ngIf="!isOnclickPassword">
    <div class="col-10" style="height: auto">
      <label>Changer le mot de passe <br /> </label>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-light" style="float: right" (click)="onClickPassword()">
        Modifier
      </button>
    </div>
  </div>
  <label *ngIf="!isOnclickPassword" style="margin-top: 5px">
    Maximisez la sécurité de votre compte en enregistrant un mot de passe que vous n'utilisez nulle part ailleurs
  </label>

  <!--Editing -->
  <div class="row" *ngIf="isOnclickPassword" style="margin-bottom: 30px">
    <div class="col-sm-12">
      <label style="font-weight: bold">Changer le mot de passe</label>
      <div class="row">
        <div class="form-group col-sm-5">
          <input type="password" class="form-control" autocomplete="off" autofocus=""
            name="password" maxlength="255" (keyup)="keyupPassword()"
            [ngClass]="{'is-valid': account.password && account.password.length >= 5,'is-invalid':
                (account.password && account.password.length < 5) ||
                (account.password && account.password.length > 50) ||
                (submitted && errors.password)}"
            placeholder="Ancien mot de passe" required="required" [(ngModel)]="account.password"/>
          <small class="text-danger" *ngIf="errors.password">{{errors.password}}</small>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5">
          <input type="password" class="form-control" autocomplete="off" autofocus=""
            name="newPassword" maxlength="255" (keyup)="keyupNewPassword()"
            [ngClass]="{ 'is-valid': newPassword && newPassword.length >= 8,'is-invalid':
                (newPassword && newPassword.length < 8) ||
                (newPassword && newPassword.length > 16) ||
                (submitted && errors.newPassword)}"
            placeholder="Nouveau mot de passe" required="required" [(ngModel)]="newPassword"/>
          <small class="text-danger" *ngIf="errors.newPassword">{{errors.newPassword}}</small>
        </div>

        <div class="form-group col-sm-5">
          <input type="password" class="form-control" autocomplete="off" autofocus=""
            name="confirmPassword" maxlength="255" (keyup)="keyupConfirmPassword()"
            [ngClass]="{ 'is-valid': account.confirmPassword && account.confirmPassword.length >= 8,'is-invalid':
                (account.confirmPassword && account.confirmPassword.length < 8) ||
                (account.confirmPassword && account.confirmPassword.length > 16) ||
                (submitted && errors.confirmPassword)}"
            placeholder="Confirmation du mot de passe" required="required" [(ngModel)]="account.confirmPassword"/>
          <small class="text-danger" *ngIf="errors.confirmPassword">{{errors.confirmPassword}}</small>
        </div>
      </div>
    </div>

    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px" (click)="onClickSavePassword()">
        Enregistrer les modifications
      </button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onClickCancelPassword()">
        Annuler
      </button>
    </div>
  </div>
  <div class="delimiter"></div>

  <!--Activation/suppression du compte-->
  <div class="row" *ngIf="!isOnclickDelete">
    <div class="col-10" style="height: auto">
      <label class="vertical-center" style="text-align: center">
        Désactiver temporairement ou supprimer définitivement votre compte<br />
      </label>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-light" style="float: right" (click)="onClickDelete()">
        Modifier
      </button>
    </div>
  </div>
  <!--Editing -->
  <div class="row" *ngIf="isOnclickDelete" style="margin-bottom: 30px">
    <div class="col-12">
      <label style="font-weight: bold; margin: 5px 0 10px 0">Désactiver temporairement ou supprimer définitivement votre compte</label>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-6">
          <input type="radio" [value]="true" checked="true" name="account" (change)="onDeactivate($event)"/>
          Désactiver
        </div>
        <div class="col-6">
          <input type="radio" [value]="false" name="account" (change)="onDelete($event)"/>
          Supprimer
        </div>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="validatorPassword"></ng-container>

    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px" (click)="onClickDeleteDeactivate()">
        Enregistrer les modifications
      </button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onClickCancel()">
        Annuler
      </button>
    </div>
  </div>
  <div class="delimiter"></div>
</div>
