.delimiter{
  border-bottom: 1px solid #DADADA;
  margin-top: 7px;
  margin-bottom: 7px;

}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.skillsmates-account-skills-button{
  border-radius: 6px;
  color: #16162d;
  background-color: #dadada;
  margin-top: 10px;
  float: left;
}
