<div style="padding: 10px;" *ngIf="accountSocialInteractions && display">
  <button *ngIf="isFollowing(accountSocialInteractions.account) && !loading" (click)="onClickUnfollow(accountSocialInteractions.account)" type="button" class="btn btn-secondary btn-sm button-unsubscribe">Abonné(e)</button>
  <button *ngIf="!isFollowing(accountSocialInteractions.account) && !loading" (click)="onClickFollow(accountSocialInteractions.account)" type="button" class="btn btn-secondary btn-sm button-subscribe">S'abonner</button>
  <app-loading [width]="28" [loading]="loading"></app-loading>
</div>


