.text{
  color: #16152d;
  font-style: italic;
  font-size: small;
}

.description-text{
  color: #16152d;
  font-size: x-small;
}

.img{
  width: 45px;
}


.see-all-document {
  margin-top: 150px;
  text-align: center;
}
.list {
  max-width: 550px;
  margin: auto;
}
