<div class="row" style="padding-top: 5px; padding-bottom: 5px;">
  <!--  Le media est un pdf-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('application/pdf')">
    <div *ngIf="!isViewPostOffline" style="width: 100%; height: 75vh">
      <ng2-pdfjs-viewer [pdfSrc]="multimedia | mediaUrl"></ng2-pdfjs-viewer>
    </div>

    <div *ngIf="isViewPostOffline" style="width: 100%; height: 50vh">
      <ng2-pdfjs-viewer [pdfSrc]="multimedia | mediaUrl"></ng2-pdfjs-viewer>
    </div>
  </div>

  <!--  Le media est une video-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('video/')">
    <video controls="controls" src="{{multimedia | mediaUrl}}" class="m-r-5 skillsmates-post-image"></video>
  </div>

  <!--  le media est une image-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('image/')">
    <img src="{{multimedia | mediaUrl}}" class="m-r-5 skillsmates-post-image-2" alt="" ngxViewer>
  </div>

  <!--  le media est un audio-->
  <div class="col post-center" *ngIf="getMultimediaMimetype(multimedia).startsWith('audio/')">
    <div class="row">
      <div class="col-3 text-right">
        <img src="{{'audio' | image}}" alt="" width="60">
      </div>
      <div class="col-9 text-left">
        <audio controls="controls" src="{{multimedia | mediaUrl}}" class="m-r-5 skillsmates-post-image"></audio>
      </div>
    </div>
  </div>

  <!--  le media est un lien-->
  <div class="col post-center" *ngIf="!getMultimediaMimetype(multimedia) && multimedia && multimedia.url">
    <!--    Le media est un lien quelconque-->
    <div *ngIf="!isYoutubeLink(multimedia.url) && multimedia.metadata">
      <a href="{{multimedia.metadata.url}}" target="_blank">
        <img *ngIf="multimedia.metadata.image" [src]="multimedia.metadata.image" alt="" class="m-r-5 skillsmates-post-image">
      </a>
      <div class="row" style="display: inline-block;">
        <strong *ngIf="multimedia.metadata.title">{{multimedia.metadata.title}}</strong>
      </div>
      <div *ngIf="multimedia.metadata.description">{{multimedia.metadata.description}}</div>
    </div>
    <!--    Le media est un lien youtube-->
    <youtube-player
      *ngIf="isYoutubeLink(multimedia.url)"
      videoId="{{getYoutubeVideoId(multimedia.url)}}"
      suggestedQuality="highres"
      width="100%">
    </youtube-player>
  </div>

  <!--  le media est un fichier quelconque -->
  <div class="col post-center" *ngIf="isAnyOtherFile(multimedia)">
    <div class="row">
      <ngx-doc-viewer [url]="multimedia | mediaUrl" viewer="google" style="width:100%;height:80vh;"></ngx-doc-viewer>
<!--      <ngx-doc-viewer-->
<!--        [url]="multimedia | mediaUrl"-->
<!--        [viewer]="viewer"-->
<!--        style="width:100%;height:80vh;">-->
<!--      </ngx-doc-viewer>-->
    </div>
  </div>

  <div class="col post-center" *ngIf="isAnyOtherFile(multimedia) && isViewPostOffline">
    <div class="row">
      <ngx-doc-viewer [url]="multimedia | mediaUrl" viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
<!--      <ngx-doc-viewer-->
<!--        [url]="multimedia | mediaUrl"-->
<!--        [viewer]="viewer"-->
<!--        style="width:100%;height:50vh;">-->
<!--      </ngx-doc-viewer>-->
    </div>
  </div>
</div>
