.post-center{
  text-align: center;
}

.skillsmates-post-image {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
}

.skillsmates-post-image-2 {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  cursor: zoom-in;
}
