.title-search{
  font-size: 20px;
  color: #16152D;
  font-weight: bold;
}

/* Pagination links */
.pagination a {
 /* color: black;
  !*float: left;
  padding: 8px 16px;*!
  text-decoration: none;
  transition: background-color .3s;*/
}

/* Style the active/current link */
.pagination a.active {
  /*background-color: dodgerblue;
  color: white;*/
}

/* Add a grey background color on mouse-over */
.page a:hover:not(.active) {background-color: #ddd;}

:host {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.list {
  max-width: 550px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}
