<div class="container" *ngIf="!isMobile()">
  <div class="col-12" *ngIf="accountsSocialInteractions">
    <div class="row" style="padding: 0 0 20px 0 ">
      <div class="col-3" style="padding: 0 5px 0 0">
        <div class="input-group">
          <select class="form-control custom-select" id="selectedStatus" name="selectedStatus"
                  (change)="onChangeStatus($event)">
            <option selected disabled>Statut</option>
            <option [ngValue]="'Tous'">Tous</option>
            <option [ngValue]="status"
                    *ngFor="let status of professionalStatuses">{{status.label}}</option>
          </select>

        </div>
      </div>

      <div class="col-3" style="padding: 0 5px 0 5px">

        <div class="input-group">
          <input type="text" class="form-control" list="datalist1" [(ngModel)]='currentCountry' placeholder="-- Pays --"
                 (keyup)="onKeyupCountry()" (change)="onSelectCountry(currentCountry)"/>
          <datalist id="datalist1">
            <option *ngFor="let country of restCountries" [value]="country.cca3 | countryName">
              {{ country.cca3 | countryName }}
            </option>
          </datalist>
        </div>
      </div>

      <div class="col-6" style="padding: 0 5px 0 15px">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="searchContent" style="font-size: small" class="form-control"
                 placeholder="Rechercher par nom ou prénom" aria-label="Rechercher dans les abonnements"
                 aria-describedby="button-addon2" (keyup)="onKeyupSearch()"
                 onkeypress="if(event.which === 13) document.getElementById('button-search').click()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-search" (click)="onClickSearch()">
              <i class="fa fa-1x fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="row" style="padding: 0 0 15px 0 ">
      <div class="col-4">
        <span class="title-search">{{accountsSocialInteractions.length}}</span>
        <span style="font-size: 18px; margin-left: 5px" *ngIf="accountsSocialInteractions.length > 1"> résultats trouvés</span>
        <span style="font-size: 18px; margin-left: 5px" *ngIf="accountsSocialInteractions.length <= 1"> résultat trouvé</span>
      </div>
      <div class="col-8">
        <!--Pagination-->
        <div class="list float-right" *ngIf="pages && pages.length > 0">
          <ul class="nav nav-pills page">
            <li *ngFor="let item of pages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: count }"></li>
          </ul>
          <pagination-controls (pageChange)="getPage(currentPage = $event)"></pagination-controls>
        </div>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="selectedNetworkType.position === 4">
    <div class="col-12">
      <img src="{{'landing-map-blue' | image}}" alt="" style="">
    </div>
  </div>

  <div class="row" *ngIf="!loading">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3" style="padding: 3px;"
         *ngFor="let accountSocialInteractions of accountsSocialInteractions">
      <app-accountprofile
        [accountSocialInteractions]="accountSocialInteractions"
        [showFollowButton]="true"
        [loading]="false">
      </app-accountprofile>
    </div>
  </div>

  <div class="row" style="padding: 0 0 15px 0 ">
    <div class="col-12">
      <!--Pagination-->
      <div class="list float-left" *ngIf="pages && pages.length > 0">
        <ul class="nav nav-pills page">
          <li *ngFor="let item of pages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: count }"></li>
        </ul>
        <pagination-controls (pageChange)="getPage(currentPage = $event)"></pagination-controls>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="accountsSocialInteractions && accountsSocialInteractions.length <= 0 && !loading">
    <div class="col-sm-12" style="padding-bottom: 20px;">
      <div class="see-all">
        <a class="see-all-btn" *ngIf="accountsSocialInteractions.length <= 0">Aucune personne</a>
      </div>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
</div>

<div class="skillsmates-container-mobile" *ngIf="isMobile()">
  <div class="col-12 no-margin-padding" *ngIf="accountsSocialInteractions">
    <div class="row">
      <div class="col no-margin-padding">
        <div class="input-group">
          <select class="form-control custom-select" id="selectedStatusMobile" name="selectedStatus"
                  (change)="onChangeStatus($event)">
            <option selected disabled>Statut</option>
            <option [ngValue]="'Tous'">Tous</option>
            <option [ngValue]="status"
                    *ngFor="let status of professionalStatuses">{{status.label}}</option>
          </select>

        </div>
      </div>

      <div class="col no-margin-padding" style="padding: 0 5px 0 5px">
        <div class="input-group">
          <input type="text" class="form-control" list="datalist2" [(ngModel)]='currentCountry' placeholder=" Pays "
                 (keyup)="onKeyupCountry()" (change)="onSelectCountry(currentCountry)"/>
          <datalist id="datalist2">
            <option *ngFor="let country of restCountries" [value]="country.cca3 | countryName">
              {{ country.cca3 | countryName }}
            </option>
          </datalist>
        </div>
      </div>

      <div class="col-12 no-margin-padding" style="padding: 0 5px 0 5px">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="searchContent" style="font-size: small" class="form-control"
                 placeholder="Rechercher par nom ou prénom" aria-label="Rechercher dans les abonnements"
                 aria-describedby="button-addon2" (keyup)="onKeyupSearch()"
                 onkeypress="if(event.which === 13) document.getElementById('button-search').click()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-search-mobile" (click)="onClickSearch()">
              <em class="fa fa-1x fa-search" aria-hidden="true"></em>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="row" style="padding: 0 0 15px 0 ">
      <div class="col-12">
        <span class="title-search">{{accountsSocialInteractions.length}}</span>
        <span style="font-size: 12px; margin-left: 5px" *ngIf="accountsSocialInteractions.length > 1"> résultats trouvés</span>
        <span style="font-size: 12px; margin-left: 5px" *ngIf="accountsSocialInteractions.length <= 1"> résultat trouvé</span>
      </div>
      <div class="col-12">
        <!--Pagination-->
        <div class="list float-left" *ngIf="pages && pages.length > 0">
          <ul class="nav nav-pills page">
            <li *ngFor="let item of pages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: count }"></li>
          </ul>
          <pagination-controls (pageChange)="getPage(currentPage = $event)"></pagination-controls>
        </div>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="selectedNetworkType.position === 4">
    <div class="col-12">
      <img src="{{'landing-map-blue' | image}}" alt="" style="">
    </div>
  </div>

  <div class="row" *ngIf="!loading">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3" style="padding: 3px;"
         *ngFor="let accountSocialInteractions of accountsSocialInteractions">
      <app-accountprofile
        [accountSocialInteractions]="accountSocialInteractions"
        [showFollowButton]="true"
        [loading]="false">
      </app-accountprofile>
    </div>
  </div>

  <div class="row" >
    <div class="col-12">
      <!--Pagination-->
      <div class="list float-left" *ngIf="pages && pages.length > 0">
        <ul class="nav nav-pills page">
          <li *ngFor="let item of pages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: count }"></li>
        </ul>
        <pagination-controls (pageChange)="getPage(currentPage = $event)"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="accountsSocialInteractions && accountsSocialInteractions.length <= 0 && !loading">
    <div class="col-sm-12" style="padding-bottom: 20px;">
      <div class="see-all">
        <a class="see-all-btn" *ngIf="accountsSocialInteractions.length <= 0">Aucune personne</a>
      </div>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
</div>
