<div class="row skillsmates-container" *ngIf="!isMobile()">
  <div class="col-2">
    <a [routerLink]="[routes.get('notifications.my')]" class="logo">
      <img src="{{'arrow-left' | image}}" height="35" alt="" style="border-radius: 1px;">
      <span id="skillsmates" class="skillsmates-single-line" style="font-weight: bolder; color: #16152D;">Retour aux notifications</span>
    </a>
  </div>
  <div class="col-8">
    <app-post
      *ngIf="!loading"
      [postSocialInteractions]="postSocialInteractions"
      (newPostEvent)="onRefreshEvent($event)">
    </app-post>
  </div>
  <div class="col-2"></div>
</div>

<div class="row skillsmates-container-mobile" *ngIf="isMobile()">
<!--  <div class="col nopadding">-->
<!--    <a class="logo">-->
<!--      <img src="{{ 'arrow-left' | image }}" (click)="onClickBack()" height="30" alt="arrow left" /> &nbsp;-->
<!--      <span id="skillsmates-mobile" [routerLink]="[routes.get('dashboard')]" class="skillsmates-single-line" style="font-weight: bolder; color: #16152D;">Retour aux notifications</span>-->
<!--    </a>-->
<!--  </div>-->
  <div class="col-12 no-margin-padding">
    <app-post *ngIf="!loading"
      [postSocialInteractions]="postSocialInteractions"
      (newPostEvent)="onRefreshEvent($event)">
    </app-post>
  </div>
</div>
<app-loading [loading]="loading"></app-loading>
