<app-alert [alert]="alert"></app-alert>
<div class="row">
  <div class="col-12" style="padding-bottom: 20px;">
    <b>Certification</b>
  </div>
</div>

<div class="row" style="padding: 0px 20px 20px 20px;">
  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Type d'établissement de délivrance</label>
      <select *ngIf="certificate.establishmentCertificationType !== undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentCertificationType, 'is-valid': certificate.establishmentCertificationType }"
              (change)="onChangeEstablishmentCertificationType($event)">
        <option disabled>Type d'établissement de délivrance</option>
        <option [ngValue]="establishmentCertificationType" *ngFor="let establishmentCertificationType of accountAcademics.establishmentCertificationTypes" [selected]="certificate.establishmentCertificationType.id === establishmentCertificationType.id">{{establishmentCertificationType.label}}</option>
      </select>
      <select *ngIf="certificate.establishmentCertificationType === undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.establishmentCertificationType, 'is-valid': certificate.establishmentCertificationType }"
              (change)="onChangeEstablishmentCertificationType($event)">
        <option disabled selected>Type d'établissement de délivrance</option>
        <option [ngValue]="establishmentCertificationType" *ngFor="let establishmentCertificationType of accountAcademics.establishmentCertificationTypes">{{establishmentCertificationType.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.establishmentCertificationType && !certificate.establishmentCertificationType">{{errors.establishmentCertificationType}}</small>
    </div>
  </div>

  <!--another establishment Certification Type-->
  <div class="col-12" *ngIf="certificate.establishmentCertificationType">
    <div class="form-group" *ngIf="certificate.establishmentCertificationType.specified">
      <label class="skillsmates-label">Autres types d'établissements de délivrance (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherEstablishmentCertificationType()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherEstablishmentCertificationType, 'is-valid': certificate.anotherEstablishmentCertificationType }"
             name="anotherEstablishmentCertificationType" placeholder="Autres types d'établissements de délivrance" [(ngModel)]="certificate.anotherEstablishmentCertificationType">
      <small class="text-danger" *ngIf="errors.anotherEstablishmentCertificationType && !certificate.anotherEstablishmentCertificationType">{{errors.anotherEstablishmentCertificationType}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Nom de l'établissement de délivrance</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupIssuingInstitutionName()"
             [ngClass]="{ 'is-valid': certificate.issuingInstitutionName, 'is-invalid': submitted && errors.issuingInstitutionName }"
             name="issuingInstitutionName" placeholder="Nom de l'établissement de délivrance" required="required"
             [(ngModel)]="certificate.issuingInstitutionName">
      <small class="text-danger" *ngIf="errors.issuingInstitutionName && !certificate.issuingInstitutionName">{{errors.issuingInstitutionName}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Intitulé de la certification</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""
             (keyup)="keyupEntitledCertification()"
             [ngClass]="{ 'is-valid': certificate.entitledCertification, 'is-invalid': submitted && errors.entitledCertification }"
             name="entitledCertification" placeholder="Intitulé de la certification" required="required"
             [(ngModel)]="certificate.entitledCertification">
      <small class="text-danger" *ngIf="errors.entitledCertification && !certificate.entitledCertification">{{errors.entitledCertification}}</small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Domaine d'activité lié à la certification</label>
      <select *ngIf="certificate.activityArea !== undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.activityArea, 'is-valid': certificate.activityArea }"
              (change)="onChangeActivityArea($event)">
        <option disabled>Type d'établissement de délivrance</option>
        <option [ngValue]="activityArea" *ngFor="let activityArea of accountAcademics.activityAreas" [selected]="certificate.activityArea.id === activityArea.id">{{activityArea.label}}</option>
      </select>
      <select *ngIf="certificate.activityArea === undefined" class="form-control select" required
              [ngClass]="{ 'is-invalid': submitted && errors.activityArea, 'is-valid': certificate.activityArea }"
              (change)="onChangeActivityArea($event)">
        <option disabled selected>Domaine d'activité lié à la certification</option>
        <option [ngValue]="activityArea" *ngFor="let activityArea of accountAcademics.activityAreas">{{activityArea.label}}</option>
      </select>
      <small class="text-danger" *ngIf="errors.activityArea && !certificate.activityArea">{{errors.activityArea}}</small>
    </div>
  </div>

  <!--another activityArea -->
  <div class="col-12" *ngIf="certificate.activityArea">
    <div class="form-group" *ngIf="certificate.activityArea.specified">
      <label class="skillsmates-label">Autres domaines d'activité lié à la certification (A préciser manuellement)</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus="" maxlength="255" required
             (keyup)="keyupAnotherActivityArea()"
             [ngClass]="{ 'is-invalid': submitted && errors.anotherActivityArea, 'is-valid': certificate.anotherActivityArea }"
             name="anotherActivityArea" placeholder="Autres domaines d'activité lié à la certification" [(ngModel)]="certificate.anotherActivityArea">
      <small class="text-danger" *ngIf="errors.anotherActivityArea && !certificate.anotherActivityArea">{{errors.anotherActivityArea}}</small>
    </div>
  </div>

  <!--Permanent ou temporaire -->
  <label class="container" >
    <input type="checkbox" [(ngModel)]="certificate.permanent"  data-md-icheck (change)="togglePermanent($event)"/>
    Certificat permanent
    <span class="checkmark"></span>
  </label>
  <label class="container">
    <input type="checkbox" [(ngModel)]="certificate.temporary"  data-md-icheck (change)="toggleTemporary($event)"/>
    Certificat temporaire
    <span class="checkmark"></span>
  </label>
  <small class="text-danger col-12" *ngIf="errors.time">{{errors.time}}</small>

  <!--date -->
  <div class="col-3" style="margin-top: 15px">
    <span>Date d'obtention</span>
  </div>

  <div class="col-6" style="margin-top: 15px">
    <div class="form-group">
      <input type="text" id="date"
             placeholder="Date d'obtention" class="form-control"
             [ngClass]="{ 'is-valid': certificate.obtainedDate, 'is-invalid': submitted && errors.obtainedDate }"
             name="obtainedDate"  [(ngModel)]="certificateObtainedDate" required [(bsValue)]="certificateObtainedDate"
             bsDatepicker (ngModelChange)="selectObtainedDate()" value="{{ certificateObtainedDate | date:'dd/MM/yyyy' }}"
             [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY/MM/DD' }">
      <small class="text-danger" *ngIf="errors.obtainedDate && !certificate.obtainedDate">{{errors.obtainedDate}}</small>
    </div>
  </div>
  <div class="col-2"> </div>

  <div class="col-3 form-group" *ngIf="certificate.temporary">
    <span>Date d'expiration</span>
  </div>

  <div class="col-6" *ngIf="certificate.temporary">
    <div class="form-group">
      <input type="text" id="expirationDate"
             placeholder="Date de fin" class="form-control" [disabled]="disabledExpirationDate"
             [ngClass]="{ 'is-valid': certificate.expirationDate, 'is-invalid': submitted && errors.expirationDate }"
             name="obtainedDate"  [(ngModel)]="certificateExpirationDate" required required [(bsValue)]="certificateExpirationDate"
             bsDatepicker (ngModelChange)="selectExpirationDate()" value="{{ certificateExpirationDate | date:'dd/MM/yyyy' }}"
             [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY/MM/DD' }">
      <small class="text-danger" *ngIf="errors.expirationDate && !certificate.expirationDate">{{errors.expirationDate}}</small>
    </div>
  </div>
  <div class="col-2"> </div>


  <div class="col-12">
    <label class="skillsmates-label">Description</label>
    <div class="form-group">
        <textarea cols="30" rows="4" [(ngModel)]="certificate.description" name="description" maxlength="255"
                  [ngClass]="{ 'is-invalid': submitted && errors.description, 'is-valid': certificate.description }"
                  class="form-control biography-area" placeholder="Description"></textarea>
      <small class="text-info float-right" *ngIf="certificate.description">{{certificate.description.length}} / 255</small>
      <small class="text-danger" *ngIf="errors.description">{{errors.description}}</small>
    </div>
  </div>

    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSaveCertificate()">Enregistrer</button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onClickCancel()">Annuler</button>
    </div>

</div>
