<div class="row">
  <div class="col-12">
    <div class="roles-menu training" style="border: #e9e8e7 solid 1px; border-radius: 10px;">
      <ul>
        <li class="">
          <a href="javascript:void(0);">
            <div *ngIf="!higherEducation.studyLevel.specified"><strong>Niveau d'étude: </strong><strong style="font-size: 16px">{{higherEducation.studyLevel.label}}</strong></div>
            <div *ngIf="higherEducation.studyLevel.specified"><strong>Niveau d'étude: </strong><strong style="font-size: 16px">{{higherEducation.anotherStudyLevel}}</strong></div>
            <div><strong>Spécialité étudiée: </strong> <em>{{higherEducation.specialty}}</em></div>
          </a>
          <span class="role-action">
            <a *ngIf="loggedAccount.idServer === account.idServer" class="icon-action" style="margin-right: 10px;" (click)="onClickEdit(higherEducation)">
              <span class="action-circle large">
                <em class="material-icons" style="color: green;">edit</em>
              </span>
            </a>
            <a *ngIf="loggedAccount.idServer === account.idServer" href="#" data-toggle="modal" data-target="#delete_higher_education" (click)="onClickDelete(higherEducation)">
              <span class="action-circle large delete-btn">
                <em class="material-icons" style="color: red;">delete</em>
              </span>
            </a>
          </span>
          <div style="padding-left: 20px;">

            <div class="container" style="padding: 20px;">
              <div class="row">


                <div class="col-1">
                  <img width="48" height="48" src="{{'school' | image}}" class="m-r-5" alt="">
                </div>
                <div class="col-11">
                  <div>
                    <strong>Etablissement:</strong>&nbsp;<span>{{higherEducation.establishmentName}} </span>
                  </div>
                  <div>
                    <strong>Domaine d'enseignment:</strong>&nbsp;<span>{{higherEducation.teachingArea.label}}</span>
                  </div>
                  <div style="font-size: 12px;">
                    <strong>Ville:</strong>&nbsp;<span>{{higherEducation.city}} </span>
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 10px">
                <div class="col-12">
                  <strong>Description:</strong>&nbsp;<span>{{higherEducation.description}}</span>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="delete_higher_education" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{'symbole-skills-mates' | image}}" alt="" width="50" height="46">
        <h3>Voulez-vous supprimer cette formation supérieure ?</h3>
        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onClickConfirmDelete()">OUI</button>
        </div>
      </div>
    </div>
  </div>
</div>
