.write-us{
  color: #16152d;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 2rem;
  font-size: xx-large;
  text-align: center;
}

.assistance-contact-us-img{
  display: block;
  margin: auto;
  padding: 20px;
  width: 70%;
}
