<app-alert [alert]="alert"></app-alert>

<div class="row" *ngIf="!isMobile()">
  <div class="col">
    <div class="row" style="padding: 20px">
      <div class="col-12" style="margin-bottom: 20px">
        <label class="skillsmates-label">Objet du message</label>
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          autofocus=""
          name="object"
          maxlength="255"
          (keyup)="keyupObjectAssistance()"
          [ngClass]="{
            'is-valid': assistance.topic,
            'is-invalid': submitted && errors.topic
          }"
          placeholder="Objet du message"
          required="required"
          [(ngModel)]="assistance.topic"
        />
        <small class="text-danger" *ngIf="errors.topic && !assistance.topic">{{
          errors.topic
        }}</small>
      </div>

      <div class="col-12">
        <label class="skillsmates-label">Votre message</label>

        <textarea
          cols="30"
          rows="10"
          [(ngModel)]="assistance.content"
          name="message"
          maxlength="2000"
          (keyup)="keyupContentAssistance()"
          [ngClass]="{
            'is-valid': assistance.content,
            'is-invalid': submitted && errors.content
          }"
          class="form-control biography-area"
          placeholder="Message"
        >
        </textarea>

        <small class="text-info float-right" *ngIf="assistance.content"
          >{{ assistance.content.length }} / 2000</small
        >
      </div>

      <div class="col-12 text-center">
        <button
          type="button"
          class="btn btn-primary skillsmates-account-skills-button"
          style="margin-right: 20px"
          (click)="onClickSend()">
          Envoyer
        </button>
        <button
          type="button"
          class="btn btn-primary skillsmates-account-skills-button"
          (click)="onclickCancel()">
          Annuler
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="write-us">
      merci de nous <br />
      écrire pour tout <br />
      besoin
    </div>
    <div>
      <img
        src="{{ 'assistance-lady' | image }}"
        class="assistance-contact-us-img"
        alt="question lady"
      />
    </div>
  </div>
</div>

<div class="row" *ngIf="isMobile()">
  <div class="col-12">
    <div class="write-us">
      merci de nous <br />
      écrire pour tout <br />
      besoin
    </div>
    <div>
      <img
        src="{{ 'assistance-lady' | image }}"
        class="assistance-contact-us-img"
        alt="question lady"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="row" style="padding: 20px">
      <div class="col-12" style="margin-bottom: 20px">
        <label class="skillsmates-label">Objet du message</label>
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          autofocus=""
          name="object"
          maxlength="255"
          (keyup)="keyupObjectAssistance()"
          [ngClass]="{
            'is-valid': assistance.topic,
            'is-invalid': submitted && errors.topic
          }"
          placeholder="Objet du message"
          required="required"
          [(ngModel)]="assistance.topic"
        />
        <small class="text-danger" *ngIf="errors.topic && !assistance.topic">{{
          errors.topic
        }}</small>
      </div>

      <div class="col-12">
        <label class="skillsmates-label">Votre message</label>

        <textarea
          cols="30"
          rows="10"
          [(ngModel)]="assistance.content"
          name="message"
          maxlength="2000"
          (keyup)="keyupContentAssistance()"
          [ngClass]="{
            'is-valid': assistance.content,
            'is-invalid': submitted && errors.content
          }"
          class="form-control biography-area"
          placeholder="Message"
        >
        </textarea>

        <small class="text-info float-right" *ngIf="assistance.content"
          >{{ assistance.content.length }} / 2000</small
        >
      </div>

      <div class="col-12 text-center">
        <button
          type="button"
          class="btn btn-primary skillsmates-account-skills-button"
          style="margin-right: 20px"
          (click)="onClickSend()">
          Envoyer
        </button>
        <button
          type="button"
          class="btn btn-primary skillsmates-account-skills-button"
          (click)="onclickCancel()">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>
