.info-text {
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 38px;
  position: relative;
  white-space: nowrap;
}
.info-text:hover {
  color: #fff;
}
.info-text > img {
  width: 100%;
  display: block;
}
.info-text-mobile {
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 25px;
  position: relative;
  white-space: nowrap;
}
