<div class="alert alert-primary row" role="alert" style="margin-left: 5px; margin-right: 5px;" *ngIf="!isMobile()">
  <div class="col-1"><img class="info-text" src="./assets/images/info.png" alt=""></div>
  <div class="col-11">{{text}}</div>
</div>

<div class="alert alert-primary row" role="alert" style="margin-left: 3px; margin-right: 3px;" *ngIf="isMobile()">
  <div class="col-1"><img class="info-text-mobile" src="./assets/images/info.png" alt=""></div>
  <div class="col" style="font-size: smaller">{{text}}</div>
</div>
