
/* list Accounts*/
.nav {
  background-color: white;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
.nav div {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}


.indicator.online {
  background: #4BAE32;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;

}
.indicator.offline {
  background: #DBDADC;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;

}
.avatarOnline {
  background-color: #aaa;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 24px;
  margin: 0 0 0 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  white-space: nowrap;
}

.text{
  height: 24px;
  line-height: 24px;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  color: black;
}

.text-2{
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: left;
}

.text-3{
  height: 20px;
  line-height: 24px;
  font-size: 9px;
  text-align: left;
}

.indicator{
  height: 24px;
  line-height: 24px;
}

.profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}
.skillsmates-single-line{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.center {
  display: block;
  margin: auto;
}

.center-img {
  height: auto;
  display: flex;
  justify-content: center;
}
.sub_div {
  position: absolute;
  background-color: #F5F5F5;
  bottom: 0;
  right: 0;
  left: 0;
}

.sub_div_top {
  position: absolute;
  background-color: #F5F5F5;
  top: 0;
  right: 0;
  left: 0;
}
.main_div {
  height: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

 /*css message*/

 .login {
   position: absolute;
   width: 100%;
   max-width: 600px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.channel_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.channel_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 0px;
  vertical-align: top;
  width: auto;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: auto;
}

.mesgs {
  float: left;
  padding: 10px 10px 15px 10px;
  margin-bottom: 30px;
  width: 100%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.incoming_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: auto;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: auto;
  overflow-y: auto;
}

.message {
  list-style-type: none;
}
.text-file{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img{
  width:30px;
}
.name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}

.info {
  width: 100%
}

.post-image-document{
  width: 150px;
  /*height: 200px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

span.underline a {
  color: #16162D;
  text-decoration: none;
}
span.underline a:hover{
  color: blue;
  text-decoration: underline;
}

.main {
  background: #fbfcfa;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  border-top: 1px solid #dadada;
}
