<div class="container main_div" *ngIf="selectedAccount && !loadingMessage && !isMobile()">
  <!--  Entete  -->
  <div class="row" style=" margin: 5px">
    <div class="col-2 width: auto; center-img" style="margin-bottom: 2px">
      <span class="user-img">
          <img class="rounded-circle" src="{{selectedAccount | avatarUrl}}" style="background-color: whitesmoke;"
               width="72" alt="{{selectedAccount.lastname}}">
          <span *ngIf="selectedAccount.connected" class="status online"></span>
          <span *ngIf="!selectedAccount.connected" class="status offline"></span>
        </span>
    </div>
    <div class="col" style=" ">
      <div class="">
        <label class="text skillsmates-single-line">{{selectedAccount.firstname}} {{selectedAccount.lastname}}</label> &nbsp;

        <div class="" style="font-size: small;">
            <span *ngIf="selectedAccount.currentJobTitle">
              <img height="14" src="{{'job' | image}}"   alt=""> {{selectedAccount.currentJobTitle}} -
            </span>
<!--                <span *ngIf="selectedAccount.currentEstablishmentName">-->
<!--              <img height="14" src="{{getEstablishmentIcon() | image}}" alt=""> {{selectedAccount.currentEstablishmentName}} - -->
<!--            </span>-->
                <span *ngIf="selectedAccount.city">
              <img height="14" src="{{'location' | image}}" alt=""> {{selectedAccount.city}}
            </span>
            <span *ngIf="selectedAccount.country">({{selectedAccount.country | countryName}})</span>
        </div>

      </div>
    </div>

<!--    <div class="search-box" style="margin-right: 20px;">-->
<!--      <div class="input-group input-group-sm">-->
<!--        <input type="text" class="form-control" placeholder="Recherche">-->
<!--        <span class="input-group-append">-->
<!--          <button class="btn" type="button"><em class="fa fa-search"></em></button>-->
<!--        </span>-->
<!--      </div>-->
<!--    </div>-->

    <div>
      <span class="float-right" *ngIf="selectedAccount.status">
        <img width="42" src="{{selectedAccount | professionIcon}}" alt="">
      </span>
    </div>

    <div class="col-1 text-right">
      <div class="dropdown dropdown-action">
        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><em
          class="fa fa-ellipsis-v"></em></a>
        <div class="dropdown-menu dropdown-menu-right skillsmates-box-shadow bg-white">
          <a class="dropdown-item skillsmates-dropdown-menu"><em class="fa fa-eye m-r-5"></em> Voir le profil</a>
          <a class="dropdown-item skillsmates-dropdown-menu">
            <em class="fa fa-pencil m-r-5"></em> Selectionner les messages
          </a>
          <a class="dropdown-item skillsmates-dropdown-menu"><em class="fa fa-link m-r-5"></em> Effacer les messages</a>
          <a class="dropdown-item skillsmates-dropdown-menu"><em class="fa fa-bell m-r-5"></em> Bloquer</a>
          <a href="#" class="dropdown-item skillsmates-dropdown-menu" data-toggle="modal" data-target="#delete_post">
            <em class="fa fa-trash m-r-5"></em> Supprimer la conversation
          </a>
        </div>
      </div>
    </div>
  </div>

  <app-horizontal-line [color]="'#DADADA'"></app-horizontal-line>

  <!--  Zone de message  -->
  <div class="chat-main-row" style="margin-top: 100px; margin-bottom: 90px;" *ngIf="selectedAccount">
    <div class="chat-main-wrapper">
      <div class="col-lg-9 message-view chat-view">
        <div class="chat-window">
          <div class="chat-contents">
            <div class="chat-content-wrap">
              <div class="">
                <div class="chat-box">
                  <div class="chats">

                    <div class="chat" *ngFor="let message of messages ;let indexOfMessage = index;"
                         [ngClass]="(message.emitterAccount && message.emitterAccount.idServer === loggedAccount.idServer)?'chat-right':'chat-left'">
                      <div class="chat-avatar">
                        <a [routerLink]="[routes.get('profile'), message.emitterAccount.idServer]" class="avatar">
                          <img alt="{{message.emitterAccount.firstname}}" src="{{message.emitterAccount | avatarUrl}}"
                               class="img-fluid rounded-circle">
                        </a>
                      </div>
                      <div class="chat-body">
                        <div class="chat-bubble">
                          <!--Lecture des messages-->
                          <div class="chat-content" *ngIf="message.content !== ''">
                            <div class="col post-center" *ngIf="validateUrlLink(message.content)">
                              <app-link-display [url]="message.content"></app-link-display>
                            </div>
                            <span class='underline' *ngIf="isValideUrl">
                              <a [href]="message.content" target="_blank" rel="noopener noreferrer"
                                 [title]="message.content">{{ message.content }}</a>
                            </span>
                            <p *ngIf="!isValideUrl">{{ message.content }}</p>
                            <span class="chat-time">{{message.createdAt | date: 'hh:mm'}}</span>
                          </div>
                          <!--Lecture des medias-->
                          <div class="chat-content" *ngIf="message.multimedia && message.multimedia.length > 0">
                            <app-multimedia-display [multimedia]="message.multimedia[0]"></app-multimedia-display>
                            <span class="chat-time">{{message.createdAt | date: 'hh:mm'}}</span>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Zone d'édition de message  -->
  <div class="sub_div">

    <div class="chat-footer">
      <div class="message-bar">
        <div class="message-inner">
<!--          <a class="link attach-icon"><img src="{{'emoji' | image}}" alt="emoji"></a>-->
          <a class="link attach-icon" href="#" data-toggle="modal" data-target="#drag_files">
            <img src="{{'attach' | image}}" alt="attach"></a>
          <div class="message-area">
            <div class="input-group">
              <textarea class="form-control" autocomplete="off" name="message" rows=4
                        style="border: 2px solid #16152D; border-radius: 10px;"
                        (keyup)="keyupMessage($event)"
                        [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': typedMessage }"
                        placeholder="Taper un message..." required="required" maxlength="255"
                        [(ngModel)]="typedMessage">
              </textarea>
              <span class="input-group-append">
                <button style="width: 52px;" class="btn" type="button" (click)="onClickPublishMessage()">
                  <em class="fa fa-send fa-2x"></em>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="drag_files" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Glisser-déposer les fichiers à téléverser</h3>
            <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form id="js-upload-form">
              <div class="upload-drop-zone" id="drop-zone" appDragDrop (onFileDropped)="uploadFile($event)">
                <input hidden type="file" #fileDropRef id="fileDropRef" multiple
                       (change)="uploadFile($event.target.files)">
                <em class="fa fa-cloud-upload fa-2x"></em> <span class="upload-text">Glisse et depose les fichiers ici, <label
                for="fileDropRef" class="text-file">ou clique ici</label></span>

              </div>
              <div class="files-list" *ngFor="let file of files;let i=index">
                <img src="{{'ic-file' | image}}" width="45px" alt="file">
                <div class="info">
                  <h4 class="name">
                    {{ file?.name }}
                  </h4>
                  <p class="size">
                    {{ formatBytes(file?.size) }}
                  </p>
                  <app-progres-bar-horizontal [progress]="file?.progress"
                                              [loading]="file?.loading"></app-progres-bar-horizontal>
                </div>
                <button class="delete-file" (click)="deleteAttachment(i)">
                  <img src="../../assets/images/delete.png" alt="delete">
                </button>
              </div>

              <h4 *ngIf="false">En cours de téléchargement ...</h4>
              <ul *ngIf="false" ngclass="upload-list">
                <li class="file-list">
                  <div class="upload-wrap">
                    <div class="file-name">
                      <em class="fa fa-photo"></em> photo.png
                    </div>
                    <div class="file-size">1.07 gb</div>
                    <button type="button" class="file-close">
                      <em class="fa fa-close"></em>
                    </button>
                  </div>
                  <div class="progress progress-xs progress-striped">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                  </div>
                  <div class="upload-process">37% done</div>
                </li>
                <li class="file-list">
                  <div class="upload-wrap">
                    <div class="file-name">
                      <em class="fa fa-file"></em> task.doc
                    </div>
                    <div class="file-size">5.8 kb</div>
                    <button type="button" class="file-close">
                      <em class="fa fa-close"></em>
                    </button>
                  </div>
                  <div class="progress progress-xs progress-striped">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                  </div>
                  <div class="upload-process">37% done</div>
                </li>
                <li class="file-list">
                  <div class="upload-wrap">
                    <div class="file-name">
                      <em class="fa fa-photo"></em> dashboard.png
                    </div>
                    <div class="file-size">2.1 mb</div>
                    <button type="button" class="file-close">
                      <em class="fa fa-close"></em>
                    </button>
                  </div>
                  <div class="progress progress-xs progress-striped">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                  </div>
                  <div class="upload-process">Completed</div>
                </li>
              </ul>
            </form>
            <div class="m-t-30 text-center">
              <button class="btn btn-primary submit-btn" (click)="onClickSendMediaMessage()">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-loading [loading]="loadingMessage"></app-loading>
<!--  <div class="col-12">-->
<!--    <app-skillschat></app-skillschat>-->
<!--  </div>-->
</div>

  <!--Pour mobile-->
<div class="container main_div no-margin-padding" *ngIf="selectedAccount && !loadingMessage && isMobile()">

  <!--  header -->
  <div class="mainHeaderMob align-items-start no-margin-padding" *ngIf="isMobile() && isSkillschatDesign()">
    <app-header-chat
      (arrowBackClicked)="arrowBackClicked($event)"
      [selectedAccount]="selectedAccount">
    </app-header-chat>
  </div>

  <!--  Zone de message  -->
  <div class="chat-main-row-mobile " *ngIf="selectedAccount">
      <div class="chat-main-wrapper">
        <div class="col-lg-9 message-view chat-view">
          <div class="chat-window">
            <div class="chat-contents">
              <div class="chat-content-wrap">
                <div class="">
                  <div class="chat-box">
                    <div class="chats">

                      <div class="chat" *ngFor="let message of messages ;let indexOfMessage = index;"
                           [ngClass]="(message.emitterAccount && message.emitterAccount.idServer === loggedAccount.idServer)?'chat-right':'chat-left'">
                        <div class="chat-avatar">
                          <a [routerLink]="[routes.get('profile'), message.emitterAccount.idServer]" class="avatar">
                            <img alt="{{message.emitterAccount.firstname}}" src="{{message.emitterAccount | avatarUrl}}"
                                 class="img-fluid rounded-circle">
                          </a>
                        </div>
                        <div class="chat-body">
                          <div class="chat-bubble">
                            <!--Lecture des messages-->
                            <div class="chat-content" *ngIf="message.content !== ''">
                              <div class="col post-center" *ngIf="validateUrlLink(message.content)">
                                <app-link-display [url]="message.content"></app-link-display>
                              </div>
                              <span class='underline' *ngIf="isValideUrl">
                              <a [href]="message.content" target="_blank" rel="noopener noreferrer"
                                 [title]="message.content">{{ message.content }}</a>
                            </span>
                              <p *ngIf="!isValideUrl">{{ message.content }}</p>
                              <span class="chat-time">{{message.createdAt | date: 'hh:mm'}}</span>
                            </div>
                            <!--Lecture des medias-->
                            <div class="chat-content" *ngIf="message.multimedia && message.multimedia.length > 0">
                              <app-multimedia-display [multimedia]="message.multimedia[0]"></app-multimedia-display>
                              <span class="chat-time">{{message.createdAt | date: 'hh:mm'}}</span>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--  footer  -->
  <div class="main" *ngIf="isMobile() && isSkillschatDesign()">
    <app-send-chat></app-send-chat>
  </div>

  <app-loading [loading]="loadingMessage"></app-loading>
  <div class="col-12" *ngIf="!selectedAccount">
    <app-skillschat></app-skillschat>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Prendre une photo</h3>
        <button (click)="onClickCameraDown()" type="button"  class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions"
                [imageQuality]="1"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"
        ></webcam>
        <br/>
        <div class="m-t-30 text-center">
          <div class="files-list" *ngFor="let file of files;let i=index">
            <img src="{{'ic-file' | image}}" width="45px" alt="file">
            <div class="info">
              <h4 class="name">
                {{ file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size) }}
              </p>
              <app-progres-bar-horizontal [progress]="file?.progress"
                                          [loading]="file?.loading"></app-progres-bar-horizontal>
            </div>
            <button class="delete-file" (click)="deleteAttachment(i)">
              <img src="../../assets/images/delete.png" alt="delete">
            </button>
          </div>
          <button type="button" class="btn btn-primary submit-btn" (click)="triggerSnapshot();">Capture</button>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="onClickCameraDown()" #closebutton_picture type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>
