<div id="emailconfirmation-page" *ngIf="!isMobile()">
  <div id="header" >
    <div style="background-color: #E7E7EA;">
      <div class="row" style="width: 800px; min-width: 600px; margin: auto;">
        <div class="col-lg-12">
          <img src="{{BASE_URL + '/images/header_white.png'}}" alt="logo skillsmates" style="max-width: 100%; max-height: 100%; margin-bottom: 0px" />
        </div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="row" style="background-color: #16152D; height: 50px;">
      <div style="margin: auto">
        <div>
          <img src="{{BASE_URL + '/images/follower-white.png'}}" alt="like" style="height: 30px;vertical-align: middle; margin-bottom: 0px"/>
          <span style="text-transform: uppercase; font-size: 25px; color: white; margin-left: 15px">compte à activer</span>
        </div>
      </div>
    </div>

    <div class="row" style="background-color: white;">
      <p class="col-sm-9 offset-sm-2" style="font-size: 20px; margin-top: 10px; margin-bottom: 10px; color: #16152D">
        Votre compte Skills Mates, a bien été crée.
      </p>
      <p class="col-sm-9 offset-sm-2" style="font-size: 30px; font-weight: bold; margin-top: 10px; margin-bottom: 10px; color: red;">
        Un email de validation de compte vous a été envoyé. <br>
        Veuillez consulter vos emails et cliquez sur le lien pour valider votre compte
      </p>
    </div>

    <div class="row" style="height: auto; margin-top: 10px">
      <div class="col-sm-9 offset-sm-2" style="color: #16152D">
        <div id="contacts">
          <p style="font-size: 20px;">Bien cordialement.</p>
          <div style="border-bottom: 3px solid #F2B605; width: 200px;"></div>
          <div>
            <span style="font-size: 20px; font-weight: bold;">Le support utilisateurs Skillsmates</span><br/>
          </div>
          <div>
            <img src="{{BASE_URL + '/images/localisation-bleu.png'}}" alt="localisation" style="height: 30px;vertical-align: middle"/>
            <span>44 Rue de la republique - 75008 PARIS</span>
          </div>
          <div>
            <img src="{{BASE_URL + '/images/telephone-bleu.png'}}" alt="téléphone" style="height: 30px;vertical-align: middle"/>
            <span>01 01 01 01 01</span>
          </div>
          <div>
            <img src="{{BASE_URL + '/images/email-bleu.png'}}" alt="email" style="height: 30px;vertical-align: middle"/>
            <span>contact@skillsmates.com</span>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div id="footer">
    <div class ="row" style="margin-top: 10px;">
      <p style="font-size: 20px; margin: auto; color: #16152D">Suivez-nous</p>
    </div>
    <div class ="row" style="background: linear-gradient(0deg, #E7E7EA 50%, white 50%);">
      <div style="margin: auto;">
        <a href="{{FACEBOOK_LINK}}"><img src="{{BASE_URL + '/images/facebook-bleu.png'}}" alt="facebook" style="height: 60px;"/></a>
        <a href="{{INSTAGRAM_LINK}}"><img src="{{BASE_URL + '/images/instagram-bleu.png'}}" alt="instangram" style="height: 60px;"/></a>
        <a href="{{TWITTER_LINK}}"><img src="{{BASE_URL + '/images/twitter-bleu.png'}}" alt="twitter" style="height: 60px;"/></a>
        <a href="{{SNAPCHAT_LINK}}"><img src="{{BASE_URL + '/images/snapchat-bleu.png'}}" alt="snapchat" style="height: 60px;"/></a>
        <a href="{{TIKTOK_LINK}}"><img src="{{BASE_URL + '/images/tiktok-bleu.png'}}" alt="tiktok" style="height: 60px;"/></a>
      </div>
    </div>
    <div class ="row" style="height: 100px; background-color: #E7E7EA;">
      <div style="margin: auto;">
        <div>
          <img src="{{BASE_URL + '/images/symbole-skills-mates.png'}}" alt="logo skillsmates" style="height: 50px; vertical-align: middle"/>
          <span style="font-size: 17px; color: #16152D">&copy; Skills Mates 2020. Tous droits réservés.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="emailconfirmation-page-resp" *ngIf="isMobile()">
  <div id="header_resp">
    <div style="background-color: #E7E7EA;">
      <div class="row" style="max-width: 768px; margin: auto;">
        <div class="col-lg-12">
          <img src="{{BASE_URL + '/images/header_white.png'}}" alt="logo skillsmates" style="max-width: 100%; max-height: 100%; margin-bottom: 0px" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row" style="background-color: #16152D; height: 35px;">
      <div style="margin: auto">
        <div>
          <img src="{{BASE_URL + '/images/follower-white.png'}}" alt="like" style="height: 22px;vertical-align: middle; margin-bottom: 0px"/>
          <span style="text-transform: uppercase; font-size: 17px; color: white; margin-left: 15px">compte à activer</span>
        </div>
      </div>
    </div>

    <div class="col-12 scroll">
      <div class="row" style="background-color: white;">
        <p class="col-sm-9 offset-sm-2" style="font-size: 17px; margin-top: 20px; margin-bottom: 10px; color: #16152D">
          Votre compte Skills Mates, a bien été créé.
        </p>
        <p class="col-sm-9 offset-sm-2" style="font-size: 30px; font-weight: bold; margin-top: 10px; margin-bottom: 10px; color: red;">
          Un email de validation de compte vous a été envoyé. <br>
          Veuillez consulter vos emails et cliquez sur le lien pour valider votre compte
        </p>
      </div>
      <div class="row" style="height: auto; margin-top: 10px">
        <div class="col-sm-9 offset-sm-2" style="color: #16152D">
          <div id="contacts-resp">
            <p style="font-size: 17px;">Bien cordialement.</p>
            <div style="border-bottom: 3px solid #F2B605; width: 200px;"></div>
            <div>
              <span style="font-size: 17px; font-weight: bold;">Le support utilisateurs Skillsmates</span><br/>
            </div>
            <div>
              <img src="{{BASE_URL + '/images/localisation-bleu.png'}}" alt="localisation" style="height: 25px;vertical-align: middle"/>
              <span>44 Rue de la republique - 75008 PARIS</span>
            </div>
            <div>
              <img src="{{BASE_URL + '/images/telephone-bleu.png'}}" alt="téléphone" style="height: 25px;vertical-align: middle"/>
              <span>01 01 01 01 01</span>
            </div>
            <div>
              <img src="{{BASE_URL + '/images/email-bleu.png'}}" alt="email" style="height: 25px;vertical-align: middle"/>
              <span>contact@skillsmates.com</span>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
  <div id="footer-resp" style="position: fixed; left: 0;bottom: 0; width: 100%;">
    <div class ="row">
      <p style="font-size: 17px; margin: auto; color: #16152D">Suivez-nous</p>
    </div>
    <div class ="row" style="background: linear-gradient(0deg, #E7E7EA 50%, white 50%);">
      <div style="margin: auto;">
        <a href="{{FACEBOOK_LINK}}"><img src="{{BASE_URL + '/images/facebook-bleu.png'}}" alt="facebook" style="height: 45px;"/></a>
        <a href="{{INSTAGRAM_LINK}}"><img src="{{BASE_URL + '/images/instagram-bleu.png'}}" alt="instangram" style="height: 45px;"/></a>
        <a href="{{TWITTER_LINK}}"><img src="{{BASE_URL + '/images/twitter-bleu.png'}}" alt="twitter" style="height: 45px;"/></a>
        <a href="{{SNAPCHAT_LINK}}"><img src="{{BASE_URL + '/images/snapchat-bleu.png'}}" alt="snapchat" style="height: 45px;"/></a>
        <a href="{{TIKTOK_LINK}}"><img src="{{BASE_URL + '/images/tiktok-bleu.png'}}" alt="tiktok" style="height: 45px;"/></a>
      </div>
    </div>
    <div class ="row" style="height: 60px; background-color: #E7E7EA;">
      <div style="margin: auto;">
        <div>
          <img src="{{BASE_URL + '/images/symbole-skills-mates.png'}}" alt="logo skillsmates" style="height: 35px; vertical-align: middle"/>
          <span style="font-size: 15px; color: #16152D">&copy; Skills Mates 2020. Tous droits réservés.</span>
        </div>
      </div>
    </div>
  </div>
</div>




