<div class="row skillsmates-container" *ngIf="!isMobile()">
  <!-- partie gauche du dashboard -->
  <div class="col-3 skillsmates-box-padding">
    <app-account-profile
      [account]="account"
      [loading]="loading">
    </app-account-profile>
    <app-accountonline
      *ngIf="accountNetwork.accountsOnline"
      [infoNetworkType]="infoNetworkTypes[5]"
      [nbOnlineAccounts]="accountNetwork.accountsOnline.length"
      [accountsSocialInteractions]="accountNetwork.accountsOnline.slice(0, 10)">
    </app-accountonline>
    <div class="skillsmates-stick-top">
<!--      <app-aroundyou></app-aroundyou>-->
      <app-about></app-about>
    </div>
  </div>

  <!-- partie centrale du dashboard -->
  <div class="col-6 skillsmates-box-padding">
    <div class="">
      <!--      <app-alerte-updates></app-alerte-updates>-->
<!--      <app-ad-banner></app-ad-banner>-->
      <app-createpost></app-createpost>
      <app-interestingprofiles
        *ngIf="accountNetwork.suggestions"
        [accountsSocialInteractions]="accountsSuggestions">
      </app-interestingprofiles>
      <app-accountpost
        [account]="account"
        [isOnDashboard]="true"
        *ngIf="!loading">
      </app-accountpost>
    </div>
  </div>

  <!-- partie droite du dashboard -->
  <div class="col-3 skillsmates-box-padding">
    <app-forum
      *ngIf="accountNetwork && accountNetwork.aroundYou && accountNetwork.aroundYou.length > 0"
      [accountsSocialInteractions]="accountNetwork.aroundYou.slice(0, getMaxSize(accountNetwork.aroundYou.length, 10))">
    </app-forum>
    <app-selections
      *ngIf="accountNetwork && accountNetwork.aroundYou && accountNetwork.aroundYou.length > 0"
      [accountsSocialInteractions]="accountNetwork.aroundYou.slice(0, getMaxSize(accountNetwork.aroundYou.length, 10))">
    </app-selections>
    <div class="skillsmates-stick-top">
      <app-skillsmates-ambassador></app-skillsmates-ambassador>
      <app-skillsmates-partner [title]="'partner'"></app-skillsmates-partner>
    </div>
  </div>

  <div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0">
    <button class="btn"><em class="fa fa-arrow-up"></em></button>
  </div>
</div>

<div class="row skillsmates-container-mobile" *ngIf="isMobile()">
  <!-- partie centrale du dashboard -->
  <div class="col-12 no-margin-padding">
<!--    <app-ad-banner></app-ad-banner>-->
    <app-createpost></app-createpost>
    <app-interestingprofiles
      *ngIf="accountNetwork.suggestions"
      [accountsSocialInteractions]="accountNetwork.suggestions.slice(0, 10)">
    </app-interestingprofiles>
    <app-accountpost
      [account]="account"
      [isOnDashboard]="true"
      *ngIf="!loading">
    </app-accountpost>
  </div>
</div>
