.scroll-to-top{
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn {
  background-color: #16152d;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


/*.scrolling-wrapper {*/
/*  overflow-x: scroll;*/
/*  overflow-y: hidden;*/
/*  white-space: nowrap;*/
/*}*/

/*.scrolling-wrapper > .card {*/
/*  display: inline-block;*/
/*}*/

