<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto; cursor: pointer;" [routerLink]="[routes.get('profile.my')]">
    <div class="col-12 skillsmates-box-top" *ngIf="loggedAccount.idServer === account.idServer">
      <strong *ngIf="!account.status">Profil</strong>
      <span *ngIf="account.status" class="title"><img width="18" height="18" src="{{account | professionIcon}}" class="m-r-5" alt=""></span>
<!--      <span style="float: right; cursor: pointer;">-->
<!--        <a [routerLink]="[routes.get('profile.my')]" style="color: #16162d;">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
    <div class="col-12 skillsmates-box-top" *ngIf="loggedAccount.idServer !== account.idServer">
      <strong *ngIf="!account.status">Profil</strong>
      <span *ngIf="account.status" class="title"><img width="18" height="18" src="{{account | professionIcon}}" class="m-r-5" alt=""></span>
      <span style="float: right;">
        <a [routerLink]="[routes.get('profile'), account.idServer]" style="color: #16162d;">
          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">
        </a>
      </span>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" *ngIf="!loading" style="margin: 0;">
    <div class="col-12">
      <div class="profile-img" style="margin: auto; padding-bottom: 0" *ngIf="loggedAccount.idServer === account.idServer">
        <a [routerLink]="[routes.get('profile.my')]">
          <img class="avatar" src="{{account | avatarUrl}}" alt="" style="border: white solid 2px; margin-top: -10px; z-index: 99;" >
        </a>
      </div>
      <div class="profile-img" style="margin: auto; padding-bottom: 0" *ngIf="loggedAccount.idServer !== account.idServer">
        <a [routerLink]="[routes.get('profile'), account.idServer]">
          <img class="avatar" src="{{account | avatarUrl}}" alt="" style="border: white solid 2px; margin-top: -10px; z-index: 99;" >
        </a>
      </div>
    </div>
    <div class="col-12 text-left skillsmates-single-line" style="color: #16152d; font-size: 14px;">
      <ul class="personal-info">
        <li>
          <span class="title"><img width="18" height="18" src="{{'user' | image}}" class="m-r-5" alt=""></span>
          <span class="text"><strong>{{name(account)}}</strong></span>
<!--          <span class="text"><strong>{{account.lastname}} {{account.firstname}}</strong></span>-->
        </li>
      </ul>
    </div>
  </div>

  <div class="row bg-white" *ngIf="!loading" style="margin: 0; border-radius: 0 0 10px 10px;">
    <div class="col-12">
      <ul class="personal-info">
        <li *ngIf="account.currentJobTitle">
          <span class="title"><img width="18" height="18" src="{{account | jobIcon}}" class="m-r-5" alt=""></span>
          <span class="text">{{account.currentJobTitle}}</span>
        </li>
        <li *ngIf="account.currentEstablishmentName">
          <span class="title"><img width="18" height="18" src="{{getEstablishmentIcon() | image}}" class="m-r-5" alt=""></span>
          <span class="text">{{account.currentEstablishmentName}}</span>
        </li>
        <li *ngIf="account.city || account.country">
          <span class="title"><img width="18" height="18" src="{{'location' | image}}" class="m-r-5" alt=""></span>
          <span class="text"> <span *ngIf="account.city">{{account.city}}</span> <span *ngIf="account.country"> - {{account.country | countryName}}</span></span>
        </li>
      </ul>
    </div>

    <div class="col-12" style="margin-top: 5px; margin-bottom: 10px;">
      <app-horizontal-line [color]="'#DADADA'"></app-horizontal-line>
    </div>

    <div class="col-12" style="padding-bottom: 10px;">

      <ul class="personal-info" style="cursor: pointer;">
        <li [routerLink]="[routes.get('documents.my')]">
          <span class="title"><img width="18" height="18" src="{{'publications' | image}}" class="m-r-5" alt=""></span>
          <span class="text float-left"><strong>{{accountSocialInteractions.numberPosts}}</strong> &nbsp; Publications</span>
        </li><br/>
        <li (click)="onClickFollowers()" [routerLink]="[routes.get('network.my')]">
          <span class="title"><img width="18" height="18" src="{{'followers-black'| image}}" class="m-r-5" alt=""></span>
          <span class="text float-left"><strong>{{accountNetwork.numberFollowers}}</strong> &nbsp; Abonnés</span>
        </li><br/>
        <li (click)="onClickFollowees()" [routerLink]="[routes.get('network.my')]">
          <span class="title"><img width="18" height="18" src="{{'following-black' | image}}" class="m-r-5" alt=""></span>
          <span class="text float-left"><strong>{{accountNetwork.numberFollowees}}</strong> &nbsp; Abonnements</span>
        </li>
      </ul>

    </div>
  </div>
</div>
