<div class="dropdown-menu notifications header-search-content">
  <div class="topnav-dropdown-header" style="padding: 10px 0 10px 0;">
    <span [routerLink]="[routes.get('network.my')]" *ngIf="notificationType === 'network'" class="notif-title" style="color: #16152D;"><strong>Voir votre réseau</strong></span>
    <span [routerLink]="[routes.get('notifications.my')]" *ngIf="notificationType === 'bell'" class="notif-title" style="color: #16152D;"><strong>Voir toutes les notifications</strong></span>
  </div>
  <div class="drop-scroll" *ngIf="notifications" style="overflow: hidden;">
    <ul class="notification-list" style="overflow: hidden">
      <li class="" *ngFor="let notification of notifications">
        <app-notification-content
          *ngIf="notification && notification.receiverAccount && notification.receiverAccount.firstname && notification.receiverAccount.lastname"
          [notification]="notification">
        </app-notification-content>
      </li>
    </ul>
  </div>
</div>
