<div class="row" style="padding-right: 5px;">
  <div class="col-2">
    <span class="user-img">
      <a *ngIf="account.idServer === loggedAccountId else showVisitorPhoto" [routerLink]="[routes.get('profile.my')]">
        <img class="rounded-circle" src="{{account | avatarUrl}}" style="background-color: whitesmoke;" width="48" alt="{{account.lastname}}">
      </a>
      <ng-template #showVisitorPhoto>
        <a [routerLink]="[routes.get('profile'), account.idServer]">
        <img class="rounded-circle" src="{{account | avatarUrl}}" style="background-color: whitesmoke;" width="48" alt="{{account.lastname}}">
      </a>
      </ng-template>
      <span *ngIf="account.connected" class="status online"></span>
      <span *ngIf="!account.connected" class="status offline"></span>
    </span>
  </div>
  <div [ngClass]="isMobile()? 'col-9 text-right':'col-9 text-left'">
    <h4 [ngClass]="isMobile()? 'doctor-name text-left skillsmates-single-line':'doctor-name text-left skillsmates-single-line'">
      <a *ngIf="account.idServer === loggedAccountId else showVisitorName" [routerLink]="[routes.get('profile.my')]">{{name(account)}}</a>
      <ng-template #showVisitorName>
        <a [routerLink]="[routes.get('profile'), account.idServer]">{{name(account)}}</a>
      </ng-template>
      &nbsp;
      <span>
        <img height="20" src="{{account | professionIcon}}" alt="">
      </span>
    </h4>
    <div class="" style="font-size: small;">
      <span *ngIf="account.currentJobTitle">
        <img height="14" src="{{'job' | image}}"   alt=""> {{account.currentJobTitle}} -
      </span>
      <span *ngIf="account.currentEstablishmentName">
        <img height="14" src="{{getEstablishmentIcon() | image}}" alt=""> {{account.currentEstablishmentName}} -
      </span>
      <span *ngIf="account.city">
        <img height="14" src="{{'location' | image}}" alt=""> {{account.city}}
      </span>
      <span *ngIf="account.country">({{account.country | countryName}})</span>
    </div>
    <span *ngIf="!displayMenu; else dateShared" class="date-post">{{postSocialInteractions.post.createdAt | timeAgo}}</span> &nbsp;
    <ng-template #dateShared>
      <span class="date-post toto">{{postSocialInteractions.shareSocialInteraction.createdAt | timeAgo}}</span> &nbsp;
    </ng-template>
  </div>
  <div class="col-1 text-right">
    <div class="dropdown dropdown-action" *ngIf="(isSimplePost && loggedAccount)">
      <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><em class="fa fa-ellipsis-v"></em></a>
      <div class="dropdown-menu dropdown-menu-right skillsmates-box-shadow bg-white">
        <a class="dropdown-item skillsmates-dropdown-menu" ><em class="fa fa-save m-r-5"></em> Enregistrer</a>
        <a class="dropdown-item skillsmates-dropdown-menu" *ngIf="loggedAccount.idServer === account.idServer" (click)="onClickUpdate(postSocialInteractions.post)" [routerLink]="[routes.get('post.edit.my')]" [state]={post:postSocialInteractions.post}>
          <em class="fa fa-pencil m-r-5"></em> Modifier
        </a>
        <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickCopy(postSocialInteractions.post)"><em class="fa fa-link m-r-5"></em> Copier le lien du post</a>
        <a class="dropdown-item skillsmates-dropdown-menu" ><em class="fa fa-bell m-r-5"></em> Activer les notifications</a>
        <a href="#" class="dropdown-item skillsmates-dropdown-menu" data-toggle="modal" data-target="#delete_post" (click)="onClickDelete(postSocialInteractions.post)" *ngIf="loggedAccount.idServer === account.idServer">
          <em class="fa fa-trash m-r-5"></em> Supprimer
        </a>
      </div>
    </div>
  </div>
</div>

