/*.badge_certification{*/
/*  background-image: url("src/assets/images/badge-background.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*}*/

@media only screen and (min-width: 800px){
  .badge_certification{
    background-image: url("src/assets/images/badge-background.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
