<div class="row">
  <div class="col-12">
    <div class="roles-menu badge_certification" style="border: #e9e8e7 solid 1px; border-radius: 10px;">
      <ul>
        <li class="">
          <a href="javascript:void(0);">
            <div *ngIf="certificate"><strong>Intitulé: </strong><strong style="font-size: 16px">{{certificate.entitledCertification}}</strong></div>
            <!--<div *ngIf="certificate.activityArea.specified"><strong>Certification: </strong><strong style="font-size: 16px">{{certificate.anotherActivityArea}}</strong></div>-->
            <div *ngIf="!certificate.activityArea.specified"><strong>Domaine d'activité: </strong><em>{{certificate.activityArea.label}}</em></div>
            <div *ngIf="certificate.activityArea.specified"><strong>Domaine d'activité: </strong><em>{{certificate.anotherActivityArea}}</em></div>
          </a>
          <span class="role-action">
            <a *ngIf="loggedAccount.idServer === account.idServer" class="icon-action" style="margin-right: 10px;" (click)="onClickEdit(certificate)">
              <span class="action-circle large">
                <em class="material-icons" style="color: green;">edit</em>
              </span>
            </a>
             <a *ngIf="loggedAccount.idServer === account.idServer" href="#" data-toggle="modal" data-target="#delete_certification" (click)="onClickDelete(certificate)">
              <span class="action-circle large delete-btn">
                <em class="material-icons" style="color: red;">delete</em>
              </span>
            </a>
          </span>
          <div style="padding-left: 20px;">

            <div class="container" style="padding: 20px;">
              <div class="row">
                <div class="col-1">
                  <img width="48" height="48" src="{{'certification' | image}}" class="m-r-5" alt="">
                </div>

                <div class="col-11">
                  <div>
                    <strong>Etablissement de délivrance :</strong>&nbsp;<span>{{certificate.issuingInstitutionName}} </span>
                  </div>
                  <div *ngIf="certificate.permanent">
                    <strong>Certificat :</strong>&nbsp;<span> permanent</span>
                  </div>
                  <div *ngIf="certificate.temporary">
                    <strong>Certificat :</strong>&nbsp;<span> temporaire</span>
                  </div>
                  <div style="font-size: 12px;">
                    <span><strong>Date d'obtention</strong>&nbsp; {{certificate.obtainedDate | date: 'dd/MM/yyyy'}} &nbsp;</span>
                  </div>
                  <div style="font-size: 12px;" *ngIf="certificate.temporary">
                    <span><strong>Date d'expiration</strong>&nbsp; {{certificate.expirationDate | date: 'dd/MM/yyyy'}} &nbsp;</span>
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 10px" *ngIf="certificate.description">
                <div class="col-12">
                  <strong>Description:</strong>&nbsp;<span>{{certificate.description}}</span>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="delete_certification" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="./assets/images/symbole-skills-mates.svg" alt="" width="50" height="46">
        <h3>Voulez-vous supprimer cette certification ?</h3>
        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onClickConfirmDelete()">OUI</button>
        </div>
      </div>
    </div>
  </div>
</div>
