.icon-action{

}

.icon-action:hover{
  color: #16162d;
}

/*.skills-very-good{*/
/*  background-image: url("src/assets/images/skills-very-good.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*}*/

@media only screen and (min-width: 800px){
  .skills-very-good{
    background-image: url("src/assets/images/skills-very-good.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

/*.skills-good{*/
/*  background-image: url("src/assets/images/skills-good.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*}*/

@media only screen and (min-width: 800px){
  .skills-good{
    background-image: url("src/assets/images/skills-good.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

/*.skills-basics{*/
/*  background-image: url("src/assets/images/skills-basics.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*}*/

@media only screen and (min-width: 800px){
  .skills-basics{
    background-image: url("src/assets/images/skills-basics.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

/*.skills-intermediate{*/
/*  background-image: url("src/assets/images/skills-intermediate.svg");*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*}*/

@media only screen and (min-width: 800px){
  .skills-intermediate{
    background-image: url("src/assets/images/skills-intermediate.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}
