<div class="row">
  <div class="col-12">
    <div class="roles-menu" style="border: #e9e8e7 solid 1px; border-radius: 10px;"
         [ngClass]="{'skills-very-good': skill.level.grade === 2, 'skills-good': skill.level.grade === 1, 'skills-intermediate': skill.level.grade === -1, 'skills-basics': skill.level.grade === -2}">
      <ul>
        <li class="">
          <a href="javascript:void(0);"><strong>Compétence:</strong>&nbsp;{{skill.label}}</a>
          <span class="role-action">
            <a *ngIf="loggedAccount.idServer === account.idServer" class="icon-action" style="margin-right: 10px;" (click)="onClickEdit(skill)">
              <span class="action-circle large">
                <em class="material-icons" style="color: green;">edit</em>
              </span>
            </a>
            <a *ngIf="loggedAccount.idServer === account.idServer" href="#" data-toggle="modal" data-target="#delete_skill" (click)="onClickDelete(skill)">
              <span class="action-circle large delete-btn">
                <em class="material-icons" style="color: red;">delete</em>
              </span>
            </a>
          </span>
          <div style="padding-left: 20px;">
            <div class="container" style="padding: 20px;">
              <div class="row">
                <span class="inst" style="margin-left: 10px">
                  <img src="./assets/images/{{skill.level.icon}}" width="48" alt="">
                </span>

                <div class="col" style=" margin-left: 10px ">
                  <div class="row" style="font-size: 17px">
                    <strong>Discipline:</strong>&nbsp;<span> {{skill.discipline}}</span>
                  </div>
                  <div class="row" style="font-size: 12px">
                    <strong>Niveau de compétence:</strong>&nbsp;<span> {{skill.level.label}} </span>
                  </div>
                </div>
                <div class="col">
<!--                  <span class="new-professionnal-link fa fa-ellipsis-h float-right" style="font-size:30px; color:black; horiz-align: right "(click)="onClickEditProfessionnal('mastered')"></span>-->
                </div>
              </div>

              <div class="row" style="margin-top: 10px;">
                <div class="col-12" style="word-wrap: break-word; text-overflow: ellipsis;">
                  <strong>Description:</strong>&nbsp;{{skill.keywords}}
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="delete_skill" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{'symbole-skills-mates' | image}}" alt="" width="50" height="46">
        <h3>Voulez-vous supprimer cette compétence?</h3>
        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">NON</a>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onClickConfirmDelete()">OUI</button>
        </div>
      </div>
    </div>
  </div>
</div>
