<a (click)="onClickNotification(notification)" style="cursor: pointer;">
  <div class="media">
    <span class="avatar" *ngIf="notification.emitterAccount">
      <img alt="user notif" src="{{notification.emitterAccount | avatarUrl}}" class="img-fluid">
      <span class="status online"></span>
    </span>
    <div class="media-body">
      <p class="noti-details">
        <strong style="color: #16152d;">{{notification.emitterAccount.firstname}} &nbsp; {{notification.emitterAccount.lastname}}</strong> &nbsp;
        {{generateTitle(notification)}}
        <em *ngIf="notification.type !== 'FOLLOWER' && notification.type !== 'FAVORITE'"><strong>{{notification.title}}</strong></em>
      </p>
      <p class="noti-time"><span class="notification-time">{{notification.createdAt | date: 'short'}}</span></p>
    </div>
  </div>
</a>
