.search-block {
  border: 3px solid black;
  border-radius: 15px;
  height: auto;
  width: auto;
  margin: 30px 0px 0px 0px;
  padding: 0px;
  background-color: #FFFFFF;
}

.search-block-2 {
  margin: 20px 40px 10px 40px;
}

.div-post-image{
  border-radius: 6px;
  /*margin: 5px;*/
}
.publication-image-document{
  width: 25px;
  height: 25px;
  margin: 5px;
}

@media screen and (max-width: 768px) {

}

/* Navigation */
nav {
  display: inline-block;
  width: 100%;
  text-align: right;
}
nav ul
{
  list-style-type: none;
}
nav li
{
  display: inline-block;
  margin-right: 15px;
}
nav a
{
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}
nav a:hover
{
  color: #760001;
  border-bottom: 3px solid #760001;
}
.search-results-tab{
  cursor: pointer;
}

.search-results-tab-selected{
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding-right: 10px;
  padding-left: 0px;
}

.sm-border-radius-btn{
  border-radius: 10px;
}

.title-search{
  color: #16152D;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  /*max-width: 550px;*/
  display: table;
  margin: 50px auto;
}

.list-content {
  max-width: 550px;
}

.center{
  margin-top: 10px;
  margin-bottom: 30px;
}

.item{

}

.my_class{
  visibility: hidden;
}

.label-media-mobile{
  font-size: x-small;
  color: #16152d;
  font-style: italic;
}
