<div class="col-12 skillsmates-container" *ngIf="!isMobile()">
  <!--  Search block -->
  <div class="row search-block">
    <div class="row search-block-2">
      <nav>
        <ul>
          <li>
            <div style="display: flex; align-items: center; color: #16152d;">
              <strong>Sélectionner <br> une catégorie</strong>
            </div>
          </li>
          <li class="search-results-tab" *ngFor="let m of allMediaTypes" (click)="onClickMediaTypes(m)"
              [ngStyle]="{'background-color': m.selected ? m.color : '#FFFFFF'}"
              [ngClass]="{'search-results-tab-selected': m.selected}">
            <div class="row" style="margin: 0 auto;">
              <div>
                <span [style.background-color]="m.color" class="div-post-image" style="display: inline-block;">
                  <img [src]="m.picture" class="publication-image-document" alt="" style="filter: invert()">
                </span>
              </div>
              <div style="display: flex; align-items: center;" [ngStyle]="{'color': m.selected ? '#FFFFFF': '#15162D'}">
                <label style="cursor: pointer">{{m.title}}<strong>{{" ("+m.found+")"}}</strong></label>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <!--  Zone de recherche -->
      <div class="row" style="width:100%;margin: 10px 0 10px 0">
        <div class="col-12 input-group">
          <input type="text" [(ngModel)]="searchParam.content" style="font-size: medium" class="form-control" maxlength="255"
                 (keydown.enter)="onKeydown($event)" (keyup)="keyupContent()"
                 placeholder="Quels sont les mots clés de votre recherche ? (Nom, titre, disciplines, thématiques …)"
                 aria-label="Quels sont les mots clés de votre recherche ? (Nom, titre, disciplines, thématiques …)">
          <small class="text-danger" *ngIf="errors.searchContent">{{errors.searchContent}}</small>
        </div>
      </div>

      <!--  Zone de filtre et tri -->
      <div class="row" style="width:100%; margin: 10px 0 10px 0">
        <div class="col-4 input-group">
          <select class="form-control custom-select" id="selectedPreference" name="selectedCountry"
                  (change)="onChangePreferences($event)">
            <option selected disabled>-- Filtrer par --</option>
            <option *ngIf="selectedMediaType.position === 6" [ngValue]="'Tous'">Les plus vus</option>
            <option *ngIf="selectedMediaType.position === 6" [ngValue]="'Tous'">Les plus suivis</option>
            <option *ngIf="selectedMediaType.position !== 6" [ngValue]="'Tous'">Les plus commentés</option>
            <option *ngIf="selectedMediaType.position === 6" [ngValue]="'Tous'">Les plus vus</option>
            <option *ngIf="selectedMediaType.position !== 6" [ngValue]="'Tous'">Les plus partagés</option>
            <option *ngIf="selectedMediaType.position !== 6" [ngValue]="'Tous'">Les plus likés</option>
            <option *ngIf="selectedMediaType.position === 6" [ngValue]="'Tous'">Les plus téléchargés</option>
          </select>
        </div>

        <div class="col-3 input-group" [ngClass]="{'my_class': selectedMediaType.position !== 6}">
          <div class="input-group">
            <input type="text" class="form-control" style="border-radius: 10px;" list="datalist1" [(ngModel)]='currentCountry' placeholder=" Pays "
                   (keyup)="onKeyupCountry()" (change)="onSelectCountry(currentCountry)"/>
            <datalist id="datalist1">
              <option *ngFor="let country of restCountries" [value]="country.cca3 | countryName">
                {{ country.cca3 | countryName }}
              </option>
            </datalist>
          </div>
        </div>

        <div class="col-3 input-group" [ngClass]="{'my_class': selectedMediaType.position !== 6}">
          <input type="text" [(ngModel)]="city" style="font-size: medium" class="form-control" maxlength="255"
                 (keyup)="keyupCity()"
                 placeholder="Ville" aria-label="Ville">
          <small class="text-danger" *ngIf="errors.city">{{errors.city}}</small>
        </div>

        <div class="col-2 input-group">
          <select class="form-control custom-select" id="selectedTime" name="selectedTime"
                  (change)="onChangeTime($event)">
            <option selected disabled>-- Trier par --</option>
            <option [ngValue]="'Tous'">Plus anciens</option>
            <option [ngValue]="'Tous'">Plus recents</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Bouton recherche & affichage du nombre d'elements-->
    <div style="width: 100%; height: 15px; border-bottom: 0 solid black; text-align: center;">
      <button (click)="onClickSearch()" class="btn btn-primary sm-border-radius-btn"
              style="padding-left:15px; padding-right: 15px; color: white">Rechercher
      </button>
    </div>
  </div>
  <div class="title-search" *ngIf="count" style="margin-bottom: -30px">
    <span style="font-weight: bold">{{count}}</span>
    <span *ngIf="accountSocialInteractionsSearch && count > 1"> résultats trouvés</span>
    <span *ngIf="accountSocialInteractionsSearch && count <= 1"> résultat trouvé</span>
  </div>

  <div class="row" style="margin-top: 50px">
    <!--  Zone de selection des types-->
    <div class="col-3">
      <app-search-type
        [mediaType]="selectedMediaType"
        [mediaTypes]="selectedMediaTypes"
        [account]="loggedAccount"
        (selectAllProfiles)="selectAllProfiles($event)"
        (selectSubtypes)="selectSubType($event)"
        (selectMediaSubtype)="selectMediaSubtype($event)">
      </app-search-type>
    </div>
    <!--  Zone d'affichage des résultats -->
    <div class="col-9">
      <div class="row center">
        <span style=""> Nombre d'éléments à afficher par page</span>
        <div class="col-2 input-group">
          <select class="form-control custom-select" id="numberOfElements" name="numberOfElements"
                  (change)="onChangeItemsNumber($event)">
            <option selected>{{itemsPerPageDefault}}</option>
            <option [ngValue]="'48'">48</option>
            <option [ngValue]="'96'">96</option>
          </select>
        </div>
      </div>

      <app-loading [loading]="loading"></app-loading>

      <div *ngIf="!loading">
        <div class="row" *ngIf="selectedMediaType.position === 6 && accountsSocialInteractions.length > 0 ">
          <div class="col-4" style="padding: 2px;" *ngFor="let accountsSocialInteraction of accountsSocialInteractions">
            <app-accountprofile
              [accountSocialInteractions]="accountsSocialInteraction"
              [showFollowButton]="true"
              [loading]="loading">
            </app-accountprofile>
          </div>
        </div>

        <div class="row" *ngIf="selectedMediaType.position !== 6">
          <div class="col-4" style="padding: 2px;" *ngFor="let postSocialInteractions of postsSocialInteractions">
            <app-document-search-result
              [postSocialInteractions]="postSocialInteractions"
              [mediaType]="selectedMediaType">
            </app-document-search-result>
          </div>
        </div>

        <div class="row" *ngIf="postsSocialInteractions.length <= 0 && accountsSocialInteractions.length <= 0 && searchButtonClicked">
          <div class="col" style="padding: 2px;">
            <div class="text-center" style="font-weight: bold; font-size: x-large">Aucun résultat trouvé</div>
            <img src="{{'no-result' | image}}" alt="">
            <div class="text-center" style="font-weight: bold; font-size: large">Supprimez des filtres ou reformulez votre <br/> recherche pour obtenir des résultats</div>
          </div>
        </div>

        <div class="row" *ngIf="!searchButtonClicked">
          <div class="col" style="padding: 2px;">
            <div class="text-center" style="font-weight: bold; font-size: x-large">Veuillez effectuer une recherche</div>
          </div>
        </div>

      </div>

      <!--Pagination-->
      <div class="row list" *ngIf="count && count > 0 && !error">
        <ul class="nav nav-pills page list-content">
          <li
            *ngFor="let item of pages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: count }"></li>
        </ul>
        <pagination-controls (pageChange)="getPage(currentPage = $event)"></pagination-controls>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>

<div class="skillsmates-container-mobile" *ngIf="isMobile()">

  <div class="form-group" style="margin: 5px;">
    <label class="skillsmates-label-mobile">Que recherchez vous?</label>
    <input type="text" [(ngModel)]="searchParam.content" style="font-size: medium" class="form-control" maxlength="255"
           (keydown.enter)="onKeydown($event)" (keyup)="keyupContent()" placeholder="Que recherchez vous?"
           aria-label="Que recherchez vous?">
  </div>

  <div class="row scrolling-wrapper">
    <div class="col-3 no-margin-padding search-results-tab text-center card"
         *ngFor="let m of allMediaTypes" (click)="onClickMediaTypes(m)"
         [ngStyle]="{'background-color': m.selected ? m.color : '#FFFFFF'}"
         [ngClass]="{'search-results-tab-selected': m.selected}">
      <div>
          <span [style.background-color]="m.color" class="div-post-image" style="display: inline-block;">
            <img [src]="m.picture" class="publication-image-document" alt="" style="filter: invert()">
          </span>
      </div>
      <div class="label-media-mobile text-center"
           style="align-items: center;"
           [ngStyle]="{'color': m.selected ? '#FFFFFF': '#15162D'}">
        <label style="cursor: pointer;">{{m.title}}<strong>{{" ("+m.found+")"}}</strong></label>
      </div>
    </div>
  </div>

  <div class="row" style="margin: 5px;" *ngIf="selectedMediaType.position === 6" >
    <div class="col input-group">
      <div class="input-group">
        <input type="text" class="form-control" style="border-radius: 10px;" list="datalist2" [(ngModel)]='currentCountry' placeholder=" Pays "
               (keyup)="onKeyupCountry()" (change)="onSelectCountry(currentCountry)"/>
        <datalist id="datalist2">
          <option *ngFor="let country of restCountries" [value]="country.cca3 | countryName">
            {{ country.cca3 | countryName }}
          </option>
        </datalist>
      </div>
    </div>

    <div class="col input-group">
      <input type="text" [(ngModel)]="city" style="font-size: medium" class="form-control" maxlength="255"
             (keyup)="keyupCity()"
             placeholder="Ville" aria-label="Ville">
      <small class="text-danger" *ngIf="errors.city">{{errors.city}}</small>
    </div>
  </div>


  <div class="row" style="margin: 5px;">
    <div class="col-12" style="width: 100%; height: 15px; border-bottom: 0 solid black; text-align: center;">
      <button (click)="onClickSearch()" class="btn btn-primary btn-lg btn-block sm-border-radius-btn"
              style="padding-left:15px; padding-right: 15px; color: white">Rechercher
      </button>
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <!--  Zone de selection des types-->
    <div class="col-12">
      <app-search-type
        [mediaType]="selectedMediaType"
        [mediaTypes]="selectedMediaTypes"
        [account]="loggedAccount"
        (selectSubtypes)="selectSubType($event)"
        (selectMediaSubtype)="selectMediaSubtype($event)">
      </app-search-type>
    </div>

    <!--  Zone d'affichage des résultats -->
    <div class="col-12">
      <div class="row" style="margin: 2px;">
        <span class="col-10" style=""> Nombre d'éléments à afficher par page</span>
        <div class="col-2 input-group">
          <select class="form-control custom-select" id="numberOfElementsMobile" name="numberOfElementsMobile"
                  (change)="onChangeItemsNumber($event)">
            <option selected>{{itemsPerPageDefault}}</option>
            <option [ngValue]="'48'">48</option>
            <option [ngValue]="'96'">96</option>
          </select>
        </div>
      </div>

      <app-loading [loading]="loading"></app-loading>

      <div *ngIf="!loading">
        <div class="row" *ngIf="selectedMediaType.position === 6">
          <div class="col-6 col-md-3 col-lg-3" style="padding: 2px;"
               *ngFor="let accountsSocialInteraction of accountsSocialInteractions">
            <app-accountprofile
              [accountSocialInteractions]="accountsSocialInteraction"
              [showFollowButton]="true"
              [loading]="loading">
            </app-accountprofile>
          </div>
        </div>

        <div class="row" *ngIf="selectedMediaType.position !== 6">
          <div class="col-12 col-md-4 col-lg-4" style="padding: 2px;"
               *ngFor="let postSocialInteractions of postsSocialInteractions">
            <app-document-search-result
              [postSocialInteractions]="postSocialInteractions"
              [mediaType]="selectedMediaType">
            </app-document-search-result>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="postsSocialInteractions.length <= 0 && accountsSocialInteractions.length <= 0 && searchButtonClicked">
        <div class="col text-center" style="padding: 2px;">
          <div class="text-center" style="font-weight: bold; font-size: x-large">Aucun résultat trouvé</div>
          <img height="50%" src="{{'no-result' | image}}" alt="">
          <div class="text-center" style="font-weight: bold; font-size: large">Supprimez des filtres ou reformulez votre <br/> recherche pour obtenir des résultats</div>
        </div>
      </div>

      <div class="row" *ngIf=" !searchButtonClicked">
        <div class="col text-center" style="padding: 2px;">
          <div class="text-center" style="font-weight: bold; font-size: x-large">Veuillez effectuer une recherche</div>
        </div>
      </div>

      <!--Pagination-->
      <div class="row list" *ngIf="count && count > 0 && !error">
        <ul class="nav nav-pills page list-content">
          <li
            *ngFor="let item of pages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: count }"></li>
        </ul>
        <pagination-controls (pageChange)="getPage(currentPage = $event)"></pagination-controls>
      </div>
    </div>

  </div>


</div>

