<div class="row" style="padding: 10px; width: auto" *ngIf="!loading">
  <div class="col text-center" (click)="onClickButton()">
    <span class="staff-msg">
      <a
        *ngIf="loggedAccount.id === account.id"
        class="btn return-button"
        style="color: whitesmoke"
      >
        <img class="avatar" src="{{ account | avatarUrl }}" alt="" />
        {{ title }}
      </a>
      <a
        *ngIf="loggedAccount.id !== account.id"
        class="btn return-button"
        style="color: whitesmoke"
      >
        <img class="avatar" src="{{ account | avatarUrl }}" alt="" />
        {{ title }}
      </a>
    </span>
  </div>
</div>
