<div class="row" *ngIf="loading">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <img src="{{'symbole-skills-mates'| image}}" alt="loader" class="rotate" width="{{width}}" height="{{width}}" />
  </div>
  <div class="col-md-4"></div>
</div>
