<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto; cursor: pointer;">
    <div class=" xx skillsmates-box-top"  [routerLink]="[routes.get('profile.my')]" *ngIf="loggedAccount.idServer === accountSocialInteractions.account.idServer">
      <strong *ngIf="!accountSocialInteractions.account.status">Profil</strong>
      <span *ngIf="accountSocialInteractions.account.status" class="title"><img style="height: 18px" width="18" height="18" src="{{accountSocialInteractions.account | professionIcon}}" class="m-r-5" alt=""></span>
<!--      <span style="float: right;">-->
<!--        <a [routerLink]="[routes.get('profile.my')]" style="color: #16162d;">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
    <div class=" xxx skillsmates-box-top" style="cursor: pointer;" [routerLink]="[routes.get('profile'), accountSocialInteractions.account.idServer]" *ngIf="loggedAccount.idServer !== accountSocialInteractions.account.idServer">
      <strong *ngIf="!accountSocialInteractions.account.status">Profil</strong>
      <span *ngIf="accountSocialInteractions.account.status" class="title"><img style="height: 18px" width="18" height="18" src="{{accountSocialInteractions.account | professionIcon}}" class="m-r-5" alt=""></span>
<!--      <span style="float: right;">-->
<!--        <a  style="color: #16162d;">-->
<!--          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">-->
<!--        </a>-->
<!--      </span>-->
    </div>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #FFFFFF; text-align: center;"></div>
  <div class="row bg-white" *ngIf="!loading" style="margin: 0;">
    <div class="col-12">
      <div class="profile-img" style="margin: auto; padding-bottom: 0;" *ngIf="loggedAccount.idServer === accountSocialInteractions.account.idServer">
        <a [routerLink]="[routes.get('profile.my')]">
          <img class="avatar" src="{{accountSocialInteractions.account | avatarUrl}}" alt="" style="border: white solid 2px; margin-top: -10px; z-index: 99;" >
        </a>
      </div>
      <div class="profile-img" style="margin: auto; padding-bottom: 0;" *ngIf="loggedAccount.idServer !== accountSocialInteractions.account.idServer">
        <a [routerLink]="[routes.get('profile'), accountSocialInteractions.account.idServer]">
          <img class="avatar" src="{{accountSocialInteractions.account | avatarUrl}}" alt="" style="border: white solid 2px; margin-top: -10px; z-index: 99;" >
        </a>
      </div>
    </div>
    <div class="col-12 text-center skillsmates-single-line" style="color: #16152d; font-size: small;">
      <strong>{{accountSocialInteractions.account.firstname}} {{accountSocialInteractions.account.lastname}}</strong>
    </div>
  </div>

  <div class="row bg-white" *ngIf="!loading" style="margin: 0; border-radius: 0 0 10px 10px; padding-top: 5px;">
    <div class="col-3">
      <img style="vertical-align: baseline;" height="20" src="{{accountSocialInteractions.account | jobIcon}}" alt="">
    </div>
    <div class="col-9" style="margin-left: -10%;">
      <span style="font-size: 98%" *ngIf="accountSocialInteractions.account.currentJobTitle" class="title skillsmates-single-line">{{accountSocialInteractions.account.currentJobTitle}}</span>
    </div>


    <div class="col-3">
      <img style="vertical-align: baseline;" height="20" src="{{getEstablishmentIcon() | image}}" alt="">
    </div>
    <div class="col-9" style="margin-left: -10%;">
      <span style="font-size: 98%" *ngIf="accountSocialInteractions.account.currentEstablishmentName" class="text skillsmates-single-line">{{accountSocialInteractions.account.currentEstablishmentName}}</span>
    </div>


    <div class="col-3">
      <img style="vertical-align: baseline;" height="20" src="{{'location' | image}}" alt="">
    </div>
    <div class="col-9" style="margin-left: -10%;">
      <span class="text skillsmates-single-line"> <span *ngIf="accountSocialInteractions.account.city">{{accountSocialInteractions.account.city}}</span>
        <span style="font-size: 98%" *ngIf="accountSocialInteractions.account.country"> - {{accountSocialInteractions.account.country | countryName}}</span>
      </span>
    </div>

    <div class="col-12 text-center" *ngIf="showFollowButton">
      <app-subscription-button
        [accountSocialInteractions]="accountSocialInteractions"
        [returnUrl]="'network.my'">
      </app-subscription-button>
    </div>
  </div>
</div>
