<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto;">
    <div class="col-12 skillsmates-box-top">
      <span *ngIf="account.status" class="title"><img width="18" height="18" src="{{account | professionIcon}}" class="m-r-5" alt=""></span>
      <span style="float: right;"><a [routerLink]="[routes.get('profile'), account.idServer]" style="color: #16162d;">voir plus</a></span>
    </div>
  </div>
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #16162d; text-align: center;"></div>
  <div class="row bg-white" style="margin: 0;">
    <div class="col-12">
      <div class="profile-img" style="margin: auto; padding-bottom: 0">
        <a [routerLink]="[routes.get('profile'), account.idServer]">
          <img class="avatar" src="{{account | avatarUrl}}" alt="" style="border: white solid 2px; margin-top: -10px;" >
          <span *ngIf="account.connected" class="status online" style="float: right; margin-top: -30px;  z-index: 99;"></span>
          <span *ngIf="!account.connected" class="status offline" style="float: right; margin-top: -30px;  z-index: 99;"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row bg-white"style="margin: auto; border-radius: 0 0 10px 10px; padding-bottom: 10px;">
    <div class="col-md-12">
      <ul class="personal-info">
        <li class="skillsmates-single-line">
          <span class="text"><b>{{account.firstname}} {{account.lastname}}</b></span>
        </li>
<!--        <li *ngIf="account.status">-->
<!--          <span>-->
<!--            <img width="18" height="18" src="{{account | professionIcon}}" class="m-r-5" alt="">-->
<!--            {{account.status.label}}-->
<!--          </span>-->
<!--        </li>-->
        <li *ngIf="account.currentEstablishmentName">
          <span class="title"><img width="18" height="18" src="{{getProfessionalIcon() | image}}" class="m-r-5" alt=""></span>
          <span class="text">{{account.currentEstablishmentName}}</span>
        </li>
      </ul>
    </div>
<!--    <app-subscription-button-->
<!--      [account]="account"-->
<!--      [returnUrl]="'network.my'">-->
<!--    </app-subscription-button>-->
  </div>
</div>
