<div>
  <app-accountdocuments
    [account]="account"
    [infoMediaType]="documentStyle" >
  </app-accountdocuments>
  <app-accountdocuments
    [account]="account"
    [infoMediaType]="videoStyle" >
  </app-accountdocuments>
  <app-accountdocuments
    [account]="account"
    [infoMediaType]="linkStyle" >
  </app-accountdocuments>
  <app-accountdocuments
    [account]="account"
    [infoMediaType]="imageStyle" >
  </app-accountdocuments>
  <app-accountdocuments
    [account]="account"
    [infoMediaType]="audioStyle" >
  </app-accountdocuments>
</div>

<app-loading [loading]="loading"></app-loading>
