<div class="skillsmates-box-shadow">
  <div class="row" style="margin: auto;">
    <div class="col-12 skillsmates-box-top">
      <img height="24" src="{{'forum' | image}}" alt="Forum"> &nbsp;
      <strong>FORUM</strong> ({{forums.length}})
      <span style="float: right; cursor: pointer;">
        <img height="18" src="{{'minus' | image}}" alt=""> &nbsp;
      </span>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" style="padding: 10px 0 10px 0; margin: 0; border-radius: 0 0 10px 10px;">
    <div class="col">
      <div class="text-center" *ngFor="let forum of forums; let i = index">
        <app-forum-account [forum]="forum" [isLastOne]="forums.length === i+1"></app-forum-account>
      </div>
    </div>
  </div>
</div>
