.biography-area{
  border: #e9e8e7 solid 2px;
  border-radius: 5px;
}

.biography-button{
  border-radius: 10px;
  color: #16162d;
  background-color: #dadada;
  margin-top: 20px;
  float: left;
}

.new-skill-link{
  cursor: pointer;
}

.new-skill-link:hover{
  color: #16162d;
}




.roles-menu-h {
  margin-top: 0;
}
.roles-menu-h > ul {
  /*border-radius: 1px;*/
  list-style: none;
  /*margin: 0;*/
  /*padding: 0;*/
  text-align: center;
}
.roles-menu-h > ul > li {
  display: inline-block;
  float: left;
  padding: 15px;
  max-width: 300px;
  border-radius: 10px;
}
.roles-menu-h > ul > li:hover{
  font-weight: bolder;
}
.roles-menu-h > ul > li > a {
  /*border-left: 3px solid transparent;*/
  color: #333;
  display: block;
  text-decoration: none;

}

.roles-menu-mobile-h {
  margin-top: 0;
}
.roles-menu-mobile-h > ul {
  /*border-radius: 1px;*/
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.roles-menu-mobile-h > ul > li {
  display: inline-block;
  float: left;
  padding: 5px;
  /*max-width: 300px;*/
  border-radius: 10px;
}
.roles-menu-mobile-h > ul > li:hover{
  font-weight: bolder;
}
.roles-menu-mobile-h > ul > li > a {
  /*border-left: 3px solid transparent;*/
  color: #333;
  display: block;
  text-decoration: none;

}

.lien-style-h{
  /*display: flex;*/
  align-items: center;
  height: 100px;
}

.tab-h{
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.tab-v{
  color: #16152D;
}

.tab-active-v{
  color: white;
}

.tab-selected{
  background-color: #DADADA;
  color: #16152D;
  font-weight: bolder;
}
