<app-alert [alert]="alert"></app-alert>
<app-info-text [text]="infoTextSkills"></app-info-text>

<div *ngIf="!isMobile()">
  <div class="" *ngIf="!displayNewSkillBlock">

    <div class="row text-center">
      <!--  Barre de navigation -->
      <div class="col" style="background-color: #FBFCFA; border-radius: 10px;" >
        <div class="roles-menu-h">
          <ul class="nav-pills">
            <li style="cursor: pointer;" (click)="onClickTab(skillsMasteredTab)" [ngClass]="{'tab-selected': tab === skillsMasteredTab}">
              <a data-toggle="tab">Compétences maîtrisées
                <span style="color: red; font-weight: bold">( {{skillsMastered.length}} )</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col" style="background-color: #FBFCFA; border-radius: 10px; ">
        <div class="roles-menu-h">
          <ul class="nav-pills">
            <li style="cursor: pointer;" (click)="onClickTab(skillsToDevelopTab)" [ngClass]="{'tab-selected': tab === skillsToDevelopTab}">
              <a data-toggle="tab">Compétences à développer
                <span style="color: red; font-weight: bold">( {{skillsToMaster.length}} )</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--  Skills mastered tab-->
    <div *ngIf="tab === skillsMasteredTab" style="margin: 10px;">
      <div class="row">
        <div class="col-12">
        <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px; cursor: pointer;" (click)="onClickNewSkill(true)">
          <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter une compétence maitrisée</strong></button>
        </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer" style="font-size: 17px;">
          <em class="fa fa-caret-right" style='font-size:22px'></em><strong style='margin-left:20px'>  Compétences maitrisées</strong>
        </span>

          <span style="float: right;">
          <a style="color: #16162d;">
            (<span style="color: red; font-weight: bold;">{{computeTotalSkills(true)}}</span>)
          </a>
        </span>
        </div>

        <div class="col-12">
          <div *ngFor="let skill of skillsMastered">
            <app-accountskillcard
              [skill]="skill"
              [account]="account"
              (newSkillEvent)="onSkillEvent($event)"
              (editSkillEvent)="onEditSkillEvent($event)">
            </app-accountskillcard>
          </div>
        </div>
      </div>
    </div>

    <!--  Skills to develop tab-->
    <div *ngIf="tab === skillsToDevelopTab" style="margin: 10px;">
      <div class="row">
        <div class="col-12">
        <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px; cursor: pointer;" (click)="onClickNewSkill(false)">
          <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter une compétence à developper</strong></button>
        </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px" >
          <em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Compétences à developper</strong>
        </span>

          <span style="float: right;">
          <a style="color: #16162d; cursor: pointer;">
            (<span style="color: red; font-weight: bold;">{{computeTotalSkills(false)}}</span>)
          </a>
        </span>
        </div>
      </div>

      <div class="col-12">
        <div *ngFor="let skill of skillsToMaster">
          <app-accountskillcard
            [skill]="skill"
            [account]="account"
            (newSkillEvent)="onSkillEvent($event)"
            (editSkillEvent)="onEditSkillEvent($event)">
          </app-accountskillcard>
        </div>
      </div>
    </div>

  </div>
  <!-- Nouvelle competence-->
  <div class="row" style="padding: 20px;" *ngIf="displayNewSkillBlock">
    <div class="col-12" style="padding-bottom: 20px;">
      <b>Nouvelle compétence</b>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Compétence</label>
        <input type="text" class="form-control" autocomplete="off"
               (keyup)="keyupSkillLabel()"
               required maxlength="255" autofocus="" name="label"
               [ngClass]="{ 'is-valid': skill.label, 'is-invalid': submitted && errors.label }"
               placeholder="Ex : géométrie et trigonométrie" [(ngModel)]="skill.label">
        <small class="text-danger" *ngIf="errors.label && !skill.label">{{errors.label}}</small>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Discipline ou domaine d'activité</label>
        <input type="text" class="form-control" autocomplete="off"
               (keyup)="keyupSkillDiscipline()"
               required maxlength="255" autofocus="" name="discipline"
               [ngClass]="{ 'is-valid': skill.discipline, 'is-invalid': submitted && errors.discipline }"
               placeholder="Ex: Mathématiques" [(ngModel)]="skill.discipline">
        <small class="text-danger" *ngIf="errors.discipline && !skill.discipline">{{errors.discipline}}</small>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Description et mots clés</label>
<!--        <input type="text" class="form-control" autocomplete="off"-->
<!--               (keyup)="keyupSkillKeywords()"-->
<!--               required maxlength="{{maxDescriptionSize}}" autofocus="" name="keywords"-->
<!--               [ngClass]="{ 'is-valid': skill.keywords, 'is-invalid': submitted && errors.keywords }"-->
<!--               placeholder="Ex : calculer le périmètre, l'air et le volume" [(ngModel)]="skill.keywords">-->
        <textarea cols="30" rows="3" [(ngModel)]="skill.keywords" name="keywords" required maxlength="{{maxDescriptionSize}}"
                  [ngClass]="{ 'is-invalid': submitted && errors.keywords, 'is-valid': skill.keywords }" (keyup)="keyupSkillKeywords()"
                  class="form-control" placeholder="Ex : calculer le périmètre, l'air et le volume" >
      </textarea>
        <small class="text-info float-right" *ngIf="skill.keywords">{{skill.keywords.length}} / {{maxDescriptionSize}}</small>
        <small class="text-danger" *ngIf="errors.keywords && !skill.keywords">{{errors.keywords}}</small>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Niveau de maitrise</label>
        <div *ngFor="let level of displayedLevels" style="padding-left: 20px;">
          <label class="form-check-label">
            <input *ngIf="skill.level === undefined" type="radio" name="level" class="form-check-input"
                   (click)="onClickLevel(level)">
            <input *ngIf="skill.level !== undefined" type="radio" name="level" class="form-check-input"
                   (click)="onClickLevel(level)" [checked]="skill.level.id === level.id">
            <img src="./assets/images/{{level.icon}}" width="24" alt="">
            {{level.label}}
          </label>
        </div>
        <small class="text-danger" *ngIf="errors.level">{{errors.level}}</small>
      </div>
    </div>

    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSave()">Enregistrer</button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
    </div>
  </div>
</div>

<div *ngIf="isMobile()">
  <div class="" *ngIf="!displayNewSkillBlock">

    <div class="row scrolling-wrapper" >
      <!--  Barre de navigation -->
      <div class="col-7 card" style="border-radius: 10px; margin: 10px;" (click)="onClickTab(skillsMasteredTab)" [ngClass]="{'tab-selected': tab === skillsMasteredTab}">
        <div class="roles-menu-mobile-h" >
          <ul class="nav nav-pills" style="font-size: small;">
            <li style="cursor: pointer;" >
              <a data-toggle="tab" >Competences maîtrisées</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8 card" style="border-radius: 10px; margin: 10px;" (click)="onClickTab(skillsToDevelopTab)" [ngClass]="{'tab-selected': tab === skillsToDevelopTab}">
        <div class="roles-menu-mobile-h" >
          <ul class="nav nav-pills" style="font-size: small;">
            <li style="cursor: pointer;" >
              <a data-toggle="tab">Compétences à développer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--  Skills mastered tab-->
    <div *ngIf="tab === skillsMasteredTab">
      <div class="row">
        <div class="col-12">
        <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: small; cursor: pointer;" (click)="onClickNewSkill(true)">
          <button type="button" class="btn btn-secondary btn skillsmates-edit-btn"><strong>  Ajouter une compétence maitrisée</strong></button>
        </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer" style="font-size: 17px;">
          <em class="fa fa-caret-right" style='font-size:22px'></em><strong style='margin-left:20px'>  Compétences maitrisées</strong>
        </span>

          <span style="float: right;">
          <a style="color: #16162d;">
            (<span style="color: red; font-weight: bold;">{{computeTotalSkills(true)}}</span>)
          </a>
        </span>
        </div>

        <div class="col-12">
          <div *ngFor="let skill of skillsMastered">
            <app-accountskillcard
              [skill]="skill"
              [account]="account"
              (newSkillEvent)="onSkillEvent($event)"
              (editSkillEvent)="onEditSkillEvent($event)">
            </app-accountskillcard>
          </div>
        </div>
      </div>
    </div>

    <!--  Skills to develop tab-->
    <div *ngIf="tab === skillsToDevelopTab" style="margin: 10px;">
      <div class="row">
        <div class="col-12">
        <span *ngIf="loggedAccount.idServer === account.idServer" class="new-academics-link" style="font-size: 17px; cursor: pointer;" (click)="onClickNewSkill(false)">
          <button type="button" class="btn btn-secondary btn-lg skillsmates-edit-btn"><strong>  Ajouter une compétence à developper</strong></button>
        </span>
          <span *ngIf="loggedAccount.idServer !== account.idServer"  style="font-size: 17px" >
          <em class="fa fa-caret-right" style='font-size:22px' ></em><strong style='margin-left:20px'>  Compétences à developper</strong>
        </span>

          <span style="float: right;">
          <a style="color: #16162d; cursor: pointer;">
            (<span style="color: red; font-weight: bold;">{{computeTotalSkills(false)}}</span>)
          </a>
        </span>
        </div>
      </div>

      <div class="col-12">
        <div *ngFor="let skill of skillsToMaster">
          <app-accountskillcard
            [skill]="skill"
            [account]="account"
            (newSkillEvent)="onSkillEvent($event)"
            (editSkillEvent)="onEditSkillEvent($event)">
          </app-accountskillcard>
        </div>
      </div>
    </div>

  </div>
  <!-- Nouvelle competence-->
  <div class="row" style="padding: 20px;" *ngIf="displayNewSkillBlock">
    <div class="col-12" style="padding-bottom: 20px;">
      <b>Nouvelle compétence</b>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Compétence</label>
        <input type="text" class="form-control" autocomplete="off"
               (keyup)="keyupSkillLabel()"
               required maxlength="255" autofocus="" name="label"
               [ngClass]="{ 'is-valid': skill.label, 'is-invalid': submitted && errors.label }"
               placeholder="Ex : géométrie et trigonométrie" [(ngModel)]="skill.label">
        <small class="text-danger" *ngIf="errors.label && !skill.label">{{errors.label}}</small>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Discipline ou domaine d'activité</label>
        <input type="text" class="form-control" autocomplete="off"
               (keyup)="keyupSkillDiscipline()"
               required maxlength="255" autofocus="" name="discipline"
               [ngClass]="{ 'is-valid': skill.discipline, 'is-invalid': submitted && errors.discipline }"
               placeholder="Ex: Mathématiques" [(ngModel)]="skill.discipline">
        <small class="text-danger" *ngIf="errors.discipline && !skill.discipline">{{errors.discipline}}</small>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Description et mots clés</label>
        <input type="text" class="form-control" autocomplete="off"
               (keyup)="keyupSkillKeywords()"
               required maxlength="255" autofocus="" name="keywords"
               [ngClass]="{ 'is-valid': skill.keywords, 'is-invalid': submitted && errors.keywords }"
               placeholder="Ex : calculer le périmètre, l'air et le volume" [(ngModel)]="skill.keywords">
        <small class="text-danger" *ngIf="errors.keywords && !skill.keywords">{{errors.keywords}}</small>
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="skillsmates-label">Niveau de maitrise</label>
        <div *ngFor="let level of displayedLevels" style="padding-left: 20px;">
          <label class="form-check-label">
            <input *ngIf="skill.level === undefined" type="radio" name="level" class="form-check-input"
                   (click)="onClickLevel(level)">
            <input *ngIf="skill.level !== undefined" type="radio" name="level" class="form-check-input"
                   (click)="onClickLevel(level)" [checked]="skill.level.id === level.id">
            <img src="./assets/images/{{level.icon}}" width="24" alt="">
            {{level.label}}
          </label>
        </div>
        <small class="text-danger" *ngIf="errors.level">{{errors.level}}</small>
      </div>
    </div>

    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" style="margin-right: 20px;" (click)="onClickSave()">Enregistrer</button>
      <button type="button" class="btn btn-primary skillsmates-account-skills-button" (click)="onclickCancel()">Annuler</button>
    </div>
  </div>
</div>


<app-loading [loading]="loading"></app-loading>

