<div class="row">
  <div class="col-12">
    <div class="roles-menu logo-skillsmates" style="border: #e9e8e7 solid 1px; border-radius: 10px;">
      <ul>
        <li class="no-margin-padding">
          <span *ngIf="loggedAccount.idServer === account.idServer" class="role-action">
            <a class="icon-action" style="margin-right: 10px;" (click)="onClickEdit(account)">
              <img src="{{'edit' | image}}" class="m-r-5 icon-img-mobile" alt="">
            </a>
          </span>
          <div class="container" style="padding-top: 40px;">

              <div class="row">
                <div class="col-6 col-md-8 col-lg-8">
                  <div>{{account.firstname}}</div>
                  <div><strong>{{account.lastname}}</strong></div>
                </div>
                <div class="col-6 col-md-4 col-lg-4">
                  <div class="profile-img-wrap">
                    <div class="profile-img" *ngIf="loggedAccount.idServer === account.idServer" (click)="open(modalProfileImage)">
                      <img class="avatar" src="{{account | avatarUrl}}" alt="{{account.firstname}}">
                    </div>
                    <div class="profile-img" *ngIf="!(loggedAccount.idServer === account.idServer)">
                      <img class="avatar" src="{{account | avatarUrl}}" alt="{{account.firstname}}" ngxViewer>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <strong>Sexe:</strong>&nbsp;<span *ngIf="account.gender"> {{account | gender}}</span>
              </div>
              <div>
                <strong>Statut:</strong>&nbsp;<span *ngIf="account.status"> {{account | status}}</span>
              </div>
              <div>
                <strong>Pays de residence:</strong>&nbsp;<span *ngIf="account.country"> {{account.country | countryName}}</span>
              </div>
              <div>
                <strong>Ville de residence:</strong>&nbsp;<span *ngIf="account.city"> {{account.city}}</span>
              </div>

            </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #modalProfileImage let-modal>
  <app-edit-profile-image [account]="account"></app-edit-profile-image>
</ng-template>

