.logo-skillsmates{
  background-image: url("src/assets/images/skillsmates-logo-profile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-img-mobile{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
