<div class="card-box profile-header" *ngIf="!loading && !isMobile()" style="margin-left: inherit; margin-right: inherit;">
  <div class="row" *ngIf="accountSocialInteractions">
    <div class="col-2" style="margin: auto;">
      <div class="profile-img-wrap">
        <div class="profile-img">
          <a [routerLink]="[routes.get('profile.edit.my')]"
             *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
            <img class="avatar" height="120" width="120" src="{{accountSocialInteractions.account | avatarUrl}}" alt="">
          </a>
          <a [routerLink]="[routes.get('profile.view'), accountSocialInteractions.account.idServer]"
             *ngIf="loggedAccount && loggedAccount.idServer !== accountSocialInteractions.account.idServer">
            <img class="avatar" height="120" width="120" src="{{accountSocialInteractions.account | avatarUrl}}" alt="">
          </a>

          <img *ngIf="!loggedAccount" class="avatar" src="{{accountSocialInteractions.account | avatarUrl}}" alt="">
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row" style="font-size: large;">
        <div class="col-7">
          <span class="text-left user-name m-t-0 mb-0 skillsmates-single-line" style="text-align: center;">
            {{accountSocialInteractions.account.firstname}}
            <strong>{{accountSocialInteractions.account.lastname}}</strong> &nbsp; &nbsp;
          </span>
        </div>
        <div class="col-5" [routerLink]="[routes.get('profile.edit.my')]" style="padding-bottom: 10px;"
             *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
          <a [routerLink]="[routes.get('profile.edit.my')]" class="btn btn-lg btn-block active edit-profile-btn" role="button" aria-pressed="true"
          style="background-color: whitesmoke; color: #16152d; border: 1px solid lightgray;">
            <img src="{{'edit' | image}}" class="m-r-5 icon-img-mobile" style="border-radius: 50%;" alt="">
            Editer votre profil
          </a>
        </div>
        <div class="col-5" *ngIf="loggedAccount && loggedAccount.idServer !== accountSocialInteractions.account.idServer">
          <span class="staff-msg text-right">
            <button *ngIf="!isFollowing(accountSocialInteractions.account) && !loading" type="button"
                    class="btn btn-secondary btn-sm button-subscribe" style="padding: 10px 20px 10px 20px"
                    (click)="onClickFollow(accountSocialInteractions.account)">S'abonner</button>
            <button *ngIf="isFollowing(accountSocialInteractions.account) && !loading" type="button"
                    class="btn btn-secondary btn-sm button-unsubscribe" style="padding: 10px 20px 10px 20px"
                    (click)="onClickUnfollow(accountSocialInteractions.account)">Se désabonner</button>
            <app-loading [width]="50" [loading]="loading"></app-loading>
          </span>
        </div>
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-4 skillsmates-zoom-up">
          <a [routerLink]="[routes.get('documents.my')]">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong  style="font-size: large;" *ngIf="accountSocialInteractions.numberPosts">{{accountSocialInteractions.numberPosts}}</strong> publications
            </span>
          </a>
        </div>
        <div class="col-4 skillsmates-zoom-up">
          <a (click)="onClickFollowers()" [routerLink]="[routes.get('network.my')]"
             *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong style="font-size: large;">{{countFollowers()}}</strong> abonnés
            </span>
          </a>
          <a (click)="onClickFollowers()"
             [routerLink]="[routes.get('network'), accountSocialInteractions.account.idServer]"
             *ngIf="loggedAccount && loggedAccount.idServer !== accountSocialInteractions.account.idServer">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong style="font-size: large;">{{countFollowers()}}</strong> abonnés
            </span>
          </a>
          <span  *ngIf="!loggedAccount" class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong style="font-size: large;">{{countFollowers()}}</strong> abonnés
          </span>

        </div>
        <div class="col-4 skillsmates-zoom-up">
          <a (click)="onClickFollowees()" [routerLink]="[routes.get('network.my')]"
             *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong style="font-size: large;">{{countFollowees()}}</strong> abonnements
            </span>
          </a>
          <a (click)="onClickFollowees()"
             [routerLink]="[routes.get('network'), accountSocialInteractions.account.idServer]"
             *ngIf="loggedAccount && loggedAccount.idServer !== accountSocialInteractions.account.idServer">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong style="font-size: large;">{{countFollowees()}}</strong> abonnements
            </span>
          </a>
          <span *ngIf="!loggedAccount" class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong style="font-size: large;">{{countFollowees()}}</strong> abonnements
            </span>
        </div>
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-6 skillsmates-single-line" *ngIf="accountSocialInteractions.account.status">
          <span>
            <img width="18" height="18" src="{{accountSocialInteractions.account | professionIcon}}" class="m-r-5"
                 alt="">
              Statut: {{accountSocialInteractions.account | status}}
          </span>
        </div>
        <div class="col-6 skillsmates-single-line"
             *ngIf="accountSocialInteractions.account.city && accountSocialInteractions.account.country">
          <span>
            <img width="18" height="18" src="{{'location' | image}}" class="m-r-5" alt="">
            {{accountSocialInteractions.account.city}} ({{accountSocialInteractions.account.country | countryName}})
          </span>
        </div>
        <div class="col-6 skillsmates-single-line" *ngIf="accountSocialInteractions.account.currentJobTitle">
          <span>
            <img width="18" height="18" src="{{accountSocialInteractions.account | jobIcon}}"   class="m-r-5" alt="">
            Poste: {{accountSocialInteractions.account.currentJobTitle}}
          </span>
        </div>
        <div class="col-6 skillsmates-single-line" *ngIf="accountSocialInteractions.account.currentEstablishmentName">
          <span>
            <img width="18" height="18" src="{{getProfessionalIcon() | image}}" class="m-r-5" alt="">
            {{accountSocialInteractions.account.currentEstablishmentName}}
          </span>
        </div>

      </div>
    </div>
    <div class="col-1">
      <div class="row" style="margin: auto;"  *ngIf="loggedAccount">
        <div class="col" (click)="onClickFavorite(accountSocialInteractions.account)">
          <a style="cursor: pointer;">
            <img class="social-icon" src="{{favoriteImage | image}}" alt="">
          </a>
        </div>
        <div class="col" *ngIf="loggedAccount">
          <a [routerLink]="[routes.get('messages.my')]">
            <img class="social-icon" src="{{'message-selected' | image}}" alt="">
          </a>
        </div>
        <div class="col"  *ngIf="loggedAccount">
          <a style="cursor: pointer;">
            <img class="social-icon" src="{{'share' | image}}" alt="" (click)="onClickCopy(accountSocialInteractions.account)">
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
</div>

<div class="" style="padding-top: -40px" *ngIf="!loading && isMobile()">
  <div class="row" *ngIf="accountSocialInteractions">
    <div class="col-3 no-margin-padding">
      <div class="profile-img">
        <a [routerLink]="[routes.get('profile.edit.my')]"
           *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
          <img class="avatar" src="{{accountSocialInteractions.account | avatarUrl}}" alt="">
        </a>
        <a [routerLink]="[routes.get('profile.view'), accountSocialInteractions.account.idServer]"
           *ngIf="loggedAccount && loggedAccount.idServer !== accountSocialInteractions.account.idServer">
          <img class="avatar" src="{{accountSocialInteractions.account | avatarUrl}}" alt="">
        </a>
        <img *ngIf="!loggedAccount" class="avatar" src="{{accountSocialInteractions.account | avatarUrl}}" alt="">
      </div>
    </div>
    <div class="col-9 no-margin-padding">
      <div class="row" style="padding: 2px; font-size: small;">
        <div class="col skillsmates-zoom-up text-center no-margin-padding">
          <a [routerLink]="[routes.get('documents.my')]">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong class="social-interactions-number"
                      *ngIf="accountSocialInteractions.numberPosts">{{accountSocialInteractions.numberPosts}}</strong>
              <strong class="social-interactions-number" *ngIf="!accountSocialInteractions.numberPosts">0</strong>
            </span>
            <span style="color: #16152d;">publications</span>
          </a>
        </div>
        <div class="col skillsmates-zoom-up text-center no-margin-padding">
          <a (click)="onClickFollowers()" [routerLink]="[routes.get('network.my')]"
             *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong class="social-interactions-number">{{countFollowers()}}</strong>
            </span>
            <span style="color: #16152d;">abonnés</span>
          </a>

          <div *ngIf="!loggedAccount" >
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong class="social-interactions-number">{{countFollowers()}}</strong>
            </span>
            <span style="color: #16152d;">abonnés</span>
          </div>

        </div>
        <div class="col skillsmates-zoom-up text-center no-margin-padding">
          <a (click)="onClickFollowees()" [routerLink]="[routes.get('network.my')]"
             *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
            <span class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong class="social-interactions-number">{{countFollowees()}}</strong>
            </span>
            <span style="color: #16152d;">abonnements</span>
          </a>

          <div *ngIf="!loggedAccount">
            <span  class="user-name m-t-0 mb-0 skillsmates-single-line">
              <strong class="social-interactions-number">{{countFollowees()}}</strong>
            </span>
            <span style="color: #16152d;">abonnements</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="font-size: large; padding-bottom: 5px;">
      <span class="text-left user-name m-t-0 mb-0 skillsmates-single-line" style="text-align: center;">
        {{accountSocialInteractions.account.firstname}} &nbsp; <strong>{{accountSocialInteractions.account.lastname}}</strong>
      </span>
    </div>
  </div>

  <div class="row" style="padding-bottom: 10px; font-size: small;">
    <div class="col-12" style="padding-bottom: 5px;">
      <div class="skillsmates-single-line" *ngIf="accountSocialInteractions.account.status">
        <span>
          <img src="{{accountSocialInteractions.account | professionIcon}}" class="m-r-5 icon-img-mobile" alt="">
            Statut: {{accountSocialInteractions.account | status}}
        </span>
      </div>
      <div class="skillsmates-single-line" *ngIf="accountSocialInteractions.account.currentJobTitle">
          <span>
            <img src="{{accountSocialInteractions.account | jobIcon}}"  class="m-r-5 icon-img-mobile" alt="">
            Poste: {{accountSocialInteractions.account.currentJobTitle}}
          </span>
      </div>
      <div class="skillsmates-single-line" *ngIf="accountSocialInteractions.account.currentEstablishmentName">
        <span>
          <img src="{{getProfessionalIcon() | image}}" class="m-r-5 icon-img-mobile" alt="">
          {{accountSocialInteractions.account.currentEstablishmentName}}
        </span>
      </div>
      <div class="skillsmates-single-line" *ngIf="accountSocialInteractions.account.city && accountSocialInteractions.account.country">
        <span>
          <img src="{{'location' | image}}" class="m-r-5 icon-img-mobile" alt="">
          {{accountSocialInteractions.account.city}} ({{accountSocialInteractions.account.country | countryName}})
        </span>
      </div>
    </div>
    <div class="col-12" style="padding-bottom: 5px;">
      <div class="row">
        <div class="col" style="text-align: center;" (click)="onClickFavorite(accountSocialInteractions.account)" *ngIf="loggedAccount">
          <a style="cursor: pointer;">
            <div><img class="icon-social-mobile" src="{{favoriteImage | image}}" alt=""></div>
            <span style="color: #16152d;">favoris</span>
          </a>
        </div>
        <div class="col" style="text-align: center;" *ngIf="loggedAccount">
          <a  [routerLink]="[routes.get('messages.my')]">
            <div><img class="icon-social-mobile" src="{{'message-selected' | image}}" alt=""></div>
            <span style="color: #16152d;">message</span>
          </a>
        </div>
        <div class="col" style="text-align: center;" *ngIf="loggedAccount">
          <a style="cursor: pointer;">
            <div><img class="icon-social-mobile" src="{{'share' | image}}" alt="" (click)="onClickCopy(accountSocialInteractions.account)"></div>
            <span style="color: #16152d;">partage</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" *ngIf="loggedAccount && loggedAccount.idServer !== accountSocialInteractions.account.idServer" style="padding-bottom: 10px;">
      <span class="staff-msg text-right">
        <button *ngIf="!isFollowing(accountSocialInteractions.account) && !loading" type="button"
                class="btn btn-secondary btn-lg btn-block button-subscribe" style="padding: 10px 20px 10px 20px; border-radius: 5px;"
                (click)="onClickFollow(accountSocialInteractions.account)">S'abonner</button>
        <button *ngIf="isFollowing(accountSocialInteractions.account) && !loading" type="button"
                class="btn btn-secondary btn-lg btn-block button-unsubscribe" style="padding: 10px 20px 10px 20px; border-radius: 5px;"
                (click)="onClickUnfollow(accountSocialInteractions.account)">Abonné(e)</button>
        <app-loading [width]="50" [loading]="loading"></app-loading>
      </span>
    </div>

    <div class="col-12" [routerLink]="[routes.get('profile.edit.my')]" style="padding-bottom: 10px;"
         *ngIf="loggedAccount && loggedAccount.idServer === accountSocialInteractions.account.idServer">
      <a [routerLink]="[routes.get('profile.edit.my')]" class="btn btn-lg btn-block active edit-profile-btn" role="button" aria-pressed="true" style="border: 1px solid lightgray;">
        <img src="{{'edit' | image}}" class="m-r-5 icon-img-mobile" alt="" style="border-radius: 50%;">
        Editer le profil
      </a>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
</div>
