.skillsmates-zoom-up{

}

.skillsmates-zoom-up:hover{
  font-weight: bold;
  font-size: large;
}

.img-invert{
  filter: invert();
}

.profile-img {
  cursor: pointer;
  height: 120px;
  margin: 0 12px 0 0;
  position: relative;
  width: 120px;
}
.profile-img .avatar {
  font-size: 18px;
  height: 120px;
  line-height: 80px;
  margin: 0;
  width: 120px;
}

@media only screen and (max-width: 768px) {
  .profile-img {
    cursor: pointer;
    height: 80px;
    margin: 0 12px 0 0;
    position: relative;
    width: 80px;
  }
  .profile-img .avatar {
    font-size: 18px;
    height: 80px;
    line-height: 80px;
    margin: 0;
    width: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .profile-img .avatar {
    font-size: 18px;
    height: 75px;
    line-height: 80px;
    margin: 0;
    width: 75px;
  }
}

.icon-img-mobile{
  height: 30px;
  width: 30px;
  background-color: white;
  /*border-radius: 50%;*/
}

.icon-social-mobile{
  height: 42px;
  width: 42px;
}

.social-interactions-number{
  font-size: x-large;
}

.edit-profile-btn{
  color: #16152d;
  background-color: whitesmoke;
  font-weight: bold;
}

.edit-profile-btn:hover{
  color: #16152d;
  background-color: whitesmoke;
  /*font-size: large;*/
}

.social-icon{
  height: 32px;
  width: 32px;
}

