.bar-nav-h{
  border-bottom: 3px solid;
  margin-top: 50px;
  padding: 0px;
}

.bar-nav-v{
  border-right: 2px solid;
  padding: 0;
  margin: 0;
}

.content-tab{
  cursor: pointer;
}

.content-tab .active{
  background-color: lightgray;
}

.selected-tab{
  background-color: lightgray;
}

.img-invert{
  filter: invert();
  border: 2px solid black;
  border-radius: 5px;
  height: 22px;
  padding: 2px;
}

.media-img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-left: 20px;

}

.lien-style{
  display: flex;
  align-items: center;
  height: 200px;
}

.text {
  color:black;
  font-size: 1.2em;
  margin-left: 20px;
}

.text-active {
  color:white;
  font-size: 1.2em;
  margin-left: 20px;
}

.roles-menu-h {
  margin-top: 0;
}
.roles-menu-h > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.roles-menu-h > ul > li {
  display: inline-block;
  float: left;
  padding: 5px;
  width: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
}
.roles-menu-h > ul > li > a {
  /*border-left: 3px solid transparent;*/
  color: #333;
  display: block;
  text-decoration: none;

}

.lien-style-h{
  /*display: flex;*/
  align-items: center;
  height: 100px;
}

.tab-h{
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.tab-v{
  color: #16152D;
}

.tab-active-v{
  color: white;
}
.return-button{
  margin: 0 auto;
  font-size:14px;
  font-weight:bold ;
  text-transform: uppercase;
}

.fa-style{
  font-size: 25px;
  float: right;
  margin-right: 20px;
}



.fa-setting{
  font-size: 20px;
  margin-left: 20px;
}

.li-1-style{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #DCDBDC;
  font-weight: bold;
  color: black;
}
.li-2-style{
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 3px solid;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
.li-3-style{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.fa-style-2{
  font-size: 20px;
  color: white;
  margin-top: 5px;
  padding: 0px;
}

.title-document{
  font-size: 20px;
  color: #16152D;
  font-weight: bold;
}

.link{
  font-size: 12px;
  color: black;
  padding: 0px;
  text-decoration: underline
}

.media-icon{
  margin: auto;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;
}

