<div class="container skillsmates-container" *ngIf="!isMobile()">
  <div class="row" *ngIf="!loading">
    <div class="col-3" style="height: 100%">
      <div
        class="roles-menu"
        NgStyle="{'border': '2px solid' +
          selectedMediaType.color
        + '; margin: 0; padding: 0; height: 100%; border-radius: 20px;'}"
      >
        <ul>
          <li class="li-1-style">
            <i class="fa fa-sliders fa-setting" aria-hidden="true"></i>
            <span style="margin-left: 5px">filtres</span>
          </li>
          <li class="li-2-style">
            <i class="fa fa-bars fa-setting" aria-hidden="true"></i>
            <span style="margin-left: 5px">tous les fichiers</span>
          </li>
        </ul>
        <ul>
          <li
            class="edit-account-tab tab-h"
            *ngFor="let mediaType of mediaTypes"
            [ngStyle]="{
              'background-color':
                currentMediaType === mediaType.type
                  ? mediaType.color
                  : '#FFFFFF'
            }"
          >
            <span class="staff-msg">
              <a
                class="return-button"
                (click)="onClickTab(mediaType)"
                [ngStyle]="{
                  color:
                    currentMediaType === mediaType.type ? '#FFFFFF' : '#16152D'
                }"
              >
                <img
                  height="15"
                  style="margin-left: 20px"
                  src="{{ mediaType.picture }}"
                  alt=""
                  [ngClass]="{
                    'img-invert': currentMediaType === mediaType.type
                  }"
                />
                {{ mediaType.title }}
                <strong style="font-size: 16px"
                  >({{ getNbPostsByMediaType(mediaType) }})</strong
                >
                <em
                  class="fa fa-caret-down fa-style"
                  [ngClass]="{
                    'fa-caret-up': currentMediaType === mediaType.type
                  }"
                ></em>
              </a>
              <!--  insertion des sous-types-->
              <ul
                *ngIf="currentMediaType === mediaType.type"
                style="list-style: none"
              >
                <li
                  style="cursor: pointer"
                  (click)="onClickSubtype(mediaSubtype)"
                  *ngFor="let mediaSubtype of filteredMediaSubtypes"
                >
                  <i
                    class="fa fa-square-o fa-style-2"
                    aria-hidden="true"
                    [ngClass]="{
                      'fa-square': currentMediaSubtype.id === mediaSubtype.id
                    }"
                  ></i>
                  <a data-toggle="tab" style="cursor: pointer; color: white; margin-left: 5px">{{ mediaSubtype.label }}
                    <strong style="font-size: 16px">
                      ({{ getNbPostsByMediaSubtype(mediaSubtype) }})
                    </strong>
                  </a>
                </li>
              </ul>
            </span>
          </li>
          <li
            class="li-3-style"
            [ngStyle]="{
              'background-color':
                currentMediaType === mediaTypes[mediaTypes.length - 1].type
                  ? mediaTypes[mediaTypes.length - 1].color
                  : '#FFFFFF'
            }"
          ></li>
        </ul>
      </div>
    </div>
    <div
      class="col-9"
      [ngStyle]="{ 'background-color': selectedMediaType.color + '06' }"
    >
      <div class="row">
        <div class="col-8">
          <span class="title-document"
            >{{ postsSocialInteractionsMediaSubtype.length }}
            {{ selectedMediaType.subtitle }}</span
          >
        </div>
        <div class="col">
          <div class="row">
            <div class="col-3">
              <a
                *ngIf="loggedAccount.idServer === account.idServer"
                class="link"
                [routerLink]="[routes.get('profile.my')]"
              >
                <img
                  style="background-color: whitesmoke"
                  width="48"
                  src="{{ account | avatarUrl }}"
                  class="rounded-circle"
                  alt="{{ account.lastname }}"
                />
              </a>
              <a *ngIf="loggedAccount.idServer !== account.idServer"
                class="link"
                [routerLink]="[routes.get('profile'), account.idServer]">
                <img
                  style="background-color: whitesmoke"
                  width="48"
                  src="{{ account | avatarUrl }}"
                  class="rounded-circle"
                  alt="{{ account.lastname }}"
                />
              </a>
            </div>
            <div class="col-9">
              <span class="skillsmates-single-line" style="color: #16152d"
                >{{ account.firstname }}
                <strong>{{ account.lastname }}</strong></span
              >
              <a style="cursor: pointer" (click)="onClickReturn()"
                >Retour mosaïque</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="roles-menu">
        <app-documentpreview
          *ngIf="!dismissPreview"
          [postsSocialInteractions]="postsSocialInteractionsMediaSubtype"
          [mediaType]="selectedMediaType"
          (selectPostSocialInteractions)="selectPostSocialInteractions($event)">
        </app-documentpreview>
        <app-documentcontent
          *ngIf="dismissPreview"
          [postsSocialInteractions]="postsSocialInteractionsMediaSubtype"
          [myPostSocialInteractions]="myPostSocialInteractions"
          [mediaType]="selectedMediaType">
        </app-documentcontent>
      </div>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
  <app-footer></app-footer>
</div>

<div class="row skillsmates-container-mobile" *ngIf="!loading && isMobile()">
  <div class="col-12">
    <app-accountprofilecard
      [accountId]="account.idServer" [isEdit]="false">
    </app-accountprofilecard>
  </div>
  <div class="col-12 skillsmates-box-padding">
    <app-selection-tab
      [tab]="documents"
      [account]="account">
    </app-selection-tab>
    <div class="row bg-white media-icon" *ngIf="infosMediaTypes && infosMediaTypes.length > 0">
      <div *ngFor="let m of infosMediaTypes">
        <app-mediatypepost
          [infosMediaType]="m"
          (selectMediaType)="selectMediaType($event)">
        </app-mediatypepost>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Selectionner type de {{ selectedMediaType.title }}</label>
      <select
        class="form-control select"
        name="selectedMediaSubType"
        (change)="onChangeMediaSubType($event)">
        <option
          [ngValue]="mediaSubtype"
          *ngFor="let mediaSubtype of filteredMediaSubtypes">
          {{ mediaSubtype.label }}
          <strong style="font-size: 16px">({{ getNbPostsByMediaSubtype(mediaSubtype) }})</strong>
        </option>
      </select>
    </div>
  </div>

  <div
    class="col-12"
    [ngStyle]="{ 'background-color': selectedMediaType.color + '06' }">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8">
        <span class="title-document">
          {{ postsSocialInteractionsMediaSubtype.length }}
          {{ selectedMediaType.subtitle }}
        </span>
      </div>
      <div class="col-12" *ngIf="isMobile()">
        <a style="cursor: pointer; float: right;" (click)="onClickReturn()">Retour mosaïque</a>
      </div>
      <div class="col" *ngIf="!isMobile()">
        <div class="row">
          <div class="col-3">
            <a *ngIf="loggedAccount.idServer === account.idServer"
              class="link"
              [routerLink]="[routes.get('profile.my')]">
              <img style="background-color: whitesmoke"
                width="48"
                src="{{ account | avatarUrl }}"
                class="rounded-circle"
                alt="{{ account.lastname }}"/>
            </a>
            <a *ngIf="loggedAccount.idServer !== account.idServer" class="link"
              [routerLink]="[routes.get('profile'), account.idServer]">
              <img style="background-color: whitesmoke" width="48"
                src="{{ account | avatarUrl }}"
                class="rounded-circle"
                alt="{{ account.lastname }}"/>
            </a>
          </div>
          <div class="col-9">
            <span class="skillsmates-single-line" style="color: #16152d">{{ account.firstname }}
              <strong>{{ account.lastname }}</strong></span>
            <a style="cursor: pointer" (click)="onClickReturn()">Retour mosaïque</a>
          </div>
        </div>
      </div>
    </div>
    <div class="roles-menu">
      <app-document-preview-mobile *ngIf="!dismissPreview"
        [postsSocialInteractions]="postsSocialInteractionsMediaSubtype"
        [mediaType]="selectedMediaType"
        (selectPostSocialInteractions)="selectPostSocialInteractions($event)">
      </app-document-preview-mobile>
      <app-documentcontent *ngIf="dismissPreview"
        [postsSocialInteractions]="postsSocialInteractionsMediaSubtype"
        [myPostSocialInteractions]="myPostSocialInteractions"
        [mediaType]="selectedMediaType">
      </app-documentcontent>
    </div>
  </div>
</div>
