.text{
  color: black;
  font-style: italic;
  font-size: 12px;
}

.img{
  width: 45px;
}


.see-all-document {
  margin-top: 150px;
  text-align: center;
}
.list {
  max-width: 550px;
  margin: auto;
}
