<div class="container">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-8">
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="searchContent" style="font-size: medium" class="form-control"
               placeholder="Recherche un document par titre" aria-label="Rechercher dans les documents"
               aria-describedby="button-addon2" (keyup)="onKeyupSearch()">
      </div>
    </div>
    <div class="col-4"></div>
  </div>
  <!--Pagination-->
  <div class="row" style="padding: 0 0 15px 0 ">
    <div class="list" *ngIf="pages && pages.length > 0">
      <ul class="nav nav-pills page">
        <li *ngFor="let item of pages | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage,totalItems: count }"></li>
      </ul>
      <pagination-controls (pageChange)="getPage(currentPage = $event)"></pagination-controls>
    </div>
  </div>
  <div class="row">
      <div class="col-12" *ngFor="let postSocialInteractions of postsSocialInteractions">
        <br>
          <div class="row" style="margin-bottom: 15px; cursor: pointer" (click)="onClickDocument(postSocialInteractions)">
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'pdf'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{'pdf' | image}}" class="m-r-5" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" class="m-r-5" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'word'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{'word' | image}}" class="m-r-5" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" class="m-r-5" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'excel'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{'xls' | image}}" class="m-r-5" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" class="m-r-5" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'powerpoint'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{'pptx' | image}}" class="m-r-5" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" class="m-r-5" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'access'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{'access' | image}}" class="m-r-5" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" class="m-r-5" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'image'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0] | mediaUrl}}" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'video'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><video src="{{postSocialInteractions.post.multimedia[0] | mediaUrl}}" width="150" height="100"></video></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'audio'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{'audio' | image}}" class="m-r-5" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="150" height="100" alt=""></div>
            </div>
            <div class="col-3" *ngIf="getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'link'">
              <div *ngIf="!postSocialInteractions.post.multimedia[0].metadata"><img src="{{'lien' | image}}" class="m-r-5" width="150" height="100" alt=""></div>
              <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" class="m-r-5" width="150" height="100" alt=""></div>
            </div>
            <div class="col-9">
              <strong style="color: black">{{postSocialInteractions.post.title | truncate:50}}</strong><br>
              <div *ngIf="postSocialInteractions.post.description" [innerHTML]="postSocialInteractions.post.description | truncate: 300"></div>
              <span class="text">publié le : {{postSocialInteractions.post.createdAt|date:"dd/MM/yyyy"}}</span>
          </div>
        </div>
        <app-horizontal-line></app-horizontal-line>
      </div>
    </div>
  <app-loading [loading]="loading"></app-loading>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="see-all">
      <a class="see-all-btn" *ngIf="postsSocialInteractions.length <= 0">Aucune publication</a>
    </div>
  </div>
</div>
