<div class="text-center div-media" (click)="onClickEditPost(infosMediaType)" style="cursor: pointer;">
  <span [style.background-color]="infosMediaType.color" class="div-post-image" style="display: inline-block;">
    <img [src]="infosMediaType.picture" class="post-image" alt="" style="filter: invert()">
  </span>
  <p class="skillsmates-two-lines" style="font-size: 10px;"><strong>{{infosMediaType.title}}</strong></p>
</div>
