.post-image{
  width: 36px;
  height: 36px;
  margin: 5px;
}

.div-post-image{
  border-radius: 6px;
  margin: 5px;
 }

.icon-fa {
  font-size: 1.4em;
  margin-left:auto;
  margin-right:20px;
  margin-top: 10px;
}

.post-image-document{
  width: 150px;
  /*height: 200px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.container {
  width:100%;
  text-align:center;
}

.left {
  float:left;
  width:100px;
}

.center {
  display: inline-block;
  margin:0 auto;
  width:100px;
}

.right {
  float:right;
  width:100px;
}

.myinnercontainer {
  display: inline-block;
  vertical-align:top;
  margin-right:5px;
  font-size: 0.9em;
  float:right;
  width:auto;
  text-align: right;
}

.div-media{

}

.div-media:hover{
  background-color: #DADADA;
  border-radius: 6px;
  padding-right: 2px;
  padding-left: 2px;
  border-bottom: 2px solid #16152D;
}
