<!--  Zone d'édition de message  -->
<div class="sub_div">

  <div class="chat-footer">
    <div class="message-bar">
      <div class="message-inner">
<!--        <a class="link attach-icon"><img src="{{'emoji' | image}}" alt="emoji"></a>-->
        <a class="link attach-icon" href="#" data-toggle="modal" data-target="#drag_files">
          <img src="{{'attach' | image}}" alt="attach"></a>
        <div class="message-area">
          <div class="input-group">
              <textarea class="form-control" autocomplete="off" name="message" rows=4
                        style="border: 2px solid #16152D; border-radius: 10px;"
                        (keyup)="keyupMessage($event)"
                        [ngClass]="{ 'is-invalid': submitted && errors.title, 'is-valid': typedMessage }"
                        placeholder="Taper un message..." required="required" maxlength="255"
                        [(ngModel)]="typedMessage">
              </textarea>
            <span class="input-group-append">
                <button style="width: 52px;" class="btn" type="button" (click)="onClickPublishMessage()">
                  <em class="fa fa-send fa-2x"></em>
                </button>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
