<div class="">
  <div class="row" style="margin: auto;">
    <div class="col-12">
      <img height="24" src="{{infoNetworkType.picture}}" alt="{{infoNetworkType.title}}"> &nbsp;
      <strong>{{infoNetworkType.description}}</strong> ({{infoNetworkType.value}})
      <span style="float: right; cursor: pointer;">
        <a (click)="onClick(infoNetworkType.position)" [routerLink]="[routes.get('network.my')]" style="color: #16162d;">
          <img height="18" src="{{'plus_circle' | image}}" alt="voir plus">
        </a>
      </span>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row bg-white" style="padding: 10px 0 10px 0; margin: 0; border-radius: 0 0 10px 10px;">
    <div class="col-4" *ngFor="let accountSocialInteractions of accountsSocialInteractions">
      <div class="text-center">
        <div>
          <a [routerLink]="[routes.get('profile'), accountSocialInteractions.account.idServer]"><img src="{{accountSocialInteractions.account | avatarUrl}}" class="m-r-5 follow-img" alt=""></a>
        </div>
        <p class="skillsmates-two-lines" style="font-size: 9px;"><strong>{{accountSocialInteractions.account.firstname}} {{accountSocialInteractions.account.lastname}}</strong></p>
      </div>
    </div>
  </div>
  <app-loading [loading]="loading"></app-loading>
</div>
