<div class="row" *ngIf="postsSocialInteractions && postsSocialInteractions.length > 0">
  <div class="col-12 col-md-10 col-lg-10 no-margin-padding">
    <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
      <div class="col-12" *ngIf="selectedPostSocialInteractions && selectedPostSocialInteractions.post.multimedia && selectedPostSocialInteractions.post.multimedia.length > 0">
        <p style = "font-size: 20px; margin-top: -10px; font-weight: bold;" [ngStyle]="{'color':mediaType.color}"> {{selectedPostSocialInteractions.post.title | uppercase}} </p>
        <p style="margin-top: -15px"> Publié le : <span style="font-weight: bold;">{{selectedPostSocialInteractions.post.multimedia[0].createdAt|date:"dd/MM/yyyy HH:mm:ss"}}</span>
          - Par : <span style="font-weight: bold;">{{selectedPostSocialInteractions.post.account.firstname}} {{selectedPostSocialInteractions.post.account.lastname}}</span></p>
      </div>

      <div class="col-12">
        <app-post
          [postSocialInteractions]="selectedPostSocialInteractions"
          (newPostEvent)="onRefreshEvent($event)">
        </app-post>
      </div>
    </div>
  </div>

  <!-- Liste de droite -->
  <div class="col-12 col-md-2 col-lg-2">
    <div class="row" style="margin: 0 0 20px 0">
      <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04">
          <option selected style="font-size: small;">Trier par</option>
        </select>
      </div>
    </div>
    <div class="row" *ngFor="let postSocialInteractions of postsSocialInteractions" style="padding: 5px; cursor: pointer;" (click)="onClickPost(postSocialInteractions)">
      <div class="col">
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'image'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{postSocialInteractions.post.multimedia[0] | mediaUrl}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'video'">
          <video *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{postSocialInteractions.post.multimedia[0] | mediaUrl}}" class="m-r-5" width="42" height="42" alt=""></video>
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'pdf'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{'pdf' | image}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'word'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{'word' | image}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'excel'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{'xls' | image}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'powerpoint'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{'pptx' | image}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'access'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{'access' | image}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'audio'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{'audio' | image}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <span class="user-img" *ngIf="postSocialInteractions.post.multimedia && postSocialInteractions.post.multimedia.length > 0 && getMultimediaType(postSocialInteractions.post.multimedia[0]) === 'link'">
          <img *ngIf="!postSocialInteractions.post.multimedia[0].metadata" src="{{'lien' | image}}" class="m-r-5" width="42" height="42" alt="">
          <div *ngIf="postSocialInteractions.post.multimedia[0].metadata"><img src="{{postSocialInteractions.post.multimedia[0].metadata.image}}" width="42" height="42" alt=""></div>
        </span>
        <div>
          <h4 class="doctor-name text-left skillsmates-single-line" style="font-size: 12px; ">
            <a>{{postSocialInteractions.post.title}}</a>
          </h4>
          <div class="doc-prof">{{postSocialInteractions.post.createdAt|date:"dd/MM/yyyy"}}</div>
        </div>
      </div>
      <div style="width: 100%; height: 2px; border-bottom: 2px solid #16152D; text-align: center;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="see-all">
      <a class="see-all-btn" *ngIf="postsSocialInteractions.length <= 0">Aucune publication</a>
    </div>
  </div>
</div>
