.box{
  margin: 0px 0px 0px 0px;
  border: 2px solid #DADADA;
  border-radius: 20px;
  background-color: white;
  height: auto;
  width: 100%;
}

.media-box{

}

.media-img {
  height: 45px;
  width: 45px;
  padding: 0px;
}

.bar-bottom{
  border-bottom: 3px solid;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

nav
{
  display: inline-block;

}
nav ul
{
  list-style-type: none;
}
nav li
{
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
}
nav a
{
  color: black;
}

nav a:hover
{
  color: #760001;
}

#para_comment
{
  margin-left: 15px;
  margin-top: 30px;
  color: black;
}

#date_comment
{
  font-size: 12px;
  margin-left: 10px;
}

#name {
  border-bottom: 1px solid;
}

.fa-media{
  margin-right: 5px;
  color: black;
}

.fa-media:hover {
  color: #760001;
  cursor: pointer;
}

#title_bloc_search{
  text-decoration: underline;
  font-size: 17px;
  margin-bottom: 3px;
}

#date_bloc_search{
  font-size: 14px;
  margin-bottom: 5px;

}

pdf-viewer {
  display: block;
  height: 60vh;
}

.post-image {
  max-width: 100%;
  max-height: 100%;
}
