<div class="interest">
  <img width="56px" src="{{infoInterest.image | image}}" alt="centre d'interet" style="margin: auto; display: block;">
  <p style="font-size: small; text-align: center;">{{infoInterest.title}}</p>
</div>
