<div [style.background-color]="infoMediaType.color" style="border-radius: 10px ;margin-bottom: 20px; padding: 5px;" (click)="onClickMore(infoMediaType)">
  <div class="row" >
    <div class="col-md-3 img" >
      <a ><img [src]="infoMediaType.picture" alt="" style="filter: invert()"></a>
    </div>
    <div class="col-md-9 text float-left"  >
      <p style="color:white" >{{infoMediaType.title}} ({{infoMediaType.value}})</p>
    </div>
  </div>
</div>
